<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
            point="com.tibco.xpd.deploy.core.repositoryTypes">
         <repositoryType
               id="com.tibco.xpd.deploy.ui.WebDavRepository"
               name="WebDAV"
               repositoryPublisher="com.tibco.xpd.deploy.webdav.WebDavPublisher">
            <parameters>
               <configParameter
                     defaultValue="http://localhost:8080/webdav/"
                     key="siteUrl"
                     label="%siteURLLabel"
                     name="%siteURL_shortdesc"
                     parameterType="string"
                     required="true">
               </configParameter>
               <configParameter
                     defaultValue="tomcat"
                     key="username"
                     label="%userNameLabel"
                     name="%userName_shortdesc"
                     parameterType="string"
                     required="false">
               </configParameter>
               <configParameter
                     defaultValue="s3cret"
                     key="password"
                     label="%passwordLabel"
                     name="%password_shortdesc"
                     parameterType="password"
                     required="false">
               </configParameter>
            </parameters>
         </repositoryType>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.ui.repositoryConfigWizardPage">
         <repositoryConfigWizardPage
               repositoryTypeId="com.tibco.xpd.deploy.ui.WebDavRepository"
               repositoryWizardPage="com.tibco.xpd.deploy.webdav.WebDavRepositoryPage">
         </repositoryConfigWizardPage>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.core.serverTypes">
         <serverType
               connectionFactory="com.tibco.xpd.deploy.webdav.internal.GenericWebDAVConnectionFactory"
               id="com.tibco.xpd.deploy.webdavjmx.genericWebDav"
               name="%genericWebdavServer_label">
            <supportedRepository
                  repositoryId="com.tibco.xpd.deploy.ui.WorkspaceRpository">
            </supportedRepository>
            <configParameter
                  defaultValue="http://localhost/"
                  key="siteUrl"
                  label="%siteURLLabel"
                  name="%siteURL_shortdesc"
                  parameterType="string"
                  required="true">
            </configParameter>
            <configParameter
                  key="username"
                  label="%userNameLabel"
                  name="%userName_shortdesc"
                  parameterType="string"
                  required="false">
            </configParameter>
            <configParameter
                  key="password"
                  label="%passwordLabel"
                  name="%password_shortdesc"
                  parameterType="password"
                  required="false">
            </configParameter>
         </serverType>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.ui.deployWizards">
         <deployWizard
               class="com.tibco.xpd.deploy.webdav.internal.ui.WorkspaceResourceDeployWizard"
               icon="icons/WebDAVFolder.gif"
               id="com.tibco.xpd.deploy.webdavjmx.workspaceResourcesDeployWizard"
               name="Workspace Resources"
               serverTypeId="com.tibco.xpd.deploy.webdavjmx.genericWebDav">
         </deployWizard>
      </extension>
      <extension
            point="com.tibco.xpd.resources.specialFolders">
         <folder
               icon="icons/WebDAVFolder.gif"
               kind="webdavDeployable"
               multiple="true"
               name="%webdavResourcesFolder_label"
               navigatorContentId="com.tibco.xpd.projectExplorer.webdavDeployable">
         </folder>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="com.tibco.xpd.deploy.webdav.internal.WebDAVSpecialFolderContentProvider"
             icon="icons/WebDAVFolder.gif"
             id="com.tibco.xpd.projectExplorer.webdavDeployable"
             labelProvider="com.tibco.xpd.ui.projectexplorer.providers.ProjectExplorerLabelProvider"
             name="%webDAVDeployableContent_label"
             priority="high">
         <triggerPoints>
          <or>
                  <and>
                     <instanceof value="org.eclipse.core.resources.IProject"/>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.tibco.xpd.resources.xpdNature"/>
                     <test
                           property="org.eclipse.core.resources.open"
                           value="true"/>
                  </and>                
                  <and>
                     <instanceof value="org.eclipse.core.resources.IFolder"/>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
                           value="webdavDeployable"/>
                  </and>                            
               </or>
         </triggerPoints>
         <possibleChildren>
               <or>
                  <and>
                     <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="webdavDeployable"/>
                  </and>
                  <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
               </or>
            </possibleChildren>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
      </navigatorContent>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.ui.dragAndDropDeployment">
         <targetServer
               multiselect="true"
               outputSpecialFolderKind="webdavDeployable"
               serverTypeId="com.tibco.xpd.deploy.webdavjmx.genericWebDav"
               sourceSpecialFolderKind="webdavDeployable">
            <dropValidation>
               <validDropElements>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
               </validDropElements>
            </dropValidation>
            <dropSupport
                  dragAndDropSupportClass="com.tibco.xpd.deploy.webdav.internal.dnd.WebDAVDragAndDropDeploymentSupport">
            </dropSupport>
         </targetServer>
      </extension>


</plugin>
