<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.simulation.common.util.SimulationFieldOrParamReferenceResolver">
      </FieldOrParamReferenceResolver>
   </extension>



</plugin>

