<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://tibco.com/bpm/directory-model/2.0" 
       class = "com.tibco.n2.directory.model.de.DePackage"
       genModel = "model/de.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="de" 
       class="com.tibco.n2.directory.model.de.util.DeResourceFactoryImpl" />
  </extension>

  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           type="export"
           wizardId="com.tibco.xpd.om.transform.de.exportToDE">
           <enablement>
          	<and>
               <instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="om">
	               </test>
             </and>
          </enablement>
     </commonWizard>
  </extension>

   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="DE" name="%component_de_label"> </component>
      <actions componentId="DE">
         <action default="true" id="readParameters" name="%sysAction_readParameter_label"></action>
         <action default="true" id="writeParameters" name="%sysAction_writeParameter_label"> </action>
         <action default="true" id="browseModel" name="%sysAction_browseModel_label"> </action>
         <action default="false" id="LDAPAdmin" name="%sysAction_LDAPAdmin_label"> </action>
         <action default="false" id="deleteLDAPAdmin" name="%sysAction_deleteLdapAdming_label"> </action>
         <action default="true" id="resolveResource" name="%sysAction_resolveResource_label"> </action>
         <action default="false" id="importLDAPAdmin" name="%sysAction_importLDAPAdmin_label"> </action>
         <action default="false" id="exportLDAPAdmin" name="%sysAction_exportLDAPAdmin_label"> </action>
         <action default="false" id="resourceAdmin" name="%sysAction_resourceAdming_label"> </action>
         <action default="false" id="createResourceAdmin" name="%sysAction_createResourceAdmin_label"> </action>
         <action default="false" id="deleteResourceAdmin" name="%sysAction_deleteResourceAdmin_label"> </action>
         <action default="true" id="userAdmin" name="%sysAction_userAdmin_label"> </action>
         <action default="false" id="organizationAdmin" name="%sysAction_organizationAdmin_label"> </action>
         <action default="true" id="readPushDestinations" name="%sysAction_readPushDestinations_label"> </action>
         <action default="false" id="writePushDestinations" name="%sysAction_writePushDestinations_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="BRM" name="%component_BRM_label"> </component>
      <actions componentId="BRM">
         <action default="false" id="scheduleWorkItem" name="%sysAction_scheduleWorkItem_label"> </action>
         <action default="false" id="rescheduleWorkItem" name="%sysAction_rescheduleWorkItem_label"> </action>
         <action default="true" id="cancelWorkItem" name="%sysAction_cancelWorkItem_label"> </action>
         <action default="false" id="suspendWorkItem" name="%sysAction_suspendWorkItem_label"> </action>
         <action default="false" id="viewWorkList" name="%sysAction_viewWorkList_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="false" id="viewGlobalWorkList" name="%sysAction_viewGlobalWorkList_label">             </action>
         <action default="false" id="setResourceOrderFilterCriteria" name="%sysAction_setResourceOrderFilterCriteria_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="false" id="openOtherResourcesItems" name="%sysAction_openOtherResourcesItems_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="false" id="closeOtherResourcesItems" name="%sysAction_closeOtherResourcesItems_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="false" id="skipWorkItem" name="%sysAction_skipWorkItem_label"> </action>
         <action default="false" id="reallocateWorkItemToWorld" name="%sysAction_reallocateWorkItemToWorld_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="false" id="reallocateToOfferSet" name="%sysAction_reallocateToOfferSet_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="true" id="pendWorkItem" name="%sysAction_pendWorkItem_label"> </action>
         <action default="false" id="workItemAllocation" name="%sysAction_workItemAllocation_label">
            <appliesTo class="com.tibco.xpd.om.core.om.OrgModel"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Organization"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.OrgUnit"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Position"> </appliesTo>
            <appliesTo class="com.tibco.xpd.om.core.om.Group"> </appliesTo>
         </action>
         <action default="true" id="autoOpenNextWorkItem" name="%sysAction_autoOpenNextItem_label"> </action>
         <action default="true" id="changeAllocatedWorkItemPriority" name="%sysAction_changeAllocatedWorkItemPriority"> </action>
         <action default="false" id="changeAnyWorkItemPriority" name="%sysAction_changeAnyWorkItemPriority"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="PE" name="%component_PE_label"> </component>
      <actions componentId="PE">
         <action default="false" id="resumeProcessInstance" name="%sysAction_resumeProcessInstance_label"> </action>
         <action default="false" id="suspendProcessInstance" name="%sysAction_suspendProcessInstance_label"> </action>
         <action default="false" id="cancelProcessInstance" name="%sysAction_cancelProcessInstance_label"> </action>
         <action default="false" id="purgeProcessInstances" name="%sysAction_purgeProcessInstance_label"> </action>
         <action default="false" id="bulkResumeProcessInstances" name="%sysAction_bulkResumeProcessInstance_label"> </action>
         <action default="false" id="bulkSuspendProcessInstances" name="%sysAction_bulkSuspendProcessInstance_label"> </action>
         <action default="false" id="bulkCancelProcessInstances" name="%sysAction_bulkCancelProcessInstance_label"> </action>
         <action default="false" id="bulkPurgeProcessInstances" name="%sysAction_bulkPurgeProcessInstance_label"> </action>
         <action default="true" id="startprocess" name="%sysAction_startProcess_label"> </action>
         <action default="true" id="queryProcessInstance" name="%sysAction_QueryProcessInstance_label"> </action>
         <action default="false" id="setPriority" name="%sysAction_setPriority_label"> </action>
         <action default="false" id="setDeadlineExpiration" name="%sysAction_setDeadlineExp_label"> </action>
         <action default="true" id="queryProcessTemplate" name="%sysAction_queryProcessTemplate_label"> </action>
         <action default="false" id="handleProcessMigration" name="%sysAction_handleProcessMigration_label"> </action>
         <action default="false" id="haltedProcessAdministration" name="%sysAction_haltedProcessAdministration_label2"> </action>
         <action default="true" id="startAndCancelAdHocActivity" name="%sysAction_startAndCancelAdhocActivities_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="EC" name="%component_EC_label"> </component>
      <actions componentId="EC">
         <action default="true" id="queryAudit" name="%sysAction_queryAudit_label"> </action>
         <action default="true" id="writeAudit" name="%sysAction_writeAudit_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="DAC" name="%component_DAC_label"> </component>
      <actions componentId="DAC">
         <action default="true" id="readCalendars" name="%sysAction_readCalendars"> </action>
         <action default="false" id="writeCalendars" name="%sysAction_writeCalendars"> </action>
         <action default="false" id="deleteCalendars" name="%sysAction_deleteCalendars"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="OS" name="%component_openspace_label"> </component>
      <actions componentId="OS">
         <action default="true" id="contributeApp" name="%sysAction_contributeApp_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="CDM" name="%component_caseData_label"> </component>
      <actions componentId="CDM">
         <action default="true" id="createCase" name="%sysAction_createCaseData_label"> </action>
         <action default="true" id="updateCase" name="%sysAction_updateCaseData_label"> </action>
         <action default="false" id="deleteCase" name="%sysAction_deleteCaseData_label"> </action>
         <action default="true" id="readCase" name="%sysAction_readCaseData_label"> </action>
         <action default="true" id="readTypes" name="%sysAction_CaseDocumentReadTypes_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="ADMIN" name="%component_ADMIN_label"> </component>
      <actions componentId="ADMIN">
         <action default="true" id="systemAdmin" name="%sysAction_systemAdmin_label"> </action>
       </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="BIZSVC" name="%component_BIZSVC_label"> </component>
      <actions componentId="BIZSVC">
         <action default="true" id="executeBusinessService" name="%sysAction_executeBusinessService_label"> </action>
         <action default="true" id="listBusinessServices" name="%sysAction_listBusinessServices_label"> </action>
      </actions>
   </extension>
   <extension point="com.tibco.xpd.om.resources.systemActions">
      <component id="APPDEV" name="%component_APPDEV_label"> </component>
      <actions componentId="APPDEV">
         <action default="true" id="canViewRoles" name="%sysAction_canViewRoles_label"> </action>
         <action default="false" id="canEditRoles" name="%sysAction_canEditRoles_label"> </action>
         <action default="false" id="canEditLocales" name="%sysAction_canEditLocales_label"> </action>
         <action default="false" id="canEditApplication" name="%sysAction_canEditApplication_label"> </action>
         <action default="false" id="canPublishApplication" name="%sysAction_canPublishApplication_label"> </action>
         <action default="true" id="useCaseDocument" name="%sysAction_CaseDocumentUser_label"> </action>
         <action default="false" id="administerCaseDocument" name="%sysAction_CaseDocumentAdministration_label"> </action>
      </actions>
   </extension>

   <!--extension point="org.eclipse.ui.activities">
         <activityPatternBinding activityId="com.tibco.xpd.capabilities.developer" pattern="com\.tibco\.xpd\.om\.transform\.de/.*"> </activityPatternBinding>
   </extension-->
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="n2pe1.x">
         <scriptContextGrammarBinding
               scriptContextReference="QueryParticipant">
            <defaultGrammar
                  id="RQL"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.om.transform.de.script.QueryParticipantResourceMarkerAnnProvider"
                  scriptInfoProvider="com.tibco.xpd.om.transform.de.script.QueryParticipantScriptDetailsProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
         <scriptContextGrammarBinding
               scriptContextReference="OrgQuery">
            <defaultGrammar
                  id="RQL"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.om.transform.de.script.QueryParticipantResourceMarkerAnnProvider"
                  scriptInfoProvider="com.tibco.xpd.om.transform.de.script.OrgQueryRQLScriptProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="bpmn1">
         <scriptContextGrammarBinding
               scriptContextReference="QueryParticipant">
            <defaultGrammar
                  id="Text"
                  scriptInfoProvider="com.tibco.xpd.processeditor.xpdl2.properties.script.PlainTextScriptInfoProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.rasc.core.rascContributors">
      <contributor
            class="com.tibco.xpd.om.transform.de.OrgModelRascContributor"
            id="com.tibco.xpd.om.transform.de.contributor">
      </contributor>
   </extension>
    <!-- 
    /*
     * TODO Sid ACE-125 - had to comment out for now as DEImplementation cause
     * an indirect reference to AMX features and plugins...
     * 
     * The type com. tibco. amf.sca.model.extensionpoints.Implementation cannot be
     * resolved. It is indirectly referenced from required .class files
     */
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/common">
         </package>
         <constraints
               categories="sca.validation/n2">
            <constraint
                  class="com.tibco.xpd.om.transform.de.validation.DEComponentImplConstraint"
                  id="com.tibco.xpd.n2.de.deImplConstraint"
                  lang="Java"
                  mode="Live"
                  name="%deImplConstraint_name"
                  severity="ERROR"
                  statusCode="deImplConstraint">
               <message>
                  %deImplConstraint_message
               </message>
               <target
                     class="DEImplementation">
                  <event
                        name="Set">
                     <feature
                           name="organization">
                     </feature>
                  </event>
                  <event
                        name="Set">
                     <feature
                           name="version">
                     </feature>
                  </event>
                  </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
  -->
</plugin>
