<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="systemActions" name="System Actions" schema="schema/systemActions.exsd"/>


   <extension
       point="com.tibco.xpd.resources.workingCopyFactory">
    <factory
          class="com.tibco.xpd.om.resources.wc.OMWorkingCopyFactory"
          filePattern=".*\.[oO][mM]">
    </factory>
 </extension>

</plugin>
