<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="LiveDevelopment" name="%com.tibco.xpd.n2.live.LiveDevelopment" schema="schema/com.tibco.xpd.n2.live.LiveDevelopment.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.xpd.n2.live.internal.LiveDevPerspectiveFactory"
            icon="icons/LiveDevPerspective.png"
            id="com.tibco.xpd.n2.LiveDevelopment"
            name="%LiveDevPerspective.label">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="com.tibco.xpd.n2.live.internal.LiveDevNavigatorFilter"
            id="com.tibco.xpd.projectExplorer.liveDevFilter"
            name="%com.tibco.xpd.projectExplorer.liveDevFilterLabel"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.tibco.xpd.n2.live.internal.OpenspaceViewPart"
            icon="icons/internal_browser.gif"
            id="com.tibco.xpd.n2.live.openspaceView"
            name="%com.tibco.xpd.n2.live.openspaceView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.tibco.xpd.n2.live.LiveDevelopment">
      <explorerInclude>
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
						<test
							property="org.eclipse.core.resources.projectNature"
	                        value="com.tibco.xpd.resources.xpdNature"/>
	                    <test
	                        property="org.eclipse.core.resources.open"
	                        value="true"/>
				</and>
               </or>
            </adapt>
         </enablement>
      </explorerInclude>
	</extension>
	<extension
	     point="com.tibco.xpd.n2.live.LiveDevelopment">
		<explorerInclude>
			<enablement>
				<or>
					<and>
						<instanceof value="org.eclipse.core.resources.IFolder"/>
						<test
							property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
							value="forms"/>
					</and>
					<and>
						<instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
						<test
							property="com.tibco.xpd.resources.specialfolder.isOfKind"
							value="forms"/>
					</and>
					<and>
						<or>
							<and>
								<instanceof
								value="org.eclipse.core.resources.IFile">
								</instanceof>
								<test
									property="org.eclipse.core.resources.extension"
									value="form">
								</test>
							</and>
							<instanceof
								value="org.eclipse.core.resources.IFolder">
							</instanceof>
						</or>
						<test
						      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
						      value="forms">
						</test>
					</and>
				</or>  
			</enablement>
		</explorerInclude>
	</extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="com.tibco.xpd.n2.live.openspaceView"
          labelProvider="com.tibco.xpd.n2.live.internal.OpenspacePropertyLabelProvider"
          typeMapper="com.tibco.xpd.ui.properties.descriptor.PropertyTypeMapper">
       <propertyCategory
             category="general">
       </propertyCategory>
    </propertyContributor>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="com.tibco.xpd.n2.live.openspaceView">
       <propertyTab
             category="general"
             id="com.tibco.n2.livedev.OpenspaceLiveViewPropertyTab"
             label="General">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="com.tibco.xpd.n2.live.openspaceView">
       <propertySection
             class="com.tibco.xpd.n2.live.internal.OpenspacePropertySection"
             enablesFor="1"
             filter="com.tibco.xpd.n2.live.internal.OpenspacePropertySection"
             id="com.tibco.n2.livedev.OpenspaceLiveViewPropertySection"
             tab="com.tibco.n2.livedev.OpenspaceLiveViewPropertyTab">
          <input
                type="com.tibco.xpd.deploy.Server">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       point="com.tibco.xpd.processeditor.xpdl2.sashPropertySection">
    <sashPropertySection
          class="com.tibco.xpd.n2.live.internal.OpenspaceViewConnectionPropertySection"
          expandFirstTimeEver="true"
          expandHeaderLabel="%OpenspaceViewConnection.label"
          filter="com.tibco.xpd.n2.live.internal.OpenspaceViewConnectionPropertySection"
          grabExtraVertical="false"
          id="OpenspaceViewConnection"
          location="GENERAL"
          minimumHeightOrMinus1ForDefault="-1"
          sashContributionSection="com.tibco.n2.livedev.OpenspaceLiveViewPropertySection">
    </sashPropertySection>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="com.tibco.modeling.perspective">
       <perspectiveShortcut
             id="com.tibco.xpd.n2.LiveDevelopment">
       </perspectiveShortcut>
    </perspectiveExtension>
 </extension>

</plugin>
