<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="wsdlImportProvider" name="%WsdlImportProvider" schema="schema/wsdlImportProvider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%WebServiceRegistersViewCategory_label"
            id="com.tibco.xpd.registry.ui">
      </category>
      <view
            name="%RegistersView_title"
            icon="icons/service.gif"
            category="com.tibco.xpd.registry.ui"
            class="com.tibco.xpd.registry.ui.views.RegistryView"
            id="com.tibco.xpd.registry.ui.views.ServiceRegistryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.registry.ui.category"
            class="com.tibco.xpd.registry.ui.wizard.NewRegistryWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/registry.gif"
            id="com.com.tibco.xpd.registry.ui.wizard.newRegistry"
            name="%ServiceRegistryWizard_title">
         <description>
            %serviceRegistryWizard.description
         </description>
      </wizard>
      <category
            id="com.tibco.xpd.registry.ui.category"
            name="%NewWizardsCategory_title"
            parentCategory="com.tibco.xpd.newWizard.modeling.category"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.tibco.xpd.registry.ui.services"
            name="%ImportWizardCategory_title"/>
      <wizard
            category="com.tibco.xpd.registry.ui.services"
            class="com.tibco.xpd.registry.ui.wizard.WsdlImportWizard"
            icon="icons/wsdl_file_obj.gif"
            id="com.tibco.xpd.registry.ui.wsdlImport"
            name="%ServiceImportWizard_title"/>
   </extension>
   <extension
         point="com.tibco.xpd.registry.ui.wsdlImportProvider">
      <provider
            id="com.tibco.xpd.registry.ui.file"
            label="%fileImportLabel"
            wizard="com.tibco.xpd.registry.ui.wizard.WsdlFileImportWizard"/>
      <provider
            id="com.tibco.xpd.registry.ui.url"
            label="%urlImportLabel"
            wizard="com.tibco.xpd.registry.ui.wizard.WsdlUrlImportWizard"/>
      <provider
            id="com.tibco.xpd.registry.ui.registry"
            label="%registryImportLabel"
            wizard="com.tibco.xpd.registry.ui.wizard.WsdlRegistryImportWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tibco.xpd.registry.ui.properties.RegistryPropertyPage"
            id="com.tibco.xpd.registry.ui.registryPropertyPage"
            name="%RegistryGeneralPropertyPage_label"
            objectClass="com.tibco.xpd.registry.Registry">
      </page>
      <page
            class="com.tibco.xpd.registry.ui.properties.SearchPropertyPage"
            id="com.tibco.xpd.registry.ui.searchPropertyPage"
            name="%SearchGeneralPropertyPage_label"
            objectClass="com.tibco.xpd.registry.ui.selector.RegistrySearch">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.tibco.xpd.registry.Registry"
            class="com.tibco.xpd.registry.ui.providers.RegistriesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.xpd.registry.Search"
            class="com.tibco.xpd.registry.ui.providers.RegistriesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.tibco.xpd.registry.ui.selector.RegistrySearch"
            class="com.tibco.xpd.registry.ui.providers.RegistriesAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.tibco.xpd.registry.ui.selector.FailureLabelDecorator"
            id="com.tibco.xpd.registry.ui.searchFailureDecorator"
            label="%RegistrySearchDecorator_label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="com.tibco.xpd.registry.ui.selector.RegistrySearch">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
      <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="com.tibco.xpd.registry.ui.dnd.ServiceDropActionDelegate"
            id="com.tibco.xpd.wsdl.ui.serviceDropAction">
      </action>
   </extension>
</plugin>
