<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://api.brm.n2.tibco.com"
            class="com.tibco.n2.brm.api.N2BRMPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="n2brm"
            class="com.tibco.n2.brm.api.util.N2BRMResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://datamodel.api.brm.n2.tibco.com"
            class="com.tibco.n2.common.datamodel.DatamodelPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="datamodel"
            class="com.tibco.n2.common.datamodel.util.DatamodelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://api.organisation.common.n2.tibco.com"
            class="com.tibco.n2.common.organisation.api.OrganisationPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="organisation"
            class="com.tibco.n2.common.organisation.api.util.OrganisationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://worktype.brm.n2.tibco.com"
            class="com.tibco.n2.common.worktype.WorktypePackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="worktype"
            class="com.tibco.n2.common.worktype.util.WorktypeResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://workmodel.brm.n2.tibco.com"
            class="com.tibco.n2.brm.workmodel.WorkmodelPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="workmodel"
            class="com.tibco.n2.brm.workmodel.util.WorkmodelResourceFactoryImpl"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://attributefacade.common.n2.tibco.com"
            class="com.tibco.n2.common.attributefacade.AttributefacadePackage"
            genModel="model/common-facade.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="attributefacade"
            class="com.tibco.n2.common.attributefacade.util.AttributefacadeResourceFactoryImpl"/>
   </extension>
   

    
    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/common">
         </package>
         <constraints
               categories="sca.validation/n2">
            <constraint
                  class="com.tibco.xpd.n2.brm.validation.BRMComponentImplConstraint"
                  id="com.tibco.xpd.n2.brm.brmImplConstraint"
                  lang="Java"
                  mode="Live"
                  name="%brmImplConstraint_name"
                  severity="ERROR"
                  statusCode="brmImplConstraint">
               <message>
                  %brmConstraint_message
               </message>
               <target
                     class="BRMImplementation">
                  <event
                        name="Set">
                     <feature
                           name="version">
                     </feature>
                     <feature
                           name="workSpecification">
                     </feature>
                  </event>
                  </target>
            </constraint>
            <constraint
                  class="com.tibco.xpd.n2.brm.validation.BRMRequiresWPConstraint"
                  id="com.tibco.xpd.n2.brm.brmRequiresWPConstraint"
                  lang="Java"
                  mode="Batch"
                  name="%brmRequresWPConstraint_name"
                  severity="ERROR"
                  statusCode="BRMRequireWPConstraint">
               <message>
                  %brmRequresWPConstraint_message
               </message>
               <target
                     class="BRMImplementation">
                  </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/brm/1.0">
         </package>
         <constraints
               categories="sca.validation/n2.models">
            <constraint
                  class="com.tibco.xpd.n2.brm.validation.WorkSpecificationConstraint"
                  id="n2.sca.validation.workTypesConstraint"
                  lang="Java"
                  mode="Live"
                  name="%wtConstraint_name"
                  severity="ERROR"
                  statusCode="workTypesConstraint">
               <message>
                  %wtConstraint_message
               </message>
               <target
                     class="WorkTypes">
                  <event
                        name="Set">
                     <feature
                           name="location">
                     </feature>
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="com.tibco.xpd.n2.brm.validation.WorkSpecificationConstraint"
                  id="n2.sca.validation.workModelsConstraint"
                  lang="Java"
                  mode="Live"
                  name="%wmConstraint_name"
                  severity="ERROR"
                  statusCode="workModelConstraint">
               <message>
                  %wmConstraint_message
               </message>
               <target
                     class="WorkModels">
                  <event
                        name="Set">
                     <feature
                           name="location">
                     </feature>
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="com.tibco.xpd.n2.brm.validation.WorkSpecificationConstraint"
                  id="n2.sca.validation.workListFacadeConstraint"
                  lang="Java"
                  mode="Live"
                  name="%wlfConstraint_name"
                  severity="ERROR"
                  statusCode="workListFacadeConstraint">
               <message>
                  %wlfConstraint_message
               </message>
               <target
                     class="WorkListAttributeFacade">
                  <event
                        name="Set">
                     <feature
                           name="location">
                     </feature>
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
            point="com.tibco.bx.composite.core.requirementsResolver">
         <resolver
               class="com.tibco.xpd.n2.brm.component.PEBpelWsdlsRequirementsResolver"
               implementationTypeId="implementation.bx">
         </resolver>
         <resolver
               class="com.tibco.xpd.n2.brm.component.BusinessProcessUserTaskRequirementsResolver"
               implementationTypeId="implementation.bx">
         </resolver>
         <resolver
               class="com.tibco.xpd.n2.brm.component.BusinessProcessDocumentServiceTaskRequirementsResolver"
               implementationTypeId="implementation.bx">
         </resolver>
      </extension>
   <extension
         point="com.tibco.amf.tools.packager.packagerParticipant">
      <participant
            class="com.tibco.xpd.n2.brm.component.N2PEPackagerParticipant"
            type="implementation.bx">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
            class="com.tibco.xpd.n2.brm.internal.wizards.WorkDataModelExportWizard"
            icon="icons/obj16/WDMExport.gif"
            id="com.tibco.xpd.brm.workDataModelExportWizard"
            name="%wdmExportWizard_name">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.brm.workDataModelExportWizard">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.destinations.hasGlobalDestination"
                     value="com.tibco.xpd.n2.core.n2GlobalDestination">
               </test>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.capabilityTester.isSolutionDesignEnabled"
                     value="true">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="n2brm.workspaceResourceDestination"
            name="%brmValidationDestination_name">
         <validationProvider
               id="com.tibco.xpd.n2.brm.workspaceValidationProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>
   
      <extension
            point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
         <provider
               id="com.tibco.xpd.n2.brm.workspaceValidationProvider">
            <validator
                  class="com.tibco.xpd.n2.brm.validation.rules.EnsureSameMajorVersionOMRule"
                  id="com.tibco.xpd.n2.brm.EnsureSameMajorVersionOMProvider"
                  validateType="PROJECT">
            </validator>
         </provider>
         <issues>
            <issue
                  id="brm.ensureSameMajorVersionOM"
                  message="%brm.ensureSameMajorVersionOM"
                  severity="ERROR">
            </issue>
         </issues>
      </extension>
</plugin>
