<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://api.brm.n2.tibco.com"
            class="com.tibco.n2.brm.api.N2BRMPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="n2brm"
            class="com.tibco.n2.brm.api.util.N2BRMResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://datamodel.api.brm.n2.tibco.com"
            class="com.tibco.n2.common.datamodel.DatamodelPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="datamodel"
            class="com.tibco.n2.common.datamodel.util.DatamodelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://api.organisation.common.n2.tibco.com"
            class="com.tibco.n2.common.organisation.api.OrganisationPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="organisation"
            class="com.tibco.n2.common.organisation.api.util.OrganisationResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://worktype.brm.n2.tibco.com"
            class="com.tibco.n2.common.worktype.WorktypePackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="worktype"
            class="com.tibco.n2.common.worktype.util.WorktypeResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://workmodel.brm.n2.tibco.com"
            class="com.tibco.n2.brm.workmodel.WorkmodelPackage"
            genModel="model/brmN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="workmodel"
            class="com.tibco.n2.brm.workmodel.util.WorkmodelResourceFactoryImpl"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://attributefacade.common.n2.tibco.com"
            class="com.tibco.n2.common.attributefacade.AttributefacadePackage"
            genModel="model/common-facade.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="attributefacade"
            class="com.tibco.n2.common.attributefacade.util.AttributefacadeResourceFactoryImpl"/>
   </extension>
   

   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="n2brm.workspaceResourceDestination"
            name="%brmValidationDestination_name">
         <validationProvider
               id="com.tibco.xpd.n2.brm.workspaceValidationProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>
   
      <extension
            point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
         <provider
               id="com.tibco.xpd.n2.brm.workspaceValidationProvider">
            <validator
                  class="com.tibco.xpd.n2.brm.validation.rules.EnsureSameMajorVersionOMRule"
                  id="com.tibco.xpd.n2.brm.EnsureSameMajorVersionOMProvider"
                  validateType="PROJECT">
            </validator>
         </provider>
         <issues>
            <issue
                  id="brm.ensureSameMajorVersionOM"
                  message="%brm.ensureSameMajorVersionOM"
                  severity="ERROR">
            </issue>
         </issues>
      </extension>

   <extension
         point="com.tibco.xpd.rasc.core.rascContributors">
      <contributor
            class="com.tibco.xpd.n2.brm.BrmModelsRascContributor"
            id="com.tibco.xpd.n2.brm.rasc.model.contributor">
      </contributor>
   </extension>

</plugin>
