<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         name="Tabs contributed for when PROCESS EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.simulation"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_simulation">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.simulation.propertyTabs.simulation"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.simulationControl"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_simulation_control">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.transitionRule"
               image="images/simulation.png"
               label="%property_tab_rule">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.ruleParameter"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_rule_parameter">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Tabs contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.simulation"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_simulation"/>
         <propertyTab
               afterTab="com.tibco.xpd.simulation.propertyTabs.simulation"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.simulationControl"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_simulation_control"/>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.transitionRule"
               image="images/simulation.png"
               label="%property_tab_rule">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.simulation.propertyTabs.ruleParameter"
               image="images/simulation.png"
               indented="false"
               label="%property_tab_rule_parameter">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Sections contributed for when PROCESS EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivitySimulationExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivitySimulationExistSection"
               id="taskSimulationExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivitySimulationNotExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivitySimulationNotExistSection"
               id="taskSimulationNotExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.StartEventSimulationExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.StartEventSimulationExistSection"
               id="startEventSimulationExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ProcessSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ProcessSimulationSection"
               id="processSimulation"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.TransitionSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.TransitionSimulationSection"
               id="transitionSimulation"
               tab="com.tibco.xpd.simulation.propertyTabs.transitionRule">
            <input
                  type="com.tibco.xpd.xpdl2.Transition">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.GatewaySimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.GatewaySimulationSection"
               id="specifyGatewayParameter"
               tab="com.tibco.xpd.simulation.propertyTabs.ruleParameter">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlExistsSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlExistsSection"
               id="loopExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulationControl">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlNotExistsSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlNotExistsSection"
               id="loopNotExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulationControl">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>  
                  <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ParticipantSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ParticipantSimulationSection"
               id="simulationTabForParticipants"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.PackageSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.PackageSimulationSection"
               id="simulationTabForPackage"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Package">
            </input>
         </propertySection>
      </propertySections>    
   </extension>
   <extension
         name="Tabs contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivitySimulationExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivitySimulationExistSection"
               id="taskSimulationExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivitySimulationNotExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivitySimulationNotExistSection"
               id="taskSimulationNotExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.StartEventSimulationExistSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.StartEventSimulationExistSection"
               id="startEventSimulationExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ProcessSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ProcessSimulationSection"
               id="processSimulation"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input type="com.tibco.xpd.xpdl2.Process"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.TransitionSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.TransitionSimulationSection"
               id="transitionSimulation"
               tab="com.tibco.xpd.simulation.propertyTabs.transitionRule">
            <input type="com.tibco.xpd.xpdl2.Transition"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.GatewaySimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.GatewaySimulationSection"
               id="specifyGatewayParameter"
               tab="com.tibco.xpd.simulation.propertyTabs.ruleParameter">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlExistsSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlExistsSection"
               id="loopExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulationControl">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlNotExistsSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ActivityLoopControlNotExistsSection"
               id="loopNotExist"
               tab="com.tibco.xpd.simulation.propertyTabs.simulationControl">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.ParticipantSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.ParticipantSimulationSection"
               id="simulationTabForParticipants"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.simulation.ui.properties.PackageSimulationSection"
               enablesFor="1"
               filter="com.tibco.xpd.simulation.ui.properties.PackageSimulationSection"
               id="simulationTabForPackage"
               tab="com.tibco.xpd.simulation.propertyTabs.simulation">
            <input
                  type="com.tibco.xpd.xpdl2.Package">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
