<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="testSingleton"
            multiple="false"
            name="Singleton Test Folder"
            projectAssetId="com.tibco.xpd.test.assettype"
            unsettable="true">
      </folder>
      <folder
            kind="testMultiple"
            name="Multiple Test Folder"
            projectAssetId="com.tibco.xpd.test.assettype">
      </folder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.resources.projectconfig.projectassets.SpecialFolderAssetConfigurator: -kind "
            id="com.tibco.xpd.test.assettype"
            name="Test Asset">
      </asset>
   </extension>

   	<extension point="org.eclipse.ui.activities">
		     <activity
             description="Activity1 description"
             id="com.tibco.activity1"
             name="Activity1"/>
		     <category
		           description="Category1 Description"
		           id="com.tibco.category1"
		           name="Category1"/>
		     <categoryActivityBinding
		           activityId="com.tibco.activity1"
		           categoryId="com.tibco.category1"/>
		     <activity
             description="Activity2 description"
             id="com.tibco.activity2"
             name="Activity2"/>
		     <category
		           description="Category2 Description"
		           id="com.tibco.category2"
		           name="Category2"/>
		     <categoryActivityBinding
		           activityId="com.tibco.activity2"
		           categoryId="com.tibco.category2"/>		     		     
		     <activityRequirementBinding
		           activityId="com.tibco.activity2"
		           requiredActivityId="com.tibco.activity1"/>
       <defaultEnablement
             id="com.tibco.activity1">
       </defaultEnablement>
		  </extension>
    <extension
          point="com.tibco.xpd.resources.precompileContributor">
       <contributor
             class="com.tibco.xpd.core.test.TestEnablePrecompileContributor"
             contributorId="com.tibco.xpd.core.test.precompile.contributor">
          <sourceArtifactFilter>
             <enablement>
                <or>
                   <and>
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="bom">
                      </test>
                      <test
                            property="com.tibco.xpd.resources.specialfolder.inSpecialFolder"
                            value="bom">
                      </test>
                   </and>
                   <and>
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <or>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="wsdl">
                         </test>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="xsd">
                         </test>
                      </or>
                      <test
                            property="com.tibco.xpd.resources.specialfolder.inSpecialFolder"
                            value="wsdl">
                      </test>
                      <not>
                         <test
                               property="com.tibco.xpd.resources.specialfolder.isInGeneratedSpecialFolder"
                               value="wsdl">
                         </test>
                      </not>
                   </and>
                </or></enablement>
          </sourceArtifactFilter>
       </contributor>
    </extension>
		  

</plugin>
