<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Import Wizard Contribution-->
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
        category="com.tibco.xpd.resources.ui.importWizard.bpm.category"
            class="com.tibco.xpd.iprocess.amxbpm.resources.wizards.imports.ImportIProcessToAMXBPMWizard"
            id="com.tibco.xpd.iprocess.amxbpm.resources.import.wizard"
            icon="icons/iProcessImportIcon.png"
            name="%importIProcessXPDLWizard.title"
            >
      </wizard>
   </extension>
   <!-- Import Wizard binding with Navigator Content-->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.package"
            type="import"
            wizardId="com.tibco.xpd.iprocess.amxbpm.resources.import.wizard">
        <enablement>
               <or>
                  <and>
                     <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="processes">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="processes">
                     </test>
                  </and>
               </or>
         </enablement>
      </commonWizard>
      <actionProvider
            class="com.tibco.xpd.iprocess.amxbpm.resources.actions.IProcessToBPMConversionActionProvider"
            id="com.tibco.xpd.projectExplorer.action.iprocess.amxbpm.convert">
        <enablement>
         <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
                   
                  <test
                        property="org.eclipse.core.resources.open"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="xpdl">
                  </test>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="processes">
                  </test>
               </and>                            
               <and>
                     <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="processes">
                     </test>
                  </and>              
            </or>
             
         </enablement>
      </actionProvider>
      
      </extension>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.bpm.TibcoBpmDebug"
            class="com.tibco.xpd.iprocess.amxbpm.resources.preferences.IProcessImportDebugPreferencePage"
            id="com.tibco.xpd.iprocess.bpm.TibcoBpmDebug"
            name="%tibcoIPMBpmDebug_label">
      </page>
   </extension>
</plugin>
