<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.tibco.xpd.customer.api.iProcessBpmConversion">
      <LifeCycleListener
            LifeCycleListenerClass="com.tibco.customer.api.test.iprocess.amxbpm.testcontributions.IpmBpm10_LifeCycleListenerTest_DummyListener"
            ListenerDescription="A dummy life cycle listener to test lifecycle listener extension point."
            ListenerId="com.tibco.customer.api.test.iprocess.amxbpm.testcontributions.DummyLifeCycleListener">
      </LifeCycleListener>
   </extension>
   

</plugin>
