
    .fda506cd5-8089-4efe-8893-769ec391d654 .pane_toolbar > .label {
        display:none !important;
    }
    .fda506cd5-8089-4efe-8893-769ec391d654 .pane_messages > .label {
        display:none !important;
    }
    .fda506cd5-8089-4efe-8893-769ec391d654 .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fda506cd5-8089-4efe-8893-769ec391d654 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
