<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="qafolder1"
            name="TestSpecialFolder1"
            projectAssetId="com.tibco.xpd.asset.newasset1">
      </folder>
      <folder
            kind="qafolder2"
            name="TestSpecialFolder2"
            projectAssetId="com.tibco.xpd.asset.newasset2">
      </folder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.resources.qa.test.asset.AssetConfigurator1"
            id="com.tibco.xpd.asset.newasset1"
            name="TestAsset1"
            visible="true">
      </asset>
      <asset
            configurator="com.tibco.xpd.resources.qa.test.asset.AssetConfigurator2"
            id="com.tibco.xpd.asset.newasset2"
            name="TestAsset2"
            visible="true">
      </asset>
   </extension>

</plugin>
