<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="bomGenerator" name="bomGenerator" schema="schema/bomGenerator.exsd"/>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.bom.gen.ui.preferences.BomGenPreferenceInitializer">
      </initializer>
   </extension>
   
   <!-- JA The wizard should no longer be needed contibution is disabled.
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.bom.resources.ui.exportWizard.concept.category"
            class="com.tibco.xpd.bom.gen.ui.wizards.BOMGeneratorWizard"
            icon="icons/sample.gif"
            id="com.tibco.xpd.bom.gen.wizard"
            name="%exportWizard.bom.gen.name">
         <description>
            %exportWizard.bom.gen.description
         </description>
      </wizard>
   </extension>
   -->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferences.bom.gen.name"
            category="com.tibco.xpd.bom.pref"
            class="com.tibco.xpd.bom.gen.ui.preferences.BomGenPreferencePage"
            id="com.tibco.xpd.bom.gen.preferences.BomGenPreferencePage">
      </page>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.bom.gen.ui.internal.RemoveGenProjectReferencesPostImportTask"
            id="com.tibco.xpd.bom.gen.ui.postImportTask.removeGenProjectReferences">
      </postImportTask>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="com.tibco.xpd.bom.propertiesPage"
            class="com.tibco.xpd.bom.gen.ui.preferences.BomGenProjectPropertyPage"
            id="com.tibco.xpd.bom.gen.ui.preferences.BomGenProjectPropertyPage"
            name="%preferences.bom.gen.name">
        <enabledWhen>
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.open">
              </test>
              <test
                    property="com.tibco.xpd.resources.projectAsset.hasAssets"
                    value="com.tibco.xpd.asset.businessdata.bom">
              </test>
           </and>
        </enabledWhen>
      </page>
   </extension>
 <!-- JA com.tibco.xpd.bom.gen.wizard wizard contibution is disabled.
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <commonWizard
          associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
          type="export"
          wizardId="com.tibco.xpd.bom.gen.wizard">
       <enablement>
          <and>
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
             <test
                   property="org.eclipse.core.resources.extension"
                   value="bom">
             </test>
             <test
                   property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                   value="bom">
             </test>
          </and>
       </enablement>
    </commonWizard>
 </extension>
 -->

</plugin>
