<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         id="wsdlGen"
         name="%wsdlgen.builderTitle"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.tibco.xpd.wsdlgen.WsdlGenBuilderTransformer">
         </run>
      </builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.wsdlgen.WsdlBuilderAssetConfigurator"
            extends="com.tibco.xpd.asset.businessProcess"
            id="com.tibco.xpd.asset.wsdlgen"
            name="hiddenWsdlAsset"
            visible="false">
         <bindings>
            <nature
                  id="com.tibco.xpd.wsdlgen.wsdlGenNature">
            </nature>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
         </bindings>
      </asset>
   </extension>
   <extension
         id="wsdlGenNature"
         name="%wsdlgen.natureTitle"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.wsdlgen.WsdlProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.wsdlgen.wsdlGen">
      </builder>
      <requires-nature
            id="com.tibco.xpd.bom.xsdtransform.xsdNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="com.tibco.xpd.wsdlgen.xpdl.context">
         <enablement>
            <or>
               <instanceof
                     value="com.tibco.xpd.xpdl2.NamedElement">
               </instanceof>
            </or></enablement>
      </clientContext>
      <binding
            category="com.tibco.xpd.wsdlgen.xpdl.category"
            context="com.tibco.xpd.wsdlgen.xpdl.context">
      </binding>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.tibco.xpd.wsdlgen.xpdl.category"
            name="%wsdlgen.constraintProvider.category.name">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.wfmc.org/2008/XPDL2.1">
         </package>
         <constraints
               categories="com.tibco.xpd.wsdlgen.xpdl.category">
            <constraint
                  class="com.tibco.xpd.wsdlgen.emf.validations.ValidReferenceConstraint"
                  id="com.tibco.xpd.wsdlgen.validExternalRef"
                  lang="Java"
                  mode="Batch"
                  name="Valid External Reference"
                  severity="ERROR"
                  statusCode="3">
               <message>
                  Package {0} is invalid
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="com.tibco.xpd.xpdl2wsdl.validation.destination"
            name="%wsdl.validation.destination"
            selectable="true"
            version="">
         <filter
               class="com.tibco.xpd.wsdlgen.validations.WsdlGenXpdlResourceFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.wsdlgen.validationProvider">
         </validationProvider>
      </destination>
      <destination
            id="com.tibco.xpd.xpdl2wsdl.wsdl.destination"
            name="%com.tibco.xpd.xpdl2wsdl.wsdl.destination"
            selectable="false"
            version="">
         <filter
               class="com.tibco.xpd.bom.validator.WSDLFileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.xpdl2wsdl.wsdl.validation.provider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.xpdl2wsdl.globalDestinationComponent"
            validationDestinationId="com.tibco.xpd.xpdl2wsdl.validation.destination">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="true"
            globalDestinationComponentId="com.tibco.xpd.xpdl2wsdl.globalDestinationComponent"
            validationDestinationId="com.tibco.xpd.xpdl2wsdl.disabled">
      </globalDestinationComponentVersion>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.wsdlgen.validationProvider"
            markerType="com.tibco.xpd.validation.bpmnValidationMarker"
            name="XPDL To WSDL Generation"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.wsdlgen.validations.APIActivitiesMappingRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.validations.APIActivitiesUniqueNameRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.validations.CheckNCNamesRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.wsdl.rules.CheckGeneratedWsdlReferencesRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.validations.ProcessReadonlyMandatoryNotSupportedRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.validations.PrcIfcReadonlyMandatoryNotSupportedRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.validations.ProcAPIActsRefElemGenBomClassifiers">
         </rule>

<!-- Sid: XPD-4675 removed rule DocLitApiIfcMethodSingleParamRule / DocLitApiActivitySingleParamRule for checking against multi input message parts for process interfaces.
   only really has an impact when interface is implemented by a process and we are making activity validaiton stronger in this respect -->

      </provider>
      <issue
            id="bpmn.reqActIncorrectMappings"
            message="%bpmn.reqActIncorrectMappings"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.warning.docLitWsdlGenIncorrect"
            message="%bpmn.warning.docLitWsdlGenIncorrect"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.apiActsUniqueName"
            message="%bpmn.apiActsUniqueName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameActivity">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameActivityPreserveLabel">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.packageMustBeNCName"
            message="%wsdlgen.packageMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.processMustBeNCName"
            message="%wsdlgen.processMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.processInterfaceMustBeNCName"
            message="%wsdlgen.processInterfaceMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.apiRequestActivityMustBeNCName"
            message="%wsdlgen.apiRequestActivityMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.parameterMustBeNCName"
            message="%wsdlgen.parameterMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.interaceMethodMustBeNCName"
            message="%wsdlgen.interaceMethodMustBeNCName"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObjectPreserveLabel">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.renameObject">
         </resolution>
      </issue>
      <issue
            id="wsdlgen.errorCodeMustBeNCName"
            message="%wsdlgen.errorCodeMustBeNCName"
            severity="ERROR">
      </issue>
      <issue
            id="wsdlgen.badGeneratedWebServiceConfiguration"
            message="%wsdlgen.badGeneratedWebServiceConfiguration"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.warning.readonlyignored"
            message="%bpmn.warning.readonlyignored"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.warning.nonMandatoryInsignificant"
            message="%bpmn.warning.nonMandatoryInsignificant"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.wsdlgenElemExportTLEError"
            message="%bpmn.wsdlgenElemExportTLEError"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.wsdlgenRpcTypeExportError"
            message="%bpmn.wsdlgenRpcTypeExportError"
            severity="ERROR">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.wsdlgen.validations.APIMappingsGenerateResolution"
            description="%resolution.desc.bpmn.reqActIncorrectMappings"
            id="bpmn.reqActIncorrectMappings"
            label="%resolution.title.bpmn.reqActIncorrectMappings">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.wsdlgen.wsdl.rules.resolutions.SetWsdlDerivedResolution"
            description="%resolution.wsdlgen.nonDerivedGeneratedWsdlInGenServices"
            id="wsdlgen.nonDerivedGeneratedWsdlInGenServices"
            label="%resolution.wsdlgen.nonDerivedGeneratedWsdlInGenServices">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.wsdlgen.wsdl.rules.resolutions.RepairGeneratedWebServiceLocationResolution"
            description="%resolution.wsdlgen.badGeneratedWebServiceConfiguration"
            id="wsdlgen.badGeneratedWebServiceConfiguration"
            label="%resolution.wsdlgen.badGeneratedWebServiceConfiguration">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.xpdl2wsdl.wsdl.validation.provider"
            markerType="com.tibco.xpd.wsdltobom.validator.wsdlValidationMarker"
            name="%com.tibco.xpd.xpdl2wsdl.wsdl.validation.provider"
            scopeProvider="com.tibco.xpd.bom.validator.WSDLtoBOMScopeProvider">
         <rule
               class="com.tibco.xpd.wsdlgen.wsdl.rules.WsdlIsGeneratedRule">
         </rule>
         <rule
               class="com.tibco.xpd.wsdlgen.wsdl.rules.WsdlImportValidationRule">
         </rule>

         <!--rule
               class="com.tibco.xpd.wsdlgen.wsdl.rules.ValidateWsdlRule">
         </rule-->
      </provider>
      <issue
            id="wsdlgen.nonDerivedGeneratedWsdlInGenServices"
            message="%wsdlgen.nonDerivedGeneratedWsdlInGenServices"
            preferenceDescription="%pref.wsdlgen.nonDerivedGeneratedWsdlInGenServices"
            preferenceGroupId="com.tibco.xpd.wsdlgen"
            severity="WARNING">
      </issue>
      <issue
            id="wsdlgen.nonGeneratedWsdlInGenServices"
            message="%wsdlgen.nonGeneratedWsdlInGenServices"
            preferenceDescription="%pref.wsdlgen.nonGeneratedWsdlInGenServices"
            preferenceGroupId="com.tibco.xpd.wsdlgen"
            severity="WARNING">
      </issue>
      <issue
            id="wsdlgen.generatedWsdlOutsideGenServices"
            message="%wsdlgen.generatedWsdlOutsideGenServices"
            preferenceDescription="%pref.wsdlgen.generatedWsdlOutsideGenServices"
            preferenceGroupId="com.tibco.xpd.wsdlgen"
            severity="WARNING">
         <resolution
               canApplyToMultiple="false"
               id="wsdlgen.removeAutogenflag">
         </resolution>
      </issue>
      <preferenceGroup
            id="com.tibco.xpd.wsdlgen"	
            name="%preference.wsdlgen.generateWsdl"
            preferenceId="bpmn1">
      </preferenceGroup>
      <issue
            id="wsdlgen.wsdlIsGenerated"
            message="%wsdlgen.wsdlIsGenerated2"
            severity="INFO">
         <resolution
               canApplyToMultiple="false"
               id="wsdlgen.removeAutogenflag">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.unsupportedSchemaReferenceMessage_1"
            message="%bpmn.dev.unsupportedSchemaReferenceMessage_1"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.dev.importFileDoesntExist"
            message="%bpmn.dev.importFileDoesntExist"
            severity="ERROR">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
      <DestinationEnvironments
            DestinationEnvCategoryLabel="%wsdlgen.category">
         <DestinationEnvironment
               DestinationEnvironmentId="bpmn1">
         </DestinationEnvironment>
      </DestinationEnvironments>
      <AdvancedProperties>
         <AdvancedProperty
               ContributedAdvancedPropertyClass="com.tibco.xpd.wsdlgen.advancedproperties.WsdlGenAdvProperty"
               DisplayName="%wsdl.BindingType">
         </AdvancedProperty></AdvancedProperties>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.wsdlgen.wsdl.rules.resolutions.RemoveExtAttribResolution"
            id="wsdlgen.removeAutogenflag"
            label="%resolution.wsdlgen.removeAutoGenWSDLAttribs">
      </resolution>
   </extension>
</plugin>
