<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
            class="com.tibco.xpd.rasc.ui.export.RascExportWizard"
            icon="icons/obj16/rasc_16x16.png"
            id="com.tibco.xpd.rasc.export"
            name="Export Deployment Artifacts">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions"
            type="export"
            wizardId="com.tibco.xpd.rasc.export">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count></and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.xpd.rasc.ui.AdminUrlPreferencePage"
            id="com.tibco.xpd.rasc.ui.adminUrlPage"
            name="Admin UI">
      </page>
   </extension>

</plugin>
