<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
            class="com.tibco.xpd.rasc.ui.export.RascExportWizard"
            icon="icons/obj16/rasc_16x16.png"
            id="com.tibco.xpd.rasc.export"
            name="%exportDeploymentArtifacts">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions"
            type="export"
            wizardId="com.tibco.xpd.rasc.export">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count></and>
            </or>
         </enablement>
      </commonWizard>
      <actionProvider
            class="com.tibco.xpd.rasc.ui.governance.LifecycleActionProvider"
            id="com.tibco.xpd.projectExplorer.action.lifecycleGovernance">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.bx.bpmGeneral"
            class="com.tibco.xpd.rasc.ui.AdminUrlPreferencePage"
            id="com.tibco.xpd.rasc.ui.adminUrlPage"
            name="%adminUIPreferencePage">
      </page>
   </extension>
   <extension
         id="com.tibco.xpd.resources.lockedForProductionNature"
         name="Locked for Production"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.rasc.ui.governance.LockedForProductionNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.tibco.xpd.rasc.ui.governance.LockedForProductionLabelDecorator"
            id="com.tibco.xpd.rasc.ui.governance.lockedForProductionDecorator"
            label="Locked for Production Decorator"
            state="true">
      </decorator>
   </extension>

</plugin>
