<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="com.tibco.xpd.core.createtestwizards.createBaseTestWizard">
         <menu
               label="Test Creation Wizards"
               path="group.generate"
               id="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu">
            <groupMarker
                  name="group.testCreation">
            </groupMarker>
         </menu>
         <action
               class="com.tibco.xpd.n2.test.core.CreateN2BaseTestAction"
               enablesFor="*"
               id="com.tibco.xpd.core.createtestwizards.n2basetestwizard.newAction"
               label="Create Test For N2 BPM Resources"
               menubarPath="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu/group1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.tibco.xpd.n2.test.core.validation.CreateN2ValidationTestAction"
               enablesFor="*"
               icon="icons/problem.gif"
               id="com.tibco.xpd.core.createtestwizards.validationtestwizard.newAction"
               label="Create Test For N2 BPM Validation Problems"
               menubarPath="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu/group1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <enablement></enablement>
      </objectContribution>

   </extension>

</plugin>
