<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         name="Tabs contributed for when PROCESS EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn"
               image="images/FormalParamIn.png"
               indented="false"
               label="%property_tab_mapping_in">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperOut"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_out">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               image="images/FormalParamIn.png"
               indented="false"
               label="%property_tab_mapping_to_process">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperFromProcess"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_from_process">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.processeditor.propertyTabs.ThrowErrorEventMapperOut"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_faultFromProcess">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.replyImmediateMappings"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_reply_immediate_mapping">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Tabs contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn"
               image="images/FormalParamIn.png"
               indented="false"
               label="%property_tab_mapping_in"/>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperOut"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_out"/>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               image="images/FormalParamIn.png"
               indented="false"
               label="%property_tab_mapping_to_process">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperFromProcess"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_from_process">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.processeditor.propertyTabs.ThrowErrorEventMapperOut"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_faultFromProcess">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.replyImmediateMappings"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_reply_immediate_mapping">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Tabs contributed for when PROCESS INTERFACE EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.analyst.processinterface.editor.propertyContributor">
          <propertyTab
                afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
                category="core"
                id="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
                image="images/FormalParamIn.png"
                indented="false"
                label="%property_tab_mapping_to_process">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.parameterMapperFromProcess"
               image="images/FormalParamOut.png"
               indented="false"
               label="%property_tab_mapping_from_process">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Sections contributed for when PROCESS EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingInSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingInSection$Filter"
               id="developer.subProcMapperIn"
               tab="com.tibco.xpd.processeditor.propertyTabs.SubprocParameterMapperIn">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
  		 <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingOutSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingOutSection$Filter"
               id="developer.subProcMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.SubprocParameterMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.errorEvents.CatchBpmnErrorMapperSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.errorEvents.CatchBpmnErrorMapperSection$Filter"
               id="developer.catchBpmnStandardErrorMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchErrorEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <!--<propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.signalevent.CatchSignalMapperDesignerSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.signalevent.CatchSignalMapperDesignerSection$Filter"
               id="developer.catchBpmnStandardErrorMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchSignalEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>-->
      </propertySections>
   </extension>
   <extension
         name="Sections contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingInSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingInSection$Filter"
               id="developer.subProcMapperIn"
               tab="com.tibco.xpd.processeditor.propertyTabs.SubprocParameterMapperIn">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingOutSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.SubProcMappingOutSection$Filter"
               id="developer.subProcMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.SubprocParameterMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.errorEvents.CatchBpmnErrorMapperSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.errorEvents.CatchBpmnErrorMapperSection$Filter"
               id="developer.catchBpmnStandardErrorMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchErrorEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <!--<propertySection
               class="com.tibco.xpd.implementer.resources.xpdl2.properties.signalevent.CatchSignalMapperDesignerSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.resources.xpdl2.properties.signalevent.CatchSignalMapperDesignerSection$Filter"
               id="developer.catchBpmnStandardErrorMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchSignalEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>-->
      </propertySections>
   </extension>
   <!-- ACE-2011: Remove Unsupported features. Publish as REST Service
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.eventImplementation">
      <implementation
            catchThrow="Catch"
            class="com.tibco.xpd.implementer.resources.xpdl2.properties.StartNoneEventImplSection"
            eventType="Start"
            filter="com.tibco.xpd.implementer.resources.xpdl2.properties.StartNoneEventImplSection$Filter"
            name="StartNone"
            triggerResultType="None"/>                  
   </extension>
   -->
     
       <extension
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="com.tibco.xpd.implementer.resources.xpdl2.deleteScriptContribution"
                targetID="mapperControlMenu">
               
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.RenameScriptAction"
                   enablesFor="1"
                   id="com.tibco.xpd.implementer.resources.xpdl2.renameScript"
                   label="%com.tibco.xpd.implementer.resources.xpdl2.renameScript"
                   menubarPath="MapperMenuGroup3"
                   style="push">
                   
             </action>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.DeleteScriptAction"
                   icon="images/remove.gif"
                   id="com.tibco.xpd.implementer.resources.xpdl2.deleteScript"
                   label="%com.tibco.xpd.implementer.resources.xpdl2.deleteScript"
                   menubarPath="MapperMenuGroup3"
                   style="push">
             </action>
             <visibility>
                <objectClass
                      name="com.tibco.xpd.xpdExtension.ScriptInformation">
                </objectClass>
             </visibility>
          </viewerContribution>
          <objectContribution
                adaptable="false"
                id="com.tibco.xpd.implementer.resources.xpdl2.caseClassGenPageflowCS"
                objectClass="com.tibco.xpd.bom.modeler.diagram.edit.parts.ClassEditPart">
             <menu
                   icon="images/NewCaseService.png"
                   id="caseclass.generate.caseservice"
                   label="%caseclass.generate.caseservice"
                   path="additions">
                <separator
                      name="main">
                </separator>
                <separator
                      name="additions">
                </separator>
             </menu>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateCaseActionToUpdateCaseData"
                   id="com.tibco.xpd.implementer.resources.xpdl2.caseClass.updateCaseData"
                   label="%caseClass.updateCaseData"
                   menubarPath="caseclass.generate.caseservice/main">
             </action>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateCaseActionToViewCaseData"
                   id="com.tibco.xpd.implementer.resources.xpdl2.caseClass.viewCaseData"
                   label="%caseClass.viewCaseData"
                   menubarPath="caseclass.generate.caseservice/main">
             </action>
             <visibility>
             	<and>
	                <objectState
	                      name="type"
	                      value="CASE">
	                </objectState>
					<objectState
						name="com.tibco.xpd.processwidget.IS_READ_ONLY"
						value="FALSE">
					</objectState>
				</and>
             </visibility>
          </objectContribution>
          <objectContribution
                adaptable="false"
                id="com.tibco.xpd.implementer.resources.xpdl2.caseClassGenPageflowBS"
                objectClass="com.tibco.xpd.bom.modeler.diagram.edit.parts.ClassEditPart">
             <menu
                   icon="images/NewProcessBusinessService.png"
                   id="caseclass.generate.bizservice"
                   label="%caseclass.generate.bizservice"
                   path="additions">
                <separator
                      name="main">
                </separator>
                <separator
                      name="additions">
                </separator>
             </menu>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateBizServiceToDeleteCaseDataAction"
                   id="com.tibco.xpd.implementer.resources.xpdl2.caseClass.deleteCaseData"
                   label="%caseClass.deleteCaseData"
                   menubarPath="caseclass.generate.bizservice/main">
             </action>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateBizServiceToUpdateCaseDataAction"
                   id="com.tibco.xpd.implementer.resources.xpdl2.caseClass.updateCaseData"
                   label="%caseClass.updateCaseData"
                   menubarPath="caseclass.generate.bizservice/main">
             </action>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateBizServiceToCreateCaseDataAction"
                   id="com.tibco.xpd.implementer.resources.xpdl2.caseClass.createCaseData"
                   label="%caseClass.createCaseData"
                   menubarPath="caseclass.generate.bizservice/main">
             </action>
             <visibility>
             	<and>
	                <objectState
	                      name="type"
	                      value="CASE">
	                </objectState>
					<objectState
						name="com.tibco.xpd.processwidget.IS_READ_ONLY"
						value="FALSE">
					</objectState>
                </and>
             </visibility>
          </objectContribution>
          <objectContribution
                adaptable="false"
                id="com.tibco.xpd.implementer.resources.xpdl2.startTypeNoneGenerateServiceProcess"
                objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
             <menu
                   id="starteventPageflowMenu"
                   label="%generateMenu.label"
                   path="object">
             </menu>
             <visibility>
             	<and>
	                <objectState
	                      name="com.tibco.xpd.processwidget.IS_START_TYPE_NONE_DIRECTLY_UNDER_PROCESS"
	                      value="TRUE">
	                </objectState>
					<objectState
						name="com.tibco.xpd.processwidget.IS_READ_ONLY"
						value="FALSE">
					</objectState>
	            </and>
             </visibility>
             <action
                   class="com.tibco.xpd.implementer.resources.xpdl2.actions.GenerateServiceProcessOnStartTypeNoneAction"
                   enablesFor="1"
                   icon="images/NewServiceProcess.png"
                   id="com.tibco.xpd.implementer.resources.xpdl2.generateServiceProcessFomStartTypeNoneAction"
                   label="%generateServiceProcess.label"
                   menubarPath="starteventPageflowMenu/group1">
             </action>
          </objectContribution>
       </extension>

   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptMappingCompositor">
      <ScriptMappingCompositorFactory
            context="Rest"
            direction="IN"
            factory="com.tibco.xpd.implementer.resources.xpdl2.properties.JavaScriptProcessToRestMapping$Factory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
      <ScriptMappingCompositorFactory
            context="Rest"
            direction="OUT"
            factory="com.tibco.xpd.implementer.resources.xpdl2.properties.JavaScriptRestToProcessMapping$Factory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
   </extension>
   
   <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.bpmnCatchableErrorProviders">
      <ErrorBrowser
            class="com.tibco.xpd.implementer.resources.xpdl2.errorEvents.BpmnRestServiceErrorsContributor">
      </ErrorBrowser>
   </extension>

   <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.processPreCommitCommandContributor">
      <ProcessPreCommitCommandContributor
            class="com.tibco.xpd.implementer.resources.xpdl2.precommit.RequestActivityPreCommitListener">
      </ProcessPreCommitCommandContributor>
   </extension>
   
   <!-- Sid ACE-473. Removed contribution of now non-existent WSDL FaultMessageNameProviderContribution -->
    
   <extension
         id="bpmnJsTypeMatcher"
         name="%bpmnJsTypeMatcher"
         point="com.tibco.xpd.processeditor.xpdl2.mappingTypeMatcher">
      <mappingTypeMatcher
            doesTypeMatching="true"
            grammarId="JavaScript"
            includeDefault="true"
            priority="Low"
            showInPreferencePage="true"
            typeMatcherClass="com.tibco.xpd.implementer.resources.xpdl2.mappings.BpmnJavscriptNameMatcher">
      </mappingTypeMatcher>
   </extension>
   <extension
         point="com.tibco.xpd.processwidget.activityHyperlinkHandler">
      <activityHyperlinkHandler
            class="com.tibco.xpd.implementer.resources.xpdl2.activityhyperlinkhandlers.RestServiceActivityHyperlinkHandler">
      </activityHyperlinkHandler>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyDependencyProvider">
      <dependency
            provider="com.tibco.xpd.implementer.resources.xpdl2.dependencies.XpdlToRsdWorkingCopyDependencyProvider">
      </dependency>
      <dependency
            provider="com.tibco.xpd.implementer.resources.xpdl2.dependencies.RsdToJsonSchemaWorkingCopyDependencyProvider">
      </dependency>
      <dependency
            provider="com.tibco.xpd.implementer.resources.xpdl2.dependencies.JsonSchemaToJsonSchemaWorkingCopyDependencyProvider">
      </dependency>
   </extension>  
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.xpd.implementer.resources.xpdl2.moveprocess.participant.AddRequiredProjectReferencesDueToWsdlDependencyParticipant"
            id="com.tibco.xpd.implementer.resources.xpdl2.moveprocess.participant.AddRequiredProjectReferencesDueToWsdlDependencyParticipant"
            name="%projectReferenceDueToWsdlDependency">
           <enablement>
              <instanceof
                  value="com.tibco.xpd.xpdl2.Process">
              </instanceof>
           </enablement>
      </moveParticipant>
      <moveParticipant
            class="com.tibco.xpd.implementer.resources.xpdl2.moveprocess.participant.AddRequiredProjectReferencesDueToRestDependencyParticipant"
            id="com.tibco.xpd.implementer.resources.xpdl2.moveprocess.participant.AddRequiredProjectReferencesDueToRestDependencyParticipant"
            name="%projectReferenceDueToRestDependency">
           <enablement>
              <instanceof
                  value="com.tibco.xpd.xpdl2.Process">
              </instanceof>
           </enablement>
      </moveParticipant>      
   </extension>   
</plugin>
