<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scriptGrammar" name="Script Grammar" schema="schema/scriptGrammar.exsd"/>
   <extension-point id="scriptGrammarDestinationBinding" name="Script Grammar Destination Binding" schema="schema/scriptGrammarDestinationBinding.exsd"/>
   <extension-point id="scriptContexts" name="Script Contexts" schema="schema/scriptContexts.exsd"/>
   <extension-point id="modelDefinitionReaders" name="Model Definition Readers" schema="schema/modelDefinitionReaders.exsd"/>

</plugin>
