
    .f76b90885-5bde-4fb5-b52a-887942d31ad2 .pane_toolbar > .label {
        display:none !important;
    }
    .f76b90885-5bde-4fb5-b52a-887942d31ad2 .pane_messages > .label {
        display:none !important;
    }
    .f76b90885-5bde-4fb5-b52a-887942d31ad2 .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.f76b90885-5bde-4fb5-b52a-887942d31ad2 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
