<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>>
<extension
      point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
   <destination
         destinationId="javaScript1.x">
      <scriptContribution
            scriptContext="ScriptTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
         <scriptRelevantDataContributor
               class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
               name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
         </scriptRelevantDataContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="PerformerDataField">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
         <scriptRelevantDataContributor
               class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
               name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
         </scriptRelevantDataContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="TimerEvent">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="RescheduleTimerEvent">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="SequenceFlow">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="OpenUserTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="CloseUserTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="SubmitUserTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="JavaServiceTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="StdLoopExpr">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="MILoopExpr">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="MIComplexExitExpr">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="MIAdditionalInstancesExpr">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="SubProcessTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="CatchSignalEventMapping">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="DurationCalculation">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="PerformerDataField">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="WebServiceTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="RestServiceTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="ScheduleUserTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="RescheduleUserTask">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="AdhocPrecondition">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
      </scriptContribution>
      <scriptContribution
            scriptContext="ScriptLibraryFunction">
         <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
         </classContributor>
         <scriptRelevantDataContributor
               class="com.tibco.xpd.process.js.model.PSLJavaScriptRelevantDataProvider"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.PSLJavaScriptRelevantDataProvider"
               name="com.tibco.xpd.process.js.model.PSLJavaScriptRelevantDataProvider">
         </scriptRelevantDataContributor>
      </scriptContribution>      
   </destination>
</extension>
<extension
      point="com.tibco.xpd.script.ui.modelDefinitionReaders">
   <modelDefinitionReader
         class="com.tibco.xpd.process.js.model.DefaultModelProcessDefinitionReader"
         fileExtensions="bom,uml"
         priority="MEDIUM">
   </modelDefinitionReader>
</extension>
</plugin>
