<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
          point="com.tibco.xpd.script.ui.scriptGrammar">
       <scriptGrammar
             grammarId="RQL"
             grammarName="%RQL">
          <editorSection
                editorSectionClass="com.tibco.xpd.rql.script.editor.RQLScriptEditorSection"
                mappable="false">
          </editorSection>
          <editorStyleProcessor
                id="com.tibco.xpd.rql.script.styles.RQLLineStyleListenerProvider"
                lineStyleListenerProvider="com.tibco.xpd.rql.script.styles.RQLLineStyleListenerProvider"
                name="com.tibco.xpd.rql.script.styles.RQLLineStyleListenerProvider">
          </editorStyleProcessor>
          <contentAssistProcessor
                className="com.tibco.xpd.rql.script.contentassist.RQLContentAssistProcessor"
                id="rqlScriptContentAssistProcessor"
                name="%rql.contentAssistProcessor.name"
                preferencesClassName="com.tibco.xpd.rql.script.preferences.ui.RQLCommonUIPreferenceNames">
          </contentAssistProcessor>
       </scriptGrammar>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.script.rql.preferences"
            class="com.tibco.xpd.rql.script.contentassist.RQLTemplatePreferencePage"
            id="com.tibco.xpd.rql.script.contentassist.RQLTemplatePreferencePage"
            name="%page.name.rql">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.tibco.xpd.rql.script.contentassist.RQLTemplateContextType"
            id="com.tibco.xpd.script.rql.template.context"
            name="%rql.context.name">
      </contextType>
      <include
            file="template/rql/templates.xml">
      </include>
   </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
          <page
            class="com.tibco.xpd.rql.script.preferences.ui.RQLSourcePreferencePage"
            id="com.tibco.xpd.script.rql.preferences"
            name="%RQLScript_Source.name">
      </page>
      <page
            category="com.tibco.xpd.script.rql.preferences"
            class="com.tibco.xpd.rql.script.preferences.ui.RQLColorPage"
            id="com.tibco.xpd.script.rql.preferences.styles"
            name="%RQL_Styles.name">
      </page>
   </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
            class="com.tibco.xpd.rql.script.preferences.ui.RQLCommonUIPreferenceInitializer">
      </initializer>
   </extension>
    <extension
          point="org.eclipse.ui.activities">
       <activityPatternBinding
             activityId="com.tibco.xpd.capabilities.developer"
             pattern="com\.tibco\.xpd\.rql\.script\.editor/.*">
       </activityPatternBinding>
    </extension>
</plugin>
