<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       id="com.tibco.xpd.bom.validator.javaValidationMarker"
       name="%java.javaValidation"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="com.tibco.xpd.validation.ValidationMarker">
    </super>
 </extension>
 
 <extension
       id="com.tibco.xpd.bom.validator.javascriptValidationMarker"
       name="%javascript.javascriptValidation"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="com.tibco.xpd.validation.ValidationMarker">
    </super>
 </extension>
 <extension
       point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
          class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
          markerType="com.tibco.xpd.bom.validator.xsdValidationMarker">
    </markerResolutionGenerator>
    <markerResolutionGenerator
          class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
          markerType="com.tibco.xpd.wsdltobom.validator.wsdlValidationMarker">
    </markerResolutionGenerator>
 </extension>

   <extension
         point="com.tibco.xpd.validation.provider">
         
      <provider
            id="com.tibco.xpd.bom.validator.id"
            name="BOM Generic"
            scopeProvider="com.tibco.xpd.bom.validator.BOMScopeProvider">
         <rule class="com.tibco.xpd.bom.validator.rules.generic.PropertyNameDuplicateRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.ClassifierDuplicateNameRule"/>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.CyclicDependencyRule">
         </rule>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.ClassifierInheritanceRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.ElementNoNameRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.BrokenReferencesRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.PropertyMultiplicityRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.PackageDuplicatePrefixesRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.PackageDuplicateNameRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.generic.OperationParametersDuplicateRule"/>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.EnumLitNameDuplicateRule">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.TextTypePatternValidationRule: TypedElement">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.TextTypePatternValidationRule: PrimitiveType">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.URITypeValidationRule: TypedElement">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.URITypeValidationRule: PrimitiveType">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.PropertyRules">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.PrimitiveTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.bom.validator.rules.generic.UMLElementsInDiagramBadgeRule">
         </rule>
         <!--Global Data-->
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.ModelTagValidationRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CaseIdentifierValidationRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.AggregationEndsRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.AssociationEndsRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.AssociationEndsRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CompositionEndsRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CaseIdTypeRestrictionRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CaseIdAttributeRequiredRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CaseIdAttributeRestrictionRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.SearchableRestrictionRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.CaseStateValidationRule"/>
         <rule class="com.tibco.xpd.bom.validator.rules.globaldata.SummaryRule"/>
      </provider>
      
      <issue
            id="classifierDuplicateName.issue"
            message="%duplicate.type.name.issue.message"
            severity="ERROR"/>
      <issue
            id="elementNoName.issue"
            message="%empty.name.issue.message"
            severity="ERROR"/>
      <issue
            id="invalidMultiplicity.issue"
            message="%invalid.multiplicity.issue.message"
            severity="ERROR"/>
      <issue
            id="singleInheritance.issue"
            message="%single.inheritance.issue.message"
            severity="ERROR"/>
      <issue
            id="inheritanceLoop.issue"
            message="%type.hierarchy.loop.issue.message"
            severity="ERROR"/>
      <issue
            id="propertyNameDuplicate.issue"
            message="%duplicate.property.issue.message"
            severity="ERROR"/>
      <issue
            id="operationDuplicateParameters.issue"
            message="%operationDuplicateParameters.issue"
            severity="ERROR"/>
      <issue
            id="packageDuplicateName.issue"
            message="%duplicate.package.issue.message"
            preferenceDescription="%duplicate.package.issue.pref.title"
            preferenceGroupId="com.tibco.xpd.bom.prefgroup.name"
            severity="ERROR"/>
      <issue
            id="packagePrefixCase.issue"
            message="%package.prefixes.case.issue.message"
            severity="ERROR"/>
      <issue
            id="brokenReference.issue"
            message="%broken.reference.issue.message"
            severity="ERROR"/>

      <preferenceGroup
            id="com.tibco.xpd.bom.prefgroup.name"
            name="%preferenceGroup.name.nameConflicts"
            preferenceId="com.tibco.xpd.bom.pref"/>
      <issue
            id="brokenProfileReference.issue"
            message="%broken.profilereference.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="enumLitNameDuplicate.issue"
            message="%duplicate.enumlit.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="invalidTextTypePattern,issue"
            message="%invalidPatter_issue_message"
            severity="WARNING">
      </issue>
      <issue
            id="invalidUri.issue"
            message="%invalidDefaultURIValue_issue_message"
            severity="ERROR">
      </issue>
      <issue
            id="invalidTextTypeXMLPattern.issue"
            message="%invalidXMLPattern_issue_message"
            severity="ERROR">
      </issue>
      <issue
            id="cyclicDependency.issue"
            message="%cyclicDependency.issue.message"
            severity="WARNING">
      </issue>
      <issue
            id="invalidMultiplicityOnReleationship.issue"
            message="%invalidMultiplicityOnReleationship.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="textLengthZero.issue"
            message="%textLengthZero.issue.message"
            severity="WARNING">
      </issue>
      <issue
            id="primitiveTypeRestrictionMissmatch.issue"
            message="%primitiveTypeRestrictionMissmatch.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="umlElementsInBadge.issue"
            message="%umlElementsInBadge.issue.message"
            severity="ERROR">
      </issue>
      <!--Global Data-->
      <issue
            id="duplicate.model.tag.issue"
            message="%duplicate.model.tag.issue.message"
            severity="ERROR"/>
      <issue
            id="model.tag.invalid.characters.issue"
            message="%model.tag.invalid.characters.issue.message"
            severity="ERROR"/>
   	  <issue
            id="model.tag.invalid.length.issue"
            message="%model.tag.invalid.length.issue.message"
            severity="ERROR"/>

	<!-- Sid ACE-470 cid.invalid.multiplicity.issue.message / auto.cid.invalid.multiplicity.issue.message removed in favour of ACE specific rules. -->

	<!-- Sid ACE-470 casestate.invalid.multiplicity.issue.message removed in favour of ACE specific rules. -->
	

     <issue
           id="casestate.invalid.type.issue"
           message="%casestate.invalid.type.issue.message"
           severity="ERROR"/>
     <issue
           id="casestate.invalid.containing.class.issue"
           message="%casestate.invalid.containing.class.issue.message"
           severity="ERROR"/>
     <issue
           id="casestate.invalid.multiple.issue"
           message="%casestate.invalid.multiple.issue.message"
           severity="ERROR"/>
      <issue
            id="bom.globaldata.aggregation.unidirectional.issue"
            message="%globaldataBOM.aggregation.unidirectional.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.aggregation.remove.resolution">
         </resolution>
      </issue>


      <issue
            id="bom.globaldata.generalization.interbom.issue"
            message="%globaldataBOM.generalizationtypes.interbom.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.generalization.remove.resolution">
         </resolution>
      </issue>

      <issue
            id="bom.globaldata.generalization.interbom.mutable.extraneous.issue"
            message="%globaldataBOM.generalizationtypes.interbom.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.generalization.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.association.unidirectional.issue"
            message="%globaldataBOM.association.unidirectional.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.association.remove.resolution">
         </resolution>
      </issue>
            <issue
            id="bom.globaldata.aggregation.bidirectional.unsupported.issue"
            message="%globaldataBOM.aggregation.bidirectional.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.aggregation.remove.resolution">
         </resolution>
      </issue>

      <issue
            id="bom.globaldata.composition.bidirectional.unsupported.issue"
            message="%globaldataBOM.composition.bidirectional.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.composition.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.composition.multiplicity.issue"
            message="%globaldataBOM.composition.multiplicity.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="bom.globaldata.association.bidirectional.hetrogeneous.ends.issue"
            message="%globaldataBOM.association.bidirectional.hetrogeneous.ends.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.association.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.association.bidirectional.homogeneous.ends.issue"
            message="%globaldataBOM.association.bidirectional.homogeneous.ends.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.association.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.aggregation.bidirectional.hetrogeneous.ends.issue"
            message="%globaldataBOM.aggregation.bidirectional.hetrogeneous.ends.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.aggregation.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.aggregation.bidirectional.homogeneous.ends.issue"
            message="%globaldataBOM.aggregation.bidirectional.homogeneous.ends.issue.message"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.aggregation.remove.resolution">
         </resolution>
      </issue>     

      <issue
            id="bom.globaldata.attribute.composition.primitivetype.interbom.bdpnonbdp.issue"
            message="%globaldataBOM.attribute.composition.primitivetype.interbom.bdpnonbdp.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="bom.globaldata.attribute.caseidentifier.typerestriction.issue"
            message="%globaldataBOM.attribute.caseidentifier.typerestriction.issue.message"
            severity="ERROR">
      </issue>

	  <!-- Sid ACE-470 globaldataBOM.class.case.caseidentifier.required.issue replaced by new ace specific, tighter issue. -->

	  <!-- Sid ACE-470 globaldataBOM.class.global.caseidentifier.restricted.issue / globaldataBOM.class.local.caseidentifier.restricted.issue removed in favour of ACE specific rule. -->

      <issue
            id="bom.globaldata.class.case.caseidentifier.generalization.issue"
            message="%globaldataBOM.class.case.caseidentifier.generalization.issue"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bom.globaldata.caseidentifiers.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="bom.globaldata.class.case.compositecaseidentifier.single.issue"
            message="%globaldataBOM.class.case.compositecaseidentifier.single.issue"
            severity="ERROR">
      </issue>      
      <issue
            id="bom.globaldata.class.case.compositecaseidentifier.multiplicity.issue"
            message="%globaldataBOM.class.case.compositecaseidentifier.multiplicity.issue"
            severity="ERROR">
      </issue>      
      
      <!-- Sid ACE-470 globaldataBOM.class.local.searchable.restricted.issue removed in favour of ACE specific rule. -->

      <issue
            id="bom.globaldata.attribute.searchable.typerestriction.issue"
            message="%globaldataBOM.attribute.searchable.typerestriction.issue"
            severity="ERROR">
      </issue>
      <issue
            id="bom.globaldata.class.case.summary.unsupported.type.issue"
            message="%globaldataBOM.class.case.summary.unsupported.type.issue"
            severity="ERROR">
      </issue>
      <issue
            id="bom.globaldata.class.case.summary.unsupported.upper.bound.issue"
            message="%globaldataBOM.class.case.summary.unsupported.upper.bound.issue"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="bom.globaldata.class.case.summary.remove.resolution">
         </resolution>
      </issue>
      <issue
            id="casestate.not.enough.states.issue"
            message="%casestate.not.enough.states.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="casestate.no.terminal.states.issue"
            message="%casestate.no.terminal.states.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="casestate.no.non.terminal.states.issue"
            message="%casestate.no.non.terminal.states.issue.message"
            severity="ERROR">
      </issue>
      <issue
            id="attributeTypeNotSet.issue"
            message="%attributeTypeNotSet.issue"
            severity="ERROR">
      </issue>
   </extension>
   <!-- XPD-1660 25/02/11 Temp. disabled the rule
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.bom.java.validator.id"
            markerType="com.tibco.xpd.bom.validator.javaValidationMarker"
            name="Java"
            scopeProvider="com.tibco.xpd.bom.validator.BOMScopeProvider">
         <rule class="com.tibco.xpd.bom.validator.rules.java.JavaNamesRule"/>
      </provider>
      <issue
            id="java.invalididentifier.issue"
            message="%invalid.java.id.issue.message"
            preferenceDescription="%invalid.java.id.issue.pref.title"
            preferenceGroupId="com.tibco.xpd.bom.prefgroup.java"
            severity="ERROR">
      </issue>
      <issue
            id="java.name.javaconvention.issue"
            message="%java.convention.issue.message"
            preferenceDescription="%java.convention.issue.pref.title"
            preferenceGroupId="com.tibco.xpd.bom.prefgroup.java"
            severity="WARNING">
      </issue>
      <issue
            id="java.useofkeyword.issue"
            message="%java.keyword.issue.message"
            preferenceDescription="%java.keyword.issue.pref.title"
            preferenceGroupId="com.tibco.xpd.bom.prefgroup.java"
            severity="ERROR">
      </issue>
      <preferenceGroup
            id="com.tibco.xpd.bom.prefgroup.java"
            name="%java.preferenceGroup.name"
            preferenceId="com.tibco.xpd.bom.pref"/>
   </extension>
   -->
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.bom.javascript.validator.id"
            markerType="com.tibco.xpd.bom.validator.javascriptValidationMarker"
            name="JavaScript"
            scopeProvider="com.tibco.xpd.bom.validator.JavaScriptScopeProvider">
         <rule
               class="com.tibco.xpd.bom.validator.rules.javascript.JavaScriptNamesRule">
         </rule>
      </provider>
      <issue
            id="javascript.reservedword.issue"
            message="%javascript.keyword.issue.message"
            severity="ERROR">
      </issue>
   </extension>
   
   
   <!-- ============ DESTINATIONS ========================================== -->


   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="bom.generic.validation.destination"
            name="%destination.name.0"
            selectable="false"
            version="">
         <validationProvider
               id="com.tibco.xpd.bom.validator.id">
         </validationProvider>
         <filter
               class="com.tibco.xpd.bom.validator.BOMFileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.bom.xsdtransform.validator.id">
         </validationProvider>
      </destination>
      <destination
            id="bom.javascript.destination"
            name="%javascript.destination.name"
            selectable="false"
            version="">
         <validationProvider
               id="com.tibco.xpd.bom.javascript.validator.id">
         </validationProvider>
         <filter
               class="com.tibco.xpd.bom.validator.BOMFileFilter">
         </filter>
      </destination>
   </extension>
   
   <!-- ============ PREFERENCE PAGES ====================================== -->

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.bom.pref"
            class="com.tibco.xpd.bom.validator.preferences.BOMValidationPreferencePage"
            id="com.tibco.xpd.bom.validator.preferences.BOMValidationPreferencePage"
            name="%page.name.errorsWarnings">
         <keywordReference id="com.tibco.xpd.bom.validator.errorwarning"/>
      </page>
   </extension>

   <!-- ============ KEYWORDS ============================================== -->

   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.tibco.xpd.bom.validator.errorwarning"
            label="%validationPref_keywords_message"/>
      <keyword
            id="com.tibco.xpd.bom.validator.validation"
            label="bom BOM validation">
      </keyword>
   </extension>

   <!-- ============ RESOLUTIONS =========================================== -->

   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.bom.validator.resolution.CapitaliseNameResolution"
            description="%resolution.description.capitalizeName"
            id="conceptNameStartWithCapital.issue"
            label="%resolution.label.capitalizeConceptName"/>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.bom.validator.resolution.RenameBOMResolution"
            description="%resolution.description.renameConcept"
            id="conceptNameInvalidName.issue"
            label="%resolution.label.renameConcept"/>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.bom.validator.resolution.RenamePackageResolution"
            description="%resolution.description.renamePackage"
            id="packageNameInvalid.issue"
            label="%resolution.label.renamePackage"/>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.bom.validator.resolution.BrokenReferenceResolution"
            description="%resolution.description.restoreReference"
            id="brokenReference.issue"
            label="%resolution.label.restoreReference">
      </resolution>

   </extension>

   <!-- ============ REUSABLE RESOLUTIONS ================================== -->

   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveRelationshipResolution"
            description="%globaldataBOM.generalization.remove.resolution.description"
            id="bom.globaldata.generalization.remove.resolution"
            label="%globaldataBOM.generalization.remove.resolution.label">
      </resolution>
      <resolution
      		canApplyToMultiple="false"
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveRelationshipResolution"
            description="%globaldataBOM.generalization.remove.resolution.description"
            id="bom.globaldata.association.remove.resolution"
            label="%globaldataBOM.association.remove.resolution.label">
      </resolution>    
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveRelationshipResolution"
            description="%globaldataBOM.aggregation.remove.resolution.description"
            id="bom.globaldata.aggregation.remove.resolution"
            label="%globaldataBOM.aggregation.remove.resolution.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveRelationshipResolution"
            description="%globaldataBOM.composition.remove.resolution.description"
            id="bom.globaldata.composition.remove.resolution"
            label="%globaldataBOM.composition.remove.resolution.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveAttributeCompositionResolution"
            description="%globaldataBOM.attribute.composition.remove.resolution.description"
            id="bom.globaldata.attribute.composition.remove.resolution"
            label="%globaldataBOM.attribute.composition.remove.resolution.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.globaldata.RemoveCaseIdentifiersResolution"
            description="%globaldataBOM.caseidentifiers.remove.resolution.description"
            id="bom.globaldata.caseidentifiers.remove.resolution"
            label="%globaldataBOM.caseidentifiers.remove.resolution.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.ApplyGlobalDataProfileResolution"
            id="businessdata.applyGDProfile"
            label="%businessdata.applyGDProfile">
      </resolution>
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.RemoveGlobalDataProfileResolution"
            id="businessdata.removeGDProfile"
            label="%businessdata.removeGDProfile">
      </resolution> 
      
      <resolution
            class="com.tibco.xpd.bom.validator.resolution.RemoveSummaryResolution"
            id="bom.globaldata.class.case.summary.remove.resolution"
            label="%bom.globaldata.class.case.summary.remove.resolution">
      </resolution> 
   </extension>
   <extension
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">      
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.bom.xsd.globalDestinationComponent"
            validationDestinationId="bom.xsd.destination">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="true"
            globalDestinationComponentId="com.tibco.xpd.bom.xsd.globalDestinationComponent"
            validationDestinationId="bom.xsd.destination.disabled">
      </globalDestinationComponentVersion>      
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.bom.wsdl.globalDestinationComponent"
            validationDestinationId="bom.wsdl.destination">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="true"
            globalDestinationComponentId="com.tibco.xpd.bom.wsdl.globalDestinationComponent"
            validationDestinationId="bom.wsdl.destination.disabled">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.wsdltobom.globalDestinationComponent"
            validationDestinationId="wsdltobom.destination">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="true"
            globalDestinationComponentId="com.tibco.xpd.wsdltobom.globalDestinationComponent"
            validationDestinationId="wsdltobom.destination.disabled">
      </globalDestinationComponentVersion>
   </extension>
   <extension
         point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
      <provider
            id="com.tibco.xpd.bom.workspaceValidatorProvider">
         <validator
               class="com.tibco.xpd.bom.validator.rules.BusinessDataMustHaveGlobalDataProfileRule"
               filter=".*[\\.]bom"
               id="com.tibco.xpd.bom.validation.businessDataMustHaveGlobalDataProfile"
               validateType="FILE">
         </validator>

      </provider>
      <issues>
         <issue
               id="businessdata.businessDataMustHaveGlobalDataProfile"
               message="%businessdata.businessDataMustHaveGlobalDataProfile"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="true"
                  id="businessdata.applyGDProfile">
            </resolution>
         </issue>


      </issues>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="bom.workspaceResourceDestination"
            name="%destination.name.0">
         <validationProvider
               id="com.tibco.xpd.bom.workspaceValidatorProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>
   
</plugin>
