<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Import Nimbus Process Map to Business Studio XPDL."
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.importWizard.bpm.category"
            class="com.tibco.xpd.nimbus.importprocessmap.ImportNimbusProcessMapWizard"
            icon="icons/NimbusImportIcon.png"
            id="com.tibco.xpd.nimbus.importprocessmap"
            name="%importNimbusProcessMapWizard.title">
         <description>
            %importNimbusProcessMapWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bpmContent"
            menuGroupId="additions.package"
            type="import"
            wizardId="com.tibco.xpd.nimbus.importprocessmap">
         <enablement>
         	<and>
         		<not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	</not>
               	<or>
                  	<and>
                     	<instanceof
                           	value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     	</instanceof>
                     	<test
                           	property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           	value="processes">
                     	</test>
                  	</and>
                  	<and>
                     	<instanceof
                           	value="org.eclipse.core.resources.IResource">
                     	</instanceof>
                     	<test
                           	property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           	value="processes">
                     	</test>
                  	</and>
               	</or>
           	</and>
         </enablement>
      </commonWizard>
   </extension>

<!--
	<extension
	      point="org.eclipse.ui.popupMenus">
	   <objectContribution
	         adaptable="false"
	         id="com.tibco.xpd.nimbus.testAutoLayout"
	         objectClass="com.tibco.xpd.processwidget.parts.ProcessEditPart">
	      <action
             class="com.tibco.xpd.nimbus.layoutprocess.TestLayoutAction"
             enablesFor="1"
             id="com.tibco.xpd.nimbus.testAutoLayout.action"
             label="Test Nimbus Layout"
             menubarPath="object">
	      </action>
	  </objectContribution>
	   </extension>
-->
</plugin>
