<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="om.destination"
            name="%destination.id"
            selectable="false"
            version="">
         <validationProvider id="com.tibco.xpd.validator.clientContext.OM"/>
         <filter class="com.tibco.xpd.om.validator.OMFileFilter"/>
      </destination>
      <destination
            id="com.tibco.xpd.om.validator.generic.destination"
            name="%om.generic.destiniation.id"
            selectable="false"
            version="">
         <validationProvider
               id="com.tibco.xpd.om.validator.generic.provider">
         </validationProvider>
         <filter
               class="com.tibco.xpd.om.validator.OMFileFilter">
         </filter>
      </destination>
      <destination
            id="com.tibco.xpd.om.validator.de1.x.destination"
            name="%directoryEngine_label"
            selectable="true"
            version="">
         <validationProvider
               id="com.tibco.xpd.om.validator.activeMatrixBPM">
         </validationProvider>
         <filter
               class="com.tibco.xpd.om.validator.OMFileFilter">
         </filter>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.om.validator.generic.provider"
            name="OM Validator"
            scopeProvider="com.tibco.xpd.om.validator.providers.OMScopeProvider">
         <rule
               class="com.tibco.xpd.om.validator.rules.UniqueNameRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.UnTypedOrganizationRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.InvalidNameRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.EndDateValidationRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.OrgUnitMemberRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.OrgUnitFeatureMultiplicityRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.PositionFeatureMultiplicityRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.UntypedFeatureRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.DynamicOrganizationRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.DynamicOrgUnitRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.AssociationRule">
         </rule>             
      </provider>
            <issue
            id="om.duplicateDisplayName.issue"
            message="%uniqueDisplayNameConstraint.desc"
            severity="WARNING">
      </issue>
      <issue
            id="om.duplicateName.issue"
            message="%uniqueNameConstraint.desc"
            severity="ERROR">
      </issue>
      <issue
            id="om.unTypedOrganization.issue"
            message="%unTypedOrganizationConstraint.desc"
            severity="INFO">
      </issue>
      <issue
            id="om.invalidName.issue"
            message="%validNameConstraint.desc"
            severity="ERROR">
      </issue>
      <issue
            id="om.invalidEndTime.issue"
            message="%issue_invalidStartEndDate_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.memberWithoutParent.issue"
            message="%issue_memberWithoutParent_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.invalidMember.issue"
            message="%issue_invalidMember_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.orgUnitTypeExceededUpperBound.issue"
            message="%issue_orgUnitTypeExceededUpperBound_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.positionTypeExceededUpperBound.issue"
            message="%issue_positionTypeExceededUpperBound_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.untypedfeature.issue"
            message="%issue_untypedfeature_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.unTypedMember.issue"
            message="%om.unTypedMember.issue"
            severity="ERROR">
      </issue>
      <issue
            id="om.dynamicOrg.OnlyOneRootUnitAllowed"
            message="%om.dynamicOrg.OnlyOneRootUnitAllowed1"
            severity="ERROR">
      </issue>
      <issue
            id="om.dynamicOrg.AtleastOneIdentifier"
            message="%om.dynamicOrg.AtleastOneIdentifier"
            severity="ERROR">
      </issue>
      <issue
            id="om.dynamicOrg.IdentHasToBeUnique"
            message="%om.dynamicOrg.IdentHasToBeUnique"
            severity="ERROR">
      </issue>
      <issue
            id="om.dynamicOrgUnit.DynamicOrgRef"
            message="%om.dynamicOrgUnit.DynamicOrgRef"
            severity="ERROR">
      </issue>
      <issue
            id="om.dynamicOrgUnit.onlyOneSubDynamicUnit"
            message="%om.dynamicOrgUnit.onlyOneSubDynamicUnit"
            severity="ERROR">
      </issue>
      <issue
            id="om.OrgUnitRelationship.associationNoLongerUsedInRuntime"
            message="%om.OrgUnitRelationship.associationNoLongerUsedInRuntime"
            severity="INFO">
      </issue>
      <issue
            id="om.dynamicOrgUnit.dynamicUnitCannotBeRoot"
            message="%om.dynamicOrgUnit.dynamicUnitCannotBeRoot"
            severity="ERROR">
      </issue>     
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">      
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.DuplicateNameResolution"
            description="%resolution.description.duplicateName"
            id="om.duplicateName.issue"
            label="%resolution.label.duplicateName">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.ValidNameResolution"
            description="%resolution.description.validName"
            id="om.invalidName.issue"
            label="%resolution.label.validName">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.DuplicateDisplayNameResolution"
            description="%resolution.description.duplicateDisplayName"
            id="om.duplicateDisplayName.issue"
            label="%resolution.label.duplicateDisplayName">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.UnTypedOrganizationResolution"
            description="%untypedOrg_resolution_description"
            id="om.unTypedOrganization.issue"
            image="icons/OrganizationType.gif"
            label="%untypedOrg_resolution_label">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.om.validator.activeMatrixBPM"
            name="OM BPM Validation Provider"
            scopeProvider="com.tibco.xpd.om.validator.providers.OMBPMScopeProvider">
         <rule
               class="com.tibco.xpd.om.validator.rules.InvalidVersionForDeploymentRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.UniqueGroupNameRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.MutuallyExclusiveSpecialResourcTypesRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.OrgModelQueryUnsupportedRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.AttributeDefaultValueRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.MultipleOrgModelInSingleProjectRule">
         </rule>
         <rule
               class="com.tibco.xpd.om.validator.rules.EmptyPrivilegeAssociationOnSystemActionsRule">
         </rule> 
      </provider>
      <issue
            id="om.invalidOMVersionForDeployment.issue"
            message="%issue_invalidOMVersion_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.uniqueGroupName.issue"
            message="%issue_nonuniqueGroupName_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.uniqueGroupDisplayName.issue"
            message="%issue_nonuniqueGroupLable_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.markedAsManySpecialResourceType.issue"
            message="%issue_resourceTypeMarkedAsManySpecialTypes_message"
            severity="WARNING">
      </issue>
      <issue
            id="om.orgQueryUnsupported.issue"
            message="%om.orgQueryUnsupported.issue"
            severity="WARNING">
      </issue>
      <issue
            id="om.doesntMatchProjectVersion.issue"
            message="%omVerDoesNotMatchProject_issue_shortdesc"
            severity="ERROR">
      </issue>
      <issue
            id="om.attributedefaultvalue.issue"
            message="%issue_attributedefaultvalue_message"
            severity="WARNING">
      </issue>
      <issue
            id="om.multipleOrgModelInSingleProject.issue"
            message="%issue_multipleOrgModelInSingleProject_message"
            severity="ERROR">
      </issue>
      <issue
            id="om.issueEmptyPrivilegeAssociationsOnSystemActions"
            message="%om.emptyPrivilegeAssociationsOnSystemActionsIssue"
            severity="ERROR">
      </issue> 
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.om.validator.resolution.ResetOrgModelVersionResolution"
            description="%resolution_resetOMVesion_description"
            id="om.invalidOMVersionForDeployment.issue"
            label="%resolution_resetVersion_label">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.SetUniqueGroupNameResolution"
            id="om.uniqueGroupName.issue"
            label="%resolution_setUniqueGroupName_label">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.SetUniqueGroupNameResolution"
            id="om.uniqueGroupDisplayName.issue"
            label="%resolution_setUniqueLabel_label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.om.validator.resolution.RemoveOrgQueryResolution"
            description="%resolution.desc.om.orgQueryUnsupported.issue"
            id="om.orgQueryUnsupported.issue"
            label="%resolution.title.om.orgQueryUnsupported.issue">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.om.validator.resolution.SetToProjectVersionResolution"
            id="om.doesntMatchProjectVersion.issue"
            label="%setOMVerSameAsProjectVer_resolution_label">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.om.validator.resolution.DeleteEmptyPrivilegeAssociationsResolution"
            id="om.issueEmptyPrivilegeAssociationsOnSystemActions"
            label="%resolution.deleteEmptyPrivilegeAssociationsOnSystemActions">
      </resolution>
   </extension>

</plugin>
