<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.signalTypeConfigurationSection">
      <SignalType
            buttonSequence="2"
            class="com.tibco.xpd.n2.process.globalsignal.controls.GlobalSignalTypeSection"
            id="com.tibco.xpd.n2.process.globalsignal.controls.GlobalSignalTypeSection"
            label="%signalTypeGlobal">
      </SignalType>
      <SignalType
            buttonSequence="3"
            class="com.tibco.xpd.n2.process.casedata.CaseDataSignalTypeSection"
            id="com.tibco.xpd.n2.process.globalsignal.controls.CaseDataSignalTypeSection"
            label="%signalTypeCaseData">
      </SignalType>
   </extension>
   <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.processPreCommitCommandContributor">
      <ProcessPreCommitCommandContributor
            class="com.tibco.xpd.n2.process.globalsignal.precommit.GlobalSignalEventPrecommitListener">
      </ProcessPreCommitCommandContributor>
      <ProcessPreCommitCommandContributor
            class="com.tibco.xpd.n2.process.globalsignal.precommit.CaseSignalEventPrecommitListener">
      </ProcessPreCommitCommandContributor>
   </extension>
   <extension
         name="PropertySections Contributed to tabs when PROCESS EDITOR is selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
              class="com.tibco.xpd.n2.process.globalsignal.controls.StartSignalEventsAssociatedParameterSection"
              enablesFor="1"
              filter="com.tibco.xpd.n2.process.globalsignal.controls.StartSignalEventsAssociatedParameterSection"
              id="startSignalEventsAssociatedParameterSection"
              tab="com.tibco.xpd.processeditor.propertyTabs.interface">
           <input
                 type="com.tibco.xpd.xpdl2.Activity">
           </input>
        </propertySection>
        <propertySection
               class="com.tibco.xpd.n2.process.globalsignal.datamapper.sections.GlobalSignalCatchDataMapperSection"
               enablesFor="1"
               filter="com.tibco.xpd.n2.process.globalsignal.datamapper.GlobalSignalCatchDataMapperFilter"
               id="catchGlobalSignalDataMapper"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchSignalEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input> 
         </propertySection>
         <propertySection
               class="com.tibco.xpd.n2.process.globalsignal.datamapper.sections.GlobalSignalThrowDataMapperSection"
               enablesFor="1"
               filter="com.tibco.xpd.n2.process.globalsignal.datamapper.GlobalSignalThrowDataMapperFilter"
               id="throwGlobalSignalDataMapper"
               tab="com.tibco.xpd.n2.process.globalsignal.propertyTabs.GlobalSignalEventMapperIn">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input> 
         </propertySection>
         <propertySection
               class="com.tibco.xpd.n2.process.localsignal.datamapper.sections.LocalSignalCatchDataMapperSection"
               enablesFor="1"
               filter="com.tibco.xpd.n2.process.localsignal.datamapper.LocalSignalCatchDataMapperFilter"
               id="catchLocalSignalDataMapper"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchSignalEventMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="com.tibco.xpd.datamapper.DataMapperContentContribution">
      <mapperContentContributor
            applicableContext="GlobalSignalCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.process.globalsignal.datamapper.contentcontributors.CatchGlobalSignalCorrelationDataContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GlobalSignalCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.process.globalsignal.datamapper.contentcontributors.GlobalSignalCatchTargetDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GlobalSignalCatch"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.process.globalsignal.datamapper.contentcontributors.GlobalSignalCatchSourceDataMapperContentContributor"
            priority="4">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GlobalSignalThrow"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="4">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GlobalSignalThrow"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.process.globalsignal.datamapper.contentcontributors.GlobalSignalThrowTargetDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GlobalSignalThrow"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.process.globalsignal.datamapper.contentcontributors.GlobalSignalCorrelationDataContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="LocalSignalCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.process.localsignal.datamapper.contentcontributors.LocalSignalCatchTargetDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="LocalSignalCatch"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.process.localsignal.datamapper.contentcontributors.LocalSignalCatchSourceDataMapperContentContributor"
            priority="4">
      </mapperContentContributor>
   </extension>
   
     <extension
           point="com.tibco.xpd.process.datamapper.dataReferenceContextProvider">
        <provider
              providerClass="com.tibco.xpd.n2.process.globalsignal.datamapper.GlobalSignalDataReferenceContextProvider">
        </provider>
        <provider
              providerClass="com.tibco.xpd.n2.process.localsignal.datamapper.LocalSignalDataReferenceContextProvider">
        </provider>
     </extension>
   
    <extension
          name="PropertySections Contributed to tabs when PROJECT EXPLORER is selection provider."
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
              class="com.tibco.xpd.n2.process.globalsignal.controls.StartSignalEventsAssociatedParameterSection"
              enablesFor="1"
              filter="com.tibco.xpd.n2.process.globalsignal.controls.StartSignalEventsAssociatedParameterSection"
              id="startSignalEventsAssociatedParameterSection"
              tab="com.tibco.xpd.processeditor.propertyTabs.interface">
           <input
                 type="com.tibco.xpd.xpdl2.Activity">
           </input>
        </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.script"
               category="core"
               id="com.tibco.xpd.n2.process.globalsignal.propertyTabs.GlobalSignalEventMapperIn"
               image="icons/tabMappingIn.png"
               indented="false"
               label="%mapToSignalLabel">
         </propertyTab>
      </propertyTabs>
   </extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.script"
               category="core"
               id="com.tibco.xpd.n2.process.globalsignal.propertyTabs.GlobalSignalEventMapperIn"
               image="icons/tabMappingIn.png"
               indented="false"
               label="%mapToSignalLabel">
         </propertyTab>
      </propertyTabs>
   </extension>
  <extension
        point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
     <destination
           destinationId="n2pe1.x">
        <scriptContextGrammarBinding
              scriptContextReference="GlobalThrowSignalEventMapping">
           <defaultGrammar
                 id="DataMapper"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.globalsignal.mapping.ThrowGlobalSignalMapperScriptProvider">
           </defaultGrammar>
           <grammar
                 id="JavaScript"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.globalsignal.mapping.ThrowGlobalSignalMapperScriptProvider">
           </grammar>
        </scriptContextGrammarBinding>
        <scriptContextGrammarBinding
              scriptContextReference="GlobalCatchSignalEventMapping">
           <defaultGrammar
                 id="DataMapper"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.globalsignal.mapping.CatchGlobalSignalMapperScriptProvider">
           </defaultGrammar>
           <grammar
                 id="JavaScript"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.globalsignal.mapping.CatchGlobalSignalMapperScriptProvider">
           </grammar>
        </scriptContextGrammarBinding>
        <scriptContextGrammarBinding
              scriptContextReference="CatchSignalEventMapping">
           <defaultGrammar
                 id="DataMapper"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CatchLocalSignalMapperScriptProvider">
           </defaultGrammar>
           <grammar
                 id="JavaScript"
                 resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                 scriptInfoProvider="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CatchLocalSignalMapperScriptProvider">
           </grammar>
        </scriptContextGrammarBinding>
     </destination>
  </extension>
  <!-- Script Tool Factory Pre Processors -->
  <extension
        point="com.tibco.xpd.validation.preProcessor">
     <processor
           factory="com.tibco.xpd.n2.process.globalsignal.mapping.ThrowGlobalSignalMappedScriptToolFactory">
     </processor>
     <processor
           factory="com.tibco.xpd.n2.process.globalsignal.mapping.ThrowGlobalSignalUnmappedScriptToolFactory">
     </processor>
     <processor
           factory="com.tibco.xpd.n2.process.globalsignal.mapping.CatchGlobalSignalMappedScriptToolFactory">
     </processor>
     <processor
           factory="com.tibco.xpd.n2.process.globalsignal.mapping.CatchGlobalSignalUnmappedScriptToolFactory">
     </processor>
     <processor
           factory="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CatchLocalSignalMappedScriptToolFactory">
     </processor>
     <processor
           factory="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CatchLocalSignalUnmappedScriptToolFactory">
     </processor>
     
  </extension>
  <!-- Script Grammar binding for PE Destination -->
  <extension
        point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
     <destination
           destinationId="n2pe1.x">
        <scriptContribution
              scriptContext="GlobalThrowSignalEventMapping">
               <classContributor
                  class="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  name="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader">
            </classContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider"
                  name="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  name="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>

        </scriptContribution>
        
            <scriptContribution
              scriptContext="GlobalCatchSignalEventMapping">
               <classContributor
                  class="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  name="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader">
            </classContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.globalsignal.mapping.CdsCatchGlobalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.globalsignal.mapping.CdsCatchGlobalSignalScriptRelevantDataProcider"
                  name="com.tibco.xpd.n2.process.globalsignal.mapping.CdsCatchGlobalSignalScriptRelevantDataProcider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  name="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.globalsignal.mapping.PayloadDataBomFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.globalsignal.mapping.PayloadDataBomFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.process.globalsignal.mapping.PayloadDataBomFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>

        </scriptContribution>  
        
        <scriptContribution
              scriptContext="CatchSignalEventMapping">
               <classContributor
                  class="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader"
                  name="com.tibco.xpd.n2.cds.reader.CdsExtendedJScriptProcessDefinitionReader">
            </classContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProcider"
                  name="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProcider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider"
                  name="com.tibco.xpd.n2.pe.internal.provider.PEJScriptProcessAndCSARelevantDataProvider">
            </scriptRelevantDataContributor>
        </scriptContribution> 
        
     </destination>
  </extension>
  <!-- Script Grammar binding for Simulation Destination -->
  <extension
        point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
     <destination
           destinationId="simulation1.2">
        <scriptContribution
              scriptContext="GlobalThrowSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider"
                  name="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider">
            </scriptRelevantDataContributor>
            <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
            </classContributor>
            <validationStrategy
               class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
        </scriptContribution>
        <scriptContribution
              scriptContext="GlobalCatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.globalsignal.mapping.CdsCatchGlobalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider"
                  name="com.tibco.xpd.n2.process.globalsignal.mapping.CdsThrowGlobalSignalScriptRelevantDataProcider">
            </scriptRelevantDataContributor>
            <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
            </classContributor>
            <validationStrategy
               class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
        </scriptContribution>
        <scriptContribution
              scriptContext="CatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.process.localsignal.datamapper.mapping.CdsCatchLocalSignalScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <classContributor
               class="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader"
               name="com.tibco.xpd.process.js.model.JScriptProcessDefinitionReader">
            </classContributor>
            <validationStrategy
               class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               grammarId="JavaScript"
               id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
               name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
        </scriptContribution>
     </destination>
  </extension>
  <!-- Script Grammar binding for Java Script Destination -->
  <extension
        point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
     <destination
           destinationId="javaScript1.x">
        <scriptContribution
              scriptContext="GlobalThrowSignalEventMapping">
               <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
               </validationStrategy>
        </scriptContribution>
        <scriptContribution
              scriptContext="GlobalCatchSignalEventMapping">
               <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
               </validationStrategy>
        </scriptContribution>
        <scriptContribution
              scriptContext="CatchSignalEventMapping">
               <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
               </validationStrategy>
        </scriptContribution>
     </destination>
  </extension>
  <!-- Reference Resolvers -->
  <extension
        point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.n2.process.globalsignal.mapping.resolvers.ThrowGlobalSignalMappingScriptFieldResolver">
     </FieldOrParamReferenceResolver>
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.n2.process.globalsignal.mapping.resolvers.CatchGlobalSignalMappingScriptFieldResolver">
     </FieldOrParamReferenceResolver>
  </extension>
  <!-- Global signal Drag Drop Contribution -->
  <extension
        point="com.tibco.xpd.processeditor.xpdl2.dropObjectContribution">
     <dropObject
           class="com.tibco.xpd.n2.process.globalsignal.dragdrop.GlobalSignalDropContribution"
           name="%globalSignalDrop">
     </dropObject>
  </extension>
  <extension
        point="com.tibco.xpd.resources.workingCopyDependencyProvider">
     <dependency
           provider="com.tibco.xpd.n2.process.globalsignal.dependencyprovider.XpdlGSDWorkingCopyDependencyProvider">
     </dependency>
  </extension>
  
  <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.n2.process.casedata.CaseDataSignalDataFieldResolver">
      </FieldOrParamReferenceResolver>
   </extension>
  
  <extension
        point="org.eclipse.ltk.core.refactoring.renameParticipants">
     <renameParticipant
             class="com.tibco.xpd.n2.process.globalsignal.refactor.ScriptGSDElementRefactorParticipant"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.ScriptGSDElementRefactorParticipant"
             name="%scriptGsdRename">
          <enablement>
             <or>
                  <instanceof
                     value="com.tibco.xpd.globalSignalDefinition.PayloadDataField">
                  </instanceof>
             </or>
          </enablement>
     </renameParticipant>
     <renameParticipant
             class="com.tibco.xpd.n2.process.globalsignal.refactor.GlobalSignalReferenceParticipant"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.GlobalSignalReferenceParticipant"
             name="%globalSignalRefUpdate">
          <enablement>
                <instanceof
                     value="com.tibco.xpd.globalSignalDefinition.GlobalSignal">
                  </instanceof>
          </enablement>
     </renameParticipant>
     <renameParticipant
             class="com.tibco.xpd.n2.process.globalsignal.refactor.PayloadDataMappingReferenceParticipant"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.PayloadDataMappingReferenceParticipant"
             name="%pdfRefUpdate">
          <enablement>
                <instanceof
                     value="com.tibco.xpd.globalSignalDefinition.PayloadDataField">
                  </instanceof>
          </enablement>
     </renameParticipant>
     <renameParticipant
           class="com.tibco.xpd.n2.process.globalsignal.refactor.UpdateGsReferencesOnGsdFileRenameParticipant"
           id="com.tibco.xpd.n2.process.globalsignal.refactor.UpdateGsReferencesOnGsdFileRenameParticipant"
           name="%renameGsd_label">
	        <enablement>
	             <and>
	                <instanceof
	                      value="org.eclipse.core.resources.IFile">
	                </instanceof>
	                <test
	                      property="org.eclipse.core.resources.extension"
	                      value="gsd">
	                </test>
	             </and>       
	        </enablement>
     </renameParticipant>
  </extension>
  
  
  <!-- Preview viewer to show changes in GSD element references from processes-->
  <extension
          point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
       <changePreviewViewer
             class="com.tibco.xpd.n2.process.globalsignal.refactor.ScriptGSDReferenceChangePreviewViewer"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.ScriptGSDReferenceChangePreviewViewer">
          <enablement>
             <instanceof
                   value="com.tibco.xpd.n2.process.globalsignal.refactor.AbstractScriptGSDReferenceChange">
             </instanceof>
          </enablement>
       </changePreviewViewer>
        <changePreviewViewer
             class="com.tibco.xpd.n2.process.globalsignal.refactor.GlobalSignalReferenceChangePreviewViewer"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.refactor.GlobalSignalReferenceChangePreviewViewer">
          <enablement>
             <instanceof
                   value="com.tibco.xpd.n2.process.globalsignal.refactor.GlobalSignalReferenceChange">
             </instanceof>
          </enablement>
       </changePreviewViewer>
        <changePreviewViewer
             class="com.tibco.xpd.n2.process.globalsignal.refactor.PayloadDataMappingReferenceChangePreviewViewer"
             id="com.tibco.xpd.n2.globalsignal.resource.ui.refactor.PayloadDataMappingReferenceChangePreviewViewer">
          <enablement>
             <instanceof
                   value="com.tibco.xpd.n2.process.globalsignal.refactor.PayloadDataMappingReferenceChange">
             </instanceof>
          </enablement>
       </changePreviewViewer>
  </extension>
  
  <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.xpd.n2.process.globalsignal.moveprocess.AddRequiredProjectReferencesDueToGsdProjectDependencyParticipant"
            id="com.tibco.xpd.n2.process.globalsignal.moveprocess.AddRequiredProjectReferencesDueToGsdProjectDependencyParticipant"
            name="%addProjectReferences_label">
           <enablement>
              <instanceof
                  value="com.tibco.xpd.xpdl2.Process">
              </instanceof>
           </enablement>
      </moveParticipant>
   </extension>
  <extension
        point="org.eclipse.ltk.core.refactoring.moveParticipants">
     <moveParticipant
           class="com.tibco.xpd.n2.process.globalsignal.refactor.UpdateGsActivitiesOnGsdMoveParticipant"
           id="com.tibco.xpd.n2.process.globalsignal.refactor.UpdateGsActivitiesOnGsdMoveParticipant"
           name="%updateGSReferences_label">
	        <enablement>
				<and>
	               <or>
	                  <and>
	                     <instanceof
	                           value="org.eclipse.core.resources.IFile">
	                     </instanceof>
	                     <test
	                           property="org.eclipse.core.resources.extension"
	                           value="gsd">
	                     </test>
	                  </and>
	                  <instanceof
	                        value="org.eclipse.core.resources.IFolder">
	                  </instanceof>
	               </or>
	               <test
	                     property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
	                     value="gsd">
	               </test>
	            </and>     
	        </enablement>
     </moveParticipant>
     <moveParticipant
           class="com.tibco.xpd.n2.process.globalsignal.refactor.AddProjectReferencesOnGsdMoveParticipant"
           id="com.tibco.xpd.n2.process.globalsignal.refactor.AddProjectReferencesOnGsdMoveParticipant"
           name="%addProjectReferences_label">
	        <enablement>
				<and>
	               <or>
	                  <and>
	                     <instanceof
	                           value="org.eclipse.core.resources.IFile">
	                     </instanceof>
	                     <test
	                           property="org.eclipse.core.resources.extension"
	                           value="gsd">
	                     </test>
	                  </and>
	                  <instanceof
	                        value="org.eclipse.core.resources.IFolder">
	                  </instanceof>
	               </or>
	               <test
	                     property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
	                     value="gsd">
	               </test>
	            </and>     
	        </enablement>
     </moveParticipant>     
  </extension>
   
</plugin> 
