<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dataReferenceContextProvider" name="Data Reference Context Provider" schema="schema/dataReferenceContextProvider.exsd"/>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.script"
               category="core"
               id="com.tibco.xpd.processeditor.propertyTabs.datamapper"
               indented="false"
               label="%dataMapperTab.Label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.script"
               category="core"
               id="com.tibco.xpd.processeditor.propertyTabs.datamapper"
               indented="false"
               label="%dataMapperTab.Label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.process.datamapper.scripttask.ScriptTaskDataMapperTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.process.datamapper.scripttask.ScriptTaskDataMapperTabSection$Filter"
               id="DataMapperSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.datamapper">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.process.datamapper.scripttask.ScriptTaskDataMapperTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.process.datamapper.scripttask.ScriptTaskDataMapperTabSection$Filter"
               id="DataMapperSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.datamapper">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="DataMapper"
            grammarName="%dataMapperScript.Label">
         <editorSection
               editorSectionClass="com.tibco.xpd.process.datamapper.ui.ProcessDataMapperScriptEditorSection"
               mappable="true">
         </editorSection>
      </scriptGrammar>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptContexts">
      <scriptContext
            type="DataMapperPEMappingScripts">
      </scriptContext>
      <scriptContext
            type="DataMapperWMMappingScripts">
      </scriptContext>
   </extension>
   <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.process.datamapper.refactor.ProcessDataMapperFieldRefResolver">
      </FieldOrParamReferenceResolver>
   </extension>

 <extension
       name="The contriobutions for processa data content in data mapper scripts"
       point="com.tibco.xpd.datamapper.DataMapperContentContribution">
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ProcessDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
   </extension>


</plugin>
