<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
  
  <extension-point id="serverTypes" name="Server Types" schema="schema/serverTypes.exsd"/>
  <extension-point id="repositoryTypes" name="Repository Types" schema="schema/repositoryTypes.exsd"/>
  <extension-point id="runtimeTypes" name="Runtime Types" schema="schema/runtimeTypes.exsd"/>
  <extension-point id="serverGroupTypes" name="Server Group Types" schema="schema/serverGroupTypes.exsd"/>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///com/tibco/xpd/deploy.ecore" 
       class = "com.tibco.xpd.deploy.DeployPackage"
       genModel = "model/com.tibco.xpd.deploy.genmodel" /> 
  </extension>
</plugin>

