<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension-point 
         id="requirementsResolver" 
         name="Requirements Resolver" 
         schema="schema/requirementsResolver.exsd"/>
      <extension-point 
         id="componentTypeContributor" 
         name="ComponentType Contributor" 
         schema="schema/componentTypeContributor.exsd"/>
</plugin>
