<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="javaScript1.x"
            name="JavaScript"
            selectable="false"
            version="1.0">
         <validationProvider id="com.tibco.xpd.js.validation.provider"/>
         <filter class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter"/>
         <validationProvider
               id="com.tibco.xpd.js.validation.provider.process">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.preProcessor">
      <processor factory="com.tibco.xpd.js.validation.tools.TaskScriptToolFactory"/>
      <processor factory="com.tibco.xpd.js.validation.tools.PackageScopeEnumCacheToolFactory"/>
      <processor factory="com.tibco.xpd.js.validation.tools.TransitionScriptToolFactory"/>
      <processor factory="com.tibco.xpd.js.validation.tools.TimerEventScriptToolFactory"/>
      <processor factory="com.tibco.xpd.js.validation.tools.RescheduleTimerEventScriptToolFactory"/>
      <processor factory="com.tibco.xpd.js.validation.tools.UserTaskOpenScriptToolFactory"/>
      <processor
            factory="com.tibco.xpd.js.validation.tools.UserTaskCloseScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.UserTaskSubmitScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.SubProcessUnmappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.JavaServiceUnmappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.StdLoopExprToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.MILoopExprToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.MIComplexExitExprToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.MIAdditionalInstancesExprToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.JavaServiceMappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.JavaServiceMappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.SubProcessMappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.SubProcessMappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.JavaServiceUnmappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.SubProcessUnmappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.InitiatedScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.CompletedScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DeadlineExpiredScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.CancelledScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DurationScriptsToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.PerformerScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.WebServiceMappedJScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.WebServiceMappedJScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.WebServiceUnmappedJScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.WebServiceUnmappedJScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.UserTaskScheduleScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.UserTaskRescheduleScriptTaskScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DecFlowMappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DecFlowMappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DecFlowUnmappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.DecFlowUnmappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.js.validation.tools.CatchSignalMappingScriptToolFactory">
      </processor>
       <processor factory="com.tibco.xpd.js.validation.tools.AdhocTaskScriptToolFactory"/>
       <processor
             factory="com.tibco.xpd.js.validation.tools.RestServiceJScriptToolFactory">
       </processor>
   </extension>
   <extension
         point="com.tibco.xpd.destinations.ui.processDestinationEnvironments">
      <processDestinationEnvironment
            id="javaScript1.x"
            name="JavaScript"
            userSelectable="false"
            validationDestinationId="javaScript1.x"
            version=""/>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="javaScript1.x">
         <scriptContribution
               scriptContext="CancelledScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CompletedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DeadlineExpiredScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="InitiatedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MILoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SequenceFlow">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="AdhocPrecondition">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="JavaServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider"
                  name="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.PerformerScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.PerformerScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.PerformerScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleTimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.RescheduleTimeEventScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.RescheduleTimeEventScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="WebServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.WebServiceJsScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.WebServiceJsScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.WebServiceJsScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DecFlowServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
      </destination>
   </extension>

</plugin>
