
    .fa8fac178-b9b2-4fa1-9bb2-aa786a7d1bf7 .pane_messages > .label {
        display:none !important;
    }
    .fa8fac178-b9b2-4fa1-9bb2-aa786a7d1bf7 .pane_toolbar > .label {
        display:none !important;
    }
    .fa8fac178-b9b2-4fa1-9bb2-aa786a7d1bf7 .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fa8fac178-b9b2-4fa1-9bb2-aa786a7d1bf7 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
