<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="workingCopyFactory" name="workingCopyFactory" schema="schema/workingCopyFactory.exsd"/>
   <extension-point id="specialFolders" name="Special Folders" schema="schema/specialFolders.exsd"/>
   <extension-point id="projectAsset" name="Project Asset" schema="schema/projectAsset.exsd"/>
   <extension-point id="projectAssetBinding" name="Project Asset Binding to New Project Wizard" schema="schema/projectAssetBinding.exsd"/>
   <extension-point id="workingCopyDependencyProvider" name="Working Copy Dependency Provider" schema="schema/workingCopyDependencyProvider.exsd"/>
   <extension-point id="migrateProject" name="Migrate Project" schema="schema/migrateProject.exsd"/>
   <extension-point id="resourcePreLoader" name="Transactional Editing Domain Resource Pre-Loader" schema="schema/resourcePreLoader.exsd"/>
   <extension-point id="specialFolderFileBinding" name="Special Folder File Binding" schema="schema/specialFolderFileBinding.exsd"/>
   <extension-point id="itemProviderAdapterOverride" name="itemProviderAdapterOverride" schema="schema/itemProviderAdapterOverride.exsd"/>
   
   <extension-point id="workingCopyIndexer" name="Working Copy Indexer" schema="schema/workingCopyIndexer.exsd"/>
   <extension-point id="projectConfigListeners" name="Project Config Listeners" schema="schema/projectConfigListeners.exsd"/>
   <extension-point id="precompileContributor" name="precompileContributor" schema="schema/precompileContributor.exsd"/>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="com.tibco.xpd.resources.xpdNature"
            icon="icons/xpd_ovr.png"
            id="com.tibco.xpd.resources.xpdnature.image"/>
   </extension>
   
   <extension
         id="xpdNature"
         name="XPD Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.resources.builder.XpdProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="invalidFileProblem"
         name="%invalidFile_marker_label"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="com.tibco.xpd.resources.ProjectName"/>
      <attribute name="com.tibco.xpd.resources.UserChoice"/>
   </extension>
   <extension
         id="workingCopyCache"
         name="%workingCopy_cache_marker_label"
         point="org.eclipse.core.resources.markers">
      <attribute name="com.tibco.xpd.resources.dependecyListChache"/>
      <persistent value="true"/>
      <attribute name="com.tibco.xpd.resources.customAttributes"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.tibco.xpd.resources.projectconfig.ProjectConfigPackage"
            uri="http://www.tibco.com/XPD/projectConfig"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.resources.propertytesters.EObjectTester"
            id="com.tibco.xpd.resources.eobjectTester"
            namespace="com.tibco.xpd.resources.eobjecttest"
            properties="isFromPackage"
            type="org.eclipse.emf.ecore.EObject"/>
      <propertyTester
            class="com.tibco.xpd.resources.propertytesters.SpecialFolderTester"
            id="com.tibco.xpd.resources.specialFolderTester"
            namespace="com.tibco.xpd.resources.specialfolder"
            properties="isInGeneratedSpecialFolder, inSpecialFolder, containsSpecialFolder, isRootSpecialFolder, isSpecialFolderNotEmpty"
            type="org.eclipse.core.resources.IResource"/>
      <propertyTester
            class="com.tibco.xpd.resources.propertytesters.SpecialFolderTester"
            id="com.tibco.xpd.resources.specialFolderTester"
            namespace="com.tibco.xpd.resources.specialfolder"
            properties="inSpecialFolder, containsSpecialFolder, isRootSpecialFolder"
            type="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
      <propertyTester
            class="com.tibco.xpd.resources.propertytesters.SpecialFolderTester2"
            id="com.tibco.xpd.resources.specialFolderTester2"
            namespace="com.tibco.xpd.resources.specialfolder"
            properties="isOfKind"
            type="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
      <propertyTester
            class="com.tibco.xpd.resources.propertytesters.SpecialFolderConfigTester"
            id="com.tibco.xpd.resources.specialFolderConfigTester"
            namespace="com.tibco.xpd.resources.specialfolder"
            properties="isOfKind"
            type="org.eclipse.core.resources.IFolder"/>
       <propertyTester
              id="com.tibco.xpd.resources.BundlePropertyTester"
              type="java.lang.Object"
              namespace="com.tibco.xpd.resources.platform"
              properties="product,isBundleInstalled,bundleState"
              class="com.tibco.xpd.resources.propertytesters.PlatformPropertyTester">
        </propertyTester>
       <propertyTester
             class="com.tibco.xpd.resources.propertytesters.SpecialFolderTester"
             id="com.tibco.xpd.resources.specialFolderTester"
             namespace="com.tibco.xpd.resources.specialfolder"
             properties="inSpecialFolder, containsSpecialFolder, isRootSpecialFolder"
             type="org.eclipse.emf.ecore.EObject">
       </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.IFileEditorInput"
            class="com.tibco.xpd.resources.wc.gmf.EditorInputAdapterFactory">
         <adapter type="com.tibco.xpd.resources.WorkingCopy"/>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.common.ui.URIEditorInput"
            class="com.tibco.xpd.resources.wc.gmf.URIEditorInputAdapterFactory">
         <adapter
               type="com.tibco.xpd.resources.WorkingCopy">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="com.tibco.xpd.resources.wc.WorkingCopyPropertySource">
         <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
      </factory>
      <factory
            adaptableType="com.tibco.xpd.resources.projectconfig.SpecialFolder"
            class="com.tibco.xpd.resources.projectconfig.provider.SpecialFolderAdapterFactory">
         <adapter type="org.eclipse.core.resources.IResource"/>
         <adapter type="org.eclipse.core.resources.IFolder"/>
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.resources.projectconfig.wc.ProjectConfigWorkingCopyFactory"
            filePattern="\.config"/>
   </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.resources.ui.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.tibco.xpd.resources.migrateproject.action.MigrateProjectAction"
               icon="icons/xpdProject.png"
               id="com.tibco.xpd.resources.ui.migrateAction"
               label="%migrateProjectAction_label"
               menubarPath="group.new"
               tooltip="%migrateProjectAction_tooltip">
            <enablement>
               <objectState
                     name="projectNature"
                     value="com.tibco.xpd.resources.bpmNature"/>
            </enablement>
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="com.tibco.xpd.resources.bpmNature"/>
         </visibility>
      </objectContribution>
   </extension>
    <extension
          point="org.eclipse.emf.transaction.editingDomains">
       <editingDomain
             factory="com.tibco.xpd.resources.wc.gmf.XpdEditingDomainFactory"
             id="com.tibco.xpd.resources.editingDomain">
       </editingDomain>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.tibco.xpd.resources.internal.wc.WorkingCopyPropertyTester"
             id="com.tibco.xpd.resources.wcTester"
             namespace="com.tibco.xpd.resources.wc"
             properties="hasWorkingCopy, isWorkingCopyDirty"
             type="org.eclipse.core.resources.IResource">
       </propertyTester>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.tibco.xpd.resources.internal.ResourcePreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="com.tibco.xpd.resources.refactoring.ResourceNameRefactorParticipant"
             id="com.tibco.xpd.resources.renameProjectNameParticipant"
             name="Resource Rename Participant">
          <enablement>
             <instanceof
                   value="org.eclipse.core.resources.IResource">
             </instanceof>
          </enablement>
       </renameParticipant>
       <renameParticipant
             class="com.tibco.xpd.resources.refactoring.InvalidFileMarkerRemoverRenameParticipant"
             id="com.tibco.xpd.resources.invalidFileMarkerRemoverParticipant"
             name="InvalidFileMarkerRemoverParticipant">
          <enablement>
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
          </enablement>
       </renameParticipant>
       <renameParticipant
             class="com.tibco.xpd.resources.refactoring.ProjectRenameParticipant"
             id="com.tibco.xpd.forms.designer.resources.project.renameParticipant"
             name="Project Rename Participant">
          <enablement>
             <with
                   variable="element">
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
             </with>
          </enablement>
       </renameParticipant>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="com.tibco.xpd.resources.internal.InvalidFileProblemMarkerResolutionGenerator"
             markerType="com.tibco.xpd.resources.invalidFileProblem">
       </markerResolutionGenerator>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.deleteParticipants">
       <deleteParticipant
             class="com.tibco.xpd.resources.refactoring.ProjectDeleteParticipant"
             id="com.tibco.xpd.resources.project.deleteParticipant"
             name="Project Delete Participant">
          <enablement>
             <with
                   variable="element">
                <instanceof
                      value="org.eclipse.core.resources.IProject">
                </instanceof>
             </with></enablement>
       </deleteParticipant>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.tibco.xpd.resources.propertytesters.ProjectAssetPropertyTester"
             id="com.tibco.xpd.resources.projectAsset.propertyTester"
             namespace="com.tibco.xpd.resources.projectAsset"
             properties="hasAssets"
             type="org.eclipse.core.resources.IProject">
       </propertyTester>
    </extension>
    <extension
          id="preCompiledProjectNature"
          name="%preCompiledProjectNature.title"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="com.tibco.xpd.resources.precompile.PreCompiledProjectNature">
          </run>
       </runtime>
    </extension>
   
</plugin>
