<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.rest.schema.ui.internal.editor.JsonSchemaEditorPart"
            contributorClass="com.tibco.xpd.rest.schema.ui.internal.editor.JsonSchemaEditorContributor"
            default="false"
            extensions="jsd"
            icon="icons/JSONFileIcon.png"
            id="com.tibco.xpd.rest.schema.ui.json.editor"
            name="%com.tibco.xpd.rest.schema.ui.json.editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.rest.ui.new.category"
            class="com.tibco.xpd.rest.schema.ui.internal.wizard.NewJsonSchemaWizard"
            hasPages="true"
            icon="icons/JSONFileIcon.png"
            id="com.tibco.xpd.rest.schema.wizard.new"
            name="%com.tibco.xpd.rest.schema.ui.wizard.json.new">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.importWizard.bpm.category"
            class="com.tibco.xpd.rest.schema.ui.internal.wizard.ImportJsonSchemaWizard"
            icon="icons/JSONFileIcon.png"
            id="com.tibco.xpd.rest.schema.ui.wizard.json.import"
            name="%com.tibco.xpd.rest.schema.ui.wizard.json.import">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.tibco.xpd.rest.schema.wizard.new">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="rest">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="rest">
                  </test>
               </and>
            </or></enablement>
      </commonWizard>
      <commonWizard
            type="import"
            wizardId="com.tibco.xpd.rest.schema.ui.wizard.json.import">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="rest">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="rest">
                  </test>
               </and>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.pickerContent">
      <pickerContentProvider
            id="com.tibco.xpd.rest.schema.json.type.picker"
            itemProvider="com.tibco.xpd.rest.schema.ui.internal.editor.UmlTypePickerContentProvider"
            labelProvider="com.tibco.xpd.rest.schema.ui.internal.editor.UmlTypePickerLabelProvider">
      </pickerContentProvider>
      <pickerContentProvider
            id="com.tibco.xpd.rest.schema.json.primitive.picker"
            itemProvider="com.tibco.xpd.bom.resources.ui.commonpicker.BOMPickerItemProvider"
            labelProvider="com.tibco.xpd.rest.schema.ui.internal.editor.UmlTypePickerLabelProvider">
      </pickerContentProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.xpd.rest.schema.ui.json.editor"
            labelProvider="com.tibco.xpd.rest.schema.ui.internal.editor.UmlJsonSchemaTitleLabelProvider">
         <propertyCategory
               category="general"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.rest.schema.ui.json.editor">
         <propertyTab
               category="general"
               id="com.tibco.xpd.rest.schema.ui.json.editor.generalTab"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.rest.schema.ui.json.editor">
         <propertySection
               class="com.tibco.xpd.rest.schema.ui.internal.editor.JsonSchemaClassSection"
               enablesFor="1"
               id="com.tibco.xpd.rest.schema.ui.editorClassSection"
               tab="com.tibco.xpd.rest.schema.ui.json.editor.generalTab">
            <input
                  type="org.eclipse.uml2.uml.Class">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.rest.schema.ui.internal.editor.JsonSchemaPropertySection"
               enablesFor="1"
               id="com.tibco.xpd.rest.schema.ui.editorPropertySection"
               tab="com.tibco.xpd.rest.schema.ui.json.editor.generalTab">
            <input
                  type="org.eclipse.uml2.uml.Property">
            </input>
            <input
                  type="com.tibco.xpd.rest.schema.ui.internal.editor.UmlTreePropertyNode">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="com.tibco.xpd.rest.schema.ui.internal.editor.CopyPasteActionHandlerProvider"
            id="com.tibco.xpd.rest.schema.ui.CopyPasteActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="com.tibco.xpd.rest.schema.ui.json.editor">
            <ElementType
                  class="com.tibco.xpd.rest.schema.ui.internal.editor.UmlTreePropertyNode">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="org.eclipse.uml2.uml.Class">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="org.eclipse.uml2.uml.Property">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
        <!-- JSON Schema File Export Documentation Wizard Contribution -->
 	 <extension
         point="com.tibco.xpd.resources.ui.documentViewerContribution">
     	 <documentViewerContribution
            documentGenerator="com.tibco.xpd.rest.json.schema.doc.JsonDocXsltGeneration"
            fileExtensions="jsd"
            specialFolders="rest">
    	  </documentViewerContribution>
  	 </extension>
  	 <!-- JSON Schema File Export Documentation File Contribution -->
   	 <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     	 <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.restContent"
            type="export"
            wizardId="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard">
         	   <enablement>
        		  <or>
           			  <and>
            		    <instanceof
               		       value="org.eclipse.core.resources.IFile">
            		    </instanceof>
            		    <test
            	          property="org.eclipse.core.resources.extension"
            	          value="jsd">
            		    </test>
           			  </and>
           			  <and>
                   		  <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                    	 </instanceof>
                    	 <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="rest">
                    	 </test>
                 	 </and>
         		 </or>
       		</enablement>
     	 </commonWizard>
   </extension>

</plugin>
