<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.wfmc.org/2008/XPDL2.1" 
       class = "com.tibco.xpd.xpdl2.Xpdl2Package"
       genModel = "model/xpdl2.genmodel" /> 
  </extension>
  
  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="xpdl" 
       class="com.tibco.xpd.xpdl2.util.Xpdl2ResourceFactoryImpl" />
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XpdExtension -->
      <package
            uri="http://www.tibco.com/XPD/xpdExtension1.0.0"
            class="com.tibco.xpd.xpdExtension.XpdExtensionPackage"
            genModel="model/XpdExtension.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated XpdExtension -->
      <parser
            type="xpdextension"
            class="com.tibco.xpd.xpdExtension.util.XpdExtensionResourceFactoryImpl"/>
   </extension>
</plugin>

