
    .fe276383b-b06f-4d66-8895-bc68ac35a819 .pane_messages > .label {
        display:none !important;
    }
    .fe276383b-b06f-4d66-8895-bc68ac35a819 .pane_toolbar > .label {
        display:none !important;
    }
    .fe276383b-b06f-4d66-8895-bc68ac35a819 .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fe276383b-b06f-4d66-8895-bc68ac35a819 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
