<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.preProcessor">
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.TransitionsToolFactory"/>
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.LoopAnalyserFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.BranchAnalyserFactory"/>
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.LoopGrouperFactory"/>
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.SplitJoinGroupAnalyserFactory"/>
      <processor
            factory="com.tibco.xpd.validation.xpdl2.tools.ProcessFlowAnalyserFactory">
      </processor>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="com.tibco.xpd.validation.xpdl2.file"
            name="%destination.name.0"
            selectable="false"
            version="2.1">
         <validationProvider id="com.tibco.xpd.validation.xpdl2.fileValidationProvider"/>
         <filter class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter"/>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.validation.xpdl2.fileValidationProvider"
            name="XPDL File Validator"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileScopeProvider">
         <rule class="com.tibco.xpd.validation.xpdl2.rules.file.DuplicateProcessIdsValidationRule"/>
      </provider>
      <issue
            id="com.tibco.xpd.validation.xpdl2.duplicateIDs"
            message="%issue.message.fileswithduplicateid.message"
            severity="ERROR"/>
      <issue
            id="com.tibco.xpd.validation.xpdl2.duplicateIDsInTheFile"
            message="%issue.message.onefilewithduplicateid.message"
            severity="ERROR">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            class="com.tibco.xpd.validation.xpdl2.resolutions.RecreateObjectIDs"
            id="com.tibco.xpd.validation.xpdl2.duplicateIDs"
            label="%resolution.label.recreateobjectids.message"/>
   </extension>

</plugin>
