<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="java.lang.Object"
            id="com.tibco.xpd.core.createtestwizards.createBaseTestWizard">
         <menu
               label="Test Creation Wizards"
               path="group.generate"
               id="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu">
            <groupMarker
                  name="group.testCreation">
            </groupMarker>
         </menu>
         <action
               class="com.tibco.xpd.core.createtestwizards.validationtestwizard.CreateValidationTestAction"
               enablesFor="*"
               icon="icons/problem.gif"
               id="com.tibco.xpd.core.createtestwizards.validationtestwizard.newAction"
               label="Create Test For Validation Problems"
               menubarPath="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu/group1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.tibco.xpd.core.createtestwizards.CreateBaseTestAction"
               enablesFor="*"
               icon="icons/createTestWizard16.gif"
               id="com.tibco.xpd.core.createtestwizards.newAction"
               label="Create Test For Selected Resources"
               menubarPath="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu/group1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <enablement></enablement>
      </objectContribution>
      <objectContribution
            id="com.tibco.xpd.core.createtestwizards.createBaseTestWizard.classapi"
            objectClass="java.lang.Object">
         <action
               class="com.tibco.xpd.core.createtestwizards.classapi.CreateClassApiTestAction"
               enablesFor="1"
               icon="icons/class.gif"
               id="com.tibco.xpd.core.createtestwizards.classapitestwizard.newAction"
               label="Create Class Api Test"
               menubarPath="com.tibco.xpd.core.createtestwizards.testCreationWizardsMenu/group1">
            <enablement>
               <objectClass
                     name="org.eclipse.jdt.core.IPackageFragment">
               </objectClass>
            </enablement>
         </action>
      </objectContribution>
   </extension>

</plugin>
