
    .f3738ce82-9bdb-4d23-8268-719bcbbaba6e .pane_toolbar > .label {
        display:none !important;
    }
    .f3738ce82-9bdb-4d23-8268-719bcbbaba6e .pane_root > .label {
        
display:block !important;    }
    .f3738ce82-9bdb-4d23-8268-719bcbbaba6e .pane_messages > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.f3738ce82-9bdb-4d23-8268-719bcbbaba6e > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
