<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="rest.service.destination"
            name="%rest.service.destination"
            selectable="false"
            version="">
         <filter
               class="com.tibco.xpd.rsd.validator.RsdFileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.rsd.validator.provider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.rsd.validator.provider"
            name="com.tibco.xpd.rsd.validator.provider"
            scopeProvider="com.tibco.xpd.rsd.validator.providers.RSDScopeProvider">
         <rule
               class="com.tibco.xpd.rsd.validator.rules.RestServiceDefinitionRule">
         </rule>
      </provider>
      <issue
            id="rest.invalidPath"
            message="%rest.invalidPath"
            severity="ERROR">
      </issue>
      <issue
            id="rest.encodedPath"
            message="%rest.encodedPath"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="resolution.rest.decodePath">
         </resolution>
      </issue>
      <issue
            id="rest.unusedPathParameter"
            message="%rest.unusedPathParameter"
            severity="WARNING">
      </issue>
      <issue
            id="rest.missingProjectReference"
            message="%rest.missingProjectReference"
            severity="ERROR">
      </issue>
      <issue
            id="rest.missingTypeReference"
            message="%rest.missingTypeReference"
            severity="ERROR">
      </issue>
      <issue
            id="rest.nonRootTypeReference"
            message="%rest.nonRootTypeReference"
            severity="ERROR">
      </issue>
      <issue
            id="rest.duplicateTypeReference"
            message="%rest.duplicateTypeReference"
            severity="ERROR">
      </issue>
      <issue
            id="rest.invalidResourcePathParam"
            message="%rest.invalidResourcePathParam"
            severity="ERROR">
      </issue>
      <issue
            id="rest.invalidRequestQueryParameter"
            message="%rest.invalidRequestQueryParameter"
            severity="ERROR">
      </issue>
      <issue
            id="rest.invalidRequestHeaderParameter"
            message="%rest.invalidRequestHeaderParameter"
            severity="ERROR">
      </issue>
      <issue
            id="rest.invalidResponseHeaderParameter"
            message="%rest.invalidResponseHeaderParameter"
            severity="ERROR">
      </issue>
      <issue
            id="rest.noParameterType"
            message="%rest.noParameterType"
            severity="ERROR">
      </issue>
      <issue
            id="rest.invalidParameterDefault"
            message="%rest.invalidParameterDefault"
            severity="ERROR">
      </issue>
      <issue
            id="rest.missingFaultCode"
            message="%rest.missingFaultCode"
            severity="ERROR">
      </issue>
      <issue
            id="rest.duplicateParameterName"
            message="%rest.duplicateParameterName"
            severity="ERROR">
      </issue>
      <issue
            id="rest.duplicateFaultCode"
            message="%rest.duplicateFaultCode"
            severity="ERROR">
      </issue>
      <issue
            id="rest.contentTypeHeaderParamReserved"
            message="%rest.contentTypeHeaderParamReserved"
            severity="ERROR">
      </issue>
      <issue
            id="rest.acceptHeaderParamReserved"
            message="%rest.acceptHeaderParamReserved"
            severity="ERROR">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.rsd.validator.rules.DecodeRestPathResolution"
            description="%resolution.rest.decodePath"
            id="resolution.rest.decodePath"
            label="%resolution.rest.decodePath">
      </resolution>
   </extension>

</plugin>
