<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="comparisonReportType" name="Comparison Report Type" schema="schema/comparisonReportType.exsd"/>
   <extension-point id="defaultComparisonReport" name="Default Comparison Report" schema="schema/defaultComparisonReport.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.simulation.compare.editor.SimulationCompareEditor"
            default="false"
            icon="icons/SimulationCompare.gif"
            id="com.tibco.xpd.simulation.compare.editor"
            name="%compareSimulationResults_editor_title"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.simulation.compare"
            nameFilter="*.sim"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.tibco.xpd.simulation.compare.CompareResultsAction"
               icon="icons/SimulationCompare.gif"
               id="com.tibco.xpd.simulation.compare.action"
               label="%compareSimulationResultsLabel"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="com.tibco.xpd.simulation.compare.comparisonReportType">
      <report
            description="BIRT Report Generator"
            factory="com.tibco.xpd.simulation.compare.report.BirtReportFactory"
            id="birtReport"
            title="%simulationBirtReport_label"/>
      <report
            description="XSLT Report Generator"
            factory="com.tibco.xpd.simulation.compare.report.XsltReportFactory"
            id="xsltReport"
            title="%simulationXsltReport_label"/>
   </extension>
   <extension
         point="com.tibco.xpd.simulation.compare.defaultComparisonReport">
      <report
            name="%participantUtilisationDefaultReportName">
         <birt file="reports/ParticipantUtilisation.rptdesign"/>
      </report>
      <report
            name="%caseCostTimeDefaultReportName">
         <birt file="reports/CaseCostTimeReport.rptdesign"/>
      </report>
      <report name="%simulationResultsDefaultReportName">
         <xslt
               file="reports/SimulationReportHtml.xslt"
               zip="reports/SimulationReportFiles.zip"/>
      </report>
   </extension>
    <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.importWizard.bpm.category"
            class="com.tibco.xpd.simulation.compare.wizard.RegisterReport"
            icon="icons/SimulationCompare.gif"
            id="com.tibco.xpd.simulation.compare.wizard.registerreport"
            name="%simulationComparisonReport_wizard_title">
         <description>
            %importSimulationComparison_report_wizard_title
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.simulation.ui.SimulationPreferencePage"
            class="com.tibco.xpd.simulation.compare.preferences.ReportManagementPreferencePage"
            id="com.tibco.xpd.simulation.compare.preferences.ReportManagementPreferencePage"
            name="%reportManagementLabel"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
                  class="com.tibco.xpd.simulation.compare.providers.ProcessActionProvider"
                  id="com.tibco.xpd.projectExplorer.action.xpdl2.CompareResultsProcessAction">
               <enablement>
                  <and>
                     <instanceof value="com.tibco.xpd.xpdl2.Process"/>
                  	 <test
                          forcePluginActivation="true"
                          property="com.tibco.destinations.ui.hasDestinationEnvironment"
                          value="simulation1.2"/>
                  </and>
               </enablement>
            </actionProvider> 
   </extension>
</plugin>
