<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="repositoryConfigWizardPage" name="Repository Parameters Config Wizard Page" schema="schema/repositoryConfigWizardPage.exsd"/>
   <extension-point id="deployWizards" name="Deploy Wizard" schema="schema/deployWizards.exsd"/>
   <extension-point id="addServerWizardPage" name="Add Server Wizard Page" schema="schema/addServerWizardPage.exsd"/>
   <extension-point id="dragAndDropDeployment" name="Drag And Drop Deployment" schema="schema/dragAndDropDeployment.exsd"/>
   <extension-point id="deployResolver" name="Deploy Resolver" schema="schema/deployResolver.exsd"/>
   <extension-point id="defaultServers" name="defaultServers" schema="schema/defaultServers.exsd"/>
 
      <!-- 
      		Sid ACE-2918 Deploy Server view was removed from the Modelling perspectives BUT
      		We should not contribute the Deploy Server view at all
            OTHERWISE, the user can still access it via the Window->Open View dialog and 
            delete the dummy deploy server created for ACE BPM Live Dev View....

		THEREFORE ALL CONTRIBUTIONS COMMENTED FOR NOW UNTIL WE NEED TO INTRODUCE DEPLOY SERVERS FOR ACE
		
		IF THIS ALL-CONTRIBUTIONS COMMENT OUT IS REMOVED THEN LOOK FOR TODO's below to re-comment out 
			a couple previously commented out sections related to server groups  

      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerContentBinding viewerId="com.tibco.xpd.deploy.server.view">
            <includes>
               <contentExtension
                     isRoot="true"
                     pattern="com.tibco.xpd.deploy.navigatorContent"/>
               <contentExtension
                     pattern="com.tibco.xpd.deploy.ui.contentExtension.*">
               </contentExtension>
               <contentExtension pattern="com.tibco.xpd.deploy.ui.filters.*"/>
            </includes>
         </viewerContentBinding>
         <viewerActionBinding viewerId="com.tibco.xpd.deploy.server.view">
            <includes>
               <actionExtension pattern="com.tibco.xpd.deploy.projectexplorer.*"/>
            </includes>
         </viewerActionBinding>
      </extension>
      
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <navigatorContent
               activeByDefault="true"
               contentProvider="com.tibco.xpd.deploy.ui.providers.DeployTreeContentProvider"
               icon="icons/obj16/ServerContainer.png"
               id="com.tibco.xpd.deploy.navigatorContent"
               labelProvider="com.tibco.xpd.deploy.ui.providers.DeployLabelProvider"
               name="%navigatorContent_DeploymentName_shortdesc"
               priority="lower">
            <triggerPoints>
               <or>
                  <instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
               </or>
            </triggerPoints>
            <possibleChildren>
               <or>
               <and>
                     <instanceof value="org.eclipse.emf.ecore.EObject"/>
                     <test
                           property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                           value="deploy.model"/>
                  </and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
               </instanceof>
               </or>
            </possibleChildren>
            <commonWizard
                  type="new"
                  wizardId="com.tibco.xpd.deploy.ui.newServerWizard">
                <enablement>
                  <or>
                     <instanceof value="com.tibco.xpd.deploy.ServerContainer"/>
                     <instanceof value="com.tibco.xpd.deploy.Server"/>
                     <instanceof value="com.tibco.xpd.deploy.ServerGroup"/>
                  </or>
               </enablement>
            </commonWizard>
            
!- TODO Uncomment for server groups. ===============================================
            <commonWizard
                  type="new"
                  wizardId="com.tibco.xpd.deploy.ui.newServerGroupWizard">
                <enablement>
                  <or>
                     <instanceof value="com.tibco.xpd.deploy.ServerContainer"/>
                     <instanceof value="com.tibco.xpd.deploy.Server"/>
                     <instanceof value="com.tibco.xpd.deploy.ServerGroup"/>
                  </or>
               </enablement>
            </commonWizard>
- ==========================================================================
            
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.ConnectivityActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.ConnectivityActions">
               <enablement>
                       <instanceof
                             value="com.tibco.xpd.deploy.Server">
                       </instanceof>
               </enablement>
             </actionProvider>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.GroupConnectivityActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.GroupConnectivityActions">
               <enablement>
                       <instanceof
                             value="com.tibco.xpd.deploy.ServerGroup">
                       </instanceof>
               </enablement>
             </actionProvider>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.ServerElementManagementActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.ServerElementManagementActionProvider">
               <enablement>
                     	<instanceof value="com.tibco.xpd.deploy.ServerElement"/>
               </enablement>
            </actionProvider>
            <commonSorter
                  class="com.tibco.xpd.deploy.ui.providers.ServerElementSorter"
                  id="com.tibco.xpd.deploy.ui.serverElementSorter">
               <parentExpression>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.deploy.ServerElement">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.deploy.Server">
                     </instanceof>
                  </or>
               </parentExpression>
            </commonSorter>
            <dropAssistant
                  class="com.tibco.xpd.deploy.ui.navigator.DeployServerDropAdapterAssistant"
                  id="com.tibco.xpd.deploy.ui.dnd.assistant">
               <possibleDropTargets>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.deploy.Server">
                     </instanceof>
                  </or>
               </possibleDropTargets>
            </dropAssistant>
         </navigatorContent>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.NewActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.NewActions">
               <enablement>
                  <or>
                  	 <instanceof value="com.tibco.xpd.deploy.ServerContainer"/>
                     <instanceof value="com.tibco.xpd.deploy.Server"/>
                     <instanceof
                           value="com.tibco.xpd.deploy.ServerGroup">
                     </instanceof>
                  </or>
               </enablement>
            </actionProvider>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.PropertiesActionProvider">
               <enablement>
                      <or>
                         <instanceof
                               value="com.tibco.xpd.deploy.Server">
                         </instanceof>
                         <instanceof
                               value="com.tibco.xpd.deploy.ServerGroup">
                         </instanceof>
                      </or>
               </enablement>
            </actionProvider>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.RefreshActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.RefreshActionProvider">
               <enablement>
                     <instanceof
                           value="com.tibco.xpd.deploy.Server">
                     </instanceof>                        
               </enablement>
            </actionProvider>
            <actionProvider
                  class="com.tibco.xpd.deploy.ui.providers.RefreshGroupActionProvider"
                  id="com.tibco.xpd.deploy.projectexplorer.RefreshGroupActionProvider">
               <enablement>
                     <instanceof
                           value="com.tibco.xpd.deploy.ServerGroup">
                     </instanceof>
               </enablement>
            </actionProvider>
      </extension>

      <extension
            point="org.eclipse.ui.newWizards">
         <category
               id="com.tibco.xpd.deploy.ui.deploymentNewWizardCategory.ID"
               name="%category_NewWizardName_shortdesc"
               parentCategory="com.tibco.xpd.newWizard.modeling.category"/>
         <wizard
               category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.deploy.ui.deploymentNewWizardCategory.ID"
               class="com.tibco.xpd.deploy.ui.wizards.addserver.AddServerWizard"
               finalPerspective="com.tibco.xpd.branding.perspective"
               icon="icons/elcl16/add_server.png"
               id="com.tibco.xpd.deploy.ui.newServerWizard"
               name="%wizard_NewDeploymentServerName_shortdesc">
            <description>
               %newDeployServerWizard.description
            </description>
         </wizard>
         
!- TODO Uncomment for server groups. ===============================================
         <wizard
               category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.deploy.ui.deploymentNewWizardCategory.ID"
               class="com.tibco.xpd.deploy.ui.wizards.addserver.AddServerGroupWizard"
               finalPerspective="com.tibco.xpd.branding.perspective"
               icon="icons/elcl16/add_servergroup.gif"
               id="com.tibco.xpd.deploy.ui.newServerGroupWizard"
               name="%wizard_NewDeploymentServerGroupName_shortdesc">
            <description>
               %newDeployServerGroupWizard.description
            </description>
         </wizard>
- =====================================================
         
      </extension>
      <extension
            point="org.eclipse.ui.propertyPages">
         <page
               class="com.tibco.xpd.deploy.ui.properties.ServerGroupGeneralPropertyPage"
               id="com.tibco.xpd.deploy.ui.properties.serverGroupGeneralPropertyPage"
               name="Server Group General"
               objectClass="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable">
            <enabledWhen>
                	<test
                      property="com.tibco.xpd.deploy.ui.servertester.adaptsTo"
                      value="com.tibco.xpd.deploy.ServerGroup"/>
            </enabledWhen>

         </page>
         <page
               class="com.tibco.xpd.deploy.ui.properties.ServerInfoPropertyPage"
               id="com.tibco.xpd.deploy.ui.properties.serverInfoPropertyPage"
               name="%PropertyPage_ServerGeneral_shortdesc"
               objectClass="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable">
            <enabledWhen>
              	<and>
               <test
                     property="com.tibco.xpd.deploy.ui.servertester.adaptsTo"
                     value="com.tibco.xpd.deploy.Server">
               </test>
               	<test
                     property="com.tibco.xpd.deploy.ui.servertester.validServerType"
                     value="true"/>
               </and>
            </enabledWhen>
         </page>
         <page
               class="com.tibco.xpd.deploy.ui.properties.WorkspaceModulesPage"
               id="com.tibco.xpd.deploy.ui.properties.workspaceModulesPropertyPage"
               name="%PropertyPage_AutoDeployedModules_shortdesc"
               objectClass="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable">
            <enabledWhen>
              	<and>
               <test
                      property="com.tibco.xpd.deploy.ui.servertester.adaptsTo"
                      value="com.tibco.xpd.deploy.Server"/>
               	<test
                     property="com.tibco.xpd.deploy.ui.servertester.validServerType"
                     value="true"/>
               </and>
            </enabledWhen>
         </page>
         <page
               class="com.tibco.xpd.deploy.ui.properties.RuntimeClientPropertyPage"
               id="com.tibco.xpd.deploy.ui.properties.runtimeClientPropertyPage"
               name="%PropertyPage_ClientRuntime_shortdesc"
               objectClass="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable">
            <enabledWhen>
              	<and>
                  <test
                      property="com.tibco.xpd.deploy.ui.servertester.adaptsTo"
                      value="com.tibco.xpd.deploy.Server"/>
               	<test
                     property="com.tibco.xpd.deploy.ui.servertester.hasRuntime"
                     value="true"/>
               	<test
                     property="com.tibco.xpd.deploy.ui.servertester.validServerType"
                     value="true"/>
               </and>
            </enabledWhen>
         </page>
         <page
               category="com.tibco.xpd.deploy.ui.properties.serverInfoPropertyPage"
               class="com.tibco.xpd.deploy.ui.properties.RepositoryInfoPropertyPage"
               id="com.tibco.xpd.deploy.ui.properties.repositoryPropertyPage"
               name="%repositoryProperties"
               objectClass="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable">
            <enabledWhen>
              	<and>
               <test
                      property="com.tibco.xpd.deploy.ui.servertester.adaptsTo"
                      value="com.tibco.xpd.deploy.Server"/>
               	<test
                     property="com.tibco.xpd.deploy.ui.servertester.validServerType"
                     value="true"/>
               </and>
            </enabledWhen>
         </page>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.ui.repositoryConfigWizardPage">
         <repositoryConfigWizardPage
               repositoryTypeId="com.tibco.xpd.deploy.ui.LocalFolderRpository"
               repositoryWizardPage="com.tibco.xpd.deploy.ui.wizards.repository.LocalFolderRepositoryPage"/>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.core.repositoryTypes">
         <repositoryType
               id="com.tibco.xpd.deploy.ui.LocalFolderRpository"
               name="%LocalFolderRepository_shortdesc"
               repositoryPublisher="com.tibco.xpd.deploy.ui.LocalFolderPublisher">
            <parameters>
               <configParameter
                     defaultValue="${eclipse.pluginStateLocation}/temp"
                     key="publishingFolder"
                     label="%PublishingFolder_label"
                     name="%PublishingFolder_shortdesc"
                     parameterType="string"
                     required="true"/>
               <configParameter
                     defaultValue="${eclipse.pluginStateLocation.url}temp"
                     key="inquiryUrl"
                     label="%InguiryUrl_label"
                     name="%InquiryUrl_shortdesc"
                     parameterType="string"
                     required="true"/>
            </parameters>
         </repositoryType>
      </extension>
      <extension
            point="com.tibco.xpd.deploy.core.repositoryTypes">
         <repositoryType
               id="com.tibco.xpd.deploy.ui.WorkspaceRpository"
               name="%WorkspaceRepository_shortdesc"
               repositoryPublisher="com.tibco.xpd.deploy.ui.WorkspacePublisher">
         </repositoryType>
      </extension>

      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="com.tibco.xpd.deploy.ui.preferences.ClientRuntimesPreferencePage"
               id="com.tibco.xpd.deploy.ui.preferences.ClientRuntimesPreferencePage"
               name="%PreferencePage_ClientRuntimes_shortdesc">
            <keywordReference id="com.tibco.xpd.deploy.ui.preferences.ClientRuntimesPreferencePage"/>
         </page>
         <page
               class="com.tibco.xpd.deploy.ui.preferences.DeploymentPreferencePage"
               id="com.tibco.xpd.deploy.ui.preferences.DeploymentPreferencePage"
               name="%DeploymentPreferencePage_shortdesc">
            <keywordReference
                  id="com.tibco.xpd.deploy.ui.preferences.DeploymentPreferencePage">
            </keywordReference>
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.keywords">
         <keyword
               id="com.tibco.xpd.deploy.ui.preferences.ClientRuntimesPreferencePage"
               label="%preferenceKeywords.ClientRuntimesPreferencePage"/>
         <keyword
               id="com.tibco.xpd.deploy.ui.preferences.DeploymentPreferencePage"
               label="%preferenceKeywords.DeploymentPreferencePage">
         </keyword>
      </extension>
      <extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="com.tibco.xpd.deploy.Server"
               class="com.tibco.xpd.deploy.ui.properties.DeployPropertySourceAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         </factory>
         <factory
               adaptableType="com.tibco.xpd.deploy.ServerElement"
               class="com.tibco.xpd.deploy.ui.properties.DeployPropertySourceAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         </factory>
         <factory
               adaptableType="com.tibco.xpd.deploy.ServerGroup"
               class="com.tibco.xpd.deploy.ui.properties.DeployPropertySourceAdapterFactory">
            <adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
         </factory>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.tibco.xpd.deploy.ui.properties.ServerPropertyTester"
               id="com.tibco.xpd.deploy.ui.ServerTester"
               namespace="com.tibco.xpd.deploy.ui.servertester"
               properties="hasRuntime,serverTypeId, adaptsTo, validServerType"
               type="com.tibco.xpd.deploy.ui.providers.PropertiesActionProvider$DelegateIAdaptable"/>
         <propertyTester
               class="com.tibco.xpd.deploy.ui.properties.DeploymentServerPropertyTester"
               id="com.tibco.xpd.deploy.ui.serverPropertyTester"
               namespace="com.tibco.xpd.deploy.server.tester"
               properties="serverTypeId"
               type="com.tibco.xpd.deploy.Server">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.ui.ide.resourceFilters">
         <filter
               pattern=".BSServers"
               selected="true"/>
      </extension>
      
      <extension
            point="org.eclipse.ui.views">
         <view
               allowMultiple="false"
               category="com.tibco.xpd.fragments.category.studio"
               class="com.tibco.xpd.deploy.ui.navigator.DeploymentCommonNavigator"
               icon="icons/obj16/ServerContainer.png"
               id="com.tibco.xpd.deploy.server.view"
               name="%DeploymentServer.label"
               restorable="true">
         </view>
      </extension>
      
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor
               contributorId="com.tibco.xpd.deploy.server.view"
               labelProvider="com.tibco.xpd.ui.properties.descriptor.PropertyLabelProvider"
               typeMapper="com.tibco.xpd.ui.properties.descriptor.PropertyTypeMapper">
            <propertyCategory
                  category="advanced"></propertyCategory>
         </propertyContributor>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="com.tibco.xpd.deploy.server.view">
            <propertyTab
                  category="advanced"
                  id="com.tibco.xpd.deploy.server.view.advancedPropertyTab"
                  indented="false"
                  label="%property_tab_advanced">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="com.tibco.xpd.deploy.server.view">
            <propertySection
                  class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
                  enablesFor="1"
                  id="com.tibco.xpd.deploy.server.view.AdvancedTabRefresherSection"
                  tab="com.tibco.xpd.deploy.server.view.advancedPropertyTab">
               <input
                     type="com.tibco.xpd.deploy.Server">
               </input>
               <input
                     type="com.tibco.xpd.deploy.ServerElement">
               </input>
               <input
                     type="com.tibco.xpd.deploy.ServerGroup">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.tibco.xpd.deploy.ui.util.MissingTypeLabelDecorator"
            id="com.tibco.xpd.deploy.ui.missingTypeDecorator"
            label="%missingDeploymentDecorator_label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="com.tibco.xpd.deploy.Server">
               </objectClass>
               <objectClass
                     name="com.tibco.xpd.deploy.ServerGroup">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.xpd.deploy.server.view"
            labelProvider="com.tibco.xpd.deploy.ui.navigator.HeaderMetaLabelProvider">
         <propertyCategory
               category="general"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.tibco.xpd.deploy.server.view?after=additions">
            <menu
                  id="com.tibco.xpd.deploy.open.menu"
                  label="%openMenu.label"
                  mnemonic="%openMenu.mnemonic">
               <separator
                     name="top"
                     visible="false">
               </separator>
           <separator name="additions" visible="false" />
           <separator
                 name="bottom"
                 visible="false">
           </separator>
        </menu>
            
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.xpd.deploy.ui.providers.DefaultServerManager">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.tibco.xpd.deploy.ui.DeploymentServerView"
            targetID="com.tibco.xpd.deploy.server.view">
          <action
                class="com.tibco.xpd.deploy.ui.DeploymentServerViewActionDelegate"
                icon="icons/elcl16/delete.gif"
                id="com.tibco.xpd.deploy.ui.deleteserveraction"
                label="%deleteServerViewAction.label"
                menubarPath="additions"
                style="push"
                tooltip="%deleteServerViewAction.tooltip">
         </action>
         <action
               class="com.tibco.xpd.deploy.ui.DeploymentServerViewActionDelegate"
               enablesFor="1"
               icon="icons/elcl16/refresh.gif"
               id="com.tibco.xpd.deploy.ui.refreshserveraction"
               label="%refreshServerViewAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="serverActions"
               tooltip="%refreshServerViewAction.tooltip">
         </action>
         <action
               class="com.tibco.xpd.deploy.ui.DeploymentServerViewActionDelegate"
               enablesFor="1"
               icon="icons/elcl16/disconnect_server.png"
               id="com.tibco.xpd.deploy.ui.disconnectserveraction"
               label="%disconnectServerViewAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="serverActions"
               tooltip="%disconnectServerViewAction.label">
         </action>
         <action
               class="com.tibco.xpd.deploy.ui.DeploymentServerViewActionDelegate"
               enablesFor="1"
               icon="icons/elcl16/connect_server.png"
               id="com.tibco.xpd.deploy.ui.connectserveraction"
               label="%connectServerViewAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="serverActions"
               tooltip="%connectServerViewAction.label">
         </action>
          <action
                class="com.tibco.xpd.deploy.ui.DeploymentServerViewActionDelegate"
                icon="icons/elcl16/add_server.png"
                id="com.tibco.xpd.deploy.ui.newserveraction"
                label="%newServerViewAction.label"
                menubarPath="additions"
                style="push"
                toolbarPath="serverActions"
                tooltip="%newServerViewAction.tooltip">
         </action>
     </viewContribution>
   </extension>
   
   -->
   
</plugin>
