<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.openspacegwtgadget.integration.OpenspaceSampleCreator">
      <SampleContribution
            menuIcon="samples/ProcessView_Icons/processView.gif"
            name="%ProcessViewSampleName.label"
            wizardIcon="samples/ProcessView_Icons/processViewWiz.png">
         <SampleFile>
            <SourceJetEmitter
                  jetEmitterClass="com.tibco.xpd.openspacegwtgadget.samples.jetemitters.OpenspaceProcessViewGadgetEmitter">
            </SourceJetEmitter>
            <TargetPackageFile
                  fileName="{sampleName}.java"
                  overwritePolicy="prompt"
                  packageName="{packageName}.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/ProcessView/ProcessViewGadget.gwt.xml">
            </SourceFile>
            <TargetPackageFile
                  fileName="ProcessViewGadget.gwt.xml"
                  overwritePolicy="prompt"
                  packageName="{packageName}">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/ClientConstants.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="ClientConstants.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/FormRenderer.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="FormRenderer.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/IFormPresenter.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="IFormPresenter.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/Logger.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="Logger.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/OSSTyles.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="OSSTyles.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/SimpleScriptInjector.java">
            </SourceFile>
            <TargetPackageFile
                  fileName="SimpleScriptInjector.java"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget.client">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/ProcessView/war/TestGadget.css">
            </SourceFile>
            <TargetFile
                  overwritePolicy="prompt"
                  targetLocation="/war/TestGadget.css">
            </TargetFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/ProcessView/war/TestGadget.html">
            </SourceFile>
            <TargetFile
                  overwritePolicy="prompt"
                  targetLocation="/war/TestGadget.html">
            </TargetFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/ProcessView/war/favicon.ico">
            </SourceFile>
            <TargetFile
                  overwritePolicy="prompt"
                  targetLocation="/war/favicon.ico">
            </TargetFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/BaseOpenspaceGadget.gwt.xml">
            </SourceFile>
            <TargetPackageFile
                  fileName="BaseOpenspaceGadget.gwt.xml"
                  overwritePolicy="always"
                  packageName="com.tibco.openspace.basegadget">
            </TargetPackageFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/public/TestGadgetHubPolicy.xml">
            </SourceFile>
            <TargetFile
                  overwritePolicy="always"
                  targetLocation="/src/com/tibco/openspace/basegadget/public/TestGadgetHubPolicy.xml">
            </TargetFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/com.tibco.openspace.basegadget/public/gadget.css">
            </SourceFile>
            <TargetFile
                  overwritePolicy="always"
                  targetLocation="/src/com/tibco/openspace/basegadget/public/gadget.css">
            </TargetFile>
         </SampleFile>
         <SampleFile>
            <SourceFile
                  sourceLocation="samples/ProcessView/war/rename.ico">
            </SourceFile>
            <TargetFile
                  overwritePolicy="always"
                  targetLocation="/war/{extraProperty}.ico">
            </TargetFile>
         </SampleFile>
         <AdditionalWizardPage
               class="com.tibco.xpd.openspacegwtgadget.samples.ProcessViewSampleExtraWizardPage"
               description="%ProcessViewGadget_ExtraProperties.description"
               icon="samples/ProcessView_Icons/ProcessViewExtraPropertiesPage.png"
               title="%ProcessViewGadget_ExtraProperties.title">
         </AdditionalWizardPage>
         <AdditionalWizardPage
               class="com.tibco.xpd.openspacegwtgadget.samples.ProcessViewAnotherWizardPage"
               icon="samples/ProcessView_Icons/AnotherPage.png"
               title="%ProcessViewGadget_AnotherPage.title">
         </AdditionalWizardPage>
      </SampleContribution>
   </extension>
  
   

</plugin>
