<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         name="The contriobutions for &quot;Process&quot; content in data mapper scripts"
         point="com.tibco.xpd.datamapper.DataMapperContentContribution">
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="ProcessToRestService"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="RestServiceToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="ProcessToSubProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="SubProcessToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="CatchSubProcessError"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CatchAll"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InputToService"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="OutputFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="OutputFaultFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="OutputFromService"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="WSFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="InputToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="4">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="GDFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      
   </extension>
   
   <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.n2.pe.datamapper.refactor.ProcessDataMapperScriptFieldRefResolver">
      </FieldOrParamReferenceResolver>
   </extension>
   
   <!--  Xpdl2 working copies dependency provider to Policy set files. -->
     <extension
        point="com.tibco.xpd.resources.workingCopyDependencyProvider">
     <dependency
           provider="com.tibco.xpd.n2.pe.dependencyprovider.XpdlPolicySetDependencyProvider">
     </dependency>
  </extension>
     <extension
           point="com.tibco.xpd.datamapper.scriptGeneratorInfoProviderContribution">
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessToSubProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="SubProcessToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.PEDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessManager.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchAll.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchSubProcessError.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchSubProcessErrorProcessData.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="GDFaultCatch.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.ProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ActivityInterface.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.ProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessData.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="WSFaultCatch.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="InputToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="InputToService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromServiceToCorrelation.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.rest.datamapper.RestScriptGeneratorInfoProvider"
              contributorID="ProcessToRestService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.rest.datamapper.RestScriptGeneratorInfoProvider"
              contributorID="RestServiceToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
     </extension>
   <extension
         point="com.tibco.xpd.rasc.core.rascContributors">
      <contributor
            class="com.tibco.xpd.n2.pe.transform.PERascContributor"
            id="com.tibco.xpd.n2.pe.transform.pe.contributor">
      </contributor>
   </extension>
</plugin>
