<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributor
            class="com.tibco.xpd.n2.pe.component.PECompositeContributor"
            contextId="com.tibco.xpd.amx.bpm"
            id="com.tibco.xpd.n2.pe.contributor">
         <dependsOn
               contributorId="com.tibco.xpd.n2.cds.contributor">
         </dependsOn>
      </contributor>
   </extension>
   <extension
			point="com.tibco.bx.composite.core.requirementsResolver">
      <resolver
            class="com.tibco.xpd.n2.pe.component.BxBOMRequirementsResolver"
            implementationTypeId="implementation.bx">
      </resolver>
      <resolver
            class="com.tibco.xpd.n2.pe.component.N2DeploymentRequirementResolver"
            implementationTypeId="implementation.bx">
      </resolver>
      <resolver
            class="com.tibco.xpd.n2.pe.component.AMXDecisionsRequirementsResolver"
            implementationTypeId="implementation.bx">
      </resolver>
      <resolver
            class="com.tibco.xpd.n2.pe.component.ProcessToGlobalSignalRequirementResolver"
            implementationTypeId="implementation.bx">
      </resolver>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.implementationTypeProvider">
      <implementation
            class="com.tibco.xpd.n2.pe.component.PEImplementationTypeProvider"
            implementationTypeId="com.tibco.xpd.n2.pe.implementation">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/bx/amx/model">
         </package>
         <constraints
               categories="sca.validation/n2">
            <constraint
                  class="com.tibco.xpd.n2.pe.validation.ProcessRefExistsConstraint"
                  id="com.tibco.xpd.n2.wp.ProcessRefExistsConstraint"
                  lang="Java"
                  mode="Batch"
                  name="%ProcessRefExistsConstraint_name"
                  severity="ERROR"
                  statusCode="processRefExistsConstraint">
               <message>
                  %ProcessRefExistsConstraint_message
               </message>
               <target
                     class="N2PEServiceImplementation">
              </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         name="The contriobutions for &quot;Process&quot; content in data mapper scripts"
         point="com.tibco.xpd.datamapper.DataMapperContentContribution">
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="ScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CompletedScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InitiatedScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="DeadlineExpiredScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="true"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CancelledScriptTask"
            applyToMapperRHS="false"
            contributorId="com.tibco.xpd.n2.pe"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="ProcessToRestService"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="RestServiceToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="ProcessToSubProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="SubProcessToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
       <mapperContentContributor
            applicableContext="CatchSubProcessError"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="CatchAll"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InputToService"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="OutputFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="OutputFaultFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="OutputFromService"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="WSFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="InputToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="4">
      </mapperContentContributor>
            <mapperContentContributor
            applicableContext="GDFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.n2.pe.datamapper.PEDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      
   </extension>
   
   <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.n2.pe.datamapper.refactor.ProcessDataMapperScriptFieldRefResolver">
      </FieldOrParamReferenceResolver>
   </extension>
   
   <!--  Xpdl2 working copies dependency provider to Policy set files. -->
     <extension
        point="com.tibco.xpd.resources.workingCopyDependencyProvider">
     <dependency
           provider="com.tibco.xpd.n2.pe.dependencyprovider.XpdlPolicySetDependencyProvider">
     </dependency>
  </extension>
     <extension
           point="com.tibco.xpd.datamapper.scriptGeneratorInfoProviderContribution">
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessToSubProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="SubProcessToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.PEDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessManager.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchAll.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchSubProcessError.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.subprocess.datamapper.SubProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="CatchSubProcessErrorProcessData.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.catcherror.datamapper.CatchErrorDataMapperScriptGeneratorInfoProvider"
              contributorID="GDFaultCatch.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.ProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ActivityInterface.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.datamapper.ProcessDataMapperScriptGeneratorInfoProvider"
              contributorID="ProcessData.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="WSFaultCatch.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="InputToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="InputToService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.webservice.datamapper.WebServiceDataMapperScriptGeneratorInfoProvider"
              contributorID="OutputFromServiceToCorrelation.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.rest.datamapper.RestScriptGeneratorInfoProvider"
              contributorID="ProcessToRestService.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
        <scriptGeneratorInfoProviderContributor
              contributor="com.tibco.xpd.n2.pe.rest.datamapper.RestScriptGeneratorInfoProvider"
              contributorID="RestServiceToProcess.DataMapperContent">
        </scriptGeneratorInfoProviderContributor>
     </extension>
</plugin>
