<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="WPComponentRequirementsResolver" name="Work Presentation Component Requirements Resolver Extension" schema="schema/WPComponentRequirementsResolver.exsd"/>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="wpOutput"
            multiple="false"
            name=".wpOut"
            unsettable="true">
      </folder>
   </extension>
    <extension
          point="com.tibco.amf.tools.componenttype.implementationType">
       <implementationType
             componentTypeResolver="com.tibco.xpd.n2.wp.component.WPComponentTypeResolver"
             defaultPalette="false"
             delegate="com.tibco.xpd.n2.wp.component.WPImplementationDelegate"
             name="%wp"
             typeId="com.tibco.xpd.wp">
          <implementationTypeResolver
                ecoreClass="WPImplementation"
                ecoreURI="http://xsd.tns.tibco.com/n2/models/common">
          </implementationTypeResolver>
       </implementationType>
       <!--implementationType
             componentTypeResolver="com.tibco.xpd.n2.wp.component.PFEComponentTypeResolver"
             delegate="com.tibco.xpd.n2.wp.component.PFEImplementationDelegate"
             name="%pfe"
             typeId="com.tibco.xpd.pfe">
          <implementationTypeResolver
                ecoreClass="PFEImplementation"
                ecoreURI="http://xsd.tns.tibco.com/n2/models/common">
          </implementationTypeResolver>
       </implementationType-->
    </extension>
    <extension
          point="com.tibco.amf.tools.componenttype.implementationTypeProvider">
       <implementation
             class="com.tibco.xpd.n2.wp.component.WPImplementationTypeProvider"
             implementationTypeId="com.tibco.xpd.wp">
       </implementation>
       <!--implementation
             class="com.tibco.xpd.n2.wp.component.PFCImplementationTypeProvider"
             implementationTypeId="com.tibco.xpd.pfe">
       </implementation-->
    </extension>
    <extension
          point="com.tibco.xpd.daa.compositeContributors">
       <contributor
             class="com.tibco.xpd.n2.wp.component.WPCompositeContributor"
             contextId="com.tibco.xpd.amx.bpm"
             id="com.tibco.xpd.n2.wp.contributor">
          <dependsOn
                contributorId="com.tibco.xpd.n2.brm.contributor">
          </dependsOn>
          <dependsOn
                contributorId="com.tibco.xpd.n2.pfc.contributor">
          </dependsOn>
		  <dependsOn
				contributorId="com.tibco.xpd.forms.designer.resources.contributor">
		  </dependsOn>
       </contributor>
       <!--contributor
             class="com.tibco.xpd.n2.wp.component.PFCCompositeContributor"
             id="com.tibco.xpd.n2.pfe.contributor">
          <dependsOn
                contributorId="com.tibco.xpd.n2.cds.contributor">
          </dependsOn>
       </contributor-->
    </extension>
    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/common">
         </package>
         <constraints
               categories="sca.validation/n2">
            <constraint
                  class="com.tibco.xpd.n2.wp.validation.WPComponentImplConstraint"
                  id="com.tibco.xpd.n2.wp.wpImplConstraint"
                  lang="Java"
                  mode="Live"
                  name="%wpImplConstraint_name"
                  severity="ERROR"
                  statusCode="wpImplConstraint">
               <message>
                  %wpImplConstraint_message
               </message>
               <target
                     class="WPImplementation">
                  <event
                        name="Set">
                     <feature
                           name="presentation">
                     </feature>
                  <feature
                          name="version">
                  </feature>
                  </event>
              </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/wp/1.0">
         </package>
         <constraints
               categories="sca.validation/n2.models">
            <constraint
                  class="com.tibco.xpd.n2.wp.validation.WPModelConstraint"
                  id="n2.sca.validation.workTypesConstraint"
                  lang="Java"
                  mode="Live"
                  name="%wpModelConstraint_name"
                  severity="ERROR"
                  statusCode="wpModelConstraint">
               <message>
                  %wpModelConstraint_message
               </message>
               <target
                     class="WPDescriptor">
                  <event
                        name="Set">
                     <feature
                           name="location">
                     </feature>
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
               <target
                     class="BRMDescriptor">
                  <event
                        name="Set">
                     <feature
                           name="location">
                     </feature>
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://service.archive.wp.n2.tibco.com">
         </package>
         <constraints
               categories="sca.validation/n2.models">
            <constraint
                  class="com.tibco.xpd.n2.wp.validation.WPDescriptorRefConstraint"
                  id="n2.sca.validation.wpDescriptorRef"
                  lang="Java"
                  mode="Live"
                  name="%wpDescriptorRef_name"
                  severity="ERROR"
                  statusCode="wpDescriptorRef">
               <message>
                  %wpDescriptorRef_message
               </message>
               <target
                     class="FormType">
                  <event
                        name="Set">
                     <feature
                           name="relativePath">
                     </feature>
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <target
                     class="ChannelExtentionType">
                  <event
                        name="Set">
                     <feature
                           name="filename">
                     </feature>
                     <feature
                           name="location">
                     </feature>
                  </event>
               </target>
               <target
                     class="PageFlowType">
                  <event
                        name="Set">
                     <feature
                           name="url">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://service.archive.wp.n2.tibco.com"
            class="com.tibco.n2.wp.archive.service.WPPackage"
            genModel="model/WorkPresentationDeployment.genmodel"/>
      <package
            uri="http://channeltype.common.n2.tibco.com"
            class="com.tibco.n2.common.channeltype.ChanneltypePackage"
            genModel="model/WorkPresentationDeployment.genmodel"/>
   </extension>
   
   <extension
         point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
      <provider
            id="com.tibco.wp.validation.workspaceProvider">
         <validator
               class="com.tibco.xpd.n2.wp.validation.ProjectChannelResourceValidator"
               id="com.tibco.xpd.n2.wp.validation.projectChannelResourceValidator"
               validateType="PROJECT">
         </validator>
         <validator
               class="com.tibco.xpd.n2.wp.validation.PresentationChannelsDefaultChannelValidator"
               id="com.tibco.xpd.n2.wp.validation.presentationChannelsDefaultChannelValidator"
               validateType="PROJECT">
         </validator>
      </provider>
      <issues>
         <issue
               id="bx.referencedResourceDoesntExist"
               message="%bx.referencedResourceDoesntExist"
               severity="ERROR">
         </issue>
        
         <issue
               id="bx.workspaceGIIsDeprecated"
               message="%bx.channel.not.supported.error"
               severity="ERROR">
         </issue>
         <issue
               id="bx.workspaceEmailGICannotExistInDefaultChannel"
               message="%bx.workspaceEmailGICannotExistInDefaultChannel.error"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="true"
                  id="bx.replaceWsEmailWithOsEmailInAllChnels">
            </resolution>
         </issue>  
              <issue
               id="bx.workspaceEmailIsDeprecated"
               message="%bx.channel.deprecated.warning" 
               preferenceDescription="%bx.workspaceEmail.channel.deprecated.warning"
               preferenceGroupId="com.tibco.bx.validation.resources"
               severity="ERROR">
                 <resolution
                       canApplyToMultiple="true"
                       id="bx.replaceWsEmailWithOsEmailInAllChnels">
                 </resolution>
         </issue>         
         <issue
               id="bx.InvalidChannel"
               message="%bx.InvalidChannel"
               severity="ERROR">
         </issue>
      </issues>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.n2.wp.resolution.SetDefaultChannelsResolution"
            description="%bx.workspaceGICannotExistInDefaultChannel.resolution.desc"
            id="bx.workspaceGICannotExistInDefaultChannel"
            label="%bx.workspaceGICannotExistInDefaultChannel.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.n2.wp.resolution.SwitchWsToOsEmailDefaultChannelResolution"
            description="%bx.switchDefaultWorkspaceEmailToOpenspaceEmailGWTChannel.resolution.desc"
            id="bx.workspaceEmailGICannotExistInDefaultChannel"
            label="%bx.switchDefaultWorkspaceEmailToOpenspaceEmailGWTChannel.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.n2.wp.resolution.SwitchWorkspaceGIToGWTChannelResolution"
            description="%bx.switchWorkspaceGIToWorkspaceGWTChannel.resolution.desc"
            id="bx.workspaceGIIsDeprecated"
            label="%bx.switchWorkspaceGIToWorkspaceGWTChannel.resolution.label">
      </resolution>
       <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.n2.wp.resolution.RemoveInvalidChannelResolution"
            description="%bx.removeInvalidChannel.resolution.label"
            id="bx.InvalidChannel"
            label="%bx.removeInvalidChannel.resolution.label">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="com.tibco.wp.workspaceResourceDestination"
            name="Work Manager">
         <validationProvider
               id="com.tibco.wp.validation.workspaceProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>   
    <extension
       point="com.tibco.xpd.presentation.resources.ui.channelTypes">
    <channelDestinationBinding
          channelId="GIGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="MobileGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="openspaceEmailPush"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="openspaceGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="EmailGIPush"
          destinationId="amxbpm">
    </channelDestinationBinding>
    
 </extension>
 <extension
      point="com.tibco.xpd.validation.reusableResolutions">
   <resolution
        id="bx.replaceWsEmailWithOsEmailInAllChnels"
        class="com.tibco.xpd.n2.wp.resolution.SwitchWorkspaceToOpenspaceEmailResolution"
        label="%bx.switchWorkspaceEmailToOpenspaceEmailGWTChannel.resolution.label.1"
        description="%bx.switchWorkspaceEmailToOpenspaceEmailGWTChannel.resolution.desc.1">
   </resolution>
 </extension>
</plugin>
