<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="WPComponentRequirementsResolver" name="Work Presentation Component Requirements Resolver Extension" schema="schema/WPComponentRequirementsResolver.exsd"/>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="wpOutput"
            multiple="false"
            name=".wpOut"
            unsettable="true">
      </folder>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://service.archive.wp.n2.tibco.com"
            class="com.tibco.n2.wp.archive.service.WPPackage"
            genModel="model/WorkPresentationDeployment.genmodel"/>
      <package
            uri="http://channeltype.common.n2.tibco.com"
            class="com.tibco.n2.common.channeltype.ChanneltypePackage"
            genModel="model/WorkPresentationDeployment.genmodel"/>
   </extension>
   
   <extension
         point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
      <provider
            id="com.tibco.wp.validation.workspaceProvider">
         <validator
               class="com.tibco.xpd.n2.wp.validation.ProjectChannelResourceValidator"
               id="com.tibco.xpd.n2.wp.validation.projectChannelResourceValidator"
               validateType="PROJECT">
         </validator>
         <validator
               class="com.tibco.xpd.n2.wp.validation.PresentationChannelsDefaultChannelValidator"
               id="com.tibco.xpd.n2.wp.validation.presentationChannelsDefaultChannelValidator"
               validateType="PROJECT">
         </validator>
      </provider>
      <issues>
         <issue
               id="bx.referencedResourceDoesntExist"
               message="%bx.referencedResourceDoesntExist"
               severity="ERROR">
         </issue>


         <issue
               id="bx.InvalidChannel"
               message="%bx.InvalidChannel"
               severity="ERROR">
         </issue>
      </issues>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">


       <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.n2.wp.resolution.RemoveInvalidChannelResolution"
            description="%bx.removeInvalidChannel.resolution.label"
            id="bx.InvalidChannel"
            label="%bx.removeInvalidChannel.resolution.label">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="com.tibco.wp.workspaceResourceDestination"
            name="Work Manager">
         <validationProvider
               id="com.tibco.wp.validation.workspaceProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>   
    <extension
       point="com.tibco.xpd.presentation.resources.ui.channelTypes">
    <channelDestinationBinding
          channelId="GIGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="MobileGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="openspaceEmailPush"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="openspaceGWTPull"
          destinationId="amxbpm">
    </channelDestinationBinding>
    <channelDestinationBinding
          channelId="EmailGIPush"
          destinationId="amxbpm">
    </channelDestinationBinding>
    
 </extension>

 
    <extension
         point="com.tibco.xpd.rasc.core.rascContributors">
      <contributor
            class="com.tibco.xpd.n2.wp.WpModelsRascContributor"
            id="com.tibco.xpd.n2.wp.rasc.model.contributor">
         <dependsOn
               contributorId="com.tibco.xpd.forms.rasc.contributor">
         </dependsOn>
      </contributor>
   </extension>
 
</plugin>
