<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="javaScript1.x">
         <scriptContribution
               scriptContext="ScriptTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SequenceFlow">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="JavaServiceTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="CaseAdminUserAttribute">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MILoopExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="WebServiceTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="AdhocPrecondition">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="simulation1.2">
         <scriptContribution
               scriptContext="ScriptTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SequenceFlow">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptStdLoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MILoopExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMIComplexExitExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptMILoopExprValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="JavaServiceTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="WebServiceTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <validationStrategy
                  class="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy"
                  name="com.tibco.xpd.process.js.parser.validator.jscript.JScriptValidationStrategy">
            </validationStrategy>
         </scriptContribution>
      </destination>
   </extension>
</plugin>
