<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.core.help.xpdHelpContent">
		<productHelpContent
		    downloadUrl="https://docs.tibco.com/pub/business-studio-bpm-edition/5.0.0/tibco-business-studio-bpm-edition-5-0-0_documentation.zip"
		    offlineFolderName="tibco-business-studio-bpm-edition-5-0-0_documentation"
		    productHelpUrl="https://docs.tibco.com/products/tibco-business-studio-bpm-edition-5-0-0"
		    productId="com.tibco.xpd.bpm.help"
		    productName="%tibcoBusinessStudioBpmHelp_label"
		    version="5.0.0"
		    webHelpUrl="https://docs.tibco.com/dyno/business-studio-bpm-edition/5.0.0/doc/html/index.html">
		</productHelpContent>
   </extension>
</plugin>
