<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.core.help.xpdHelpContent">
		<productHelpContent
		    downloadUrl="https://docs.tibco.com/pub/business-studio-bpm-edition/latest/tibco-business-studio-bpm-edition-latest_documentation.zip"
		    offlineFolderName="tibco-business-studio-bpm-edition-5-6-0_documentation"
		    productHelpUrl="https://docs.tibco.com/products/tibco-business-studio-bpm-edition-latest"
		    productId="com.tibco.xpd.bpm.help"
		    productName="%tibcoBusinessStudioBpmHelp_label"
		    version="5.6.0"
		    webHelpUrl="https://docs.tibco.com/pub/business-studio-bpm-edition/latest/doc/html/index.html">
		</productHelpContent>
   </extension>
</plugin>
