<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="bmpn1dev"
            name="BPM"
            selectable="false"
            version="">
         <validationProvider id="com.tibco.xpd.validation.bpmn.developer.provider"/>
         <filter class="com.tibco.xpd.validation.bpmn.developer.rules.Xpdl2DeveloperFileFilter"/>
         <validationProvider id="com.tibco.xpd.validation.bpmn.developer.xpdl2_provider"/>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.validation.bpmn.developer.provider"
            markerType="com.tibco.xpd.validation.bpmnValidationMarker"
            name="BPMN Task Validation Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.ActivityScopeProvider">
         
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.ScriptContentsRule">
         </rule>
      </provider>
      <provider
            id="com.tibco.xpd.validation.bpmn.developer.xpdl2_provider"
            markerType="com.tibco.xpd.validation.bpmnValidationMarker"
            name="BPMN Validation Xpdl2 Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">

         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.ServiceTaskSystemParticipantRule">
         </rule>

         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.MissingImplementationTypeRule">
         </rule>
          <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.AdhocActivityTaskConfigurationRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.EntityDisplayNameRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.IfcErrorEventFollowedByResponseRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.ProcErrEventFollowedByRespRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.MessageEventParametersRule">
         </rule>

         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.SignalThrowCatchRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.DecisionServiceTaskRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.EventHandlerCorrelationDataInitializerRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.GlobalDataTaskRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.CaseDocumentServiceTaskRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.bpmn.developer.rules.RestServiceActivityRule">
         </rule>
        
      </provider>
      
      <issue
            id="bpmn.dev.mappingError"
            message="%bpmn.dev.mappingError"
            severity="ERROR"/>
      <issue
            id="bpmn.dev.cannotCheckTypes"
            message="%bpmn.dev.cannotCheckTypes"
            severity="WARNING">
      </issue>

      <issue
            id="bpmn.dev.mappingArrayNotContiguous"
            message="%bpmn.dev.mappingArrayNotContiguous"
            severity="ERROR"/>
      <issue
            id="bpmn.dev.invalidStoredProcedureName"
            message="%bpmn.dev.invalidStoredProcedureName"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.projectNotFound"
            message="%bpmn.dev.projectNotFound"
            severity="WARNING"/>
      <issue
            id="bpmn.dev.classNotFound"
            message="%bpmn.dev.classNotFound"
            severity="ERROR"/>
      <issue
            id="bpmn.dev.methodNotFound"
            message="%bpmn.dev.methodNotFound"
            severity="ERROR"/>

      <issue
            id="bpmn.dev.dbNoSQLProvided"
            message="%bpmn.dev.dbNoSQLProvided"
            severity="ERROR"/>
      <issue
            id="bpmn.dev.missingScript"
            message="%bpmn.dev.missingScript"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.dev.mappingModeError"
            message="%bpmn.dev.mappingModeError"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.datafieldMappingError"
            message="%bpmn.dev.datafieldMappingError"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.mapModeUndecidedWarning"
            message="%bpmn.dev.mapModeUndecidedWarning"
            severity="WARNING">
      </issue>
      <issue
            id="bpmn.dev.unmappedCorrelationData"
            message="%bpmn.dev.unmappedCorrelationData"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.unmappedCorrelationDataImplicit"
            message="%bpmn.dev.unmappedCorrelationDataImplicit"
            severity="ERROR">
      </issue>

      <issue
            id="bpmn.dev.adhocInitializerActivityNotAvailable"
            message="%bpmn.dev.adhocInitializerActivityNotAvailable"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="bpmn.dev.deleteInvalidInitializerActivities">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.unmappedStartCorrelationData"
            message="%bpmn.dev.unmappedStartCorrelationData"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.apiAcitivityNameMandatory"
            message="%bpmn.dev.apiAcitivityNameMandatory"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.moreThanOneParticipantForServiceTask"
            message="%bpmn.dev.moreThanOneParticipantForServiceTask"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.moreThanOneParticipantForSendTask"
            message="%bpmn.dev.moreThanOneParticipantForSendTask"
            severity="ERROR">
      </issue>
           
      <issue
            id="bpmn.dev.missingXpdExtImplementationType"
            message="%bpmn.dev.missingXpdExtImplementationType"
            severity="ERROR">
      </issue>

       <issue
            id="bpmn.emptyName"
            message="%bpmn.emptyName"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.emptyLabel"
            message="%bpmn.emptyLabel"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.ifcErrResponseRequired"
            message="%bpmn.dev.ifcErrResponseRequired"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.procErrResponseRequired"
            message="%bpmn.dev.procErrResponseRequired"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.activityGrammarMappingGrammarMismatch"
            message="%bpmn.dev.activityGrammarMappingGrammarMismatch"
            severity="ERROR">
      </issue>


      <issue
            id="bpmn.javaScriptGrammarNotAllowed"
            message="%bpmn.javaScriptGrammarNotAllowed"
            severity="ERROR">
      </issue>

      <issue
            id="bpmn.EMailInvalidVariableReference"
            message="%bpmn.EMailInvalidVariableReference"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.EMailUnmatchedVariableCharacter"
            message="%bpmn.EMailUnmatchedVariableCharacter"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.EMailInvalidVariableReference"
            message="%bpmn.EMailInvalidVariableReference"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.EMailMustHaveToValue"
            message="%bpmn.EMailMustHaveToValue"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.selectedBusinessProcessActivityMustBeRequestOnly"
            message="%bpmn.dev.selectedBusinessProcessActivityMustBeRequestOnly"
            severity="ERROR">
      </issue>


      <issue
            id="bpmn.dev.errorNoThrowSignalForGivenCatchSignal"
            message="%noThrowEventWithSignalName_issue_message"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.errorNoThrowSignalEvent"
            message="%noThrowSignalForCatchAll_issue_label"
            severity="WARNING">
      </issue>

      <issue
            id="bpmn.dev.referencedDecisionServiceDoesNotExist"
            message="%bpmn.dev.referencedDecisionServiceDoesNotExist"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.dev.selectedDecisionFlow">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.decisionServiceTaskMustReferenceDecisionFlow"
            message="%bpmn.dev.decisionServiceTaskMustReferenceDecisionFlow"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.dev.selectedDecisionFlow">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.javaProject.noArgsStaticMethodMissingInFactory"
            message="%bpmn.dev.javaProject.noArgsStaticMethodMissingInFactory"
            severity="WARNING">
      </issue>


      <issue
            id="bpmn.dev.eventHandlerCorrelationDataInitialization"
            message="%bpmn.dev.eventHandlerCorrelationDataInitialization"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.dev.initializeEventHandlerCorrelationData">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.eventHandlerCorrelationDataInitializeActivityConstraint"
            message="%bpmn.dev.eventHandlerCorrelationDataInitializeActivityConstraint"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.dev.removeEventHandlerCorrelationInitializerEntries">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.eventHandlerCorrelationDataInitializeActivitiesMissing"
            message="%bpmn.dev.eventHandlerCorrelationDataInitializeActivitiesMissing"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.dev.removeEventHandlerCorrelationInitializerEntries">
         </resolution>
      </issue>


      <issue
            id="bpmn.dev.globalDataTask.mustHaveOperationSelected"
            message="%bpmn.dev.globalDataTask.mustHaveOperationSelected"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.caseReferenceFieldRequired"
            message="%bpmn.dev.globalDataTask.caseReferenceFieldRequired"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.invalidCaseReferenceField"
            message="%bpmn.dev.globalDataTask.invalidCaseReferenceField"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.updateOp.invalidLocalData"
            message="%bpmn.dev.globalDataTask.updateOp.invalidLocalData"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.updateOp.multiplicity"
            message="%bpmn.dev.globalDataTask.updateOp.multiplicity"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.addLinkOp.noArrayCaseRef"
            message="%bpmn.dev.globalDataTask.addLinkOp.noArrayCaseRef"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.addLinkOp.association"
            message="%bpmn.dev.globalDataTask.addLinkOp.association"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.addLinkOp.caseObjectRefType"
            message="%bpmn.dev.globalDataTask.addLinkOp.caseObjectRefType"
            severity="ERROR">
      </issue>
	  <issue
            id="bpmn.dev.globalDataTask.addLinkOp.caseObjectRefTypeMultiplicity"
            message="%bpmn.dev.globalDataTask.addLinkOp.caseObjectRefTypeMultiplicity"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.removeLinkOp.noArrayCaseRef"
            message="%bpmn.dev.globalDataTask.removeLinkOp.noArrayCaseRef"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.removeLinkOp.association"
            message="%bpmn.dev.globalDataTask.removeLinkOp.association"
            severity="ERROR">
      </issue>
       <issue
            id="bpmn.dev.globalDataTask.removeLinkOp.caseObjectRefTypeMultiplicity"
            message="%bpmn.dev.globalDataTask.removeLinkOp.caseObjectRefTypeMultiplicity"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.removeLinkOp.caseObjectRefType"
            message="%bpmn.dev.globalDataTask.removeLinkOp.caseObjectRefType"
            severity="ERROR">
      </issue>
       <issue
            id="bpmn.dev.globalDataTask.caseAccessOps.validCaseClass"
            message="%bpmn.dev.globalDataTask.caseAccessOps.validCaseClass"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.createOp.validLocalData"
            message="%bpmn.dev.globalDataTask.createOp.validLocalData"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.createOp.validCaseRef"
            message="%bpmn.dev.globalDataTask.createOp.validCaseRef"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.createOp.validMultiplicity"
            message="%bpmn.dev.globalDataTask.createOp.validMultiplicity"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.createOp.onlyBOMDataTypes"
            message="%bpmn.dev.globalDataTask.createOp.onlyBOMDataTypes"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.globalDataTask.dataNotExistOrNotAssociatedWithActivity"
            message="%bpmn.dev.globalDataTask.dataNotExistOrNotAssociatedWithActivity"
            severity="ERROR">
      </issue>
       <issue
            id="bpmn.dev.caseDocumentTask.operationNotSelected"
            message="%bpmn.dev.caseDocumentTask.operationNotSelected"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.allInputsMandatory"
            message="%bpmn.dev.caseDocumentTask.allInputsMandatory"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.fieldOrParamDoesNotExist"
            message="%bpmn.dev.caseDocumentTask.fieldOrParamDoesNotExist"
            severity="ERROR">
      </issue>    
      <issue
            id="bpmn.dev.caseDocumentTask.moveDocOperationSrcTargetInvalid"
            message="%bpmn.dev.caseDocumentTask.moveDocOperationSrcTargetInvalid"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.noArrayRef"
            message="%bpmn.dev.caseDocumentTask.noArrayRef"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.DataTypeMismatch"
            message="%bpmn.dev.caseDocumentTask.DataTypeMismatch"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.CmisPropertyProcessDataFieldMismatch"
            message="%bpmn.dev.caseDocumentTask.CmisPropertyProcessDataFieldMismatch"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.ProcessDataOperationMismatch"
            message="%bpmn.dev.caseDocumentTask.ProcessDataOperationMismatch"
            severity="ERROR">
      </issue>
     <issue
            id="bpmn.dev.caseDocumentTask.FirstExpLogicalJoinNotAllowed"
            message="%bpmn.dev.caseDocumentTask.FirstExpLogicalJoinNotAllowed"
            severity="ERROR">
              <resolution
               canApplyToMultiple="true"
               id="bpmn.dev.removeLogicalJoinForFirstExpresion"/>
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.ContainsOnlyAllowedWithCmisDocumentProperty"
            message="%bpmn.dev.caseDocumentTask.ContainsOnlyAllowedWithCmisDocumentProperty"
            severity="ERROR">
            <resolution
               canApplyToMultiple="true"
               id="bpmn.dev.setCmisDocumentProperty"/>
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.CmisDocumentPropertyOnlyAllowedWithContains"
            message="%bpmn.dev.caseDocumentTask.CmisDocumentPropertyOnlyAllowedWithContains"
            severity="ERROR">            
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.ValueNotAllowedForNullOperator"
            message="%bpmn.dev.caseDocumentTask.ValueNotAllowedForNullOperator"
            severity="ERROR">
             <resolution
               canApplyToMultiple="true"
               id="bpmn.dev.removeQueryExpressionValue"/>            
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.OperationMandatoryForExpression"
            message="%bpmn.dev.caseDocumentTask.OperationMandatoryForExpression"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.MultivaluedNotAllowedWithOperator"
            message="%bpmn.dev.caseDocumentTask.MultivaluedNotAllowedWithOperator"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.SinglevaluedNotAllowedWithOperator"
            message="%bpmn.dev.caseDocumentTask.SinglevaluedNotAllowedWithOperator"
            severity="ERROR">
      </issue>
     <issue
            id="bpmn.dev.caseDocumentTask.OperatorNotSupported"
            message="%bpmn.dev.caseDocumentTask.OperatorNotSupported"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.CmisPropertyNotSupported"
            message="%bpmn.dev.caseDocumentTask.CmisPropertyNotSupported"
            severity="ERROR">
      </issue>
       <issue
            id="bpmn.dev.caseDocumentTask.CmisQueryExpressionsNestingIncorrect"
            message="%bpmn.dev.caseDocumentTask.CmisQueryExpressionsNestingIncorrect"
            severity="ERROR">
      </issue>    
      <issue
            id="bpmn.dev.caseDocumentTask.MissingLogicalGrouping"
            message="%bpmn.dev.caseDocumentTask.MissingLogicalGrouping"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.MissingFieldValue"
            message="%bpmn.dev.caseDocumentTask.MissingFieldValue"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.MissingCmisProperty"
            message="%bpmn.dev.caseDocumentTask.MissingCmisProperty"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.caseDocumentTask.FieldNotFound"
            message="%bpmn.dev.caseDocumentTask.FieldNotFound"
            severity="ERROR">
      </issue>  
      <issue
            id="bpmn.dev.caseDocumentTask.missingFieldInput"
            message="%bpmn.dev.caseDocumentTask.missingFieldInput"
            severity="ERROR">
      </issue>    
      <issue
            id="bpmn.dev.caseDocumentTask.missingExpression"
            message="%bpmn.dev.caseDocumentTask.missingExpression"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.missingRestOperation"
            message="%bpmn.dev.missingRestOperation"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="bpmn.dev.missingRestOperation.resolution">
         </resolution>
      </issue>
      <issue
            id="bpmn.dev.missingProjectReference"
            message="%bpmn.dev.missingProjectReference"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.invalidRestOperation"
            message="%bpmn.dev.invalidRestOperation"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.dev.invalidRestSharedResource"
            message="%bpmn.dev.invalidRestSharedResource"
            severity="ERROR">
            <resolution
               canApplyToMultiple="false"
               id="bpmn.resolution.convertToRESTServiceParticipantResolution">
         	</resolution>
         	<resolution
                canApplyToMultiple="false"
                id="bpmn.resolution.selectRESTServiceEndpointResolution">
          	</resolution>
          	<resolution
                canApplyToMultiple="false"
                id="bpmn.resolution.generateRESTServiceParticipantResolution">
          	</resolution>
      </issue>    
       <issue
            id="bpmn.dev.missingRestSharedResource"
            message="%bpmn.dev.missingRestSharedResource"
            severity="ERROR">
          <resolution
                canApplyToMultiple="false"
                id="bpmn.resolution.selectRESTServiceEndpointResolution">
          </resolution>
          <resolution
                canApplyToMultiple="false"
                id="bpmn.resolution.generateRESTServiceParticipantResolution">
          </resolution>
      </issue>
       <issue
             id="bpmn.dev.globalDataTask.deleteArrayCaseReferenceField"
             message="%bpmn.dev.globalDataTask.deleteArrayCaseReferenceField"
             severity="ERROR">
       </issue>    
        <issue
             id="bpmn.dev.globalDataTask.caseAccessOps.invalidOperation"
             message="%bpmn.dev.globalDataTask.caseAccessOps.invalidOperation"
             severity="ERROR">
           <resolution
                 canApplyToMultiple="true"
                 id="bpmn.resolution.caseDeleteByIdToReferenceResolution">
           </resolution>
       </issue>    
          
   </extension>
   <extension
         point="com.tibco.xpd.destinations.ui.processDestinationEnvironments">
      <processDestinationEnvironment
            id="bmpn1dev"
            name="BPM"
            userSelectable="false"
            validationDestinationId="bmpn1dev"
            version="1"/>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.SetCorrelationNotRequired"
            description="%resolution.description.bpmn.dev.unmappedStartCorrelationData"
            id="bpmn.dev.unmappedStartCorrelationData"
            label="%resolution.title.bpmn.dev.unmappedStartCorrelationData">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.validation.xpdl2.resolutions.SetActivityNameResolution"
            description="%resolution.title.bpmn.dev.apiAcitivityNameMandatory"
            id="bpmn.dev.apiAcitivityNameMandatory"
            label="%resolution.title.bpmn.dev.apiAcitivityNameMandatory">
      </resolution>
     
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.ConvertToPlugInProjectResolution"
            id="bpmn.dev.javaProject.notPluginProject"
            label="%convertToPluginProject_resolution_label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.bpmn.developer.resolution.FixMissingXpdExtImplementationTypeResolution"
            description="%resolution.bpmn.dev.missingXpdExtImplementationType"
            id="bpmn.dev.missingXpdExtImplementationType"
            label="%resolution.bpmn.dev.missingXpdExtImplementationType">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.bpmn.developer.resolution.RemoveOutDatedGrammarMappingsResolution"
            description="%resolution.bpmn.dev.activityGrammarMappingGrammarMismatch"
            id="bpmn.dev.activityGrammarMappingGrammarMismatch"
            image="icons/delete.gif"
            label="%resolution.bpmn.dev.activityGrammarMappingGrammarMismatch">
      </resolution>

   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">

       <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.DeleteInvalidInitializerActivities"
            description="%resolution.bpmn.dev.deleteInvalidInitializerActivities"
            id="bpmn.dev.deleteInvalidInitializerActivities"
            label="%resolution.bpmn.dev.deleteInvalidInitializerActivities">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.ChangeAssocParamsToInModeResolution"
            description="%resolution.bpmn.dev.changeAssocParamsToInput"
            id="bpmn.dev.changeParamsToInModeResolution"
            label="%resolution.bpmn.dev.changeAssocParamsToInput">
      </resolution>

      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.SelectDecisionFlowResolution"
            description="%resolution.bpmn.dev.selectedDecisionFlow"
            id="resolution.bpmn.dev.selectedDecisionFlow"
            label="%resolution.bpmn.dev.selectedDecisionFlow">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.ReIndexProcessPackageResolution"
            description="%resolution.bpmn.reIndexProcessPackage"
            id="resolution.bpmn.reIndexProcessPackage"
            label="%resolution.bpmn.reIndexProcessPackage">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.EventHandlerCorrelationDataRemoveInitialiserEntriesResolution"
            id="resolution.bpmn.dev.removeEventHandlerCorrelationInitializerEntries"
            label="%resolution.bpmn.dev.removeEventHandlerCorrelationInitializerEntries">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.InitializeEventHandlerCorrelationDataResolution"
            id="resolution.bpmn.dev.initializeEventHandlerCorrelationData"
            label="%resolution.bpmn.dev.initializeEventHandlerCorrelationData">
      </resolution>

      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.RemoveFirstExpLogicalGroupingResolution"
            description="%resolution.bpmn.dev.removeLogicalJoinForFirstExpresion.desc"
            id="bpmn.dev.removeLogicalJoinForFirstExpresion"
            label="%resolution.bpmn.dev.removeLogicalJoinForFirstExpresion.label">
      </resolution>
            <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.SetCMISDocumentPropertyResolution"
            description="%resolution.bpmn.dev.setCmisDocumentProperty.desc"
            id="bpmn.dev.setCmisDocumentProperty"
            label="%resolution.bpmn.dev.setCmisDocumentProperty.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.RemoveQueryExpressionValueResolution"
            description="%resolution.bpmn.dev.removeQueryExpressionValue.desc"
            id="bpmn.dev.removeQueryExpressionValue"
            label="%resolution.bpmn.dev.removeQueryExpressionValue.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.SelectRestOperationResolution"
            id="bpmn.dev.missingRestOperation.resolution"
            image="icons/Method.png"
            label="%bpmn.dev.missingRestOperation.resolution">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.SelectRESTServiceParticipantResolution"
            description="%bpmn.resolution.selectRESTServiceEndpointResolution"
            id="bpmn.resolution.selectRESTServiceEndpointResolution"
            label="%bpmn.resolution.selectRESTServiceEndpointResolution">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.GenerateRESTServiceParticipantResolution"
            description="%bpmn.resolution.generateRESTServiceParticipantResolution"
            id="bpmn.resolution.generateRESTServiceParticipantResolution"
            label="%bpmn.resolution.generateRESTServiceParticipantResolution">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.ConvertToRESTServiceParticipantResolution"
            description="%bpmn.resolution.convertToRESTServiceParticipantResolution"
            id="bpmn.resolution.convertToRESTServiceParticipantResolution"
            label="%bpmn.resolution.convertToRESTServiceParticipantResolution">
      </resolution>
      <resolution
            class="com.tibco.xpd.validation.bpmn.developer.resolution.ConvertDeleteByCaseIdToReferenceResolution"
            description="%bpmn.resolution.caseDeleteByIdToReferenceResolution"
            id="bpmn.resolution.caseDeleteByIdToReferenceResolution"
            label="%bpmn.resolution.caseDeleteByIdToReferenceResolution">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.validation.preProcessor">
      <processor
            factory="com.tibco.xpd.validation.bpmn.developer.preprocessors.RestPreProcessorFactory">
      </processor>
   </extension>
</plugin>
