<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dependencyContributor" name="%dependencyViewerContributor-extension-point.name" schema="schema/com.tibco.xpd.dependency.visualization.dependencyContributor.exsd"/>
   <extension
         point="com.tibco.xpd.dependency.visualization.dependencyContributor">
      <contribution
            contributor="com.tibco.xpd.dependency.visualization.internal.contributor.XPDDependencyViewerContributor">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.dependency.visualization.internal.views.DependencyVisualizationEditor"
            default="false"
            icon="icons/obj16/DependencyViewer.png"
            id="com.tibco.xpd.dependency.visualization.editorID"
            name="%dependencyVisualizationEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.tibco.xpd.dependency.visualization.internal.DependencyEditorLinkHelper"
            id="com.tibco.xpd.dependency.visualization.linkHelperID">
         <editorInputEnablement>
            <instanceof
                  value="com.tibco.xpd.dependency.visualization.internal.views.DependencyVisualizationEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.tibco.xpd.dependency.visualization.linkHelperID">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.quickSearchContribution">
      <viewContribution
            class="com.tibco.xpd.dependency.visualization.internal.quickSearch.DependencyEditorQuickSearchContributor"
            viewId="com.tibco.xpd.dependency.visualization.editorID">
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.tibco.xpd.dependency.visualization.internal.command.handler.VisualizeDependenciesCommandHandler"
            description="%viewDependenciesinEditorCommand.description"
            id="com.tibco.xpd.dependency.visualization.visualizeDependencies.command.ID"
            name="%viewDependenciesinEditorCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="com.tibco.xpd.dependency.visualization.visualizeDependencies.command.ID"
               icon="icons/obj16/DependencyViewer.png"
               label="%viewDependenciesinEditorCommand.label"
               mnemonic="%viewDependenciesinEditorCommand.mnemonic"
               style="push"
               tooltip="%viewDependenciesinEditorCommand.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                  </or>
                  <reference
                        definitionId="onValidationPerspective">
                  </reference>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.dependency.visualization.internal.DependencyVisualizationEditorPreferencesManager">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="onValidationPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <or>
               <equals
                     value="com.tibco.xpd.bpm.modeling.perspective">
               </equals>
               <equals
                     value="com.tibco.modeling.perspective">
               </equals>
               <equals
                     value="com.tibco.xpd.n2.LiveDevelopment">
               </equals>
            </or>
         </with>
      </definition>
   </extension>
</plugin>
