
    .fb3c9f059-7f96-47a3-a0cb-0fefa1115202 .pane_toolbar > .label {
        display:none !important;
    }
    .fb3c9f059-7f96-47a3-a0cb-0fefa1115202 .pane_messages > .label {
        display:none !important;
    }
    .fb3c9f059-7f96-47a3-a0cb-0fefa1115202 .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fb3c9f059-7f96-47a3-a0cb-0fefa1115202 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
