<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">
      <globalDestination
            id="com.tibco.xpd.n2.core.n2GlobalDestination"
            name="%n2GlobalDestination_label_notrans">
      </globalDestination>

      <defaultGlobalDestination
            globalDestinationId="com.tibco.xpd.n2.core.n2GlobalDestination"
            name="%n2GlobalDestination_label_notrans">
      </defaultGlobalDestination>

      <!-- Sid ACE-470 Reinstated BOM CDS validation component because all the rules for BOM names not 
      	clashing with JavaScript names, valid name characters etc are there. 
      	PLUS we will be generating JavaScript classes for BOM class handling, so makes sense for them to remain. -->
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.n2.core.n2GlobalDestination"
            id="com.tibco.xpd.bom.cds.globalDestinationComponent"
            name="Generate CDS From BOM Component"
            visible="false">
      </globalDestinationComponent>

      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.n2.core.n2GlobalDestination"
            id="com.tibco.xpd.process.cds.globalDestinationComponent"
            name="Validate process use of CDS related data"
            visible="false">
      </globalDestinationComponent>

      <defaultGlobalDestinationComponent
            globalDestinationComponentId="com.tibco.xpd.bom.cds.globalDestinationComponent"
            name="%n2GlobalDestination_label_notrans"
            validationDestinationId="bom.cds.destination">
      </defaultGlobalDestinationComponent>

       <defaultGlobalDestinationComponent
            globalDestinationComponentId="com.tibco.xpd.process.cds.globalDestinationComponent"
            name="%n2GlobalDestination_label_notrans"
            validationDestinationId="cds.process.destination">
      </defaultGlobalDestinationComponent>
   </extension>
   <extension
         id="com.tibco.xpd.n2.resources.daaValidationMarker"
         name="%n2.daaValidationMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="sca.validation/n2"
            name="%n2.wm.category">
      </category>
      <category
            id="sca.validation/n2.models"
            name="%n2.wm.model.category">
      </category>
   </extension>


    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="com.tibco.xpd.n2.resources.refactoring.ScriptBOMElementRefactorParticipant"
             id="com.tibco.xpd.implementer.resources.xpdl2.scriptBOMElementRefactorParticipant"
             name="%scriptBomRename">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.uml2.uml.Class">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Package">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Property">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Enumeration">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.EnumerationLiteral">
                </instanceof>
             </or>
          </enablement>
       </renameParticipant>
       <renameParticipant
             class="com.tibco.xpd.n2.resources.refactoring.WSMappingBOMElementRefactorParticipant"
             id="com.tibco.xpd.implementer.resources.xpdl2.wsMappingBOMElementRefactorParticipant"
             name="%wsMappingBomRename">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.uml2.uml.Property">
                </instanceof>
             </or>
          </enablement>
       </renameParticipant>
    </extension>
    <extension
          point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
       <changePreviewViewer
             class="com.tibco.xpd.n2.resources.refactoring.ScriptBOMReferenceChangePreviewViewer"
             id="com.tibco.xpd.n2.resources.ui.scriptBOMRefactorPreviewViewer">
          <enablement>
             <instanceof
                   value="com.tibco.xpd.n2.resources.refactoring.ScriptBOMReferenceChange">
             </instanceof>
          </enablement>
       </changePreviewViewer>
       <changePreviewViewer
             class="com.tibco.xpd.n2.resources.refactoring.WSMappingBOMReferenceChangePreviewViewer"
             id="com.tibco.xpd.n2.resources.ui.wsMappingBOMRefactorPreviewViewer">
          <enablement>
             <instanceof
                   value="com.tibco.xpd.n2.resources.refactoring.WSMappingBOMReferenceChange">
             </instanceof>
          </enablement>
       </changePreviewViewer>
    </extension>

    <extension
          name="Contributions of BPM advanced properties for Task Retry"
          point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
       <DestinationEnvironments
             DestinationEnvCategoryLabel="%advanced_property_bpm_destination_activitylevel">
          <DestinationEnvironment
                DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
          </DestinationEnvironment>
       </DestinationEnvironments>
       <AdvancedProperties>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedTaskRetryProperties$RetryMaxProperty"
                DisplayName="%advanced_property_retry_max">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedTaskRetryProperties$RetryInitialPeriodProperty"
                DisplayName="%advanced_property_retry_initial_period">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedTaskRetryProperties$RetryPeriodIncrementProperty"
                DisplayName="%advanced_property_retry_increment_period">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedTaskRetryProperties$RetryMaxActionProperty"
                DisplayName="%advanced_property_retry_max_retry">
          </AdvancedProperty></AdvancedProperties>
    </extension>
    <extension
          name="Contributions of BPM advanced properties for Correlation Activities"
          point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
       <DestinationEnvironments
             DestinationEnvCategoryLabel="%correlation_timeout_advanced_prop_bpm">
          <DestinationEnvironment
                DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
          </DestinationEnvironment>
       </DestinationEnvironments>
       <AdvancedProperties>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedPropertiesCorrelationTimeout$CorrelationTimeoutDaysProperty"
                DisplayName="%correlation_timeout_days">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedPropertiesCorrelationTimeout$CorrelationTimeoutHoursProperty"
                DisplayName="%correlation_timeout_hours">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedPropertiesCorrelationTimeout$CorrelationTimeoutMinutesProperty"
                DisplayName="%correlation_timeout_minutes">
          </AdvancedProperty>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedPropertiesCorrelationTimeout$CorrelationTimeoutSecondsProperty"
                DisplayName="%correlation_timeout_seconds">
          </AdvancedProperty></AdvancedProperties>
    </extension>
    <extension
          name="Contributions of BPM advanced properties for Task Retry (Process-level)"
          point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
       <DestinationEnvironments
             DestinationEnvCategoryLabel="%advanced_property_bpm_destination_processlevel">
          <DestinationEnvironment
                DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
          </DestinationEnvironment>
       </DestinationEnvironments>
       <AdvancedProperties>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AdvancedPropertiesFaultConfiguration"
                DisplayName="%advanced_property_system_error_action">
          </AdvancedProperty></AdvancedProperties>
    </extension>
    <extension
          point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
       <DestinationEnvironments
             DestinationEnvCategoryLabel="%advanced_property_category_preAMXBPM_20">
          <DestinationEnvironment
                DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
          </DestinationEnvironment>
       </DestinationEnvironments>
       <AdvancedProperties>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.UseUnqualifiedCorrelationPropertyNameAdvProp"
                DisplayName="%advanced_property_use_unqualified_correlation_names">
          </AdvancedProperty>
       </AdvancedProperties>
    </extension>
     <extension
          point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
       <DestinationEnvironments
             DestinationEnvCategoryLabel="%advanced_property_category_unqualified_dynamic_subproc_name2">
          <DestinationEnvironment
                DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
          </DestinationEnvironment>
       </DestinationEnvironments>
       <AdvancedProperties>
          <AdvancedProperty
                ContributedAdvancedPropertyClass="com.tibco.xpd.n2.resources.properties.AllowUnqualifiedSubProcIdAdvProp"
                DisplayName="%advanced_property_use_unqualified_dynamic_subproc_names">
          </AdvancedProperty>
       </AdvancedProperties>
    </extension>
    <extension
          point="com.tibco.xpd.processwidget.diagramAnnotation">
       <annotationSource
             factory="com.tibco.xpd.n2.resources.ui.migrationAnnotation.MigrationPointAnnotationFactoryProvider">
       </annotationSource>
    </extension>
    <extension
          point="com.tibco.xpd.processeditor.xpdl2.processDiagramReferenceHighlighter">
       <StaticHighlighterProvider
             class="com.tibco.xpd.n2.resources.ui.migrationAnnotation.MigrationPointHighlighterContribution">
       </StaticHighlighterProvider>
    </extension>
 
 <!--   
 /*
 * Sid ACE-194:  Currently we do not support 'Publish as REST service' for individual activities.
 * Something rather than deleting as we may want to introduce something similar later.
 */
    
    <extension
          point="com.tibco.xpd.analyst.resources.xpdl2.processPreCommitCommandContributor">
       <ProcessPreCommitCommandContributor
             class="com.tibco.xpd.n2.resources.precommit.RESTServicePreCommitListener">
       </ProcessPreCommitCommandContributor>
    </extension>
-->
    
    <extension
          point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
       <FieldOrParamReferenceResolver
             class="com.tibco.xpd.n2.resources.SubProcessTaskPriorityDataRefResolver">
       </FieldOrParamReferenceResolver>
    </extension>

  <extension
         point="com.tibco.xpd.processeditor.xpdl2.processEditorPreferenceContribution">
      <processModelerPageContributor
            preferencePageContribution="com.tibco.xpd.n2.resources.ui.FlowAnalyzerPreferenceContributor">
      </processModelerPageContributor>
   </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.tibco.xpd.n2.resources.N2PreferenceInitializer">
     </initializer>
  </extension>

   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.n2.resources.postimport.RemoveGenProjectReferencesPostImportTask"
            id="com.tibco.xpd.n2.resources.postImportTask.removeGenProjectReferences"
            priority="50">
      </postImportTask>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            appliesToNatureIds="com.tibco.xpd.resources.xpdNature"
            class="com.tibco.xpd.n2.resources.postimport.Bpm2CeProjectConfigPostImportTask"
            id="com.tibco.xpd.n2.resources.setCeDestinationPostImportTask"
            priority="20">
      </postImportTask>
   </extension>
   <extension
         point="com.tibco.xpd.bom.resources.migration">
      <migrate
            class="com.tibco.xpd.n2.resources.postimport.Bpm2CeBomMigration"
            id="com.tibco.xpd.n2.resources.bpm2ceBomMigration"
            name="BPM 2 CE BOM Migration"
            version="6">
      </migrate>
   </extension>

</plugin>
