<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="BxBpelExtensionActivity"
         name="BxBpelExtensionActivity"
         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">
      <builder
            class="com.tibco.bx.extension.java.converter.ConvertJava"
            targetModel="com.tibco.xpd.implementer.nativeservices.java.javaservice.eaijava.EAIJava">
      </builder>
   </extension>
   <extension
         point="com.tibco.bx.composite.xpdl.core.extensionDependencies">
      <extensionDependencies
            id="com.tibco.bx.extension.java.converter.Templates"
            implementationTypeId="implementation.bx"
            objectClass="com.tibco.xpd.implementer.nativeservices.java.javaservice.eaijava.EAIJava">
         <importPackage
               maximum="2.0.0"
               minimum="1.0.0"
               name="com.tibco.bx.extension.java.core">
         </importPackage>
      </extensionDependencies>
   </extension>

</plugin>
