<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="calendar" name="Calendar" schema="schema/calendar.exsd"/>
   <extension
         point="com.tibco.xpd.scheduling.calendar">
      <calendar
            file="resources/calendars/calendar_en_GB_ENG.xml"
            locale="en_GB_ENG"/>
      <calendar
            file="resources/calendars/calendar_en_US.xml"
            locale="en_US"/>
      <calendar
            file="resources/calendars/calendar_default.xml"
            locale="default"/>
   </extension>



</plugin>

