<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!--Daa Composite contributor for GSD Project.-->
  <extension
          point="com.tibco.xpd.daa.compositeContributors">
       <contributor
             class="com.tibco.xpd.n2.globalsignal.deploy.compositecontributor.GsdCompositeContributor"
             contextId="com.tibco.xpd.amx.bpm"
             id="com.tibco.xpd.n2.globalsignal.resource.deploy.GsdCompositeContributor"
             suppressPrepareBeforeUndeployPolicy="[gG][sS][dD]">
       </contributor>
  </extension>
  <!--Gsd Implementation type provider.-->
  <extension
         point="com.tibco.amf.tools.componenttype.implementationTypeProvider">
      <implementation
            class="com.tibco.xpd.n2.globalsignal.deploy.implementationprovider.GlobalSignalImplementationTypeProvider"
            implementationTypeId="global.signal.implementation.bx">
      </implementation>
  </extension> 
  <!--Gsd requirement resolver.-->
  <extension
        point="com.tibco.bx.composite.core.requirementsResolver">
     <resolver
           class="com.tibco.xpd.n2.globalsignal.deploy.requirementresolver.GsdRequirementResolver"
           implementationTypeId="global.signal.implementation.bx">
     </resolver>
  </extension> 
</plugin> 
