<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
            type="import"
            wizardId="com.tibco.xpd.bom.dbimport.importFromDB">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bom">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="com.tibco.xpd.bom.db.doesdtpexist">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bom">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="com.tibco.xpd.bom.db.doesdtpexist">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
</extension>
<!-- Sid ACE-7806 remove the Import BPM from Database wizard as we have 
     removed Data Source Explorer (which would be required to setup DB profile for wixard) -->
     <!-- 
<extension
      point="org.eclipse.ui.importWizards">
   <wizard
         category="com.tibco.xpd.bom.modeler.custom.importCategory"
         class="com.tibco.xpd.bom.dbimport.wizards.ImportDb2BomWizard"
         icon="icons/Database.gif"
         id="com.tibco.xpd.bom.dbimport.importFromDB"
         name="%wizard.name.0">
   </wizard>
</extension>
-->
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="com.tibco.xpd.bom.dbimport.DoesDtpExistPropertTester"
         id="com.tibco.xpd.bom.db.doesdtpexist"
         namespace="com.tibco.xpd.bom.db"
         properties="doesdtpexist"
         type="com.tibco.xpd.resources.projectconfig.SpecialFolder">
   </propertyTester>
</extension>
</plugin>
