
    .f936c33f3-389f-42f7-a1cd-6906e93963dd .pane_messages > .label {
        display:none !important;
    }
    .f936c33f3-389f-42f7-a1cd-6906e93963dd .pane_toolbar > .label {
        display:none !important;
    }
    .f936c33f3-389f-42f7-a1cd-6906e93963dd .pane_root > .label {
        
display:block !important;    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.f936c33f3-389f-42f7-a1cd-6906e93963dd > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
