
    .fffffabd1-3836-436c-8099-20a2edf4190f .pane_messages > .label {
        display:none !important;
    }
    .fffffabd1-3836-436c-8099-20a2edf4190f .pane_root > .label {
        
display:block !important;    }
    .fffffabd1-3836-436c-8099-20a2edf4190f .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fffffabd1-3836-436c-8099-20a2edf4190f > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
