<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.deploy.core.serverTypes">
      <serverType
            connectionFactory="com.tibco.xpd.deploy.server.jms.JMSConnectionFactory"
            id="com.tibco.xpd.deploy.server.jms.serverType"
            name="%serverType_JMSServerName">
         <supportedRepository
               repositoryId="com.tibco.xpd.deploy.ui.WorkspaceRpository">
         </supportedRepository>
         <configParameter
               automatic="true"
               defaultValue="localhost"
               key="host"
               label="%configParameterHost_label"
               name="%configParameterHost_shortdesc"
               parameterType="string"
               required="true">
         </configParameter>
         <configParameter
               automatic="true"
               defaultValue="7222"
               key="port"
               label="%configParameterPort_label"
               name="%configParameterPort_shortdesc"
               parameterType="integer"
               required="true">
         </configParameter>
         <configParameter
               automatic="true"
               defaultValue="QueueConnectionFactory"
               key="jndi"
               label="%configParameterJndiName_label"
               name="%configParameterJndiName_shortdesc"
               parameterType="string"
               required="true">
         </configParameter>
         <configParameter
               automatic="true"
               key="targetQueueName"
               label="%configParameterTargetQueueName_label"
               name="%configParameterTargetQueueName_shortdesc"
               parameterType="string"
               required="true">
         </configParameter>
         <configParameter
               automatic="true"
               key="username"
               label="%configParameterUsername_label"
               name="%configParameterUsername_shortdesc"
               parameterType="string"
               required="false">
         </configParameter>
         <configParameter
               automatic="true"
               key="password"
               label="%configParameterPasseord_label"
               name="%configParameterPassword_shortdesc"
               parameterType="password"
               required="false">
         </configParameter>
      </serverType>
   </extension>


</plugin>
