<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="BxBpelExtensionActivity"
         name="BxBpelExtensionActivity"
         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">
      <builder
            class="com.tibco.bx.extension.database.converter.ConvertDatabase"
            targetModel="com.tibco.xpd.implementer.nativeservices.databaseservice.database.DatabaseType"/>
   </extension>
   
   
   <extension
         point="com.tibco.bx.composite.xpdl.core.extensionDependencies">
      <extensionDependencies
            id="com.tibco.bx.extension.database.converter.dependencies"
            implementationTypeId="implementation.bx"
            objectClass="com.tibco.xpd.implementer.nativeservices.databaseservice.database.DatabaseType">
         <importPackage
               name="com.tibco.amf.sca.model.implementationtype.java"
               maximum="2.0.0"
               minimum="1.0.0"/>
         <importPackage
               name="com.tibco.bx.bpelExtension.extensionActivity"
               maximum="2.0.0"
               minimum="1.0.0"/>
         <importPackage
               name="com.tibco.bx.extensions.database.databaseExtensionsModel"
               maximum="2.0.0"
               minimum="1.0.0"/>
         <importPackage
               name="com.tibco.bx.extension.database.core"
               maximum="2.0.0"
               minimum="1.0.0"/>
      </extensionDependencies>
   </extension>
   <extension
         point="com.tibco.bx.composite.core.componentTypeContributor">
      <contributor
            class="com.tibco.bx.extension.database.composite.DatabaseTaskComponentTypeContributor"
            implementationTypeId="implementation.bx">
      </contributor>
   </extension>
   <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.bpmnCatchableErrorProviders">
      <ErrorBrowser
            class="com.tibco.bx.extension.database.error.DatabaseCatchableErrorProvider">
      </ErrorBrowser>
   </extension>

</plugin>
