
    .fecd96242-76ed-48c5-b8a0-dc2c0bc97bff .pane_toolbar > .label {
        display:none !important;
    }
    .fecd96242-76ed-48c5-b8a0-dc2c0bc97bff .pane_root > .label {
        
display:block !important;    }
    .fecd96242-76ed-48c5-b8a0-dc2c0bc97bff .pane_messages > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fecd96242-76ed-48c5-b8a0-dc2c0bc97bff > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
