<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="json.schema.destination"
            name="%json.schema.destination"
            selectable="false"
            version="">
         <filter
               class="com.tibco.xpd.rest.schema.validator.JsonSchemaFileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.rest.schema.validator.provider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.rest.schema.validator.provider"
            name="%com.tibco.xpd.rest.schema.validator.provider"
            scopeProvider="com.tibco.xpd.rest.schema.validator.providers.JsonSchemaScopeProvider">
         <rule
               class="com.tibco.xpd.rest.schema.validator.rules.JsonSchemaValidationRule">
         </rule>
      </provider>
      <issue
            id="rest.schema.missingReferencedType"
            message="%rest.schema.missingReferencedType"
            severity="ERROR">
      </issue>
      <issue
            id="rest.schema.missingProjectReference"
            message="%rest.schema.missingProjectReference"
            severity="ERROR">
      </issue>
      <issue
            id="rest.schema.duplicateClassName"
            message="%rest.schema.duplicateClassName"
            severity="ERROR">
      </issue>
      <issue
            id="rest.schema.invalidPropertyName"
            message="%rest.schema.invalidPropertyName"
            severity="ERROR">
      </issue>
      <issue
            id="rest.schema.emptyPropertyName"
            message="%rest.schema.emptyPropertyName"
            severity="ERROR">
      </issue>
       <issue
            id="rest.schema.duplicatePropertyName"
            message="%rest.schema.duplicatePropertyName"
            severity="ERROR">
      </issue>
       <issue
            id="rest.schema.emptyClassName"
            message="%rest.schema.emptyClassName"
            severity="ERROR">
      </issue>      
       <issue
            id="warning.rest.schema.typeNameShouldStartWithCapLetter"
            message="%warning.rest.schema.typeNameShouldStartWithCapLetter"
            severity="WARNING">
      </issue>   
      <issue
            id="warning.rest.schema.propertyNameShouldStartWithLowerCase"
            message="%warning.rest.schema.propertyNameShouldStartWithLowerCase"
            severity="WARNING">
      </issue>
      <issue
            id="rest.schema.propertyTypeNotSet"
            message="%rest.schema.propertyTypeNotSet"
            severity="ERROR">
      </issue>   
   </extension>

</plugin>
