<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.tibco.xpd.resources.ui.perspectiveLifecycleListener">
      <perspectiveListener
            class="com.tibco.xpd.bpm.simplified.ui.SimplifiedUiPerspectiveListener">
      </perspectiveListener>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.xpd.bpm.simplified.ui.BpmModelingPerspectiveFactory"
            icon="icons/bpm_modeling_perspective.png"
            id="com.tibco.xpd.bpm.modeling.perspective"
            name="%bpm_perspective_name">
            <description>
               %bpm_perspective_description
            </description>
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.xpd.bpm.modeling.perspective">
         
          <!-- Views -->
         <view
               id="com.tibco.xpd.fragments.view"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true" />
         <!-- ACE-2011: Remove Unsupported features. Deployment      
         <view
               id="com.tibco.xpd.deploy.server.view"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline" />
         -->      
         <view
               id="com.tibco.xpd.core.help.views.XpdHelpView"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet" 
               visible="false"/> <!-- Not visible - only to determine location -->
         
         <!-- New wizard shotrcuts -->
         <newWizardShortcut id="com.tibco.xpd.newProject.BPMSOADeveloper" />
         <newWizardShortcut id="com.tibco.xpd.newProject.BusinessData" />
         <newWizardShortcut id="com.tibco.xpd.newProject.OMDeveloper" />
         <newWizardShortcut id="com.tibco.xpd.newProject.FacadeDeveloper" />
         <newWizardShortcut id="com.tibco.xpd.newProject.GSDDeveloper" />
         <newWizardShortcut id="com.tibco.xpd.rest.wizard.project.new" />
         <!-- ACE-2011: Remove Unsupported features.(Gegeric "Analysis Project")
         <newWizardShortcut id="com.tibco.xpd.analysisProject" />
         -->
         
         <newWizardShortcut id="com.tibco.xpd.analyst.resources.xpdl2.newpackage.wizard" />
         <newWizardShortcut id="com.tibco.xpd.bom.modeler.diagram.part.UMLCreationWizardID" />
         <newWizardShortcut id="com.tibco.xpd.om.modeler.diagram.part.OrganizationModelCreationWizardID" />
        
         <!-- Perspective shotcuts -->
         <perspectiveShortcut id="com.tibco.modeling.perspective" />
         <perspectiveShortcut id="com.tibco.xpd.n2.LiveDevelopment" />
         <perspectiveShortcut id="org.eclipse.team.ui.TeamSynchronizingPerspective" />
         <perspectiveShortcut id="org.tigris.subversion.subclipse.ui.svnPerspective" />
        
         <!-- View shortcuts -->
         <viewShortcut id="com.tibco.xpd.fragments.view" />
         <viewShortcut id="org.eclipse.gef.ui.palette_view" />
         
         <!-- HIDING MENU -->
         <!-- Main -->
         <hiddenMenuItem id="navigate" />
         <hiddenMenuItem id="org.eclipse.search.menu" />
         <hiddenMenuItem id="org.eclipse.ui.run" />
         
         <!-- File -->
         <hiddenMenuItem id="converstLineDelimitersTo" />
         
         <!-- Project -->
         <hiddenMenuItem id="org.eclipse.ui.internal.ide.actions.BuildSetMenu" />
        
         <!-- Help -->
         <hiddenMenuItem id="com.tibco.xpd.bpm.soa.help.webHelp.command" />
         <hiddenMenuItem id="org.eclipse.ui.help.helpContents" />
         <hiddenMenuItem id="org.eclipse.ui.help.helpSearch" />
         <hiddenMenuItem id="org.eclipse.ui.help.dynamicHelp" />
         <hiddenMenuItem id="org.eclipse.ui.help.tipsAndTricksAction" />
         <hiddenMenuItem id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction" />
         <hiddenMenuItem id="org.eclipse.update.ui.updateMenu" />
         <hiddenMenuItem id="org.eclipse.ui.update.findAndInstallUpdates" />
         <hiddenMenuItem id="org.eclipse.ui.update.manageConfiguration" />
         <hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.update" />
         <hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.install" />
         
         
         <!-- HIDING TOOLBAR -->
         <!-- Navigate -->
         <hiddenToolBarItem id="org.eclipse.ui.workbench.navigate" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.next" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.previous" />
         <hiddenToolBarItem id="org.eclipse.ui.edit.text.gotoLastEditPosition" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.backwardHistory" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.forwardHistory" />
         <hiddenToolBarItem id="org.eclipse.ui.window.pinEditor" />
         
         <!-- File -->
         <hiddenToolBarItem id="org.eclipse.ui.project.buildAll" />
         
         <!-- Launch -->
         <hiddenToolBarItem id="org.eclipse.debug.ui.launchActionSet" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.RunDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.ProfileDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar" />
         
         <!-- Search -->
         <hiddenToolBarItem id="org.eclipse.search.OpenSearchDialogPage" />
         
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.xpd.n2.LiveDevelopment">
        
         <!-- Shortcut from 'Live Dev.' to 'BPM Modeling' perspective. -->
         <perspectiveShortcut id="com.tibco.xpd.bpm.modeling.perspective" />
         
         <!-- Menu and toolbar items will be supressed for live perspective the same way as they are for bpm modeling perspective. 
         We should try to keep these list in sync. -->
         
         <!-- HIDING MENU -->
         <!-- Main -->
         <hiddenMenuItem id="navigate" />
         <hiddenMenuItem id="org.eclipse.search.menu" />
         <hiddenMenuItem id="org.eclipse.ui.run" />
         
         <!-- File -->
         <hiddenMenuItem id="converstLineDelimitersTo" />
         
         <!-- Project -->
         <hiddenMenuItem id="org.eclipse.ui.internal.ide.actions.BuildSetMenu" />
        
         <!-- Help -->
         <hiddenMenuItem id="com.tibco.xpd.bpm.soa.help.webHelp.command" />
         <hiddenMenuItem id="org.eclipse.ui.help.helpContents" />
         <hiddenMenuItem id="org.eclipse.ui.help.helpSearch" />
         <hiddenMenuItem id="org.eclipse.ui.help.dynamicHelp" />
         <hiddenMenuItem id="org.eclipse.ui.help.tipsAndTricksAction" />
         <hiddenMenuItem id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction" />
         <hiddenMenuItem id="org.eclipse.update.ui.updateMenu" />
         <hiddenMenuItem id="org.eclipse.ui.update.findAndInstallUpdates" />
         <hiddenMenuItem id="org.eclipse.ui.update.manageConfiguration" />
         <hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.update" />
         <hiddenMenuItem id="org.eclipse.equinox.p2.ui.sdk.install" />
         
         
         <!-- HIDING TOOLBAR -->
         <!-- Navigate -->
         <hiddenToolBarItem id="org.eclipse.ui.workbench.navigate" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.next" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.previous" />
         <hiddenToolBarItem id="org.eclipse.ui.edit.text.gotoLastEditPosition" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.backwardHistory" />
         <hiddenToolBarItem id="org.eclipse.ui.navigate.forwardHistory" />
         <hiddenToolBarItem id="org.eclipse.ui.window.pinEditor" />
         
         <!-- File -->
         <hiddenToolBarItem id="org.eclipse.ui.project.buildAll" />
         
         <!-- Launch -->
         <hiddenToolBarItem id="org.eclipse.debug.ui.launchActionSet" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.RunDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.ProfileDropDownAction" />
         <hiddenToolBarItem id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar" />
         
         <!-- Search -->
         <hiddenToolBarItem id="org.eclipse.search.OpenSearchDialogPage" />
         
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <!-- Shortcut from 'Modeling' to 'BPM Modeling' perspective. -->
         <perspectiveShortcut id="com.tibco.xpd.bpm.modeling.perspective" />
      </perspectiveExtension>
   </extension>
   
   <extension
      point="org.eclipse.ui.activities">
	    <category
	          description="%non_bpm_features_category_description"
	          id="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"
	          name="%non_bpm_features_category_name">
	    </category>
        
        <categoryActivityBinding
          activityId="org.eclipse.javaDevelopment"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="org.eclipse.plugInDevelopment"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
	    
        <categoryActivityBinding
          activityId="org.eclipse.debugSupport"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
	    
        <categoryActivityBinding
          activityId="org.eclipse.debugSupport"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="org.eclipse.antDevelopment"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="org.eclipse.birt.activity"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
                   
        <categoryActivityBinding
          activityId="org.eclipse.team.cvs"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
	    <!-- Custom -->
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.oaw"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.emf"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.datatools"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.jee"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.emfuml"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.js"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
	   
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.wstserver"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.webservices"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.amf"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.web"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.webservices"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.install"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
	   
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.xmlcatalog"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
          
        <categoryActivityBinding
          activityId="com.tibco.xpd.simplified.ui.activity.ldaptools"
          categoryId="com.tibco.xpd.bpm.simplified.ui.nonbpm.catetory"/>
	   
   </extension>
   
   <extension
      point="org.eclipse.ui.activities">
        <!-- NOTE: It's not possible to hide primary wizard UI contributions.
        See also: https://bugs.eclipse.org/bugs/show_bug.cgi?id=168066
        -->
        
        <!-- OAW -->
        <activity
          id="com.tibco.xpd.simplified.ui.activity.oaw"
          name="%oaw_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.oaw"
          pattern="org\.openarchitectureware\..*/.*" />

        <!-- EMF -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.emf"
          name="%emf_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.emf"
          pattern="org\.eclipse\.emf\..*/.*"/>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.emf"
          pattern="org\.eclipse\.m2m\.qvt\.oml\.runtime\.ui/.*"/>
          
        <!-- Datatools -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.datatools"
          name="%dtp_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.datatools"
          pattern="org\.eclipse\.datatools\..*/.*"/>
          
        <!-- Java EE -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.jee"
          name="%j2ee_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.jee"
          pattern="org\.eclipse\.jst\.j2ee\..*/.*"/>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.jee"
          pattern="org\.eclipse\.jst\.ejb\..*/.*"/>
          
        <!-- UML EMF Example-->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.emfuml"
          name="%emf_example__activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.emfuml"
          pattern="org\.eclipse\.uml2\.uml\.editor/.*"/>
          
        <!-- JSDT -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.js"
          name="%js_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.js"
          pattern="org\.eclipse\.wst\.jsdt\.ui/.*"/>
          
        <!-- WST Server Example-->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.wstserver"
          name="%wst_activity_name">
        </activity>
        <activityPatternBinding
          activityId="com.tibco.xpd.simplified.ui.activity.wstserver"
          pattern="org\.eclipse\.wst\.server\.ui/.*"/>
          
        <!-- Web Services (partial) -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.webservices"
          name="%service_registry_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              isEqualityPattern="true"
              pattern="com.tibco.xpd.wsdl.ui/com.tibco.xpd.registry.ui.services"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              isEqualityPattern="true"
              pattern="com.tibco.xpd.wsdl.ui/com.tibco.xpd.wsdl.ui.concretewsdl.wizard"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              isEqualityPattern="true"
              pattern="org.eclipse.wst.command.env.ui/org.eclipse.wst.command.env.ui.AntFileImportWizard"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              isEqualityPattern="true"
              pattern="org.eclipse.jst.ws.uddiregistry/org.eclipse.jst.ws.internal.uddiregistry.widgets.binding.PrivateUDDIWidgetBinding"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              pattern="org\.eclipse\.jst\.ws\.creation\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.webservices"
              pattern="org\.eclipse\.jst\.ws\.consumption\.ui/.*"/>
              
        <!-- TIBCO SOA Platform -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.amf"
          name="%tibco_soa_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.amf"
              pattern="com\.tibco\.amf\.tools\.composite\.resources\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.amf"
              pattern="com\.tibco\.amf\.tools\.composite\.contributions/.*"/>
              
        <!-- Web -->          
        <activity
          id="com.tibco.xpd.simplified.ui.activity.web"
          name="%web_dev_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.web"
              pattern="org\.eclipse\.jst\.servlet\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.web"
              pattern="org\.eclipse\.wst\.css\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.web"
              pattern="org\.eclipse\.wst\.html\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.web"
              pattern="org\.eclipse\.jst\.jsp\.ui/.*"/>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.web"
              pattern="org\.eclipse\.wst\.web\.ui/.*"/>
         
        <!-- import/export install -->     
        <activity
          id="com.tibco.xpd.simplified.ui.activity.install"
          name="%install_exp_imp_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.install"
              pattern="org\.eclipse\.equinox\.p2\.ui\.importexport/.*"/>
              
        <!-- import/export install -->     
        <activity
          id="com.tibco.xpd.simplified.ui.activity.xmlcatalog"
          name="%xml_catalog_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.xmlcatalog"
              pattern="org\.eclipse\.wst\.xml\.ui/.*"/>
              
        <!-- LDAP features -->     
        <activity
          id="com.tibco.xpd.simplified.ui.activity.ldaptools"
          name="%apache_directory_studio_activity_name">
        </activity>
        <activityPatternBinding
              activityId="com.tibco.xpd.simplified.ui.activity.ldaptools"
              pattern="org\.apache\.directory\.studio.*/.*"/>
        
        
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.resources.ui.userInfoPreferencePage"
            class="com.tibco.xpd.bpm.simplified.ui.preferences.SimplifiedUiPreferencePage"
            id="com.tibco.xpd.bpm.simplified.ui.preferences.SimplifiedUiPreferencePage"
            name="%simplified_ui_preferences_page">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.bpm.simplified.ui.preferences.SimplifiedUiPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
