<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.om.modeler.custom.hideview"
            objectClass="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrgUnitSubEditPart">
         <action
               class="com.tibco.xpd.om.modeler.custom.actions.ExpandCollapseOrgUnitsAction"
               definitionId="com.tibco.xpd.om.HideView"
               id="com.tibco.xpd.om.modeler.custom.hideviewaction"
               label="%expandCollapseHierarchy_action">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMBadgeParserProvider">
         <Priority
               name="Medium">
         </Priority>
      </ParserProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.om.modeler.diagram">
         <propertyTab
               category="domain"
               id="om.editor.property.general"
               label="%tabGeneral_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.general"
               category="domain"
               id="om.editor.property.description"
               label="%tabDescription_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.description"
               category="domain"
               id="om.editor.property.attributeValues"
               label="%tabAttributeValues_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.description"
               category="domain"
               id="om.editor.property.dynamicOrgIdentifiers"
               label="%tabDynamicOrgIdent_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.dynamicOrgIdentifiers"
               category="domain"
               id="om.editor.property.orgUnits"
               label="%tabOrgUnits_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.orgUnits"
               category="domain"
               id="om.editor.property.positions"
               label="%tabPositions_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.orgUnits"
               category="domain"
               id="om.editor.property.capabilities-defined"
               label="%tabDefinedCapabilities_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.privileges-defined"
               category="domain"
               id="om.editor.property.privileges"
               label="%tabAssignedPriveleges_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.capabilities"
               category="domain"
               id="om.editor.property.privileges-defined"
               label="%tabDefinedPriveleges_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.description"
               category="domain"
               id="om.editor.property.systemActions"
               label="%tabSystemActions_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.description"
               category="domain"
               id="om.editor.property.groups"
               label="%tabGroups_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.privileges-defined"
               category="domain"
               id="om.editor.property.locations"
               label="%tabLocations_label">
         </propertyTab>
         <propertyTab
               afterTab="om.editor.property.locations"
               category="domain"
               id="om.editor.property.resources"
               label="%tabResources_label_1">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.om.modeler.subdiagram">
         <propertyTab
               category="domain"
               id="om.sub.editor.property.general"
               label="%tabGeneral_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.general"
               category="domain"
               id="om.sub.editor.property.description"
               label="%tabDescription_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.description"
               category="domain"
               id="om.sub.editor.property.attributeValues"
               label="%tabAttributeValues_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.description"
               category="domain"
               id="om.sub.editor.property.dynamicOrgIdentifier"
               label="%tabDynamicOrgIdent_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.dynamicOrgIdentifier"
               category="domain"
               id="om.sub.editor.property.orgUnits"
               label="%tabOrgUnits_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.orgUnits"
               category="domain"
               id="om.sub.editor.property.position"
               label="%tabPositions_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.orgUnits"
               category="domain"
               id="om.sub.editor.property.capabilities"
               label="%tabAssignedCapabilities_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.capabilities"
               category="domain"
               id="om.sub.editor.property.privileges"
               label="%tabAssignedPriveleges_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.privileges"
               category="domain"
               id="om.sub.editor.property.resources"
               label="%tabResources_label_1">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.description"
               category="domain"
               id="om.sub.editor.property.systemActions"
               label="%tabSystemActions_label">
         </propertyTab>
         <propertyTab
               afterTab="om.sub.editor.property.description"
               category="domain"
               id="om.sub.editor.property.groups"
               label="%tabGroups_label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.om.modeler.diagram">
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.NamedElementSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.NamedElementSection"
               id="com.tibco.xpd.om.modeler.diagram.property.namedElement.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.DynamicOrgUnitSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.DynamicOrgUnitSection"
               id="com.tibco.xpd.om.modeler.diagram.property.dynamicOrgUnit.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.BaseOrgModelSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.BaseOrgModelSection"
               id="com.tibco.xpd.om.modeler.diagram.property.baseOrgModel.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgTypedElementSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgTypedElementSection"
               id="com.tibco.xpd.om.modeler.diagram.property.orgTypedElement.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.orgTypedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.AllocableSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.AllocableSection"
               id="com.tibco.xpd.om.modeler.diagram.property.allocable.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.allocable.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgElementPurposeSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgElementPurposeSection"
               id="com.tibco.xpd.om.modeler.diagram.property.orgElement.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.startEndDates.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.LocatableSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.LocatableSection"
               id="com.tibco.xpd.om.modeler.diagram.property.locatable.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.DescriptionSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.DescriptionSection"
               id="com.tibco.xpd.om.modeler.diagram.property.description"
               tab="om.editor.property.description">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.FeatureSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.FeatureSection"
               id="com.tibco.xpd.om.modeler.diagram.property.feature.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.AttributeValuesSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.AttributeValuesSection"
               id="com.tibco.xpd.om.modeler.diagram.property.attributeValues"
               tab="om.editor.property.attributeValues">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.OrgUnitsTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.OrgUnitsTabSection"
               id="com.tibco.xpd.om.modeler.diagram.property.orgUnits"
               tab="om.editor.property.orgUnits">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.PositionsTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.PositionsTabSection"
               id="com.tibco.xpd.om.modeler.diagram.property.positions"
               tab="om.editor.property.positions">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.PrivilegesTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.PrivilegesTabSection"
               id="com.tibco.xpd.om.modeler.diagram.property.privileges"
               tab="om.editor.property.privileges">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.description"
               class="com.tibco.xpd.om.resources.ui.properties.sections.SystemActionTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.SystemActionTabSection"
               id="com.tibco.xpd.om.modeler.diagram.property.systemActions"
               tab="om.editor.property.systemActions">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.description"
               class="com.tibco.xpd.om.resources.ui.properties.sections.GroupsSubGroupsTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.GroupsSubGroupsTabSection"
               id="com.tibco.xpd.om.modeler.diagram.groups"
               tab="om.editor.property.groups">
         </propertySection>
         <propertySection
               afterSection="property.section.ShapeColorAndFontPropertySection"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.DiagramBackgroundSection"
               id="com.tibco.xpd.om.editor.property.appearance.diagramBackground"
               tab="property.tab.AppearancePropertySection">
            <input
                  type="com.tibco.xpd.om.modeler.diagram.edit.parts.OrgModelEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="property.section.ShapeColorAndFontPropertySection"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.ShapeGradientSection"
               filter="com.tibco.xpd.om.modeler.custom.propertysection.appearance.ShapeGradientSection"
               id="com.tibco.xpd.om.editor.property.appearance.shapegradient"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               afterSection="property.section.ShapeColorAndFontPropertySection"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.BorderGradientSection"
               filter="com.tibco.xpd.om.modeler.custom.propertysection.appearance.BorderGradientSection"
               id="com.tibco.xpd.om.editor.property.appearance.bordergradient"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.PrivilegesGroupSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.PrivilegesGroupSection"
               id="com.tibco.xpd.om.modeler.diagram.property.privileges-defined"
               tab="om.editor.property.privileges-defined">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.OrgElementGroupSection: location"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.OrgElementGroupSection"
               id="com.tibco.xpd.om.modeler.diagram.property.locations"
               tab="om.editor.property.locations">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.OrgElementGroupSection: resource"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.OrgElementGroupSection"
               id="com.tibco.xpd.om.modeler.diagram.property.resources"
               tab="om.editor.property.resources">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.CapabilitiesGroupSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.groups.CapabilitiesGroupSection"
               id="com.tibco.xpd.om.modeler.diagram.property.capabilities-defined"
               tab="om.editor.property.capabilities-defined">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.diagram.property.orgElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.OrgElementStartEndDatesSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.OrgElementStartEndDatesSection"
               id="com.tibco.xpd.om.modeler.diagram.property.startEndDates.general"
               tab="om.editor.property.general">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.DynamicOrgIdentifiersSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.DynamicOrgIdentifiersSection"
               id="com.tibco.xpd.om.modeler.diagram.property.dynamicOrgIdentifiers"
               tab="om.editor.property.dynamicOrgIdentifiers">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.om.modeler.subdiagram">
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.NamedElementSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.NamedElementSection"
               id="com.tibco.xpd.om.modeler.subdiagram.namedElement.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.DynamicOrgUnitSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.DynamicOrgUnitSection"
               id="com.tibco.xpd.om.modeler.subdiagram.dynamicOrgUnit.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgTypedElementSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgTypedElementSection"
               id="com.tibco.xpd.om.modeler.subdiagram.orgTypeElement.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.orgTypeElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.AllocableSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.AllocableSection"
               id="com.tibco.xpd.om.modeler.subdiagram.allocable.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.allocable.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgElementPurposeSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgElementPurposeSection"
               id="com.tibco.xpd.om.modeler.subdiagram.orgElement.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.orgElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.OrgElementStartEndDatesSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.internal.general.OrgElementStartEndDatesSection"
               id="com.tibco.xpd.om.modeler.subdiagram.property.startEndDates.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.property.startEndDates.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.LocatableSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.LocatableSection"
               id="com.tibco.xpd.om.modeler.subdiagram.locatable.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.allocable.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.PositionGeneralSection"
               enablesFor="1"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.PositionGeneralSection"
               id="com.tibco.xpd.om.modeler.subdiagram.position.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.DescriptionSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.DescriptionSection"
               id="com.tibco.xpd.om.modeler.subdiagram.description"
               tab="om.sub.editor.property.description">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.FeatureSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.general.FeatureSection"
               id="com.tibco.xpd.om.modeler.subdiagram.feature.general"
               tab="om.sub.editor.property.general">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.AttributeValuesSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.AttributeValuesSection"
               id="com.tibco.xpd.om.modeler.subdiagram.attributeValues"
               tab="om.sub.editor.property.attributeValues">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.OrgUnitsTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.OrgUnitsTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.orgUnits"
               tab="om.sub.editor.property.orgUnits">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.PositionsTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.PositionsTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.positions"
               tab="om.sub.editor.property.position">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.PrivilegesTabSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.PrivilegesTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.privileges"
               tab="om.sub.editor.property.privileges">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.description"
               class="com.tibco.xpd.om.resources.ui.properties.sections.SystemActionTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.SystemActionTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.systemActions"
               tab="om.sub.editor.property.systemActions">
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.modeler.subdiagram.namedElement.general"
               class="com.tibco.xpd.om.resources.ui.properties.sections.general.OrgUnitRelationshipSection"
               id="com.tibco.xpd.om.modeler.subdiagram.orgUnitRelationship.general"
               tab="om.sub.editor.property.general">
            <input
                  type="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrgUnitSubRelationshipEditPart">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.CapabilitiesTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.capabilities"
               tab="om.sub.editor.property.capabilities">
            <input
                  type="com.tibco.xpd.om.modeler.subdiagram.edit.parts.PositionSubEditPart">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.ResourceAssocTabSection"
               id="com.tibco.xpd.om.modeler.subdiagram.resources"
               tab="om.sub.editor.property.resources">
            <input
                  type="com.tibco.xpd.om.modeler.subdiagram.edit.parts.PositionSubEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="com.tibco.xpd.om.subeditor.property.appearance.bordergradient"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.DiagramBackgroundSection"
               id="com.tibco.xpd.om.subeditor.property.appearance.diagramBackground"
               tab="property.tab.AppearancePropertySection">
            <input
                  type="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrganizationSubEditPart">
            </input>
         </propertySection>
         <propertySection
               afterSection="property.section.ShapeColorAndFontPropertySection"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.ShapeGradientSection"
               filter="com.tibco.xpd.om.modeler.custom.propertysection.appearance.ShapeGradientSection"
               id="com.tibco.xpd.om.subeditor.property.appearance.shapegradient"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               afterSection="property.section.ShapeColorAndFontPropertySection"
               class="com.tibco.xpd.om.modeler.custom.propertysection.appearance.BorderGradientSection"
               filter="com.tibco.xpd.om.modeler.custom.propertysection.appearance.BorderGradientSection"
               id="com.tibco.xpd.om.subeditor.property.appearance.bordergradient"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.om.resources.ui.properties.sections.organization.DynamicOrgIdentifiersSection"
               filter="com.tibco.xpd.om.resources.ui.properties.sections.organization.DynamicOrgIdentifiersSection"
               id="com.tibco.xpd.om.modeler.subdiagram.dynamicOrgIdentifiers"
               tab="om.sub.editor.property.dynamicOrgIdentifier">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMFeatureParserProvider">
         <Priority
               name="Lowest">
         </Priority>
      </ParserProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <ParserProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMTypeParserProvider">
         <Priority
               name="Lowest">
         </Priority>
      </ParserProvider>
   </extension>
      <extension
            point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
         <ParserProvider
               class="com.tibco.xpd.om.modeler.custom.providers.OMPositionParserProvider">
            <Priority
                  name="Lowest">
            </Priority>
         </ParserProvider>
      </extension>
    <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="com.tibco.xpd.om.modeler.custom.actions.OMGlobalEditActionHandler"
            id="OrganizationModelRender">
         <Priority
               name="Low">
         </Priority>
         <ViewId
               id="com.tibco.xpd.om.modeler.diagram.part.OrganizationModelDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
               <GlobalActionId
                     actionId="delete">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="com.tibco.xpd.om.modeler.custom.actions.OMGlobalEditActionHandler"
            id="OrganizationModelSubRender">
         <Priority
               name="Low">
         </Priority>
         <ViewId
               id="com.tibco.xpd.om.modeler.subdiagram.part.OrganizationModelSubDiagramEditorID">
            <ElementType
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
               <GlobalActionId
                     actionId="delete">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.clipboard.core.clipboardSupport">
       <factory
             class="com.tibco.xpd.om.modeler.custom.internal.OMClipboardSupportFactory"
             nsURI="http://www.tibco.com/om/1.0"
             priority="lowest">
       </factory>
    </extension>
    
<extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
    <contributionItemProvider
          checkPluginLoaded="false"

         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
          <Priority name="Highest"/>
          <popupContribution
               id="remove_popup_menu_id"
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
             
            <popupStructuredContributionCriteria
                 objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
            </popupStructuredContributionCriteria>
            
             <popupPredefinedItem
                   id="addGeoShapesGroup"
                   path="/diagramAddMenu/"
                   remove="true">
             </popupPredefinedItem>
             <popupPredefinedItem
                   id="addGeoShapes2Group"
                   path="/diagramAddMenu/"
                   remove="true">
             </popupPredefinedItem>
             <popupPredefinedItem
                   id="navigateGroup"
                   path="/"
                   remove="true">
             </popupPredefinedItem>
           
         </popupContribution>
    </contributionItemProvider>
 </extension>
    
    
<extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders"> 
<!--       <contributionItemProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMCustomContributionItemProvider">
         <Priority
               name="High">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrganizationSubEditPart">
            </popupStructuredContributionCriteria>
            <popupMenuGroup
                  id="addOMElementsGroup"
                  path="/diagramAddMenu/"
                  separator="true">
            </popupMenuGroup>
            <popupAction
                  id="addOrgUnit"
                  path="/diagramAddMenu/addOMElementsGroup">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
      <contributionItemProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMCustomContributionItemProvider">
         <Priority
               name="High">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrgUnitSubEditPart">
            </popupStructuredContributionCriteria>
            <popupAction
                  id="addPosition"
                  path="/additionsGroup">
            </popupAction>
         </popupContribution>
      </contributionItemProvider> -->
   <contributionItemProvider
            class="com.tibco.xpd.om.modeler.custom.providers.OMCustomContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution
               class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria
                  objectClass="com.tibco.xpd.om.modeler.subdiagram.edit.parts.OrganizationSubEditPart">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="com.tibco.xpd.om.modeler.diagram.edit.parts.OrgModelEditPart">
            </popupStructuredContributionCriteria>
            <popupStructuredContributionCriteria
                  objectClass="com.tibco.xpd.om.modeler.subdiagram.edit.parts.custom.BadgeEditPart">
            </popupStructuredContributionCriteria>
            <popupAction
                  id="showHideBadge"
                  path="/filtersMenu/additions">
            </popupAction>
         </popupContribution>
      </contributionItemProvider>
<!--      <contributionItemProvider
            checkPluginLoaded="true"
            class="com.tibco.xpd.om.modeler.custom.providers.OMCustomDynamicContributionItemProvider">
         <Priority
               name="Lowest">
         </Priority>
      </contributionItemProvider> -->
   </extension>
      <extension
            point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
         <decoratorProvider
               class="com.tibco.xpd.om.modeler.custom.providers.OMValidationDecoratorProvider">
            <Priority
                  name="Lowest">
            </Priority>
            <object
                  class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
                  id="PRIMARY_VIEW">
            </object>
            <context
                  decoratorTargets="PRIMARY_VIEW">
            </context>
            
         </decoratorProvider>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.tibco.xpd.om.modeler.custom.internal.OMEditorInputPropertyTester"
               id="com.tibco.xpd.om.modeler.custom.uriEditorInputPropertyTester"
               namespace="com.tibco.xpd.om.modeler.custom"
               properties="isOMEditorInput"
               type="org.eclipse.ui.IEditorInput">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.linkHelper">
         <linkHelper
               class="com.tibco.xpd.om.modeler.custom.internal.OMLinkHelper"
               id="com.tibco.xpd.projectExplorer.om.uriEditorLinkHelper">
            <editorInputEnablement>
               <and>
                  <instanceof
                        value="org.eclipse.emf.common.ui.URIEditorInput">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.om.modeler.custom.isOMEditorInput">
                  </test>
               </and>
            </editorInputEnablement>
            <selectionEnablement>
               <or>
                  <instanceof
                        value="com.tibco.xpd.om.core.om.Organization">
                  </instanceof>
                  <instanceof
                        value="com.tibco.xpd.om.core.om.OrgUnit">
                  </instanceof>
                  <instanceof
                        value="com.tibco.xpd.om.core.om.Position">
                  </instanceof>
               </or></selectionEnablement>
         </linkHelper>
      </extension>
      <extension
            point="com.tibco.xpd.resources.projectAsset">
         <asset
               category="com.tibco.xpd.resources.ui.businessobjects"
               configuration="com.tibco.xpd.om.modeler.custom.internal.projectasset.OMSpecialFolderAssetConfiguration"
               configurator="com.tibco.xpd.om.modeler.custom.internal.projectasset.OMAssetConfigurator"
               icon="icons/OrganizationModelFolder.png"
               id="com.tibco.xpd.asset.om"
               name="%omAsset_name"
               visible="true">
            <description>
               %omAsset_description
            </description>
            <wizardpage
                  page="com.tibco.xpd.om.modeler.custom.internal.projectasset.OMAssetWizardPage">
            </wizardpage>
	        <assetMigration
	            class="com.tibco.xpd.resources.projectconfig.projectassets.util.AssetWorkingCopyMigrationFactory: -kind om -fileExt om">
	        </assetMigration>
         <dynamicVersion
               versionProvider="com.tibco.xpd.om.modeler.custom.internal.projectasset.OMAssetConfigurator">
         </dynamicVersion>
	            
         </asset>
      </extension>
      <extension
            point="com.tibco.xpd.resources.projectAssetBinding">
         <projectAssetBinding
               assetId="com.tibco.xpd.asset.om"
               newProjectWizardId="com.tibco.xpd.analysisProject">
         </projectAssetBinding>
      </extension>
      <extension
            point="com.tibco.xpd.resources.ui.openEditorHandler">
         <editorHandler
               class="com.tibco.xpd.om.modeler.custom.internal.OMOpenEditorHandler"
               id="com.tibco.xpd.om.modeler.custom.openEditorHandler">
         </editorHandler>
      </extension>
</plugin>
