<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="globalDestinationEnvironment" name="Global Destination Environment" schema="schema/globalDestinationEnvironment.exsd"/>
   
   <!--
   		Sid ACE-446 The Global destination configuration page is no
               longer required as SCE is for use only for the latest and
               greatest ACE runtime - so CE destination is always selected and
               never needs to be configured. The contribution has been disabled
               in plugin.xml
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.xpd.destinations.preferences.GlobalDestinationPreferencePage"
            id="com.tibco.xpd.destinations.global.page"
            name="%com.tibco.xpd.destinations.global.page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="/icons/destinations.gif"
            id="com.tibco.xpd.destinations.global.transfer"
            name="%com.tibco.xpd.destinations.global.transfer">
         <description>
            %transfer.description
         </description>
         <mapping
               scope="instance">
            <entry
                  node="com.tibco.xpd.destinations">
               <key
                     name="com.tibco.xpd.destinations.global.destinations">
               </key>
            </entry>
         </mapping>
      </transfer>
      <settingsTransfer
            class="com.tibco.xpd.destinations.preferences.GlobalDestinationsSettingsTransfer"
            id="com.tibco.xpd.destinations.global.transfer"
            name="%com.tibco.xpd.destinations.global.transfer">
         <description>
            %settingsTransfer.description
         </description>
      </settingsTransfer>
   </extension>
-->

   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="com.tibco.xpd.destinations.empty"
            name="empty"
            selectable="true"
            version="0">
         <filter
               class="com.tibco.xpd.destinations.EmptyFileFilter">
         </filter>
      </destination>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.destinations.propertytesters.DestinationTester"
            id="com.tibco.xpd.destinations.destinationTester"
            namespace="com.tibco.xpd.destinations"
            properties="hasGlobalDestination"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="com.tibco.xpd.validation.internal.workspaceResourceDestination"
            name="%workspace.destination"
            version="">
         <validationProvider
               id="com.tibco.xpd.validation.internalValidationprovider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
      <provider
            id="com.tibco.xpd.validation.internalValidationprovider">
         <validator
               class="com.tibco.xpd.destinations.internal.validation.RequiredNaturesRule"
               id="com.tibco.xpd.validation.internal.validateRequiredNatures"
               validateType="PROJECT">
         </validator>
      </provider>
      <issues>
         <issue
               id="xpd.requiredNatureMissing"
               message="%xpd.requiredNatureMissing"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="false"
                  id="com.tibco.xpd.validation.fixProjectNaturesAndBuildersResolution">
            </resolution>
         </issue>
         <issue
               id="xpd.requiredNatureBuilderMissing"
               message="%xpd.requiredNatureBuilderMissing"
               severity="WARNING">
            <resolution
                  canApplyToMultiple="false"
                  id="com.tibco.xpd.validation.fixProjectNaturesAndBuildersResolution">
            </resolution>
         </issue>
         <issue
               id="xpd.requiredNatureBuilderOutOfSeq"
               message="%xpd.requiredNatureBuilderOutOfSeq"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="false"
                  id="com.tibco.xpd.validation.fixProjectNaturesAndBuildersResolution">
            </resolution>
         </issue>
          <issue
               id="xpd.missingNatures"
               message="%xpd.missingNatures"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="false"
                  id="com.tibco.xpd.validation.fixProjectNaturesAndBuildersResolution">
            </resolution>
         </issue>
      </issues>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.destinations.internal.validation.FixProjectNaturesAndBuildersResolution"
            description="%resolution.xpd.fixProjectNaturesAndBuilders"
            id="com.tibco.xpd.validation.fixProjectNaturesAndBuildersResolution"
            label="%resolution.xpd.fixProjectNaturesAndBuilders">
      </resolution>
      <resolution
            class="com.tibco.xpd.destinations.resolutions.AddReferredProjectDestinationsResolution"
            id="com.tibco.xpd.destinations.requiredDestResolution"
            label="%resolution.addRequiredProjectDestination">
      </resolution>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.destinations.FixProjectNaturesPostImportTask"
            id="com.tibco.xpd.destinations.postImportTask.fixProjectNatures"
            priority="80">
      </postImportTask>
   </extension>
</plugin>
