
    .f8e4e1269-7d27-480e-b16b-8de5db16b117 .pane_messages > .label {
        display:none !important;
    }
    .f8e4e1269-7d27-480e-b16b-8de5db16b117 .pane_root > .label {
        
display:block !important;    }
    .f8e4e1269-7d27-480e-b16b-8de5db16b117 .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.f8e4e1269-7d27-480e-b16b-8de5db16b117 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
