<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="sampleProjects" name="Sample Projects" schema="schema/sampleProjects.exsd"/>
         <extension
         point="org.eclipse.ui.intro.configExtension">
       <!-- <configExtension
              configId="org.eclipse.ui.intro.universalConfig"
              content="$nl$/intro/tibcoSampleProjectsExtensionContent.xml"/>
        <configExtension
              configId="org.eclipse.ui.intro.universalConfig"
              content="$nl$/intro/tibcoSolutionDesignerSampleProjectsExtensionContent.xml">
        </configExtension> -->
              </extension>
   </plugin>
