<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.tibco.xpd.customer.api.iProcessBpmConversion">
      <Converter
            ConversionDescription="%moveParticipantsToPackageLevel_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.MoveProcessParticipantsToPackageLevelContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.MoveProcessParticipantsToPackageLevelContribution"
            OrderingPriority="100">
      </Converter>
      <Converter
            ConversionDescription="%setDestinationToBPM_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetProcessDestinationToBPMContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetProcessDestinationToBPMContribution"
            OrderingPriority="200">
      </Converter>
          <Converter
            ConversionDescription="%regenerateProcessAndInterfaceIds"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.RegenerateProcessAndInterfaceIdsContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.RegenerateProcessAndInterfaceIdsContribution"
            OrderingPriority="250">
      </Converter>
      <Converter
            ConversionDescription="%convertToJavascripts_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.IProcessToJavascriptConverterContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.IProcessToJavascriptConverterContribution"
            OrderingPriority="300">
      </Converter>
            <Converter
            ConversionDescription="%arrayToScriptUtilMethodsConversion_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.ArrayToScriptConversionContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.ArrayToScriptConversionContribution"
            OrderingPriority="310">
      </Converter>
      <Converter
            ConversionDescription="%custAuditToProcessAuditLogConversion_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.CustAuditToProcessLogContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.CustAuditToProcessLogContribution"
            OrderingPriority="320">
      </Converter>
      <Converter
            ConversionDescription="%eaiStepInitiateAndCompleteAuditTrailExpressions_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EAIStepAuditTrailExpressionsContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EAIStepAuditTrailExpressionsContribution"
            OrderingPriority="900">
      </Converter>
       <Converter
            ConversionDescription="%gatewayNameOutOfBounds_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.GatewayNameOutOfBoundsContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.GatewayNameOutOfBoundsContribution"
            OrderingPriority="4090">
      </Converter>
      <Converter
            ConversionDescription="%setUniqueActivityName_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetUniqueActivityNameContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetUniqueActivityNameContribution"
            OrderingPriority="5000">
      </Converter>
     <Converter
            ConversionDescription="%dynamicSubProcedureSteps_desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.DynamicSubProcedureStepsContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetUniqueActivityNameContribution"
            OrderingPriority="850">
      </Converter>
      <Converter
           ConversionDescription="%standaloneScriptConversion_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.StandaloneInlineScriptConversionContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.StandaloneInlineScriptConversionContribution"
           OrderingPriority="380">
      </Converter>
      <Converter
           ConversionDescription="%systemParticForDbTaskConversion"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SystemParticipantForDBTaskContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SystemParticipantForDBTaskContribution"
           OrderingPriority="700">
      </Converter> 
       <Converter
           ConversionDescription="%systemParticForEMailTaskConversion"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SystemParticipantForEmailTaskContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SystemParticipantForEmailTaskContribution"
           OrderingPriority="750">
      </Converter>
      <Converter
         ConversionDescription="%specialcharsToStringLiteralConversion"
         ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SpecialCharMethodToLiteralStringContribution"
         ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SpecialCharMethodToLiteralStringContribution"
         OrderingPriority="330">
      </Converter>
      <Converter
         ConversionDescription="%ipeprocessNameUtil.getProcessNameToStringLiteralConversion"
         ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.ProcessNameMethodToLiteralStringContribution"
         ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.ProcessNameMethodToLiteralStringContribution"
         OrderingPriority="340">
      </Converter>
       <Converter
         ConversionDescription="%ipeScriptUtil.CalctimeAccurateConversion"
         ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.CalctimeMethodConversionContribution"
         ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.CalctimeMethodConversionContribution"
         OrderingPriority="350">
      </Converter>
      <Converter
         ConversionDescription="%dateAndTimeAssignmentConversion"
         ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.DateAndTimeAssignmentConversionContribution"
         ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.DateAndTimeAssignmentConversionContribution"
         OrderingPriority="360">
      </Converter>
     <Converter
           ConversionDescription="%eventCanHaveSingleFlow_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EventCanHaveSingleFlowContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EventCanHaveSingleFlowContribution"
           OrderingPriority="500">
     </Converter>
     <Converter
           ConversionDescription="%eaiWithdraw_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.DelayedReleaseAndEAIWithdrawContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EAIWithdrawContribution"
           OrderingPriority="450">
     </Converter>
     <Converter
            ConversionDescription="%convertPublicStartStepEvent"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.PublicStartEventStepConversionContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.PublicStartEventStepConversionContribution"
            OrderingPriority="400">
      </Converter>
     <Converter
           ConversionDescription="%userTaskAddresseeHandling_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.UserTaskAddresseeHandlingContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.UserTaskAddresseeHandlingContribution"
           OrderingPriority="650">
     </Converter>
     <Converter
           ConversionDescription="%sw_andidx_processdata_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SW_AndIDX_ProcessDataContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SW_AndIDX_ProcessDataContribution"
           OrderingPriority="10000">
     </Converter>
     <Converter
           ConversionDescription="%setUniqueParameterLabel_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetUniqueParameterLabelContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.SetUniqueParameterLabelContribution"
           OrderingPriority="5010">
     </Converter>
     <Converter
           ConversionDescription="%setUserTaskAllocationStrategy"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.UserTaskWorkAllocationStrategyContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.UserTaskAllocationStrategy"
           OrderingPriority="660">
     </Converter>
     <Converter
            ConversionDescription="%EAIJavaStepConversion_Desc"
            ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EAIJavaStepConversionContribution"
            ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.EAIJavaStepConversionContribution"
            OrderingPriority="700">
      </Converter>
     <Converter
           ConversionDescription="%removeIPM2BPMextendedAttrs_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.RemoveTempIPM2BPMExtAttrsContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.RemoveTempIPM2BPMExtAttrsContribution"
           OrderingPriority="19900">
     </Converter>
     <Converter
           ConversionDescription="%removeIProcExtAttributes_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.RemoveIProcessExtensionsContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.RemoveIProcessExtensionsContribution"
           OrderingPriority="20000">
     </Converter>
     <Converter
           ConversionDescription="%fieldsInEMailTaskConfig_desc"
           ConverterClass="com.tibco.xpd.iprocess.amxbpm.converter.contributions.FieldsInEMailTaskConfigContribution"
           ConverterId="com.tibco.xpd.iprocess.amxbpm.converter.contributions.FieldsInEMailTaskConfigContribution"
           OrderingPriority="9500">
     </Converter>
   </extension>
   
    <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.xpdlMigrationInjector">
      <migrationInjector
            beforeOrAfter="After"
            formatVersion="8"
            xsltFile="xslts/imports/iProcessAfterMigrateToV8.xslt">
      </migrationInjector>
   
   </extension>

</plugin>
