<?xml version="1.0" encoding="UTF-8"?>

<?eclipse version="3.2"?>

<plugin>

   <extension

         id="UserActivityExtension"

         name="UserActivityExtension"

         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">

      <builder

            class="com.tibco.n2.ut.configuration.builder.UserActivityConfigurationModelBuilder"

            targetModel="com.tibco.xpd.xpdl2.TaskUser"/>
      <builder
            class="com.tibco.n2.ut.configuration.builder.TriggerTimerConfigurationModelBuilder"
            targetModel="com.tibco.xpd.xpdl2.TriggerTimer">
      </builder>

   </extension>
   
   

</plugin>
   


