<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="compositeContributors" name="compositeContributors" schema="schema/compositeContributors.exsd"/>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%daaExportPage_label"
            class="com.tibco.xpd.daa.internal.preferences.DAAGenPreferencesPage"
            id="com.tibco.xpd.daa.TibcoDAAExport">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.daa.internal.preferences.DAAGenPreferences">
      </initializer>
   </extension>
   
      <!-- ============ Validation Provider Extension =========================== -->
   <extension
         point="com.tibco.xpd.validation.providerExtension">
         <!-- ======cds validator extension====== -->
      <providerExtension
            providerId="com.tibco.xpd.n2.cds.validator">
             <!-- ============ rules (add rules here)============================ -->
         <rule
               class="com.tibco.xpd.daa.internal.validation.rules.BomJarCachingDisabledRule">
         </rule>
      </providerExtension>      
   </extension>
   
   <!-- ============ Validation Provider ========================================== -->
   <extension
         point="com.tibco.xpd.validation.provider">        
      <!-- ============ Issues (add issues here)============================== -->
      <issue
            id="bom_jar_caching_disabled_invalid_issue"
            message="%bom_jar_caching_disabled_invalid_issue"
            severity="ERROR">
      </issue> 

   </extension>
   
   <!-- ============ RESOLUTIONS ========================================== -->
   <extension
         point="com.tibco.xpd.validation.resolution">
     <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.daa.internal.validation.resolutions.EnableBomJarCachingResolution"
            id="bom_jar_caching_disabled_invalid_issue"
            label="%enableBomJarCaching_resolution_label">
      </resolution>
   </extension>
   
   <extension
           point="org.eclipse.ui.navigator.navigatorContent">
    <actionProvider
          class="com.tibco.xpd.daa.internal.BpmDaaChecksumActionProvider"
          id="com.tibco.xpd.projectExplorer.action.BpmDaaChecksumActionProvider">
       <enablement>
          <and>
              <instanceof
                        value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="daa">
              </test>
          </and>
         </enablement>
    </actionProvider>
   </extension>
     
</plugin>
