<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.analyst.processinterface.editor.editors.ProcessInterfaceFormEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            icon="icons/processInterface.gif"
            id="com.tibco.xpd.analyst.editor.ProcessInterfaceEditor"
            name="%process.interface.editor.name.label">
      </editor>
   </extension>
   <extension
        point="com.tibco.xpd.resources.ui.objectEditor">
     <editorInputFactory
           editorID="com.tibco.xpd.analyst.editor.ProcessInterfaceEditor"
           factory="com.tibco.xpd.analyst.processinterface.editor.inputs.ProcessInterfaceEditorInputFactory"
           objectClass="com.tibco.xpd.xpdExtension.ProcessInterface"/>
  </extension>
<extension
        point="org.eclipse.ui.elementFactories">
     <factory
           class="com.tibco.xpd.analyst.processinterface.editor.inputs.ProcessInterfaceEditorPersist"
           id="com.tibco.xpd.processeditor.xpdl2.processinterfaceelementfactory"/>
  </extension>
<extension
      point="org.eclipse.ui.navigator.linkHelper">
   <linkHelper
         class="com.tibco.xpd.analyst.processinterface.editor.editors.ProcessInterfaceLinkHelper"
         id="com.tibco.xpd.projectExplorer.processinterface.linkHelper">
      <selectionEnablement>
         <instanceof
               value="com.tibco.xpd.xpdExtension.ProcessInterface">
         </instanceof>
      </selectionEnablement>
      <editorInputEnablement>
         <instanceof
               value="com.tibco.xpd.analyst.processinterface.editor.inputs.ProcessInterfaceEditorInput">
         </instanceof></editorInputEnablement>
   </linkHelper>
</extension>
<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
   <propertyContributor
         contributorId="com.tibco.xpd.analyst.processinterface.editor.propertyContributor"
         labelProvider="com.tibco.xpd.analyst.processinterface.editor.editors.ProcessIfcPropertyLabelProvider"
         typeMapper="com.tibco.xpd.ui.properties.descriptor.PropertyTypeMapper">
      <propertyCategory
            category="general">
      </propertyCategory>
      <propertyCategory
            category="core">
      </propertyCategory>
      <propertyCategory
            category="appearance">
      </propertyCategory>
      <propertyCategory
            category="advanced">
      </propertyCategory>
   </propertyContributor>
</extension>
<extension
      name="Tabs contributed for when PROCESS INTERFACE EDITOR  is the selection provider."
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
   <propertyTabs
         contributorId="com.tibco.xpd.analyst.processinterface.editor.propertyContributor">
      <propertyTab
            afterTab="top"
            category="general"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.general"
            image="icons/tabGeneral.png"
            indented="false"
            label="%property_tab_general">
      </propertyTab>
      <propertyTab
            afterTab="com.tibco.xpd.interfaceeditor.propertyTabs.general"
            category="general"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.description"
            image="icons/tabDescription.png"
            indented="false"
            label="%property_tab_description">
      </propertyTab>
      <propertyTab
            afterTab="com.tibco.xpd.interfaceeditor.propertyTabs.description"
            category="general"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.destinations"
            image="icons/tabDestinations.png"
            indented="false"
            label="%property_tab_destinations">
      </propertyTab>
      <propertyTab
            afterTab="com.tibco.xpd.interfaceeditor.propertyTabs.destinations"
            category="general"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.interface"
            image="icons/tabInterface.png"
            indented="false"
            label="%property_tab_interface">
      </propertyTab>
      <propertyTab
            afterTab="top"
            category="core"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.implementation"
            image="icons/tabImplementation.gif"
            indented="false"
            label="%property_tab_implementation">
      </propertyTab>
      <propertyTab
            afterTab="com.tibco.xpd.interfaceeditor.propertyTabs.SubprocParameterMapperOut"
            category="core"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.lastImplementationTab"
            indented="false"
            label="Place Holder for &apos;after last implementation category tab contributed by editor itself&apos;.">
      </propertyTab>
      <propertyTab
            afterTab="top"
            category="advanced"
            id="com.tibco.xpd.interfaceeditor.propertyTabs.extended"
            image="icons/tabExtended.gif"
            indented="false"
            label="%property_tab_extended">
      </propertyTab>
   </propertyTabs>
</extension>
<extension
      name="FOR THE PROCESS INTERFACE EDITOR"
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections
         contributorId="com.tibco.xpd.analyst.processinterface.editor.propertyContributor">
       <propertySection
               class="com.tibco.xpd.processinterface.properties.StartMethodPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processinterface.properties.StartMethodPropertySection"
               id="StartMethod"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdExtension.StartEvent">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processinterface.properties.IntermediateMethodPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processinterface.properties.IntermediateMethodPropertySection"
               id="IntermediateMethod"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdExtension.IntermediateEvent">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processinterface.properties.ProcessInterfacePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processinterface.properties.ProcessInterfacePropertySection"
               id="ProcessInterfaceProperty"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdExtension.ProcessInterface">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processinterface.properties.ServiceProcessInterfacePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processinterface.properties.ServiceProcessInterfacePropertySection"
               id="ServiceProcessInterfaceProperty"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdExtension.ProcessInterface">
            </input>
         </propertySection>
         
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.event.InterfaceEventAssociatedParameterSection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.event.InterfaceEventAssociatedParameterSection"
               id="InterfaceSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.interface">
            <input
                  type="com.tibco.xpd.xpdExtension.AssociatedParametersContainer">
            </input>
         </propertySection>
         
         <propertySection
               class="com.tibco.xpd.destinations.ui.properties.GlobalDestinationsPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.destinations.ui.properties.GlobalDestinationsPropertySection"
               id="DestinationsSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.destinations">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
            <input
                  type="com.tibco.xpd.xpdExtension.ProcessInterface">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.analyst.resources.xpdl2.properties.description.DescriptionSection"
               enablesFor="1"
               filter="com.tibco.xpd.analyst.resources.xpdl2.properties.description.DescriptionSection"
               id="DescriptionSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.description">
            <input
                  type="com.tibco.xpd.xpdl2.DescribedElement">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.general.ParameterPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.general.ParameterPropertySection"
               id="ParameterProperty"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.FormalParameter">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.ParameterNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.ParameterNameSection"
               id="parameterNameSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.FormalParameter">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.xpdl.extended.ui.properties.ExtendedAttributeSection"
               enablesFor="1"
               filter="com.tibco.xpd.xpdl.extended.ui.properties.ExtendedAttributeSection"
               id="ExtendedAttributesSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.extended">
            <input
                  type="com.tibco.xpd.xpdl2.ExtendedAttributesContainer">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processinterface.properties.ProcessInterfaceNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.processinterface.properties.ProcessInterfaceNameSection"
               id="processInterfaceNameSection"
               tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdExtension.ProcessInterface">
            </input>
         </propertySection>
         <propertySection
            class="com.tibco.xpd.processinterface.properties.ErrorMethodPropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.ErrorMethodPropertySection"
            id="ErrorMethod"
            tab="com.tibco.xpd.interfaceeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.ErrorMethod">
         </input>
      </propertySection>
   </propertySections>
</extension>
<extension
      name="Note. For project explorer - We contribute sections to the tabs provided by process editor because many are filtered on shared element types like DescribedElement"
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
   <propertySections
         contributorId="org.eclipse.ui.navigator.ProjectExplorer">
      <propertySection
            class="com.tibco.xpd.processinterface.properties.StartMethodPropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.StartMethodPropertySection"
            id="StartMethod"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.StartMethod">
         </input>
      </propertySection>
      <propertySection
            class="com.tibco.xpd.processinterface.properties.ErrorMethodPropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.ErrorMethodPropertySection"
            id="ErrorMethod"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.ErrorMethod">
         </input>
      </propertySection>
      <propertySection
            class="com.tibco.xpd.processinterface.properties.IntermediateMethodPropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.IntermediateMethodPropertySection"
            id="IntermediateMethod"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.IntermediateEvent">
         </input>
      </propertySection>
      <propertySection
            class="com.tibco.xpd.processinterface.properties.ProcessInterfacePropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.ProcessInterfacePropertySection"
            id="ProcessInterfaceProperty"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.ProcessInterface">
         </input>
      </propertySection>
      <propertySection
            class="com.tibco.xpd.processinterface.properties.ServiceProcessInterfacePropertySection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.ServiceProcessInterfacePropertySection"
            id="ServiceProcessInterfaceProperty"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.ProcessInterface">
         </input>
      </propertySection>
      <propertySection
            class="com.tibco.xpd.processinterface.properties.ProcessInterfaceNameSection"
            enablesFor="1"
            filter="com.tibco.xpd.processinterface.properties.ProcessInterfaceNameSection"
            id="processInterfaceNameSection"
            tab="com.tibco.xpd.processeditor.propertyTabs.general">
         <input
               type="com.tibco.xpd.xpdExtension.ProcessInterface">
         </input>
      </propertySection>
   </propertySections>
</extension>

<extension point="org.eclipse.ui.navigator.navigatorContent">
	<actionProvider
    	class="com.tibco.xpd.analyst.processinterface.editor.convertprocifc.ConvertProcIntfcToServiceProcIntfcActionProvider"
        id="com.tibco.xpd.projectExplorer.action.convertProcessIntfcToServiceProcIntfc">
        <enablement>
        	<test
            	property="com.tibco.xpd.processeditor.xpdl2.isProcessInterface">
            </test>
        </enablement>
     </actionProvider>
     <actionProvider
        class="com.tibco.xpd.analyst.processinterface.editor.convertprocifc.ConvertServiceProcIntfcToProcIntfcActionProvider"
        id="com.tibco.xpd.projectExplorer.action.convertServiceProcIntfcToProcessIntfc">
        <enablement>
        	<test
             	property="com.tibco.xpd.processeditor.xpdl2.isServiceProcessInterface">
            </test>
        </enablement>
     </actionProvider>
</extension>

</plugin>
