<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.bx.design.debug.core.connectionFactories">
      <connectionFactory
            class="com.tibco.bx.debug.http.runtime.HTTPConnectionFactory"
            id="http">
      </connectionFactory>
      <connectionFactory
            class="com.tibco.bx.debug.http.runtime.HTTPSConnectionFactory"
            id="https">
      </connectionFactory>
   </extension>
   <extension
         point="com.tibco.bx.design.debug.core.runtimeEventFactories">
      <runtimeEventFactory
            class="com.tibco.bx.debug.http.runtime.HTTPRuntimeEventFactory"
            id="http">
      </runtimeEventFactory>
      <runtimeEventFactory
            class="com.tibco.bx.debug.http.runtime.HTTPRuntimeEventFactory"
            id="https">
      </runtimeEventFactory>
   </extension>
</plugin>