<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated rsd -->
      <factory
            uri="http://com.tibco.xpd/rsd"
            class="com.tibco.xpd.rsd.provider.RsdItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.rest.ui.new.category"
            class="com.tibco.xpd.rsd.ui.wizards.NewRsdFileWizard"
            hasPages="true"
            icon="icons/RsdFile.png"
            id="com.tibco.xpd.rsd.ui.wizard.new"
            name="New REST Service Descriptor">
      </wizard>
   </extension>

    <extension
           point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
              activeByDefault="true"
              contentProvider="com.tibco.xpd.rsd.ui.navigator.RsdNavigatorContentProvider"
              icon="icons/RsdFile.png"
              id="com.tibco.xpd.projectExplorer.rsdContent"
              labelProvider="com.tibco.xpd.rsd.ui.navigator.RsdNavigatorLabelProvider"
              name="REST Service Descriptor Content"
              priority="high"
              providesSaveables="true">
           <triggerPoints>
                <or>
                    <and>
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                            <test
                                property="org.eclipse.core.resources.projectNature"
                                value="com.tibco.xpd.resources.xpdNature"/>
                            <test
                                property="org.eclipse.core.resources.open"
                                value="true"/>
                    </and>
                    <and>
                        <instanceof value="org.eclipse.core.resources.IFolder"/>
                        <test
                            property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
                            value="rest"/>
                    </and>
                    <and>
                        <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                        <test
                            property="com.tibco.xpd.resources.specialfolder.isOfKind"
                            value="rest"/>
                    </and>
                    <and>
                       <instanceof
                             value="org.eclipse.core.resources.IFile">
                       </instanceof>
                       <test
                             property="org.eclipse.core.resources.extension"
                             value="rsd">
                       </test>
                       <test
                              property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                              value="rest">
                       </test>
                    </and>
                </or>
           </triggerPoints>
           <possibleChildren>
                <or>
                    <and>
                         <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                        <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="rest"/>
                    </and>
                    <and>
                       <instanceof
                             value="org.eclipse.emf.ecore.EObject">
                       </instanceof>
                       <test
                             property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                             value="rsd">
                       </test>
                    </and>
                    <instanceof
                        value="org.eclipse.core.resources.IFile">
                    </instanceof>
                    <instanceof
                        value="org.eclipse.core.resources.IFolder">
                    </instanceof>
                </or>
           </possibleChildren>
           <override
                 policy="InvokeAlwaysRegardlessOfSuppressedExt"
                 suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
           </override>
           <actionProvider
                 class="com.tibco.xpd.rsd.ui.navigator.RsdAddChildActionProvider"
                 id="com.tibco.xpd.projectExplorer.action.rsd.addChildActionProvider"
                 priority="high">
              <enablement>
               <or>
                 <and>
                    <instanceof
                          value="org.eclipse.emf.ecore.EObject">
                    </instanceof>
                    <test
                          property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                          value="rsd">
                    </test>
                 </and>
               </or>
              </enablement>
           </actionProvider>
           <actionProvider
                 class="com.tibco.xpd.rsd.ui.navigator.RsdEditActionProvider"
                 id="com.tibco.xpd.projectExplorer.action.rsd.editActionProvider">
              <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                           value="rsd">
                     </test>
                  </and>
               </or>
              </enablement>
           </actionProvider>
           <actionProvider
                 class="com.tibco.xpd.rsd.ui.navigator.UndoRedoActionProvider"
                 id="com.tibco.xpd.projectExplorer.action.rsd.undoRedoActionProvider"
                 overrides="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
              <enablement>
                <or>
                    <and>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                        <test
                              property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                              value="rsd">
                        </test>
                     </and>
                 </or>
              </enablement>
           </actionProvider>
           <commonSorter
             class="com.tibco.xpd.ui.projectexplorer.sorter.ResourceSorterWithIgnoredDirtyMarker">
	          <parentExpression>
	             <or>
	                <and>
	                   <instanceof
	                         value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
	                   </instanceof>
	                   <test
	                         property="com.tibco.xpd.resources.specialfolder.isOfKind"
	                         value="rest">
	                   </test>
	                </and>             
	                <instanceof
	                      value="org.eclipse.core.resources.IFolder">
	                </instanceof>
	                <instanceof
	                      value="org.eclipse.core.resources.IFile">
	                </instanceof>
	             </or>
	          </parentExpression>
	       </commonSorter>       
           
        </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.tibco.xpd.rsd.ui.wizard.new">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="rest">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="rest">
                  </test>
               </and>
            </or></enablement>
      </commonWizard>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.tibco.xpd.rsd.ui.rsd.editor"
            name="REST Service Desctiptor Editor"
            icon="icons/RsdFile.png"
            extensions="rsd"
            class="com.tibco.xpd.rsd.ui.editor.RsdEditorPart"
            contributorClass="com.tibco.xpd.rsd.ui.editor.RsdEditorContributor">
      </editor>
   </extension>
   
   <extension
          point="com.tibco.xpd.resources.workingCopyFactory">
       <factory
             class="com.tibco.xpd.rsd.wc.RsdWorkingCopyFactory"
             filePattern=".*\.[rR][sS][dD]">
       </factory>
   </extension>
   <extension
          point="com.tibco.xpd.resources.workingCopyIndexer">
       <indexer
             filePattern="rsd"
             indexID="com.tibco.xpd.rsd.ui.indexer.rsd"
             indexerClass="com.tibco.xpd.rsd.wc.RsdIndexProvider">
           <additionalAttributes>
               <attribute
                     maxLength="10"
                     name="httpMethod">
               </attribute>
               <attribute
                     maxLength="255"
                     name="resourceName">
               </attribute>
               <attribute
                     maxLength="255"
                     name="serviceName">
               </attribute>
               <attribute
                 	maxLength="64"
                    name="methodId">
               </attribute>              
           </additionalAttributes>
       </indexer>
    </extension>
    
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="com.tibco.xpd.rsd.editor.propertyContributor"
             labelProvider="com.tibco.xpd.rsd.ui.sections.RsdPropertyLabelProvider"
             typeMapper="com.tibco.xpd.ui.properties.descriptor.PropertyTypeMapper">
          <propertyCategory
                category="general">
          </propertyCategory>
          <propertyCategory
                category="core">
          </propertyCategory>
          <propertyCategory
                category="appearance">
          </propertyCategory>
          <propertyCategory
                category="advanced">
          </propertyCategory>
       </propertyContributor>
    </extension>
    
    <extension
          name="Tabs contributed by RSD editor."
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="com.tibco.xpd.rsd.editor.propertyContributor">
          <propertyTab
                afterTab="top"
                category="general"
                id="com.tibco.xpd.rsdeditor.propertyTabs.general"
                image="icons/tabGeneral.png"
                indented="false"
                label="%property_tab_general">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdeditor.propertyTabs.general"
                category="general"
                id="com.tibco.xpd.rsdeditor.propertyTabs.description"
                image="icons/tabDescription.png"
                indented="false"
                label="%property_tab_description">
          </propertyTab>
          <propertyTab
                afterTab="top"
                category="core"
                id="com.tibco.xpd.rsdeditor.propertyTabs.request"
                image="icons/tabRequest.gif"
                indented="false"
                label="%property_tab_request">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdeditor.propertyTabs.request"
                category="core"
                id="com.tibco.xpd.rsdeditor.propertyTabs.response"
                image="icons/tabResponse.gif"
                indented="false"
                label="%property_tab_response">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdeditor.propertyTabs.response"
                category="core"
                id="com.tibco.xpd.rsdeditor.propertyTabs.faults"
                image="icons/tabFaults.png"
                indented="false"
                label="%property_tab_faults">
          </propertyTab>
          <propertyTab
                afterTab="top"
                category="advanced"
                id="com.tibco.xpd.rsdeditor.propertyTabs.extended"
                image="icons/tabExtended.gif"
                indented="false"
                label="%property_tab_extended">
          </propertyTab>
       </propertyTabs>
    </extension>
    
    <extension
          name="Sections contributed by RSD editor."
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.tibco.xpd.rsd.editor.propertyContributor">
           <propertySection
                class="com.tibco.xpd.rsd.ui.sections.NamedElementSection"
                enablesFor="1"
                id="rsd.NamedElementSection"
                tab="com.tibco.xpd.rsdeditor.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.NamedElement">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.ServiceGeneralSection"
                 enablesFor="1"
                 id="ServiceGeneralSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Service">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.ResourceGeneralSection"
                 enablesFor="1"
                 id="rsd.ResourceGeneralSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Resource">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.ResourceGeneralSection"
                 class="com.tibco.xpd.rsd.ui.sections.PathParametersSection"
                 enablesFor="1"
                 id="rsd.ResourceGeneralSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Resource">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.HttpMethodSection"
                 enablesFor="1"
                 id="rsd.HttpMethodSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.RequestSection"
                 enablesFor="1"
                 id="rsd.RequestSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.request">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.ResponseSection"
                 enablesFor="1"
                 id="rsd.ResponseSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.response">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.FaultsSection"
                 enablesFor="1"
                 id="rsd.FaultsSection"
                 tab="com.tibco.xpd.rsdeditor.propertyTabs.faults">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
       </propertySections>
    </extension>
    
    <extension
          point="com.tibco.xpd.resources.ui.pickerContent">
       <pickerContentProvider
             id="com.tibco.xpd.rsd.method.picker"
             itemProvider="com.tibco.xpd.rsd.ui.components.RsdPickerItemProvider"
             labelProvider="com.tibco.xpd.rsd.ui.components.RsdPickerLabelProvider">
       </pickerContentProvider>
    </extension>
    
    <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="com.tibco.xpd.rsd.ui.editor.RsdCopyPasteActionHandlerProvider"
            id="com.tibco.xpd.rsd.ui.editor.RsdCopyPasteActionHandlerProvider">
         <Priority
               name="Lowest">
         </Priority>
         <ViewId
               id="com.tibco.xpd.rsd.ui.rsd.editor">
            <ElementType
                  class="com.tibco.xpd.rsd.Method">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="com.tibco.xpd.rsd.Resource">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="com.tibco.xpd.rsd.Service">
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
         </ViewId>
         
         <ViewId
               id="org.eclipse.ui.navigator.ProjectExplorer">
            <ElementType
                  class="com.tibco.xpd.rsd.Method">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="com.tibco.xpd.rsd.Resource">
               <GlobalActionId
                     actionId="cut">
               </GlobalActionId>
               <GlobalActionId
                     actionId="copy">
               </GlobalActionId>
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
            <ElementType
                  class="com.tibco.xpd.rsd.Service">
               <GlobalActionId
                     actionId="paste">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <extension
          name="Tabs contributed by Proejct Explorer."
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.eclipse.ui.navigator.ProjectExplorer">
          <propertyTab
                afterTab="top"
                category="general"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.general"
                image="icons/tabGeneral.png"
                indented="false"
                label="%property_tab_general">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdexplorer.propertyTabs.general"
                category="general"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.description"
                image="icons/tabDescription.png"
                indented="false"
                label="%property_tab_description">
          </propertyTab>
          <propertyTab
                afterTab="top"
                category="core"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.request"
                image="icons/tabRequest.gif"
                indented="false"
                label="%property_tab_request">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdexplorer.propertyTabs.request"
                category="core"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.response"
                image="icons/tabResponse.gif"
                indented="false"
                label="%property_tab_response">
          </propertyTab>
          <propertyTab
                afterTab="com.tibco.xpd.rsdexplorer.propertyTabs.response"
                category="core"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.faults"
                image="icons/tabFaults.png"
                indented="false"
                label="%property_tab_faults">
          </propertyTab>
          <propertyTab
                afterTab="top"
                category="advanced"
                id="com.tibco.xpd.rsdexplorer.propertyTabs.extended"
                image="icons/tabExtended.gif"
                indented="false"
                label="%property_tab_extended">
          </propertyTab>
       </propertyTabs>
    </extension>
    
    <extension
          name="Sections contributed by Project Explorer."
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="org.eclipse.ui.navigator.ProjectExplorer">
           <propertySection
                class="com.tibco.xpd.rsd.ui.sections.NamedElementSection"
                enablesFor="1"
                id="rsd.explorer.NamedElementSection"
                tab="com.tibco.xpd.rsdexplorer.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.NamedElement">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.explorer.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.ServiceGeneralSection"
                 enablesFor="1"
                 id="rsd.explorer.ServiceGeneralSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Service">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.explorer.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.ResourceGeneralSection"
                 enablesFor="1"
                 id="rsd.explorer.ResourceGeneralSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Resource">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.explorer.ResourceGeneralSection"
                 class="com.tibco.xpd.rsd.ui.sections.PathParametersSection"
                 enablesFor="1"
                 id="rsd.explorer.ResourceGeneralSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Resource">
                </input>
           </propertySection>
           <propertySection
                 afterSection="rsd.explorer.NamedElementSection"
                 class="com.tibco.xpd.rsd.ui.sections.HttpMethodSection"
                 enablesFor="1"
                 id="rsd.explorer.HttpMethodSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.general">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.RequestSection"
                 enablesFor="1"
                 id="rsd.explorer.RequestSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.request">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.ResponseSection"
                 enablesFor="1"
                 id="rsd.explorer.ResponseSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.response">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
           <propertySection
                 afterSection="top"
                 class="com.tibco.xpd.rsd.ui.sections.FaultsSection"
                 enablesFor="1"
                 id="rsd.explorer.FaultsSection"
                 tab="com.tibco.xpd.rsdexplorer.propertyTabs.faults">
                <input
                    type="com.tibco.xpd.rsd.Method">
                </input>
           </propertySection>
       </propertySections>
    </extension>
     <!-- REST Service rsd File Export Documentation Wizard Contribution -->
 	 <extension
         point="com.tibco.xpd.resources.ui.documentViewerContribution">
     	 <documentViewerContribution
            documentGenerator="com.tibco.xpd.rsd.doc.RestServiceDocXsltGeneration"
            fileExtensions="rsd"
            specialFolders="rest">
    	  </documentViewerContribution>
  	 </extension>
  	 <!-- REST Service rsd File Export Documentation File Contribution -->
   	 <extension
         point="org.eclipse.ui.navigator.navigatorContent">
     	 <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.restContent"
            type="export"
            wizardId="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard">
         	   <enablement>
        		  <or>
           			  <and>
            		    <instanceof
               		       value="org.eclipse.core.resources.IFile">
            		    </instanceof>
            		    <test
            	          property="org.eclipse.core.resources.extension"
            	          value="rsd">
            		    </test>
           			  </and>
           			  <and>
                   		  <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                    	 </instanceof>
                    	 <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="rest">
                    	 </test>
                 	 </and>
         		 </or>
       		</enablement>
     	 </commonWizard>
   </extension>
</plugin>
