
    .f7f71989c-7361-4f87-aa3a-13cb8c8d9924 .pane_root > .label {
        
display:block !important;    }
    .f7f71989c-7361-4f87-aa3a-13cb8c8d9924 .pane_messages > .label {
        display:none !important;
    }
    .f7f71989c-7361-4f87-aa3a-13cb8c8d9924 .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.f7f71989c-7361-4f87-aa3a-13cb8c8d9924 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
