<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.bom.gen.bomGenerator2">
      <generator
            allowEmptyModels="true"
            class="com.tibco.bds.designtime.generator.ModelGenerator"
            generationMode="ON_DEMAND"
            id="com.tibco.bds.designtime.generator"
            label="%generator.model.label"
            suffix="bds">
         <validation>
            <marker
                  markerType="com.tibco.xpd.n2.cds.validator.cdsValidationMarker">
            </marker>
            <marker
                  markerType="com.tibco.xpd.bom.validator.xsdValidationMarker">
            </marker>
         </validation>
         <supports>
            <or>
               <destination
                     destinationId="com.tibco.xpd.n2.core.n2GlobalDestination">
               </destination>
               <destination
                     destinationId="com.tibco.xpd.decisions.globalDestination">
               </destination>
            </or>
         </supports>
      </generator>
   </extension>
   <extension
         point="com.tibco.xpd.bom.gen.bomGenerator2">
      <generator
            allowEmptyModels="true"
            class="com.tibco.bds.designtime.generator.da.DAGenerator"
            generationMode="ON_DEMAND"
            id="com.tibco.bds.designtime.generator.da"
            label="%generator.da.label"
            suffix="da.bds">
         <validation>
            <marker
                  markerType="com.tibco.xpd.n2.cds.validator.cdsValidationMarker">
            </marker>
            <marker
                  markerType="com.tibco.xpd.bom.validator.xsdValidationMarker">
            </marker>
         </validation>
         <supports>
            <destination
                  destinationId="com.tibco.xpd.n2.core.n2GlobalDestination">
            </destination>
         </supports>
      </generator>
   </extension>
   <extension
         point="com.tibco.xpd.bom.gen.bomGenerator2">
      <generator
            allowEmptyModels="true"
            class="com.tibco.bds.designtime.generator.si.SIGenerator"
            generationMode="ON_DEMAND"
            id="com.tibco.bds.designtime.generator.si"
            label="%generator.si.label"
            suffix="si.bds">
         <validation>
            <marker
                  markerType="com.tibco.xpd.n2.cds.validator.cdsValidationMarker">
            </marker>
            <marker
                  markerType="com.tibco.xpd.bom.validator.xsdValidationMarker">
            </marker>
         </validation>
         <supports>
            <destination
                  destinationId="com.tibco.xpd.n2.core.n2GlobalDestination">
            </destination>
         </supports>
      </generator>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="bom"
            indexID="com.tibco.xpd.n2.bom.gen.cdsIndexer"
            indexerClass="com.tibco.bds.designtime.generator.internal.CDSBOMIndexer">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="packageName">
            </attribute>
            <attribute
                  maxLength="2048"
                  name="factoryName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="namespace_uri">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="qualifiedName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="qualifiedCDSFactoryName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="parent">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="association">
            </attribute>
         </additionalAttributes>
      </indexer>
   </extension>
</plugin>
