
    .fb564a3c0-ddc5-4ec4-9b44-e728b6701de5 .pane_messages > .label {
        display:none !important;
    }
    .fb564a3c0-ddc5-4ec4-9b44-e728b6701de5 .pane_root > .label {
        
display:block !important;    }
    .fb564a3c0-ddc5-4ec4-9b44-e728b6701de5 .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fb564a3c0-ddc5-4ec4-9b44-e728b6701de5 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
