<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.fragments.fragmentsProvider">
      <provider
            class="com.tibco.xpd.processeditor.fragments.ProcessFragmentContributor"
            description="%fragmentContribution.Desc"
            id="com.tibco.xpd.processeditor.fragments"
            name="%fragmentContribution.Name">
         <dropAdapters
               class="com.tibco.xpd.processeditor.fragments.ProcessFragmentDropTargetAdapter">
         </dropAdapters>
      </provider>
      <provider
            class="com.tibco.xpd.processeditor.fragments.PageflowProcessFragmentContributor"
            description="%pageflowFragmentContribution.Desc"
            id="com.tibco.xpd.processeditor.fragments.pageflow"
            name="%pageflowFragmentContribution.Name">
         <dropAdapters
               class="com.tibco.xpd.processeditor.fragments.ProcessFragmentDropTargetAdapter">
         </dropAdapters>
      </provider>
      <provider
            class="com.tibco.xpd.processeditor.fragments.BusinessServiceFragmentContributor"
            description="%businessServiceFragmentContribution.Desc"
            id="com.tibco.xpd.processeditor.fragments.businessservice"
            name="%businessServiceFragmentContribution.Name">
         <dropAdapters
               class="com.tibco.xpd.processeditor.fragments.ProcessFragmentDropTargetAdapter">
         </dropAdapters>
      </provider>
      <provider
            class="com.tibco.xpd.processeditor.fragments.CaseServiceFragmentContributor"
            description="%caseServiceFragmentContribution.Desc"
            id="com.tibco.xpd.processeditor.fragments.caseservice"
            name="%caseServiceFragmentContribution.Name">
         <dropAdapters
               class="com.tibco.xpd.processeditor.fragments.ProcessFragmentDropTargetAdapter">
         </dropAdapters>
      </provider>
      <provider
            class="com.tibco.xpd.processeditor.fragments.ServiceProcessFragmentContributor"
            description="%serviceProcessFragmentContribution.Desc"
            id="com.tibco.xpd.processeditor.fragments.serviceprocess"
            name="%serviceProcessFragmentContribution.Name">
         <dropAdapters
               class="com.tibco.xpd.processeditor.fragments.ProcessFragmentDropTargetAdapter">
         </dropAdapters>
      </provider>
   </extension>
   <extension
         point="com.tibco.xpd.fragments.fragmentsProvider">
         <provider
            class="com.tibco.xpd.packagetemplates.PackageTemplatesContributor"
            description="%fragmentContribution.pkgTemplates.Desc"
            id="com.tibco.xpd.pkgtemplates"
            name="%fragmentContribution.pkgTemplates.Name">
      </provider>
   </extension>     
   <extension
         point="com.tibco.xpd.fragments.fragmentsBinding">
      <binding
            editorId="com.tibco.xpd.processeditor.xpdl2.editor"
            fragmentId="com.tibco.xpd.processeditor.fragments">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.BusinessProcessFilter">
         </filter>
      </binding>
      <binding
            editorId="com.tibco.xpd.processeditor.xpdl2.editor"
            fragmentId="com.tibco.xpd.processeditor.fragments.pageflow">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.PageflowProcessFilter">
         </filter>
      </binding>
      <binding
            editorId="com.tibco.xpd.packageeditor.editor"
            fragmentId="com.tibco.xpd.pkgtemplates">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.PackageTemplateFilter">
         </filter>
      </binding>
      <binding
            editorId="com.tibco.xpd.processeditor.xpdl2.editor"
            fragmentId="com.tibco.xpd.processeditor.fragments.businessservice">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.BusinessServicesFilter">
         </filter>
      </binding>
      <binding
            editorId="com.tibco.xpd.processeditor.xpdl2.editor"
            fragmentId="com.tibco.xpd.processeditor.fragments.caseservice">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.CaseServicesFilter">
         </filter>
      </binding>
      <binding
            editorId="com.tibco.xpd.processeditor.xpdl2.editor"
            fragmentId="com.tibco.xpd.processeditor.fragments.serviceprocess">
         <filter
               filter="com.tibco.xpd.processeditor.fragments.ServiceProcessFilter"></filter>
      </binding>
   </extension>
  
  <!-- 
   /*
 * Sid ACE-131 - we're going to hide Fragments importer for now as it uses OAW
 * and we want to drop that.
 */
   <extension
         point="com.tibco.xpd.fragments.fragmentsImport">
      <importer
            class="com.tibco.xpd.processeditor.fragments.ProcessFragmentsImporter"
            id="com.tibco.xpd.processeditor.fragments.importer"
            projects=".bsDiagramFragments">
      </importer>
   </extension>
   
   -->
</plugin>
