<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   	id="emulationDiagramEditors" 
   	name="Emulation Diagram Editor" 
   	schema="schema/emulationDiagramEditors.exsd"/>	
   <extension
       point="com.tibco.xpd.resources.specialFolders">
    <folder
          icon="icons/EmulationFolder.png"
          allowDuplicateResources="false"
          issueId="em.duplicateResourceIssue"
          kind="em"
          name="%emulation.folder.name"
          navigatorContentId="com.tibco.bx.projectExplorer.emulations"
          projectAssetId="com.tibco.xpd.asset.em">
    </folder>
  </extension>
  <extension
        point="com.tibco.xpd.validation.provider">
     <issue
           id="em.duplicateResourceIssue"
           message="%emulation.validation.provider.message"
           severity="ERROR">
     </issue>
  </extension>
  <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="com.tibco.bx.emulation.ui.navigator.EMNavigatorContentProvider"
          icon="icons/EmulationFile.png"
          id="com.tibco.bx.projectExplorer.emulations"
          labelProvider="com.tibco.bx.emulation.ui.navigator.EMNavigatorLabelProvider"
          name="%emulation.folder.name"
          priority="high"
          providesSaveables="true">
          <triggerPoints>
       		<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<test
						property="org.eclipse.core.resources.projectNature"
	                    value="com.tibco.xpd.resources.xpdNature"/>
	                <test
	                    property="org.eclipse.core.resources.open"
	                    value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
						value="em"/>
				</and>
				<and>
	            	<instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="em">
	               </test>
	               <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="em">
                   </test>
            	</and>
			</or>
       </triggerPoints>
       <possibleChildren>
            <or>
            	<and>
                	 <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                	 <test
                       property="com.tibco.xpd.resources.specialfolder.isOfKind"
                       value="em"/>              	
             	</and>
             <instanceof
                    value="com.tibco.bx.emulation.model.EmulationData">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.ProcessNode">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.Testpoint">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.Assertion">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.Input">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.Output">
              </instanceof>
              <instanceof
                    value="com.tibco.bx.emulation.model.IntermediateInput">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
            </or>
       </possibleChildren>
       <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
       <dropAssistant
             class="com.tibco.bx.emulation.ui.dropassist.EmulationElementsDropAssist"
             id="com.tibco.bx.emulations.ui.emulationElementsDropAssistant">
          <possibleDropTargets>
             <or>
                <and>
	            	<instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="em">
	               </test>
	               <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="em">
                   </test>
            	</and>
            	<and>
	            	<instanceof
	                     value="com.tibco.bx.emulation.model.ProcessNode">
	               </instanceof>
            	</and>
             </or>
          </possibleDropTargets>
       </dropAssistant>
      <actionProvider
            class="com.tibco.bx.emulation.ui.providers.EmulationEditActionProvider"
            id="com.tibco.bx.emulation.ui.action.emulationEditActionProvider">
         <enablement>
         	<or>
         	 	<instanceof value="com.tibco.bx.emulation.model.ProcessNode"/>
            	<instanceof value="com.tibco.bx.emulation.model.Testpoint"/>
            	<instanceof value="com.tibco.bx.emulation.model.Assertion"/>
            	<instanceof value="com.tibco.bx.emulation.model.Input"/>
            	<instanceof value="com.tibco.bx.emulation.model.Output"/>
            	<instanceof value="com.tibco.bx.emulation.model.IntermediateInput"/>
         	</or>
         </enablement>
      </actionProvider>
       <actionProvider
             class="com.tibco.bx.emulation.ui.providers.UndoRedoActionProvider"
             id="com.tibco.bx.emulation.ui.action.undoRedoActionProvider"
             overrides="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
          <enablement>
          	<or>
	          	<instanceof value="com.tibco.bx.emulation.model.ProcessNode"/>
            	<instanceof value="com.tibco.bx.emulation.model.Testpoint"/>
            	<instanceof value="com.tibco.bx.emulation.model.Assertion"/>
            	<instanceof value="com.tibco.bx.emulation.model.Input"/>
            	<instanceof value="com.tibco.bx.emulation.model.Output"/>
            	<instanceof value="com.tibco.bx.emulation.model.IntermediateInput"/>
             </or>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.tibco.bx.emulation.ui.providers.ProcessNodesAddActionProvider"
             id="com.tibco.bx.emulation.ui.action.processNodesAddActionProvider">
          <enablement>
          	<and>
	            	<instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="em">
	               </test>
	               <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="em">
                   </test>
            	</and>
          </enablement>
       </actionProvider>
       <commonSorter
             class="com.tibco.bx.emulation.ui.providers.EmulationElementsViewerSorter"
             id="com.tibco.bx.emulation.ui.providers.emulationElementsViewerSorter">
          <parentExpression>
             <or>
                <instanceof
                      value="com.tibco.bx.emulation.model.NamedElement">
                </instanceof>
             </or>
          </parentExpression>
       </commonSorter>
     </navigatorContent>
     <commonWizard
            menuGroupId="additions"
            type="new"
            wizardId="com.tibco.bx.emulation.ui.EmulationFileCreationWizard">
         <enablement>
         	<or>
	            <and>
		            <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
		            <test
		              property="com.tibco.xpd.resources.specialfolder.isOfKind"
		              value="em"/>
		          </and>
		          <and>
		            <instanceof value="org.eclipse.core.resources.IResource"/>
		            <test
		              property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
		              value="em"/>
		        </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="additions"
            type="new"
            wizardId="com.tibco.bx.emulation.ui.EmulationFolderCreationWizard">
         <enablement>
         	<instanceof value="org.eclipse.core.resources.IProject"/>
					<test
						property="org.eclipse.core.resources.projectNature"
	                    value="com.tibco.xpd.resources.xpdNature"/>
	                <test
	                    property="org.eclipse.core.resources.open"
	                    value="true"/>
         </enablement>
      </commonWizard>
    </extension>
       <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.bx.emulation.ui.category"
            class="com.tibco.bx.emulation.ui.wizards.ProcessNodesCreationWizard"
            hasPages="true"
            icon="icons/processnode.gif"
            id="com.tibco.bx.emulation.ui.ProcessNodesCreationWizard"
            name="%ProcessNodesCreationWizard.name"
            project="false"/>
      <wizard
            canFinishEarly="true"
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.bx.emulation.ui.category"
            class="com.tibco.bx.emulation.ui.wizards.EmulationFileCreationWizard"
            hasPages="true"
            icon="icons/EmulationFile.png"
            id="com.tibco.bx.emulation.ui.EmulationFileCreationWizard"
            name="%EmulationFileCreationWizard.name"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.bx.emulation.ui.category"
            class="com.tibco.bx.emulation.ui.wizards.EmulationFolderCreationWizard"
            hasPages="true"
            icon="icons/EmulationFolder.png"
            id="com.tibco.bx.emulation.ui.EmulationFolderCreationWizard"
            name="%EmulationFolderCreationWizard.name"
            project="false">
      </wizard>
      <category
            id="com.tibco.bx.emulation.ui.category"
            name="%EmulationCategory.name"
            parentCategory="com.tibco.xpd.newWizard.modeling.category">
      </category>  
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.bx.emulation.ui.editor.EmulationDataEditor"
            extensions="em"
            default="true"
            icon="icons/EmulationFile.png"
            id="com.tibco.bx.emulation.ui.EmulationDataEditor"
            name="%EmulationDataEditor.name"/>
   </extension>
   <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           class="com.tibco.bx.emulation.ui.views.TestpointsView"
           category="org.eclipse.debug.ui"
           icon="icons/testpoint.gif"
           id="com.tibco.bx.emulation.ui.views.TestpointsView"
           name="%TestpointsView.name">
     </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
  			<view 
  				closeable="true" 
  				id="com.tibco.bx.emulation.ui.views.TestpointsView" 
  				minimized="false" 
  				moveable="true" 
  				relationship="stack" 
  				relative="org.eclipse.debug.ui.BreakpointView" 
  				standalone="true" 
  				visible="true" /> 
  		</perspectiveExtension>
  	</extension>
  	<extension
	         point="org.eclipse.debug.ui.contextViewBindings">
   		 <contextViewBinding
	      		autoOpen="true"
	            contextId="com.tibco.bx.debug.ui.debugging"
	            viewId="com.tibco.bx.emulation.ui.views.TestpointsView"/>
   </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
            targetID="com.tibco.bx.emulation.ui.views.TestpointsView"
            id="com.tibco.bx.emulation.ui.testpointview.toolbar">
          <action
               id="com.tibco.bx.emulation.ui.testpointview.toolbar.RemoveAllTestpointsAction"
               toolbarPath="testpointGroup"
               hoverIcon="icons/remove_all_en.gif"
               class="com.tibco.bx.emulation.ui.actions.RemoveAllTestpointsAction"
               disabledIcon="icons/remove_all_dis.gif"
               icon="icons/remove_all_en.gif"
               label="%RemoveAllTestpointsAction.label"
               tooltip="%RemoveAllTestpointsAction.tooltip">
         </action>
         <action
               id="com.tibco.bx.emulation.ui.testpointview.toolbar.RemoveTestpointsAction"
               toolbarPath="testpointGroup"
               hoverIcon="icons/remove_en.gif"
               class="com.tibco.bx.emulation.ui.actions.RemoveTestpointsAction"
               disabledIcon="icons/remove_dis.gif"
               icon="icons/remove_en.gif"
               label="%RemoveTestpointsAction.label"
               tooltip="%RemoveTestpointsAction.tooltip">
         </action>
         <action
               id="com.tibco.bx.emulation.ui.testpointview.menu.ToggleProcessNodesAction"
               menubarPath="testpointGroup"
               class="com.tibco.bx.emulation.ui.actions.ToggleProcessNodesAction"
               hoverIcon="icons/processnode.gif"
               disabledIcon="icons/processnode.gif"
               icon="icons/processnode.gif"
               label="%ToggleProcessNodesAction.label"
               tooltip="%ToggleProcessNodesAction.tooltip">
         </action>
         <action
               id="com.tibco.bx.emulation.ui.actions.SaveAsEmulationFileAction"
               toolbarPath="additions"
               class="com.tibco.bx.emulation.ui.actions.SaveAsEmulationFileAction"
               hoverIcon="icons/save_en.gif"
               disabledIcon="icons/save_dis.gif"
               icon="icons/save_en.gif"
               label="%SaveAsEmulationFileAction.label"
               tooltip="%SaveAsEmulationFileAction.tooltip">
         </action>
         <action
               id="com.tibco.bx.emulation.ui.actions.LoadEmulationFileAction"
               toolbarPath="additions"
               class="com.tibco.bx.emulation.ui.actions.LoadEmulationFileAction"
               hoverIcon="icons/import_en.gif"
               disabledIcon="icons/import_dis.gif"
               icon="icons/import_en.gif"
               label="%LoadEmulationFileAction.label"
               tooltip="%LoadEmulationFileAction.tooltip">
         </action>
      </viewContribution> 
    </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
          <viewerContribution
            targetID="com.tibco.bx.emulation.ui.views.TestpointsView"
            id="com.tibco.bx.emulation.ui.testpointsview.popupMenu">
            <action
               label="%SelectAllTestpoints.label"
               definitionId="org.eclipse.ui.edit.selectAll"
               class="com.tibco.bx.emulation.ui.actions.SelectAllTestpointsAction"
               menubarPath="testpointGroup"
               id="com.tibco.bx.emulation.ui.actions.SelectAllTestpointsAction">
         </action>
         <action
               label="%RemoveAllTestpointsAction.label"
               icon="icons/remove_all_en.gif"
               class="com.tibco.bx.emulation.ui.actions.RemoveAllTestpointsAction"
               menubarPath="testpointGroup"
               id="com.tibco.bx.emulation.ui.actions.RemoveAllTestpointsAction">
         </action>
        <action
               label="%RemoveTestpointsAction.label"
               icon="icons/remove_en.gif"
               class="com.tibco.bx.emulation.ui.actions.RemoveTestpointsAction"
               menubarPath="testpointGroup"
               id="com.tibco.bx.emulation.ui.actions.RemoveTestpointsAction">
        </action>
        <action
               label="%SaveAsEmulationFileAction.label"
               icon="icons/save_en.gif"
               class="com.tibco.bx.emulation.ui.actions.SaveAsEmulationFileAction"
               menubarPath="additions"
               id="com.tibco.bx.emulation.ui.actions.SaveAsEmulationFileAction">
         </action>
        <action
               label="%LoadEmulationFileAction.label"
               icon="icons/import_en.gif"
               class="com.tibco.bx.emulation.ui.actions.LoadEmulationFileAction"
               menubarPath="additions"
               id="com.tibco.bx.emulation.ui.actions.LoadEmulationFileAction">
        </action>
          </viewerContribution>
    </extension>
    
   <extension
        point="org.eclipse.ui.navigator.linkHelper">
     <linkHelper
           class="com.tibco.bx.emulation.ui.editor.TestpointsEditorLinkHelper"
           id="com.tibco.bx.emulation.projectExplorer.linkHelper">
        <editorInputEnablement>
        	<instanceof
                 value="com.tibco.bx.emulation.ui.editor.IDiagramEditorInput">
           </instanceof>
        </editorInputEnablement>
        <selectionEnablement>
           <or>
         	 	<instanceof value="com.tibco.bx.emulation.model.ProcessNode"/>
         	 	<instanceof value="com.tibco.bx.emulation.model.Testpoint"/>
         	 	<instanceof value="com.tibco.bx.emulation.model.Assertion"/>
         	 	<instanceof value="com.tibco.bx.emulation.model.Input"/>
            	<instanceof value="com.tibco.bx.emulation.model.Output"/>
            	<instanceof value="com.tibco.bx.emulation.model.IntermediateInput"/>
         	 </or>
        </selectionEnablement>
     </linkHelper>
   </extension>
    <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
         	<contentExtension pattern="com.tibco.bx.projectExplorer.emulations"/>
            <contentExtension pattern="com.tibco.bx.emulation.projectExplorer.linkHelper"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.bx.emulation.ui.properties"
            labelProvider="com.tibco.bx.emulation.ui.properties.PropertyLabelProvider"
            typeMapper="com.tibco.bx.emulation.ui.properties.PropertyTypeMapper">
         <propertyCategory category="general"/>
      </propertyContributor>
   </extension>
    <extension
        name="Tab contributed for when EMULATION EDITOR  is the selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs contributorId="com.tibco.bx.emulation.ui.properties">
        <propertyTab
              category="general"
              id="com.tibco.bx.emulation.ui.propertyTab0"
              indented="false"
              label="%emulation.ui.propertyTab0.label">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="PropertySections Contributed to tabs when EMULATION EDITOR or Testpoints View is selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="com.tibco.bx.emulation.ui.properties">
     	<propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               id="emulation.activity0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               id="emulation.assertion0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               id="emulation.processnode0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               id="emulation.input0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               id="emulation.output0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationIntermediateInputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationIntermediateInputPropertySection"
               id="emulation.intermediateInput0"
               tab="com.tibco.bx.emulation.ui.propertyTab0">
          </propertySection>
      </propertySections>
  </extension>
  <extension
        name="Tab contributed for when PROJECT EXPLORER  is the selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs contributorId="org.eclipse.ui.navigator.ProjectExplorer">
        <propertyTab
              category="general"
              id="com.tibco.bx.emulation.ui.propertyTab2"
              indented="false"
              label="%emulation.ui.propertyTab2.label">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="PropertySections Contributed to tabs when Project Explorer is selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
     	<propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               id="emulation.activity2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               id="emulation.assertion2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               id="emulation.input2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               id="emulation.output2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               id="emulation.processnode2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationIntermediateInputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationIntermediateInputPropertySection"
               id="emulation.intermediateInput2"
               tab="com.tibco.bx.emulation.ui.propertyTab2">
         </propertySection>
      </propertySections>
  </extension>
</plugin>