<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="com.tibco.xpd.validation.destinations">
      <destination
            id="com.tibco.xpd.wm.pageflow.validationDestination.v1.0"
            name="%wm.pageflow.destination.name"
            selectable="true"
            version="">
         <filter
               class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.wm.pageflow.validationProvider">
         </validationProvider>
         <validationProvider
               id="com.tibco.xpd.wm.pageflowfromprocess.validationProvider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         name="The N2 Pageflow component and versions are &apos;pushed&apos; into the Active Matrix BPM global dest so that when WM feature not present, the pageflow component will not appear in AM BPM"
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.wm.pageflow.globalDestinationComponent"
            validationDestinationId="com.tibco.xpd.wm.pageflow.validationDestination.v1.0">
      </globalDestinationComponentVersion>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.n2.core.n2GlobalDestination"
            id="com.tibco.xpd.wm.pageflow.globalDestinationComponent"
            name="%wm.pageflow.destination.component.name"
            visible="false">
      </globalDestinationComponent>
      <defaultGlobalDestinationComponent
            globalDestinationComponentId="com.tibco.xpd.wm.pageflow.globalDestinationComponent"
            name="BPM"
            validationDestinationId="com.tibco.xpd.wm.pageflow.validationDestination.v1.0">
      </defaultGlobalDestinationComponent>
   </extension>
   <extension
         id="com.tibco.xpd.wm.pageflow.validationMarker"
         name="%wm.pageflow.problems.label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.xpd.validation.ValidationMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.wm.pageflow.validationMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.wm.pageflow.validationProvider"
            markerType="com.tibco.xpd.wm.pageflow.validationMarker"
            name="N2 Pageflow Validation Provider"
            scopeProvider="com.tibco.xpd.validation.pageflow.PageflowXpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowSubProcessRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowEventTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowGatewayTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowImplementationTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowTaskLoopRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowActivityScriptsRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowFlowRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowSendTaskRule">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.N2PageflowActivityDataAssociationRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.FormalParameterInBusinessServicePageflowRule">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.CaseServiceValidationRules">
         </rule>
         <rule
               class="com.tibco.xpd.wm.pageflow.validation.rules.RequiredAccessPrivilegesRule">
         </rule>
      </provider>
      <provider
            id="com.tibco.xpd.wm.pageflowfromprocess.validationProvider"
            name="N2 Pageflow from Business Process Validation Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.wm.pageflow.process.validation.rules.PageflowProcessFromUserTaskRule">
         </rule>
      </provider>
      <issue
            id="wm.pageflow.transactionSubProcNotSupported"
            message="%wm.pageflow.transactionSubProcNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.unsetSubProcessTransaction">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.endEventTypeNotSupported"
            message="%wm.pageflow.endEventTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeNone">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMsg">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowCompensation">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowError">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeTerminate">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.intermediateInflowEventTypeNotSupported"
            message="%wm.pageflow.intermediateInflowEventTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMsg">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowCompensation">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.gatewayTypeNotSupported"
            message="%wm.pageflow.gatewayTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToGatewayTypeExclusiveData">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.unsupportedImplementationType"
            message="%wm.pageflow.unsupportedImplementationType"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflow.userTaskSupportsOnlyCertainScripts"
            message="%wm.pageflow.userTaskSupportsOnlyCertainScripts"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflow.parallelFlowNotSupported"
            message="%wm.pageflow.parallelFlowNotSupported"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflow.multiStartNotSupported"
            message="%wm.pageflow.multiStartNotSupported"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflow.standardLoopExpressionRequired"
            message="%wm.pageflow.standardLoopExpressionRequired"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflow.crossProjInvBizProcNotSupported"
            message="%wm.pageflow.crossProjInvBizProcNotSupported"
            severity="ERROR">
      </issue>
      <issue
            id="wm.pageflowProcess.businessServiceIgnoredFromUserTask"
            message="%wm.pageflowProcess.businessServiceIgnoredFromUserTask"
            severity="WARNING">
      </issue>
      <issue
            id="wm.pageflow.eventHandlerMustBeCatchSignalOrUntriggered"
            message="%wm.pageflow.eventHandlerMustBeCatchSignalOrUntriggered1"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.setToTriggerTypeNone">
         </resolution>
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.setToTriggerTypeCatchCancel">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.eventHandlerParamModeInOnly"
            message="%wm.pageflow.eventHandlerParamModeInOnly"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="wm.pageflow.changeAssociationsToInMode">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.eventHandlerParamsOnly"
            message="%wm.pageflow.eventHandlerParamsOnly"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="wm.pageflow.removeDataFieldAssociations">
         </resolution>
      </issue>
      <issue
            id="wm.pageflow.userTaskBoundaryTimerNotSupported"
            message="%wm.pageflow.userTaskBoundaryTimerNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="bpmn.deleteActivity">
         </resolution>
      </issue>
      <issue
            id="com.tibco.xpd.wm.pageflow.validation.rules.FormalParameterInBusinessServicePageflowRule"
            message="%wm.formalparametersinbusinessservicepageflows"
            severity="WARNING">
      </issue>
      <issue
            id="wm.eventHandlerTypeNotSupportedInEmbeddedSubProc"
            message="%wm.eventHandlerTypeNotSupportedInEmbeddedSubProc"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
      </issue>
      <issue
            id="wm.caseservice.NoCaseClassSelectedForCaseService"
            message="%wm.caseservice.NoCaseClassSelectedForCaseService"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="wm.caseservice.SelectCaseClassTypeResolution">
         </resolution>
      </issue>
      <issue
            id="wm.caseservice.CaseClassCaseStateAttributeNotFound"
            message="%wm.caseservice.CaseClassCaseStateAttributeNotFound"
            severity="ERROR">
      </issue>
      <issue
            id="wm.caseservice.SingleParamInCaseServiceRequired"
            message="%wm.caseservice.SingleParamInCaseServiceRequired2"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="wm.caseservice.CreateCaseRefParamInCaseServiceResolution">
         </resolution>
      </issue>
      <issue
            id="wm.caseservice.MultipleParamsNotAllowedInCaseService"
            message="%wm.caseservice.SingleParamInCaseServiceRequired2"
            severity="ERROR">
      </issue>
      <issue
            id="wm.caseservice.paramInCaseServiceMustBeCaseClassCaseRefType"
            message="%wm.caseservice.SingleParamInCaseServiceRequired2"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="wm.caseservice.SetParamTypeToCaseClassCaseRefInCaseServiceResolution">
         </resolution>
      </issue>
      <issue
            id="wm.caseservice.paramInCaseServiceMustBeInput"
            message="%wm.caseservice.SingleParamInCaseServiceRequired2"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setFormalParameterModeIn">
         </resolution>
      </issue>
      <issue
            id="wm.caseservice.InvalidCaseStateAttributeFoundInCaseService"
            message="%wm.caseservice.InvalidCaseStateAttributeFoundInCaseService"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="wm.caseservice.RemoveInvalidCaseServiceCaseSetRefsResolution">
         </resolution>
      </issue>
      <issue
            id= "wm.PrivilegeInNonReferencedProject"
            message= "%wm.PrivilegeInNonReferencedProject"
            severity= "ERROR">
            <resolution
               canApplyToMultiple= "true"
               id= "resolution.bpmn.setAsReferencedProject">
            </resolution>
      </issue>      
    <issue
          id="wm.InvalidPrivilegeReference"
          message="%wm.InvalidPrivilegeReference1"
          severity="ERROR">
       <resolution
             canApplyToMultiple="true"
             id="wm.RemoveInvalidPrivilegeReference.resolution">
       </resolution>
    </issue>
    <issue
          id="wm.caseservice.NoSpecificCaseStateIsSelected"
          message="%wm.caseservice.NoSpecificCaseStateIsSelected"
          severity="ERROR">
    </issue>
    <issue
          id="wm.caseservice.InputCaseRefCannotBeAnArray"
          message="%wm.caseservice.InputCaseRefCannotBeAnArray"
          severity="ERROR">
    </issue>           
   </extension>
   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributor
            class="com.tibco.xpd.wm.pageflow.component.PFCCompositeContributor"
            contextId="com.tibco.xpd.amx.bpm"
            id="com.tibco.xpd.n2.pfc.contributor">
         <dependsOn
               contributorId="com.tibco.xpd.n2.cds.contributor">
         </dependsOn>
         <dependsOn
               contributorId="com.tibco.xpd.n2.pe.contributor">
         </dependsOn>
      </contributor>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.implementationTypeProvider">
      <implementation
            class="com.tibco.xpd.wm.pageflow.component.NewPFCImplementationTypeProvider"
            implementationTypeId="implementation.pageflow">
      </implementation>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.implementationType">
      <implementationType
            componentTypeResolver="com.tibco.xpd.wm.pageflow.component.PFCComponentTypeResolver"
            defaultPalette="false"
            delegate="com.tibco.xpd.wm.pageflow.component.PFCImplementationDelegate"
            name="Page flow component"
            typeId="implementation.pageflow">
         <implementationTypeResolver
               ecoreClass="PFESpecification"
               ecoreURI="http://xsd.tns.tibco.com/n2/models/pfe/1.0"></implementationTypeResolver>
      </implementationType>
   </extension>
   <extension
         point="com.tibco.bx.composite.core.requirementsResolver">
      <resolver
            class="com.tibco.xpd.wm.pageflow.component.PFBpelWsdlsRequirementsResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>
      <resolver
            class="com.tibco.xpd.wm.pageflow.component.PFCExtensionActivityResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>      
      <resolver
            class="com.tibco.xpd.wm.pageflow.component.PfeBOMRequirementsResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>
      <resolver
            class="com.tibco.xpd.wm.pageflow.component.PageflowUserTaskRequirementsResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>
      <resolver
            class="com.tibco.xpd.n2.pe.component.N2DeploymentRequirementResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>
      <resolver
            class="com.tibco.xpd.n2.pe.component.AMXDecisionsRequirementsResolver"
            implementationTypeId="implementation.pageflow">
      </resolver>
      
   </extension>
      <extension
              point="com.tibco.amf.tools.componenttype.propertyType">
           <propertyTypeToITBinding
                 implementationTypeID="implementation.pageflow"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/httpclient}HttpClientConfiguration">
           </propertyTypeToITBinding>
           <propertyTypeToITBinding
                 implementationTypeID="implementation.pageflow"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/jdbc}JdbcDataSource">
           </propertyTypeToITBinding>
           <propertyTypeToITBinding
                 implementationTypeID="implementation.pageflow"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/smtp}SmtpConfiguration">
           </propertyTypeToITBinding>
           <propertyTypeToITBinding
            implementationTypeID="implementation.pageflow"
            supportedPropertyType="{http://www.w3.org/2001/XMLSchema}string">
      </propertyTypeToITBinding>
        </extension>
      
     <!-- ABPM-897: Deprecating InvokeBusinessProcess capability of Send Task.-->

    <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/n2/models/pfe/1.0">
         </package>
         <constraints
               categories="sca.validation/n2">
            <constraint
                  class="com.tibco.xpd.wm.pageflow.validation.PageflowRequiresWPConstraint"
                  id="com.tibco.xpd.wm.pageflow.PageflowRequiresWPConstraint"
                  lang="Java"
                  mode="Batch"
                  name="%pfRequresWPConstraint_name"
                  severity="ERROR"
                  statusCode="PFERequireWPConstraint">
               <message>
                  %pfRequresWPConstraint_message
               </message>
               <target
                     class="PFESpecification">
                  </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
    <extension
          point="com.tibco.xpd.analyst.resources.xpdl2.processPreCommitCommandContributor">
       <ProcessPreCommitCommandContributor
             class="com.tibco.xpd.wm.pageflow.component.RenamePackagePreCommitContribution">
       </ProcessPreCommitCommandContributor>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="com.tibco.xpd.wm.pageflow.component.RenameProjectContributorParticForBSCategory"
             id="com.tibco.xpd.wm.pageflow.renameBizServiceCategory"
             name="RenameBizServiceCategory">
          <enablement>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>             
          </enablement>
       </renameParticipant>
    </extension>
    <extension
          point="com.tibco.xpd.validation.reusableResolutions">
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.RemoveAssociatedDataFieldsResolution"
             description="%wm.pageflow.removeDataFieldAssociations"
             id="wm.pageflow.removeDataFieldAssociations"
             image="icons/delete.gif"
             label="%wm.pageflow.removeDataFieldAssociations">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.SetAssociatedDataToInModeResolution"
             description="%wm.pageflow.changeAssociationsToInMode"
             id="wm.pageflow.changeAssociationsToInMode"
             label="%wm.pageflow.changeAssociationsToInMode">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.CreateCaseRefParamInCaseServiceResolution"
             description="%wm.caseservice.CreateCaseRefParamInCaseServiceResolution"
             id="wm.caseservice.CreateCaseRefParamInCaseServiceResolution"
             label="%wm.caseservice.CreateCaseRefParamInCaseServiceResolution">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.SetParamTypeToCaseClassCaseRefInCaseServiceResolution"
             description="%wm.caseservice.SetParamTypeToCaseClassCaseRefInCaseServiceResolution"
             id="wm.caseservice.SetParamTypeToCaseClassCaseRefInCaseServiceResolution"
             label="%wm.caseservice.SetParamTypeToCaseClassCaseRefInCaseServiceResolution">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.SelectCaseClassTypeResolution
"
             description="%wm.caseservice.SelectCaseClassTypeResolution"
             id="wm.caseservice.SelectCaseClassTypeResolution"
             label="%wm.caseservice.SelectCaseClassTypeResolution">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.RemoveInvalidCaseServiceCaseSetRefsResolution"
             description="%wm.caseservice.RemoveInvalidCaseServiceCaseSetRefsResolution"
             id="wm.caseservice.RemoveInvalidCaseServiceCaseSetRefsResolution"
             label="%wm.caseservice.RemoveInvalidCaseServiceCaseSetRefsResolution">
       </resolution>
       <resolution
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.RemoveInvalidPrivilegeReferenceResolution"
             id="wm.RemoveInvalidPrivilegeReference.resolution"
             label="%wm.RemoveInvalidPrivilegeReference.resolution">
       </resolution>
    </extension>
    <extension
          point="com.tibco.xpd.validation.resolution">
       <resolution
             canApplyToMultiple="true"
             class="com.tibco.xpd.wm.pageflow.validation.resolutions.RemoveInvalidUserTaskScriptsResolution"
             description="%resolution.wm.pageflow.removeUnsupportedUserTaskScripts"
             id="wm.pageflow.userTaskSupportsOnlyCertainScripts"
             image="icons/delete.gif"
             label="%resolution.wm.pageflow.removeUnsupportedUserTaskScripts">
       </resolution>
       <resolution
             canApplyToMultiple="false"
             class="com.tibco.xpd.validation.xpdl2.resolutions.ParameterToDataFieldResolution"
             description="%resolution.description.wm.formalparametersinbusinessservicepageflows"
             id="com.tibco.xpd.wm.pageflow.validation.rules.FormalParameterInBusinessServicePageflowRule"
             label="%resolution.title.wm.formalparametersinbusinessservicepageflows">
       </resolution>
    </extension>   

</plugin>
