<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.ui.perspectives">
  <perspective
        class="com.tibco.xpd.simulation.ui.SimulationPerspective"
        icon="icons/Simulation 16 n p.png"
        id="com.tibco.xpd.simulation.perspective"
        name="%SimulationPerspective.label"/>
	</extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%SimulationView.label"
            id="com.tibco.xpd.simulation.ui">
      </category>
      <view
            name="%SimulationControlView.label"
            icon="icons/Simulation 16 n p.png"
            category="com.tibco.xpd.simulation.ui"
            class="com.tibco.xpd.simulation.ui.views.SimulationControlView"
            id="com.tibco.xpd.simulation.ui.views.SimulationControlView">
      </view>
      <view
            category="com.tibco.xpd.simulation.ui"
            class="com.tibco.xpd.simulation.ui.views.SimulationResultsView"
            icon="icons/Simulation 16 n p.png"
            id="com.tibco.xpd.simulation.ui.views.SimulationResultsView"
            name="%SimulationResultsView.label"/>
      <view
            allowMultiple="false"
            category="com.tibco.xpd.simulation.ui"
            class="com.tibco.xpd.simulation.ui.views.SimulationReportView"
            icon="icons/Simulation 16 n p.png"
            id="com.tibco.xpd.simulation.ui.views.SimulationReportView"
            name="%SimulationReportView.label"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.tibco.xpd.simulation.ui.views.SimulationControlView"
               ratio="0.5"
               relationship="left"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.tibco.xpd.simulation.ui.ControlSimulationContribution"
            targetID="com.tibco.xpd.simulation.ui.views.SimulationControlView">
         <action
               class="com.tibco.xpd.simulation.ui.actions.ResumeSimulationActionDelegate"
               disabledIcon="icons/dlcl16/resume_co.gif"
               icon="icons/elcl16/resume_co.gif"
               id="com.tibco.xpd.simulation.ui.ResumeSimulation"
               label="%ResumeSimulationAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%ResumeSimulationAction.tooltip"/>
         <action
               class="com.tibco.xpd.simulation.ui.actions.PauseSimulationActionDelegate"
               disabledIcon="icons/dlcl16/suspend_co.gif"
               icon="icons/elcl16/suspend_co.gif"
               id="com.tibco.xpd.simulation.ui.PauseSimulation"
               label="%PauseSimulationAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%PauseSimulationAction.tooltip"/>
         <action
               class="com.tibco.xpd.simulation.ui.actions.StopSimulationActionDelegate"
               icon="icons/elcl16/terminate_co.gif"
               id="com.tibco.xpd.simulation.ui.StopSimulation"
               label="%StopSimulationAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%StopSimulationAction.tooltip"/>
         <action
               class="com.tibco.xpd.simulation.ui.actions.StartSimulationActionDelegate"
               icon="icons/elcl16/runlast_co.gif"
               id="com.tibco.xpd.simulation.ui.StartSimulation"
               label="%StartSimulationAction.label"
               menubarPath="additions"
               style="push"
               toolbarPath="additions"
               tooltip="%StartSimulationAction.tooltip"/>
      </viewContribution>
      <viewContribution
            id="com.tibco.xpd.simulation.ui.SimulationResultsContribution"
            targetID="com.tibco.xpd.simulation.ui.views.SimulationResultsView">
         <action
               class="com.tibco.xpd.simulation.ui.actions.HtmlReportActionDelegate"
               icon="icons/HTML Report 16 n p.png"
               id="com.tibco.xpd.simulation.ui.HtmlReportAction"
               label="%HtmlReportSimulationAction.label"
               style="push"
               toolbarPath="reports"
               tooltip="%HtmlReportSimulationAction.tooltip"/>
      </viewContribution>
   </extension>
   
   
  <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="Simulation"
            id="com.tibco.xpd.simulation.ui.general"/>
   </extension> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%SimulationPreferencePage.label"
            class="com.tibco.xpd.simulation.ui.SimulationPreferencePage"
            id="com.tibco.xpd.simulation.ui.SimulationPreferencePage">
            <keywordReference id="com.tibco.xpd.simulation.ui.general"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.tibco.xpd.simulation.simulationLaunch"
            icon="icons/Simulation 16 n p.gif"
            id="com.tibco.xpd.simulation.ui.SimulationLaunchImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.tibco.xpd.simulation.ui.runner.SimulationLaunchConfigurationTabGroup"
            id="com.tibco.xpd.simulation.ui.SimulationTabGroup"
            type="com.tibco.xpd.simulation.simulationLaunch">
         <launchMode
               description="%SimulationTabGroupDescription.run"
               mode="run"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.SimulationValidationProcessErrorStatusHandler"
            code="100"
            id="com.tibco.xpd.simulation.ui.simulationValidationErrorProcessStatusHandler"
            plugin="com.tibco.xpd.simulation.launch"/>
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.SimulationSaveNeededStatusHandler"
            code="101"
            id="com.tibco.xpd.simulation.ui.simulationSaveNeededStatusHandler"
            plugin="com.tibco.xpd.simulation.launch"/>
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.SimulationAlreadyRunningStatusHandler"
            code="103"
            id="com.tibco.xpd.simulation.ui.simulationAlreadyRunningStatusHandler"
            plugin="com.tibco.xpd.simulation.launch"/>
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.NoSimulationDestinationStatusHandler"
            code="104"
            id="com.tibco.xpd.simulation.ui.simNoSimulationDestination"
            plugin="com.tibco.xpd.simulation.launch"/>
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.PrepareSimulationUIStatusHandler"
            code="105"
            id="com.tibco.xpd.simulation.ui.PrepareSimulationUI"
            plugin="com.tibco.xpd.simulation.launch"/>
      <statusHandler
            class="com.tibco.xpd.simulation.ui.runner.LaunchConfigProblemStatusHandler"
            code="106"
            id="com.tibco.xpd.simulation.ui.simProcessLaunchConfigProblem"
            plugin="com.tibco.xpd.simulation.launch"/>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.tibco.xpd.xpdl2.Process"
            class="com.tibco.xpd.simulation.ui.runner.LaunchableAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
   </extension>   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.tibco.xpd.simulation.ui.runner.SimulationLaunchShortcut"
            icon="icons/Simulation 16 n p.gif"
            id="com.tibco.xpd.simulation.ui.SimulationShortcut"
            label="%SimulationShortcut.label"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="%SimulationShortcut.label"
                  mode="run"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="com.tibco.xpd.xpdl2.Process"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="%SimulationShortcut.label"
            description="%SimulationShortcut.label"
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.tibco.xpd.simulation.ui.SimulationShortcut.run">
      </command>
      <keyBinding
            keySequence="M3+M2+X M"
            contextId="org.eclipse.ui.globalScope"
            commandId="com.tibco.xpd.simulation.ui.SimulationShortcut.run"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.tibco.xpd.simulation.ui.deleteSimulationParameter"
            targetID="com.tibco.xpd.simulation.ui.ProcessSimulationSection.menu">
         <action
               class="com.tibco.xpd.simulation.ui.actions.DeleteSimulationParameterDelegate"
               icon="icons/delete_obj.gif"
               id="com.tibco.xpd.simulation.ui.deleteSimulationParameterAction"
               label="Delete"
               menubarPath="additions"
               tooltip="Delete simulation parameter(s)"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
                  class="com.tibco.xpd.simulation.ui.providers.ProcessActionProvider"
                  id="com.tibco.xpd.projectExplorer.action.xpdl2.SimulationProcessAction">
               <enablement>
                  <and>
                     <instanceof value="com.tibco.xpd.xpdl2.Process"/>
                  	 <test
                          forcePluginActivation="true"
                          property="com.tibco.destinations.ui.hasDestinationEnvironment"
                          value="simulation1.2"/>
                  </and>
               </enablement>
            </actionProvider> 
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <perspectiveShortcut
               id="com.tibco.xpd.simulation.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
