<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="n2pe1.x">
         <scriptContribution
               scriptContext="CancelledScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CompletedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DeadlineExpiredScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="InitiatedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MILoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
                  <scriptContribution
               scriptContext="AdhocPrecondition">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>         
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SequenceFlow">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleTimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="JavaServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaSTaskScriptMappingJSRDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DecFlowServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperPEMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperWMMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperRestMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
      </destination>
   </extension>
    
</plugin>
