<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributor
            class="com.tibco.xpd.n2.cds.component.CustomCompositeContributor"
            contextId="com.tibco.xpd.amx.bpm"
            id="com.tibco.xpd.n2.cds.contributor">
         <dependsOn
               contributorId="com.tibco.xpd.n2.om.contributor">
         </dependsOn>
      </contributor> 
      <contributor
            class="com.tibco.xpd.n2.bds.gd.internal.component.BDSCompositeContributor"
            contextId="com.tibco.xpd.amx.bpm"
            id="com.tibco.xpd.n2.bds.contributor">
      </contributor>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="n2pe1.x">
         <scriptContribution
               scriptContext="CancelledScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CompletedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DeadlineExpiredScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="InitiatedScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MILoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
                  <scriptContribution
               scriptContext="AdhocPrecondition">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>         
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SequenceFlow">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleTimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="JavaServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaSTaskScriptMappingJSRDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="WebServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesScriptMappingJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.ScriptMappingCdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsWebServiceJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.WebServiceJsScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.WebServiceJsScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <classContributor
                  class="com.tibco.xpd.n2.cds.reader.CdsDefaultJScriptProcessDefinitionReader"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.reader.N2JScriptProcessDefinitionReader"
                  name="com.tibco.xpd.n2.cds.reader.N2JScriptProcessDefinitionReader">
            </classContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DecFlowServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperPEMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsEngineScriptsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperWMMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DataMapperRestMappingScripts">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.cds.script.CdsFactoriesJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider"
                  name="com.tibco.xpd.n2.globaldata.script.GlobalDataScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
      </destination>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="com.tibco.xpd.n2.cds.internal.customfeature.BOMCacheDeleteParticipant"
            id="com.tibco.xpd.bom.cds.cachejar.deleteParticipant"
            name="%deleteParticipant_name_message">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="com.tibco.xpd.bom.gen.bomGenNature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bom">
                     </test>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="bom">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IContainer">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </deleteParticipant>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.implementationType">
      <implementationType
            componentTypeResolver="com.tibco.xpd.n2.bds.gd.internal.component.BDSComponentTypeResolver"
            defaultPalette="false"
            delegate="com.tibco.xpd.n2.bds.gd.internal.component.BDSImplementationDelegate"
            name="%bdsImplementation_name"
            typeId="implementation.bds">
        <implementationTypeResolver
                ecoreClass="BDSImplementation"
                ecoreURI="http://xsd.tns.tibco.com/n2/models/common">
          </implementationTypeResolver>
      </implementationType>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.implementationTypeProvider">
      <implementation
            class="com.tibco.xpd.n2.bds.gd.internal.component.BDSImplementationTypeProvider"
            implementationTypeId="implementation.bds">
      </implementation>
   </extension>
   <extension
         point="com.tibco.amf.tools.componenttype.propertyType">
      <propertyTypeToITBinding
            implementationTypeID="implementation.bds"
            supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/hibernate}TeneoSessionFactory">
      </propertyTypeToITBinding>
   </extension>
   <extension
         point="com.tibco.xpd.resources.precompileContributor">
      <contributor
            class="com.tibco.xpd.n2.cds.component.BomCachePrecompileContributor"
            contributorId="bomCacheJarPrecompileContributor">
         <sourceArtifactFilter>
            <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bom">
                     </test>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="bom">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <or>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="wsdl">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="xsd">
                        </test></or>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="wsdl">
                     </test>
                     <not>
                        <test
                              property="com.tibco.xpd.resources.specialfolder.isInGeneratedSpecialFolder"
                              value="wsdl">
                        </test>
                     </not>
                  </and>
               </or>
            </enablement>
         </sourceArtifactFilter>
      </contributor>
   </extension>
  
</plugin>
