<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.tibco.xpd.importexport.pluginGenerator.NewPluginGeneratorWizard"
            hasPages="true"
            icon="icons/etool16/newpprj_wiz.gif"
            id="com.tibco.xpd.importexport.importexportgenerator"
            name="%newPluginGeneratorWizard.title">
         <description>
            %newPluginGeneratorWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.tibco.xpd.ui.importexport.maa.ImportMaaWizard"
            icon="icons/tibco16.png"
            id="com.tibco.xpd.importexport.maaImport"
            name="%importMaaWizard_Label">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.tibco.xpd.ui.importexport.maa.MAAFromProjectExportWizard"
            icon="icons/tibco16.png"
            id="com.tibco.xpd.importexport.maaExport"
            name="%exportMaaWizard_Label">
         <description>
            %exportMaaWizard_desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpd"
            type="import"
            wizardId="com.tibco.xpd.importexport.maaImport">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="additions"
            type="export"
            wizardId="com.tibco.xpd.importexport.maaExport">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>

</plugin>
