<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="complexDataTypeBinding" name="Binding of Complex Data Type to particular destination environment(s)" schema="schema/complexDataTypeBinding.exsd"/>
   <extension-point id="processDestinationEnvironments" name="Definition of an available process destination environment." schema="schema/processDestinationEnvironments.exsd"/>
   <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.tibco.xpd.destinations.ui.ProcessDestinationProperyTester"
               id="com.tibco.destinations.ui.processDestinationTester"
               namespace="com.tibco.destinations.ui"
               properties="hasDestinationEnvironment"
               type="com.tibco.xpd.xpdl2.Process"/>
      </extension>

</plugin>
