<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.webservice.datamapper.section.WebServiceDataMapperOutputFromServiceSection"
               enablesFor="1"
               filter="com.tibco.xpd.webservice.datamapper.section.filter.WebServiceDataMapperOutputFromServiceSectionFilter"
               id="com.tibco.xpd.webservice.datamapper.out"
               tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperOut">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.webservice.datamapper.section.WebServiceDataMapperInputToProcessSection"
               enablesFor="1"
               filter="com.tibco.xpd.webservice.datamapper.section.filter.WebServiceDataMapperInputToProcessSectionFilter"
               id="com.tibco.xpd.webservice.datamapper.out"
               tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperToProcess">
         </propertySection>
         <propertySection
                class="com.tibco.xpd.webservice.datamapper.section.WebServiceDataMapperInputToServiceSection"
                enablesFor="1"
                filter="com.tibco.xpd.webservice.datamapper.section.filter.WebServiceDataMapperInputToServiceSectionFilter"
                id="com.tibco.xpd.webservice.datamapper.in"
                tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn">
         </propertySection>
         <propertySection
                class="com.tibco.xpd.webservice.datamapper.section.WebServiceDataMapperOutputFromProcessSection"
                enablesFor="1"
                filter="com.tibco.xpd.webservice.datamapper.section.filter.WebServiceDataMapperOutputFromProcessSectionFilter"
                id="com.tibco.xpd.webservice.datamapper.in"
                tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperFromProcess">
         </propertySection>
         <propertySection
                class="com.tibco.xpd.webservice.datamapper.section.WebServiceDataMapperMapFromErrorSection"
                enablesFor="1"
                filter="com.tibco.xpd.webservice.datamapper.section.filter.WebServiceDataMapperMapFromErrorSectionFilter"
                id="com.tibco.xpd.webservice.datamapper.wSFaultCatch"
                tab="com.tibco.xpd.processeditor.propertyTabs.CatchErrorEventMapperOut">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.globaldataservice.datamapper.GlobalDataErrorDataMapperMapFromErrorSection"
               enablesFor="1"
               filter="com.tibco.xpd.globaldataservice.datamapper.GlobalDataErrorDataMapperMapFromErrorSectionFilter"
               id="com.tibco.xpd.globaldataservice.CatchErrorDataMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchErrorEventMapperOut">
         </propertySection>         
      </propertySections>
   </extension>
     <extension
         point="com.tibco.xpd.datamapper.DataMapperContentContribution">
      <mapperContentContributor
            applicableContext="InputToService"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="OutputFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="OutputFaultFromProcess"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="OutputFromService"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="WSFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InputToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="InputToProcess"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.webservice.datamapper.WSCorrelationDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GDFaultCatch"
            applyToMapperRHS="false"
            mapperContribution="com.tibco.xpd.globaldataservice.datamapper.GlobalDataCatchFaultDataMapperContentContributor"
            priority="3">
      </mapperContentContributor>
      <mapperContentContributor
            applicableContext="GDFaultCatch"
            applyToMapperRHS="true"
            mapperContribution="com.tibco.xpd.process.datamapper.common.ActivityInterfaceDataMapperContentContributor"
            priority="2">
      </mapperContentContributor>
   </extension>
     <extension
           point="com.tibco.xpd.process.datamapper.dataReferenceContextProvider">
        <provider
              providerClass="com.tibco.xpd.webservice.datamapper.WebServiceDataReferenceContextProvider">
        </provider>
     </extension>
     <extension
           point="com.tibco.xpd.process.datamapper.dataReferenceContextProvider">
        <provider
              providerClass="com.tibco.xpd.catcherror.datamapper.CatchErrorDataReferenceContextProvider">
        </provider>
     </extension>
  
</plugin>
