<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.tibco.xpd.bom.modeler.custom.importCategory"
            class="com.tibco.xpd.bom.xsdtransform.imports.wizards.ImportXSDWizard"
            icon="icons/XSDModelFile.gif"
            id="com.tibco.xpd.bom.xsdtransform.importwizard"
            name="%xsdImportWizard_label">
         <description>
            %xsdImportWizard_shortdesc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
            type="import"
            wizardId="com.tibco.xpd.bom.xsdtransform.importwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bom">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
            type="export"
            wizardId="com.tibco.xpd.bom.xsdtransform.exportwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="bom">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.bom.resources.ui.exportWizard.concept.category"
            class="com.tibco.xpd.bom.xsdtransform.exports.wizards.ExportBOMtoXSDWizard"
            icon="icons/XSDModelFile.gif"
            id="com.tibco.xpd.bom.xsdtransform.exportwizard"
            name="%xsdExportWizard_label">
         <description>
            %xsdExportWizard_shortdesc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://XSD_NOTATION_TYPES/"
            target="platform:/plugin/com.tibco.xpd.bom.xsdtransform/model/">
      </mapping>
   </extension>
   <extension
         point="com.tibco.xpd.resources.resourcePreLoader">
      <preload
            uri="pathmap://XSD_NOTATION_TYPES/XsdNotation.profile.uml"></preload>
   </extension>
   <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="false"
          id="com.tibco.xpd.bom.xsdtransform.objectContributionExportToXSD"
          objectClass="com.tibco.xpd.bom.modeler.diagram.edit.parts.ClassEditPart">
       <action
             class="com.tibco.xpd.bom.xsdtransform.exports.actions.ExportClassToXSDAction"
             enablesFor="*"
             icon="icons/XSDModelFile.gif"
             id="com.tibco.xpd.bom.xsdtransform.actionExportToXSD"
             label="%exportXmlSchema_label"
             menubarPath="com.tibco.xpd.bom.menu.export/additions">
       </action>
    </objectContribution>
 </extension>
 <extension
         id="xsdBuilder"
         name="%bom2xsdBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.tibco.xpd.bom.xsdtransform.exports.builder.Bom2XsdBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.bom.xsdtransform.exports.builder.XsdBuilderAssetConfigurator"
            extends="com.tibco.xpd.asset.bom"
            id="com.tibco.xpd.assest.xsd"
            name="%xsd_asset_label"
            visible="false">
         <bindings>
            <nature
                  id="com.tibco.xpd.bom.xsdtransform.xsdNature">
            </nature>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
            <globalDestination
                  id="com.tibco.xpd.iprocess.globalDestination">
            </globalDestination>
         </bindings>
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="bom2xsd"
            multiple="false"
            name="%bom2Xsd_shortdesc"
            unsettable="true">
      </folder>
   </extension>
    <extension
          id="xsdNature"
          name="%bom2xsdNature.name"
          point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.bom.xsdtransform.exports.builder.XsdProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.bom.xsdtransform.xsdBuilder">
      </builder>
      <requires-nature
            id="com.tibco.xpd.wsdltobom.wsdlBomNature">
      </requires-nature>
   </extension>
    <extension
          point="org.eclipse.emf.ecore.uri_mapping">
       <mapping
             source="http://www.w3.org/2001/"
             target="platform:/plugin/org.eclipse.xsd/cache/www.w3.org/2001/">
       </mapping>
    </extension>
    <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="xsd"
            indexID="com.tibco.xpd.xsd.xsdBomIndexer"
            indexerClass="com.tibco.xpd.bom.xsdtransform.xsdindexing.XsdIndexerProvider">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="item_id">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="target_namespace">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="bom_origin_filename">
            </attribute>
         </additionalAttributes>
      </indexer>
      <indexer
            filePattern="wsdl"
            indexID="com.tibco.xpd.bom.xsdtransform.wsdlSchemaIndexer"
            indexerClass="com.tibco.xpd.bom.xsdtransform.internal.WsdlSchemaIndexManager">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="tns">
            </attribute>
         </additionalAttributes>
         <indexKey></indexKey>
      </indexer>
   </extension>
    <extension
          point="org.eclipse.emf.transaction.listeners">
       <listener
             class="com.tibco.xpd.bom.xsdtransform.internal.notify.BOMSemanticModelChangeTrigger">
          <editingDomain
                id="com.tibco.xpd.resources.editingDomain">
          </editingDomain>
       </listener>
    </extension>
    <extension
          point="org.eclipse.emf.transaction.editingDomains">
       <editingDomain
             factory="com.tibco.xpd.resources.wc.gmf.XpdEditingDomainFactory"
             id="com.tibco.xpd.bom.transform.editingdomain">
       </editingDomain>
    </extension>
    <extension
          point="com.tibco.xpd.resources.workingCopyDependencyProvider">
       <dependency
             provider="com.tibco.xpd.bom.xsdtransform.internal.TLEDependancyProvider">
       </dependency>
    </extension>
    <extension
          point="com.tibco.xpd.bom.resources.migration">
       <migrate
             class="com.tibco.xpd.bom.xsdtransform.internal.BOMMigration1"
             id="com.tibco.xpd.bom.xsdtransform.migrateBOMNameCleanse"
             name="migrateBOMNameCleanse"
             version="1">
       </migrate>
    </extension>
    <extension
          point="org.eclipse.team.core.ignore">
       <ignore
             enabled="true"
             pattern=".bom2Xsd">
       </ignore>
       <ignore
             enabled="true"
             pattern=".tmp">
       </ignore>
    </extension>
    <extension
          id="inlineSchemaValidationMarker"
          name="%inlineSchemaValidationMarker_label"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
    </extension>
        <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="com.tibco.xpd.bom.pref"
             class="com.tibco.xpd.bom.xsdtransform.preferences.XsdTransformPreferencePage"
             id="com.tibco.xpd.bom.xsdtransform.preferences.import"
             name="%preference.xsdImport.label">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="com.tibco.xpd.bom.xsdtransform.preferences.XsdTransformPreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="com.tibco.xpd.resources.precompileContributor">
       <contributor
             class="com.tibco.xpd.bom.xsdtransform.precompile.Bom2XsdPreCompileContributor"
             contributorId="bom2xsdPrecompileContributor">
          <sourceArtifactFilter>
             <enablement>
                <or>
                   <and>
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="bom">
                      </test>
                      <test
                            property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                            value="bom">
                      </test>
                   </and>
                   <and>
                      <instanceof
                            value="org.eclipse.core.resources.IFile">
                      </instanceof>
                      <or>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="wsdl">
                         </test>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="xsd">
                         </test>
                      </or>
                      <test
                            property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                            value="wsdl">
                      </test>
                      <not>
                         <test
                               property="com.tibco.xpd.resources.specialfolder.isInGeneratedSpecialFolder"
                               value="wsdl">
                         </test>
                      </not>
                   </and>
                </or>
             </enablement>
          </sourceArtifactFilter>
       </contributor>
    </extension>
    <extension
          point="com.tibco.xpd.validation.provider">
       <provider
             id="com.tibco.xpd.bom.xsdtransform.validator.id"
             name="BOM XSD Validation"
             scopeProvider="com.tibco.xpd.bom.validator.BOMScopeProvider">
          <rule
                class="com.tibco.xpd.bom.xsdtransform.validation.AttributeAnonymousTypeUsageRule"
                validateOnSaveOnly="false">
          </rule>
       </provider>
       <issue
             id="anonymousTypeCannotBeUsedForAttributeType.issue"
             message="%anonymousTypeCannotBeUsedForAttributeType.issue"
             severity="ERROR">
       </issue>
       <issue
             id="primitiveTLEOrAnonymousTypeCannotBeUsedForAttribType.issue"
             message="%primitiveTLEOrAnonymousTypeCannotBeUsedForAttribType.issue"
             severity="ERROR">
       </issue>
    </extension>
</plugin>
