<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="bom"
            indexID="com.tibco.xpd.n2.bom.gen.cdsIndexer"
            indexerClass="com.tibco.bds.designtime.generator.internal.CDSBOMIndexer">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="packageName">
            </attribute>
            <attribute
                  maxLength="2048"
                  name="factoryName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="namespace_uri">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="qualifiedName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="qualifiedCDSFactoryName">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="parent">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="association">
            </attribute>
         </additionalAttributes>
      </indexer>
   </extension>
</plugin>
