<?xml version="1.0" encoding="UTF-8"?>

<?eclipse version="3.2"?>

<plugin>

   <extension

         id="DocumentActivityExtension"

         name="DocumentActivityExtension"

         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">

      <builder

            class="com.tibco.amxbpm.documentactivity.configuration.builder.DocumentActivityConfigurationModelBuilder"

            targetModel="com.tibco.xpd.xpdExtension.DocumentOperation"/>

   </extension>
   
   

</plugin>
   


