<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
    <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.tibco.com/XPD/EAIJava1.0.0" 
       class = "com.tibco.xpd.implementer.nativeservices.java.javaservice.eaijava.provider.EaijavaItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "http://www.tibco.com/XPD/EAIJava1.0.0"
       class = "com.tibco.xpd.implementer.nativeservices.java.javaservice.eaijava.EaijavaPackage"
       genModel = "model/java/eaijava.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser
       type="eaijava"
       class="com.tibco.xpd.implementer.nativeservices.java.javaservice.eaijava.util.EaijavaResourceFactoryImpl" />
  </extension>
  <extension
        point="com.tibco.xpd.processeditor.xpdl2.taskImplementation">
     <implementation
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceSection"
           default="false"
           id="Java"
           implementationType="Other"
           name="Java"
           showForPageflow="true"
           taskType="Service"/>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
        <propertySection
              class="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceMapperInSection"
              enablesFor="1"
              filter="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceMapperInSection"
              id="pojoMapperIn"
              tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperIn">
           <input type="com.tibco.xpd.xpdl2.Activity"/>
        </propertySection>
        <propertySection
              class="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceMapperOutSection"
              enablesFor="1"
              filter="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceMapperOutSection"
              id="pojoMapperOut"
              tab="com.tibco.xpd.implementer.propertyTabs.parameterMapperOut">
           <input type="com.tibco.xpd.xpdl2.Activity"/>
        </propertySection>
     </propertySections>
  </extension>
  <extension
        point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.utils.SubProcessTaskJavaScriptFieldResolver">
     </FieldOrParamReferenceResolver>
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.utils.JavaServiceTaskJavaScriptFieldResolver">
     </FieldOrParamReferenceResolver>
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.utils.WebServiceMappingJavaScriptFieldResolver">
     </FieldOrParamReferenceResolver>
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.utils.CatchSignalMappingScriptFieldResolver">
     </FieldOrParamReferenceResolver>
     <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.java.javaservice.utils.BpmnCatchErrorEventMappingFieldResolver">
     </FieldOrParamReferenceResolver>
  </extension>
  <extension
        point="com.tibco.xpd.resources.workingCopyDependencyProvider">
     <dependency
           provider="com.tibco.xpd.implementer.nativeservices.java.javaservice.Xpdl2JavaDependencyProvider">
     </dependency>
  </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptMappingCompositor">
      <ScriptMappingCompositorFactory
            context="JavaServiceTask"
            direction="IN"
            factory="com.tibco.xpd.implementer.nativeservices.java.javaservice.mapper.JavaScriptProcessToJavaMappingFactory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
      <ScriptMappingCompositorFactory
            context="JavaServiceTask"
            direction="OUT"
            factory="com.tibco.xpd.implementer.nativeservices.java.javaservice.mapper.JavaScriptJavaToProcessMappingFactory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptContexts">
      <scriptContext
            type="JavaServiceTask">
      </scriptContext>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="ipm10.x">
         <scriptContextGrammarBinding
               scriptContextReference="JavaServiceTask">
            <defaultGrammar
                  id="JavaScript"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                  scriptInfoProvider="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceScriptProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="ipe10.x">
         <scriptContextGrammarBinding
               scriptContextReference="JavaServiceTask">
            <defaultGrammar
                  id="JavaScript"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                  scriptInfoProvider="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceScriptProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="ipe11.x">
         <scriptContextGrammarBinding
               scriptContextReference="JavaServiceTask">
            <defaultGrammar
                  id="JavaScript"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                  scriptInfoProvider="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceScriptProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="ipe11.3+">
         <scriptContextGrammarBinding
               scriptContextReference="JavaServiceTask">
            <defaultGrammar
                  id="JavaScript"
                  resourceMarkerAnnotationProvider="com.tibco.xpd.process.js.model.script.JavaScriptResourceMarkerAnnotationModelProvider"
                  scriptInfoProvider="com.tibco.xpd.implementer.nativeservices.java.javaservice.JavaServiceScriptProvider">
            </defaultGrammar>
         </scriptContextGrammarBinding>
      </destination>
   </extension>
	<extension
         id="JavaServiceJSBPMNTypeMatcher"
         name="%JavaServiceJSBPMNTypeMatcher"
         point="com.tibco.xpd.processeditor.xpdl2.mappingTypeMatcher">
      <mappingTypeMatcher
            doesTypeMatching="true"
            grammarId="JavaScript"
            includeDefault="true"
            priority="Low"
            showInPreferencePage="true"
            typeMatcherClass="com.tibco.xpd.implementer.nativeservices.java.javaservice.mapper.JavaServiceJSTypeMatcher">
      </mappingTypeMatcher>
   </extension>
</plugin>

