<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="com.tibco.bx.design.debug.core.modelTypes">
      <modelType
            id="bpm"
            name="BPM">
      </modelType>
      <modelType
            id="Pageflow"
            name="PageFlow">
      </modelType>
   </extension>
	<extension
         point="com.tibco.bx.design.debug.core.nodeDefinitionFactories">
      <nodeDefinitionFactory
            class="com.tibco.bx.debug.bpm.core.BxNodeDefinitionFactory"
            id="bpm"
            defaultEndpointURI="/bxEngine/node/ProcessDebugger/">
      </nodeDefinitionFactory>
      <nodeDefinitionFactory
            class="com.tibco.bx.debug.bpm.core.BxNodeDefinitionFactory"
            defaultEndpointURI="/amxbpm/node/PageflowDebugger/"
            id="Pageflow">
      </nodeDefinitionFactory>
   </extension>
   <extension
         point="com.tibco.bx.design.debug.core.variableHandlers">
      <variableHandler
            class="com.tibco.bx.debug.bpm.core.BxVariableHandler"
            id="bpm">
      </variableHandler>
      <variableHandler
            class="com.tibco.bx.debug.bpm.core.BxVariableHandler"
            id="Pageflow">
      </variableHandler>
   </extension>
   <extension
         point="com.tibco.bx.design.debug.core.testDelegateFactories">
      <testDelegateFactory
            class="com.tibco.bx.debug.bpm.core.BxTestDelegateFactory"
            id="bpm">
      </testDelegateFactory>
      <testDelegateFactory
            class="com.tibco.bx.debug.bpm.core.BxTestDelegateFactory"
            id="Pageflow">
      </testDelegateFactory>
   </extension>
   <extension
         point="com.tibco.bx.design.debug.core.processModelHandlers">
      <processModelHandler
            class="com.tibco.bx.debug.bpm.core.BxProcessModelHandler"
            fileExtension="xpdl"
            id="bpm">
      </processModelHandler>
      <processModelHandler
            class="com.tibco.bx.debug.bpm.core.PageflowProcessModelHandler"
            fileExtension="xpdl"
            id="Pageflow">
      </processModelHandler>
   </extension>
   <extension
         point="com.tibco.bx.emulation.core.bxTestDelegateService">
      <bxTestDelegateService
            class="com.tibco.bx.debug.bpm.core.serviceImpl.BxTestDelegateServiceImpl">
      </bxTestDelegateService>
   </extension>
</plugin>
