<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.wm.validator.provider_wm1_x"
            name="%workModelValidationProvider_label"
            scopeProvider="com.tibco.xpd.wm.validator.providers.WMScopeProvider">
      </provider>
      <provider
            id="com.tibco.xpd.wm.validator.wp.provider.v1"
            name="com.tibco.xpd.wm.validator.wp.provider.v1"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.wm.validator.rules.FormUrlRule">
         </rule>
      </provider>
      <issue
            id="n2.wp.invalidFormUrl"
            message="%n2.wp.invalidFormUrl"
            severity="ERROR">
      </issue>
      <issue
            id="n2.wp.duplicateFormUrl"
            message="%n2.wp.duplicateFormUrl"
            severity="ERROR">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="wm1.x"
            name="%workModel_label"
            selectable="true"
            version="">
         <validationProvider
               id="com.tibco.xpd.wm.validator.provider_wm1_x">
         </validationProvider>
      </destination>
      <destination
            id="com.tibco.xpd.wm.validator.wp.destination.v1.0.0"
            name="%com.tibco.xpd.wm.validator.wp.destination"
            selectable="true"
            version="">
         <validationProvider
               id="com.tibco.xpd.wm.validator.wp.provider.v1">
         </validationProvider>
         <filter
               class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter">
         </filter>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.n2.core.n2GlobalDestination"
            id="com.tibco.xpd.wm.validator.wp.globalDestinationComponent"
            name="%com.tibco.xpd.wm.validator.wp.globalDestinationComponent">
      </globalDestinationComponent>
      <globalDestinationComponentVersion
            disabled="false"
            globalDestinationComponentId="com.tibco.xpd.wm.validator.wp.globalDestinationComponent"
            validationDestinationId="com.tibco.xpd.wm.validator.wp.destination.v1.0.0">
      </globalDestinationComponentVersion>
      <globalDestinationComponentVersion
            disabled="true"
            globalDestinationComponentId="com.tibco.xpd.wm.validator.wp.globalDestinationComponent"
            validationDestinationId="com.tibco.xpd.destinations.empty">
      </globalDestinationComponentVersion>
   </extension>
   
   <!-- Sid ACE-1195 Moved WorkManagerFactory script binding from runtime com.tibco.n2.common.model.feature -->
   	<extension point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
		<destination destinationId="n2pe1.x">
			<scriptContribution scriptContext="ScheduleUserTask">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>
			<scriptContribution scriptContext="OpenUserTask">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>

			<scriptContribution scriptContext="CloseUserTask">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>

			<scriptContribution scriptContext="SubmitUserTask">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>

			<scriptContribution scriptContext="RescheduleUserTask">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>

			<scriptContribution scriptContext="DataMapperWMMappingScripts">
				<modelContributor
						grammarId="JavaScript"
						icon="icon/tibco16.gif"
						id="com.tibco.n2.common.model.js.workItemModelContributor"
						model="model/WorkManagerBpmJsClass.bom"
						name="com.tibco.n2.common.model.js.workItemModelContributor">
				</modelContributor>
			</scriptContribution>
		</destination>
	</extension>
   
</plugin>
