<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="xPath1.x"
            name="XPath"
            selectable="false"
            version="">
         <filter
               class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.xpath.validation.provider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.destinations.ui.processDestinationEnvironments">
      <processDestinationEnvironment
            id="xPath1.x"
            name="XPath"
            userSelectable="false"
            validationDestinationId="xPath1.x"
            version="">
      </processDestinationEnvironment>
   </extension>
   <extension
         point="com.tibco.xpd.validation.preProcessor">
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.WebServiceMappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.WebServiceUnmappedScriptInputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.WebServiceMappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.WebServiceUnmappedScriptOutputToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.EventMapperScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.BwServiceMapperScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.SendTaskMapperScriptToolFactory">
      </processor>
      <processor
            factory="com.tibco.xpd.xpath.validation.tools.ReceiveTaskMapperScriptToolFactory">
      </processor>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.xpath.validation.provider"
            name="XPath Validation Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathWebServiceUnmappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathWebServiceMappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathWebServiceMappedScriptOutputRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathWebServiceUnmappedScriptOutputRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathEventMapperScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathBwServiceMapperScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathSendTaskMapperScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.xpath.validation.rules.XPathReceiveTaskMapperScriptRule">
         </rule>
      </provider>
      <issue
            id="xpath.validateScript"
            message="%xpath.validateScript"
            severity="ERROR">
      </issue>
      <issue
            id="xpath.warning.validateScript"
            message="%xpath.warning.validateScript"
            severity="WARNING">
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="xPath1.x">
         <scriptContribution
               scriptContext="BWServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.xpath.parser.script.BwServiceMapperXpathRelevantDataProvider"
                  grammarId="XPath"
                  id="com.tibco.xpd.process.xpath.parser.script.BwServiceMapperXpathRelevantDataProvider"
                  name="com.tibco.xpd.process.xpath.parser.script.BwServiceMapperXpathRelevantDataProvider"></scriptRelevantDataContributor></scriptContribution>
         <scriptContribution
               scriptContext="WebServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.xpath.parser.script.WebServiceXpathRelevantDataProvider"
                  grammarId="XPath"
                  id="com.tibco.xpd.process.xpath.parser.script.WebServiceXpathRelevantDataProvider"
                  name="com.tibco.xpd.process.xpath.parser.script.WebServiceXpathRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
      </destination>
   </extension>
</plugin>
