<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2004 - 2015 TIBCO Software Inc. ALL RIGHTS RESERVED.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exampleModel -->
      <package
            uri="http://www.tibco.com/ExampleModel"
            class="com.tibco.example.model.ModelPackage"
            genModel="model/exampleModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated exampleModel -->
      <parser
            type="exmp"
            class="com.tibco.example.model.util.ModelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated exampleModel -->
      <factory
            uri="http://www.tibco.com/ExampleModel"
            class="com.tibco.example.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
   <!-- Contribute the workingCopyFactory for our new model's file type. -->
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.example.workingcopy.ExampleWorkingCopyFactory"
            filePattern=".*\.[eE][xX][mM][pP]">
      </factory>
   </extension>
   
</plugin>
