<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">
      <builder
            class="com.tibco.xpd.n2.decisions.internal.configuration.builder.DecisionServiceActivityConfigurationModelBuilder"
            targetModel="com.tibco.xpd.xpdl2.SubFlow">
      </builder>
   </extension>
   <extension
         point="com.tibco.bx.composite.core.requirementsResolver">
      <resolver
            class="com.tibco.xpd.n2.decisions.internal.component.DecisionServiceTaskRequirementsResolver"
            implementationTypeId="implementation.bx">
      </resolver>
   </extension>

</plugin>
