<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="objectEditor" name="Object Editor" schema="schema/objectEditor.exsd"/>
   <extension-point id="actionProvider" name="global action provider" schema="schema/actionProvider.exsd"/>
   <extension-point id="elementSelector" name="Element Selector" schema="schema/elementSelector.exsd"/>
   <extension-point id="complexDataType" name="Complex Data Type" schema="schema/complexDataType.exsd"/>
   <extension-point id="typesProvider" name="XPD Types Provider" schema="schema/typesProvider.exsd"/>
   <extension-point id="quickSearchContribution" name="Quick Search Popup Searchable Content Contribution" schema="schema/quickSearchContribution.exsd"/>
   <extension-point id="categories" name="Categories" schema="schema/categories.exsd"/>
   <extension-point id="documentViewerContribution" name="documentViewerContribution" schema="schema/documentViewerContribution.exsd"/>
   <extension-point id="pickerContent" name="Picker Content" schema="schema/pickerContent.exsd"/>
   <extension-point id="openEditorHandler" name="Open Editor Handler" schema="schema/openEditorHandler.exsd"/>
   <extension-point id="postImportProjectTask" name="Post Import Project Task" schema="schema/postImportProjectTask.exsd"/>
   <extension-point id="perspectiveLifecycleListener" name="Perspective Lifecycle Listener" schema="schema/perspectiveLifecycleListener.exsd"/>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.tibco.xpd.projectExplorer.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="com.tibco.xpd.projectExplorer.action.*"/>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.SpecialFoldersActionProvider"
            id="com.tibco.xpd.projectExplorer.action.specialFolders">
         <enablement>
            <or>
               <instanceof value="org.eclipse.core.resources.IFolder"/>
               <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.SpecialFolderRefactorActionProvider"
            id="com.tibco.xpd.projectExplorer.action.specialFoldersRefactor">
         <enablement>
            <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.SpecialFolderEditActionProvider"
            id="com.tibco.xpd.projectExplorer.action.specialFoldersEdit">
         <enablement>
            <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
         </enablement>
      </actionProvider>      
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.WorkingCopyRevertActionProvider"
            id="com.tibco.xpd.projectExplorer.action.workingCopyRevertAction">
         <enablement>
            <instanceof value="org.eclipse.core.resources.IFile"/>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.ShowPropertiesViewActionProvider"
            id="com.tibco.xpd.projectExplorer.action.showPropertiesViewAction">
         <enablement>
         </enablement>
      </actionProvider>
       <!-- This is to enable back OpenActionProvider from navigator.resources as it is overwriten by java and js action 
          providers and is filtered when activities (java, js) are disabled (Non-BPM Features category). -->
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.OpenActionProvider"
            id="com.tibco.xpd.projectExplorer.action.OpenActions"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="high">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <!-- ACE-2011: Remove Unsupported features.(Generic "Analysis Project")
      <commonWizard
            menuGroupId="additions.xpdProject"
            type="new"
            wizardId="com.tibco.xpd.analysisProject">
         <enablement>
            <or>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or>
          </enablement>
      </commonWizard>
      -->
      <commonWizard
            menuGroupId="additions.xpd"
            type="import"
            wizardId="com.tibco.xpd.resources.ui.importStudioProjectWizard">
         <enablement>
            <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or>
          </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="additions.xpd"
            type="import"
            wizardId="org.eclipse.ui.wizards.import.Preferences">
         <enablement>
            <or>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or>
          </enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="additions.xpd"
            type="import"
            wizardId="org.tigris.subversion.subclipse.ui.wizards.CheckoutWizard">
         <enablement>
            <or>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
                  <and>
                     <instanceof
                           value="java.util.Collection">
                     </instanceof>
                     <count
                           value="0">
                     </count>
                  </and>
               </or>
          </enablement>
      </commonWizard>
      <actionProvider
            class="com.tibco.xpd.resources.ui.internal.actions.ResourceRefactorActionProvider"
            id="com.tibco.xpd.projectExplorer.action.RefactorActions"
            overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.xpd.resources.ui.internal.actions.FileRenameActionProvider"
            id="com.tibco.xpd.projectExplorer.action.FileRenameAction">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="com.tibco.xpd.resources.wc.isWorkingCopyDirty">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.tibco.xpd.ui.projectexplorer.actions.providers.QuickSearchActionProvider"
            id="com.tibco.xpd.projectExplorer.action.find">
         <enablement></enablement>
      </actionProvider>
      <commonWizard
            menuGroupId="additions"
            type="export"
            wizardId="com.tibco.xpd.resources.ui.exportStudioProjectWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <!-- ACE-2011: Remove Unsupported features. Documentation
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.capabilityTester.isSolutionDesignEnabled"
                     value="true">
               </test>
            </and>
         </enablement>
      </commonWizard>
      -->
      <commonWizard
            menuGroupId="additions.xpd"
            type="import"
            wizardId="com.tibco.xpd.resources.ui.maaImport">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.resources.ui.maaExport">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.tibco.xpd.ui.projectexplorer.decorator.XPDProblemDecorator"
            id="com.tibco.xpd.resources.ui.problem_decorator"
            label="%decorator_label_bs"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="com.tibco.xpd.resources.projectconfig.SpecialFolder">
               </objectClass>
               <objectClass
                     name="org.eclipse.emf.ecore.EObject">
               </objectClass>
               <objectClass
                     name="com.tibco.xpd.ui.projectexplorer.decorator.XPDDecorationStatusProvider">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.xpd.newWizard.modeling.category"
            name="%modeling_category_title"/>
      <category
            id="com.tibco.xpd.newWizard.development.category"
            name="%development_category_title">
      </category>
      <!-- ACE-2011: Remove Unsupported features.(Generic "Analysis Project")
      <primaryWizard
            id="com.tibco.xpd.analysisProject">
      </primaryWizard>      
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"
            descriptionImage="icons/Project16np.png"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            hasPages="true"
            icon="icons/Project16np.png"
            id="com.tibco.xpd.analysisProject"
            name="%analysis_project_title"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            project="true">
         <class class="com.tibco.xpd.ui.wizards.newproject.XpdProjectWizardFactory">
            <parameter name="title" value="%analysis_project_wizard_title" />
            <parameter name="presetDestinationEnv" value="CE" />
         </class>                  
         <description>
            %analysisProjectWizard.description
         </description>
      </wizard>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.tibco.xpd.resources.ui.importWizard.bpm.category"
            name="%bpm_category_title"/>
      <category
            id="com.tibco.xpd.resources.ui.importWizard.development.category"
            name="%development_category_title">
      </category>
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.tibco.xpd.resources.ui.internal.importexport.StudioImportProjectWizard"
            icon="icons/obj16/tibco16.png"
            id="com.tibco.xpd.resources.ui.importStudioProjectWizard"
            name="%importStudioProjectWizard_title">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
            name="%bpm_category_title"/>
      <category
            id="com.tibco.xpd.resources.ui.exportWizard.development.category"
            name="%development_category_title">
      </category>
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.tibco.xpd.resources.ui.internal.importexport.StudioExportProjectWizard"
            icon="icons/obj16/tibco16.png"
            id="com.tibco.xpd.resources.ui.exportStudioProjectWizard"
            name="%exportStudioProjectWizard_title">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.tibco.xpd.resources.ui.contribution.specialfolderpresentation"
            targetID="org.eclipse.ui.navigator.ProjectExplorer">
         <menu
               id="com.tibco.xpd.resources.menu.specialfolderpresentation"
               label="%specialFolderPresentation_menu"
               path="layout">
            <groupMarker name="option"/>
         </menu>
         <action
               class="com.tibco.xpd.ui.projectexplorer.actions.specialfolder.SpecialFolderPresentationAction"
               icon="icons/HierarchicalLayout.gif"
               id="com.tibco.xpd.resources.action.normal"
               label="%normal_menu"
               menubarPath="com.tibco.xpd.resources.menu.specialfolderpresentation/option"
               style="radio"/>
         <action
               class="com.tibco.xpd.ui.projectexplorer.actions.specialfolder.SpecialFolderPresentationAction"
               icon="icons/FlatLayout.gif"
               id="com.tibco.xpd.resources.action.projectlevel"
               label="%projectLevel_menu"
               menubarPath="com.tibco.xpd.resources.menu.specialfolderpresentation/option"
               style="radio"/>
               
         <action
               class="com.tibco.xpd.ui.actions.QuickFixPopupAction"
               enablesFor="1"
               icon="icons/errorwarning_tab.gif"
               id="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
               label="%viewProblems_tooltip"
               style="push"
               toolbarPath="problems">
         </action>
         
      </viewContribution>
      
      <viewContribution
            id="com.tibco.xpd.resources.ui.propertyViewActionsContribution"
            targetID="org.eclipse.ui.views.PropertySheet">
         <action
               class="com.tibco.xpd.ui.actions.QuickFixPopupActionForPropertiesView"
               enablesFor="1"
               icon="icons/errorwarning_tab.gif"
               id="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
               label="%viewProblems_tooltip"
               style="push"
               toolbarPath="problems">
         </action>
      </viewContribution>
         </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.xpd.ui.preferences.DiagramGeneralPreferencePage"
            id="com.tibco.xpd.resources.ui.DiagramGeneralPreferencePage"
            name="%diagramPref_title"/>
      <page
            category="ValidationPreferencePage"
            class="com.tibco.xpd.ui.preferences.ValidationBuildPreferencePage"
            id="com.tibco.xpd.resources.ui.ValidationBuild"
            name="%capabilitiesBuild_title">
      </page>
      <page
            category="org.eclipse.ui.net.NetPreferences"
            class="com.tibco.xpd.ui.preferences.network.HTTPPreferencePage"
            id="com.tibco.xpd.resources.ui.HTTPNetworkPreferencePage"
            name="%http_preferencePage_title">
         <keywordReference
               id="com.tibco.xpd.resources.ui.keyworkds.httpNetworkConnection">
         </keywordReference>
      </page>
<!-- Sid ACE-5242 Hide the documentation preference page 
      <page
            class="com.tibco.xpd.ui.preferences.documentation.DocumentationGeneralPreferencePage"
            id="com.tibco.xpd.ui.preferences.documentation.DocumentationGeneralPreferencePage"
            name="%documentationPref_title">
      </page>
-->
      <page
            class="com.tibco.xpd.ui.preferences.UserInfoPreferencePage"
            id="com.tibco.xpd.resources.ui.userInfoPreferencePage"
            name="%userInfo_preferencePage_title">
         <keywordReference
               id="com.tibco.xpd.resources.ui.userInfo">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.tibco.xpd.resources.ui.keyworkds.httpNetworkConnection"
            label="%http_preferencePage_keywords">
      </keyword>
   </extension>
   
   
   
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <category
            id="com.tibco.xpd.resources.ui.businessobjects"
            name="%business.objects.category.name">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.activities">
      <category
            id="com.tibco.xpd.solutiondesign"
            name="%solution.design.category.name">
      </category>
      <category
            id="com.tibco.xpd.analysis"
            name="%business.analyst.category.name">
      </category>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.quickSearchContribution">
      <viewContribution
            class="com.tibco.xpd.ui.projectexplorer.quicksearchcontribution.ProjectExplorerQuickSearchContribution"
            viewId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tibco.xpd.resources.ui.internal.destination.ProjectVersionPage"
            id="com.tibco.xpd.resources.ui.xpdProject.detailsPropertyPage"
            name="%projectLifecycle_propertiesPage_title">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            class="com.tibco.xpd.ui.preferences.UserInfoPreferencePage"
            id="com.tibco.xpd.resources.ui.userInfoPropertyPage"
            name="%userInfo_preferencePage_title">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
            </and>
         </enabledWhen>
         <keywordReference
               id="com.tibco.xpd.resources.ui.userInfo">
         </keywordReference>
      </page>
      <page
            class="com.tibco.xpd.ui.preferences.documentation.DocumentationGeneralPreferencePage"
            id="com.tibco.xpd.ui.preferences.documentation.DocumentationGeneralPropertyPage"
            name="%documentationPref_title">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.resources.xpdNature">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
      <changePreviewViewer
            class="com.tibco.xpd.resources.ui.internal.ProjectVersionChangePreviewViewer"
            id="com.tibco.xpd.resources.ui.projectVersionRefactorPreviewViewer">
         <enablement>
            <instanceof
                  value="com.tibco.xpd.resources.refactoring.IProjectRefactorChange">
            </instanceof>
         </enablement>
      </changePreviewViewer>
   </extension>

    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.CapabilityTester"
             id="com.tibco.xpd.resources.ui.capabilityTester"
             namespace="com.tibco.xpd.capabilityTester"
             properties="isSolutionDesignEnabled"
             type="org.eclipse.core.resources.IProject">
       </propertyTester>
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.ProjectNatureTester"
             id="com.tibco.xpd.resources.ui.projectNatureTester"
             namespace="com.tibco.xpd.projectNatureTester"
             properties="hasNature, containingProjectHasNature"
             type="org.eclipse.core.resources.IProject">
       </propertyTester>
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.ProjectNatureTester"
             id="com.tibco.xpd.resources.ui.projectNatureTester.iResource"
             namespace="com.tibco.xpd.projectNatureTester"
             properties="containingProjectHasNature"
             type="org.eclipse.core.resources.IResource">
       </propertyTester>
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.ProjectNatureTester"
             id="com.tibco.xpd.resources.ui.projectNatureTester.eObject"
             namespace="com.tibco.xpd.projectNatureTester"
             properties="containingProjectHasNature"
             type="org.eclipse.emf.ecore.EObject">
       </propertyTester>
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.ProjectNatureTester"
             id="com.tibco.xpd.resources.ui.projectNatureTester.iNavigatorGroup"
             namespace="com.tibco.xpd.projectNatureTester"
             properties="containingProjectHasNature"
             type="com.tibco.xpd.ui.propertytester.INavigatorGroup">
       </propertyTester>
       <propertyTester
             class="com.tibco.xpd.ui.propertytester.ProjectNatureTester"
             id="com.tibco.xpd.resources.ui.projectNatureTester.collection"
             namespace="com.tibco.xpd.projectNatureTester"
             properties="containingProjectHasNature"
             type="java.util.Collection">
       </propertyTester>
    </extension>
    <!-- ACE-2011: Remove Unsupported features. Documentation
    <extension
          point="org.eclipse.ui.exportWizards">
       <wizard
             category="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
             class="com.tibco.xpd.ui.documentation.DocExportWizard"
             icon="icons/Project16np.png"
             id="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard"
             name="%documentationExportWizard">
       </wizard>
    </extension>
    -->
    <extension
          id="documentation"
          point="org.eclipse.core.runtime.applications">
       <application>
          <run
                class="com.tibco.xpd.ui.documentation.rcp.Documentation">
          </run>
       </application>
    </extension>
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="com.tibco.xpd.resources.ui.userInfo"
             label="%userInfoPreferencePage_keywords">
       </keyword>
    </extension>

   <extension
         name="This contribution prevents Proeprties View title being blanked on first ever load of Studio - see WelcomePageToNavigatorContentServiceAdapterFactory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.intro.config.CustomizableIntroPart"
            class="com.tibco.xpd.ui.util.WelcomePageToNavigatorContentServiceAdapterFactory">
         <adapter
               type="org.eclipse.ui.navigator.INavigatorContentService">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.resources.ui.internal.importexport.importtasks.RestoreSpecialFoldersPostImportProjectTask"
            id="com.tibco.xpd.resources.ui.postImportTask.restoreSpecialFolders"
            priority="60">
      </postImportTask>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.resources.ui.imports.MigrateProjectPostImportTask"
            id="com.tibco.xpd.resources.ui.postImportTask.migrateProject"
            priority="70">
      </postImportTask>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.xpd.resources.ui.internal.WorkingCopyResourceMoveRefactorParticipant"
            id="com.tibco.xpd.resources.ui.workingCopyRsourceMoveRefactorParticipant"
            name="%workingCopyRsourceMoveRefactorParticipantName">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof></enablement>
      </moveParticipant>
   </extension>

         <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.xpd.ui.projectexplorer.providers.CommonSpecialFolderContentProvider"
            icon="icons/Project16np.gif"
            id="com.tibco.xpd.projectExplorer.specialFolderContent"
            labelProvider="com.tibco.xpd.ui.projectexplorer.providers.ProjectExplorerLabelProvider"
            name="Special Folder Content"
            priority="highest">
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
         <triggerPoints>
         <or>
            <and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
						<test
							property="org.eclipse.core.resources.projectNature"
	                        value="com.tibco.xpd.resources.xpdNature"/>
	                    <test
	                        property="org.eclipse.core.resources.open"
	                        value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>					 
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"/>
     				<not>	
     					<test property="org.eclipse.core.resources.name" value=".*"/>
     				</not>
   
				</and>						
				<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
			</or>
         </triggerPoints>
         
         <commonSorter
               class="com.tibco.xpd.ui.projectexplorer.sorter.XpdProjectContentSorter"
               id="com.tibco.xpd.projectExplorer.xpdProjectContentSorter.sorter">
            <parentExpression>
               <or>
                  <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
                   <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="com.tibco.xpd.ui.projectexplorer.viewerfilters.SpecialFolderIFolderRemovalFilter"
            id="com.tibco.xpd.projectExplorer.specialFolderFilter"
            name="%special_folder_filter.label"
            visibleInUI="true">
      </commonFilter>
       </extension>
         <extension
               point="org.eclipse.ui.handlers">
            <handler
                  class="com.tibco.xpd.resources.ui.internal.actions.PropertiesSectionSaveHandler"
                  commandId="org.eclipse.ui.file.save">
               <activeWhen>
               	<and>
               		<with variable="activePartId">
    					<equals value="org.eclipse.ui.views.PropertySheet"/>
   					</with>
   					<not>
                       	<test
                             property="org.eclipse.core.resources.projectNature"
                             value="com.tibco.bw.design.bwNature">
                       </test>
                   </not>
   				</and>
               </activeWhen>
            </handler>
         </extension>
         <extension
               point="org.eclipse.ui.menus">
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
               <menu
                     id="xpd.refactor"
                     label="%refactor_menu">
                  <separator
                        name="main">
                  </separator>
                  <separator
                        name="additions">
                  </separator>
                  <visibleWhen
                        checkEnabled="false">
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>       
                           <test
                                 property="com.tibco.xpd.projectNatureTester.hasNature"
                                 value="com.tibco.xpd.resources.xpdNature">
                           </test>                    
                        </and>
                     </iterate>
                  </visibleWhen>
               </menu>
            </menuContribution>
         </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.xpd.ui.perspective.PerspactiveLifcycleStartup"></startup>
   </extension>    
</plugin>
