<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="OpenspaceSampleCreator" name="Openspace Gadget Sample Contribution" schema="schema/OpenspaceSampleCreator.exsd"/>
   <extension
         id="com.tibco.xpd.openspace.integration.cleanStagingFolderBuilder"
         name="%cleanStagingFolderBuilder.label"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.tibco.xpd.openspacegwtgadget.integration.daa.OpenspaceCleanStagingFolderBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="OpenspaceGWTGadgetNature"
         name="%openspaceGadgetDevNatureName.label"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.openspacegwtgadget.integration.core.OpenspaceGadgetNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
      <requires-nature
            id="com.gwtplugins.gwt.eclipse.core.gwtNature">
      </requires-nature>
      <requires-nature
            id="com.tibco.xpd.resources.xpdNature">
      </requires-nature>
      <builder
            id="com.tibco.xpd.openspace.integration.cleanStagingFolderBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.openspacegwtgadget.integration.ui.OpenspaceGadgetDevPropertyTester"
            id="com.tibco.xpd.openspacegwtgadget.integration.propertyTester"
            namespace="com.tibco.xpd.openspacegwtgadget.integration"
            properties="isInProjectWithGWTGadgetNature,isInProjectWithOpenspaceGadgetNature"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.tibco.xpd.openspacegwtgadget.integration.commandCategory"
            id="com.tibco.xpd.openspacegwtgadget.integration.openspaceGadgetDevDropDownButtonCmd"
            name="%openspaceGadgetDev.popupmenu">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tibco.xpd.openspacegwtgadget.integration.ui.DropdownToolbarButtonHandler"
            commandId="com.tibco.xpd.openspacegwtgadget.integration.openspaceGadgetDevDropDownButtonCmd">
      </handler>
   </extension>
   <extension
         name="Project explorer context menu items for Openspace Gadget Project options"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="com.tibco.xpd.openspacegwtgadget.integration.ui.OpenspaceMenuExtensionFactory"
            locationURI="popup:org.eclipse.ui.popup.any?before=group.open">
         <separator
               name="com.tibco.xpd.openspacegwtgadget.integration.group"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         name="Main Toolbar items added to GDT TOOLBAR for Openspace Gadget Project options"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.gwtplugins.gdt.eclipse.suite.GDTPulldownToolbar?after=com.gwtplugins.gdt.eclipse.suite.GDTPulldown">
         <command
               commandId="com.tibco.xpd.openspacegwtgadget.integration.openspaceGadgetDevDropDownButtonCmd"
               icon="icons/openspaceGadgetPopup.png"
               id="com.tibco.xpd.openspacegwtgadget.integration.openspaceGadgetDevDropDownButtonOnGDTToolbar"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="com.tibco.xpd.openspacegwtgadget.integration.ui.OpenspaceToolbarExtensionFactory"
            locationURI="menu:com.tibco.xpd.openspacegwtgadget.integration.openspaceGadgetDevDropDownButtonOnGDTToolbar">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="openspace.development.export.category"
            name="%openspaceGadgetDevelopmentCategory.label"
            parentCategory="com.tibco.xpd.resources.ui.exportWizard.development.category">
      </category>
      <wizard
            category="com.tibco.xpd.resources.ui.exportWizard.development.category/openspace.development.export.category"
            class="com.tibco.xpd.openspacegwtgadget.integration.daa.OpenspaceExportDAAWizard"
            icon="icons/daa_16x16.png"
            id="com.tibco.xpd.openspacegwtgadget.export.daa"
            name="%exportDAA.menu">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.openspacegwtgadget.export.daa">
         <enablement>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.openspacegwtgadget.integration.isInProjectWithOpenspaceGadgetNature">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>

   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributionContext
            id="com.tibco.xpd.openspace.gadget.daa"
            name="%openspaceGadgetCompositeContributor.label">
      </contributionContext>
      <contributor
            class="com.tibco.xpd.openspacegwtgadget.integration.daa.OpenspaceProjectCompositeContributor"
            contextId="com.tibco.xpd.openspace.gadget.daa"
            id="com.tibco.xpd.openspacegwtgadget.integration.compositeContributor">
      </contributor>
   </extension>
   <extension
         point="com.tibco.xpd.deploy.ui.deployWizards">
      <deployWizard
            class="com.tibco.xpd.openspacegwtgadget.integration.daa.OpenspaceProjectDeployWizard"
            icon="icons/openspaceGadgetPopup.png"
            id="com.tibco.xpd.openspacegwtgadget.deployWizard"
            name="%deployWizard.label"
            serverTypeId="com.tibco.amf.tools.admincligen.adminserver">
      </deployWizard>
   </extension>

   <extension
         point="com.tibco.xpd.deploy.ui.dragAndDropDeployment">
      <delegateServerDropAssistant
            dropAssistant="com.tibco.xpd.openspacegwtgadget.integration.daa.OpenspaceDeployDragDropAssistant"
            id="com.tibco.xpd.openspace.dragdrop.deploy"
            mustBeConnected="true"
            serverTypeId="com.tibco.amf.tools.admincligen.adminserver">
      </delegateServerDropAssistant>
   </extension>
</plugin>
