<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform"
               image="images/FormalParamInOut.png"
               indented="false"
               label="%property_tab_script_mapping_transform">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform"
               image="images/FormalParamInOut.png"
               indented="false"
               label="%property_tab_script_mapping_transform">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptMappingCompositor">
      <ScriptMappingCompositorFactory
            context="ScriptTask"
            direction="IN"
            factory="com.tibco.xpd.script.transform.properties.ScriptMappingTransformFactory"
            grammar="XPath">
      </ScriptMappingCompositorFactory>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="Transform"
            grammarName="%Transform">
         <editorSection
               editorSectionClass="com.tibco.xpd.script.transform.properties.TransformScriptEditorSection"
               mappable="false">
         </editorSection>
      </scriptGrammar>
   </extension>


</plugin>
