<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fragmentsBinding" name="Fragments Binding to Editor" schema="schema/fragmentsBinding.exsd"/>
   <extension-point id="fragmentsProvider" name="Fragments Provider" schema="schema/fragmentsProvider.exsd"/>
   <extension-point id="fragmentsImport" name="Fragments Import Provider" schema="schema/fragmentsImport.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.tibco.xpd.fragments.category.studio"
            name="%viewCategory_label">
      </category>
      <view
            category="com.tibco.xpd.fragments.category.studio"
            class="com.tibco.xpd.fragments.internal.FragmentsViewPart"
            icon="icons/fragment.png"
            id="com.tibco.xpd.fragments.view"
            name="%fragmentsView_label"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.tibco.xpd.fragments.viewContribution"
            targetID="com.tibco.xpd.fragments.view">
         <action
               class="com.tibco.xpd.fragments.internal.actions.NewCategoryActionDelegate"
               enablesFor="1"
               icon="icons/newFolder.png"
               id="com.tibco.xpd.fragments.action.newCategory"
               label="%newCategory_action_label"
               state="false"
               style="push"
               toolbarPath="file"
               tooltip="%newCategory_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentCategory">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.DeleteActionDelegate"
               enablesFor="1"
               icon="icons/delete.gif"
               id="com.tibco.xpd.fragments.action.delete"
               label="%delete_action_label"
               state="false"
               style="push"
               toolbarPath="edit"
               tooltip="%delete_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.PasteActionDelegate"
               enablesFor="1"
               icon="icons/paste.gif"
               id="com.tibco.xpd.fragments.action.paste"
               label="%paste_action_label"
               state="false"
               style="push"
               toolbarPath="edit"
               tooltip="%paste_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.CopyActionDelegate"
               enablesFor="1"
               icon="icons/copy.gif"
               id="com.tibco.xpd.fragments.action.copy"
               label="%copy_action_label"
               state="false"
               style="push"
               toolbarPath="edit"
               tooltip="%copy_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragment">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.PropertiesActionDelegate"
               enablesFor="1"
               icon="icons/properties.gif"
               id="com.tibco.xpd.fragments.action.properties"
               label="%properties_action_label"
               state="true"
               style="push"
               toolbarPath="additions"
               tooltip="%properties_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.RefreshAction"
               enablesFor="1"
               icon="icons/refresh.gif"
               id="com.tibco.xpd.fragments.action.refresh"
               label="%refresh_action_label"
               state="false"
               style="push"
               toolbarPath="refresh"
               tooltip="%refresh_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentCategory">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.ImportFragmentsAction"
               enablesFor="*"
               icon="icons/fragment.png"
               id="com.tibco.xpd.fragments.action1"
               label="%importFragmentProject_action_label"
               state="true"
               style="push"
               toolbarPath="import"
               tooltip="%importFragmentProject_action_tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.tibco.xpd.fragments.popupMenuContribution"
            targetID="com.tibco.xpd.fragments.view">
         <action
               class="com.tibco.xpd.fragments.internal.actions.NewCategoryActionDelegate"
               enablesFor="1"
               icon="icons/newFolder.png"
               id="com.tibco.xpd.fragments.menu.newCategory"
               label="%newCategory_action_label"
               menubarPath="file"
               state="false"
               style="push"
               tooltip="%newCategory_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentCategory">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.DeleteActionDelegate"
               enablesFor="1"
               icon="icons/delete.gif"
               id="com.tibco.xpd.fragments.menu.delete"
               label="%delete_action_label"
               menubarPath="edit"
               state="false"
               style="push"
               tooltip="%delete_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.PasteActionDelegate"
               enablesFor="1"
               icon="icons/paste.gif"
               id="com.tibco.xpd.fragments.menu.paste"
               label="%paste_action_label"
               menubarPath="edit"
               state="false"
               style="push"
               tooltip="%paste_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.CopyActionDelegate"
               enablesFor="1"
               icon="icons/copy.gif"
               id="com.tibco.xpd.fragments.menu.copy"
               label="%copy_action_label"
               menubarPath="edit"
               state="false"
               style="push"
               tooltip="%copy_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragment">
            </selection>
         </action>
         <action
               class="com.tibco.xpd.fragments.internal.actions.PropertiesActionDelegate"
               enablesFor="1"
               icon="icons/properties.gif"
               id="com.tibco.xpd.fragments.menu.properties"
               label="%properties_menu"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="%properties_action_tooltip">
            <selection
                  class="com.tibco.xpd.fragments.IFragmentElement">
            </selection>
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.xpd.fragments.internal.FragmentStartupClass"></startup>
   </extension>
   <extension
         id="nature"
         name="Fragments Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.fragments.internal.FragmentsProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="com.tibco.xpd.fragments.internal.projectImport.ImportFragmentsProjectWizard"
            icon="icons/fragment.png"
            id="com.tibco.xpd.fragments.importWizard"
            name="%importFragmentsWizard_title">
         <description>
            %importFragmentsWizard_message
         </description>
      </wizard>
   </extension>
   <extension
         point="com.tibco.xpd.fragments.fragmentsImport">
      <importer
            class="com.tibco.xpd.fragments.internal.projectImport.baseImporter.FragmentsProjectImporter"
            id="com.tibco.xpd.fragments.importer"
            projectNatures="com.tibco.xpd.fragments.nature">
      </importer>
   </extension>

</plugin>
