<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="com.tibco.n2.ut.resources.destination.v1.0.0">
         <scriptContribution
               scriptContext="QueryParticipant">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider"
                  name="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <validationStrategy
                  class="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy"
                  name="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy">
            </validationStrategy>
            <classContributor
                  class="com.tibco.xpd.rql.model.script.RQLDefinitionReader"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.model.script.RQLDefinitionReader"
                  name="com.tibco.xpd.rql.model.script.RQLDefinitionReader">
            </classContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="OrgQuery">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider"
                  name="com.tibco.xpd.rql.parser.script.RQLScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
            <validationStrategy
                  class="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy"
                  name="com.tibco.xpd.rql.parser.validator.RQLValidationStrategy">
            </validationStrategy>
            <classContributor
                  class="com.tibco.xpd.rql.model.script.RQLDefinitionReader"
                  grammarId="RQL"
                  id="com.tibco.xpd.rql.model.script.RQLDefinitionReader"
                  name="com.tibco.xpd.rql.model.script.RQLDefinitionReader">
            </classContributor>
         </scriptContribution>
      </destination>
   </extension>

</plugin>
