<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
            type="export"
            wizardId="com.tibco.xpd.bom.wsdltransform.exportwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="bom">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
            type="import"
            wizardId="com.tibco.xpd.bom.wsdltransform.importwizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bom">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bom">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.bom.resources.ui.exportWizard.concept.category"
            class="com.tibco.xpd.bom.wsdltransform.exports.wizards.ExportBOMToWSDLWizard"
            icon="icons/WSDLModelFile.gif"
            id="com.tibco.xpd.bom.wsdltransform.exportwizard"
            name="%wsdlExportWizard_label">
         <description>
            %wsdlExportWizard_shortdesc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.tibco.xpd.bom.modeler.custom.importCategory"
            class="com.tibco.xpd.bom.wsdltransform.imports.wizards.ImportWSDLWizard"
            icon="icons/WSDLModelFile.gif"
            id="com.tibco.xpd.bom.wsdltransform.importwizard"
            name="%wsdlImportWizard_label">
         <description>
            %wsdlImportWizard_shortdesc
         </description>
      </wizard>
   </extension>
   <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="false"
          id="com.tibco.xpd.bom.wsdltransform.objectContributionExportToWSDL"
          objectClass="com.tibco.xpd.bom.modeler.diagram.edit.parts.ClassEditPart">
       <action
             class="com.tibco.xpd.bom.wsdltransform.exports.actions.ExportClassToWSDLAction"
             enablesFor="*"
             icon="icons/WSDLModelFile.gif"
             id="com.tibco.xpd.bom.wsdltransform.actionExportToWSDL"
             label="%exportWSDL_label"
             menubarPath="com.tibco.xpd.bom.menu.export/additions">
       </action>
    </objectContribution>
 </extension>
   <extension
         point="com.tibco.xpd.validation.providerExtension">
      <providerExtension
            providerId="com.tibco.xpd.wsdltobom.validator.id">
         <rule
               class="com.tibco.xpd.bom.wsdltransform.internal.WsdlValidationRule">
         </rule>
      </providerExtension>
   </extension>
      <extension
         point="com.tibco.xpd.validation.provider">
      <issue
            id="wsdltobom.invalidschema"
            message="%wsdltobom_invalidschema_issue_shortdesc"
            severity="ERROR">
      </issue>
      <issue
            id="wsdltobom.unsupportedschemaconstructs"
            message="%wsdltobom_unsupportedschemaconstructs_issue_shortdesc"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="com.tibco.xpd.bom.wsdltransform.disableBDS.resolution">
         </resolution>
      </issue>
      <issue
            id="wsdltobom.bdssupportdisabled"
            message="%wsdltobom_bdssupportdisabled_issue_shortdesc"
            severity="INFO">
      </issue>
      <issue
            id="wsdltobom.bdssupportenabled"
            message="%bdsSupport_enabled_issue_shortdesc"
            severity="INFO">
         <resolution
               canApplyToMultiple="false"
               id="com.tibco.xpd.bom.wsdltransform.disableBDS.resolution">
         </resolution>
      </issue>
      <issue
            id="wsdltobom.caseinsensitivetargetnamespaces"
            message="%wsdltobom_caseinsensitivetargetnamespaces_issue_shortdesc"
            severity="ERROR">         
      </issue>
   </extension>
      <extension
            point="com.tibco.xpd.validation.resolution">
         <resolution
               canApplyToMultiple="false"
               class="com.tibco.xpd.bom.wsdltransform.internal.WsdlBDSSupportResolution: enable=true"
               id="wsdltobom.bdssupportdisabled"
               label="%enableBDSSupport_resolution_label">
         </resolution>
         <resolution
               canApplyToMultiple="true"
               class="com.tibco.xpd.bom.wsdltransform.internal.WsdlRenameCaseInsensitiveTargetNamespaceResolution"
               id="wsdltobom.caseinsensitivetargetnamespaces"
               label="%caseinsensitivetargetnamespaces_resolution_label">
         </resolution>
      </extension>
      <extension
            point="com.tibco.xpd.validation.reusableResolutions">
         <resolution
               class="com.tibco.xpd.bom.wsdltransform.internal.WsdlBDSSupportResolution: enable=false"
               id="com.tibco.xpd.bom.wsdltransform.disableBDS.resolution"
               label="%disableBDS_resolution_shortdesc">
         </resolution>
      </extension>
      
      <extension
         id="com.tibco.xpd.wsdltobom.wsdlToBomBuilder"
         name="%wsdlToBom.title"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.tibco.xpd.bom.wsdltransform.builder.WsdlToBomBuilder">
         </run></builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.bom.wsdltransform.builder.WsdlBomAssetConfigurator"
            extends="com.tibco.xpd.asset.businessProcess"
            id="com.tibco.xpd.asset.wsdlbom"
            name="hiddenWsdlBomAsset"
            visible="false">
         <bindings>
            <nature
                  id="com.tibco.xpd.wsdltobom.wsdlBomNature">
            </nature>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
         </bindings>
      </asset>
   </extension>
   <extension
         id="com.tibco.xpd.wsdltobom.wsdlBomNature"
         name="%wsdlToBom.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.bom.wsdltransform.builder.WsdlBomProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.wsdltobom.wsdlToBomBuilder">
      </builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.postImportProjectTask">
      <postImportTask
            class="com.tibco.xpd.bom.wsdltransform.internal.RemoveGenBOMPostImportProjectTask"
            id="com.tibco.xpd.bom.wsdltransform.postImportTask.removeGenBOM">
      </postImportTask>
   </extension>
   <extension
         id="wsdlToBomMarker"
         name="%wsdlToBomMarker_label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>    
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.tibco.xpd.bom.wsdltransform.MissingBomAssetResolutionGenerator"
            markerType="com.tibco.xpd.bom.wsdltransform.wsdlToBomMarker">  
      </markerResolutionGenerator>      
   </extension>
</plugin>
