<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="com.tibco.xpd.resources.specialFolders">
    <folder
          allowDuplicateResources="false"
          icon="icons/Bom_SpecialFolder.png"
          issueId="bom.duplicateResourceIssue"
          kind="bom"
          name="%specialFolder_name"
          navigatorContentId="com.tibco.xpd.projectExplorer.bomContent"
          projectAssetId="com.tibco.xpd.asset.bom">
    </folder>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="com.tibco.xpd.bom.resources.ui.internal.navigator.BOMContentProvider"
          icon="icons/Bom_SpecialFolder.png"
          id="com.tibco.xpd.projectExplorer.bomContent"
          labelProvider="com.tibco.xpd.bom.resources.ui.internal.navigator.BOMLabelProvider"
          name="%navigatorContent_name"
          priority="high"
          providesSaveables="true">
       <triggerPoints>
       		<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
						<test
							property="org.eclipse.core.resources.projectNature"
	                        value="com.tibco.xpd.resources.xpdNature"/>
	                    <test
	                        property="org.eclipse.core.resources.open"
	                        value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
						value="bom"/>
				</and>
				<and>
					<instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.isOfKind"
						value="bom"/>
				</and>
			<and>
	               <instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="bom">
	               </test>
                <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="bom">
                </test>
            	</and>
			</or>
       </triggerPoints>
       <possibleChildren>
            <or>
            	<and>
                	 <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                 	<test
                       property="com.tibco.xpd.resources.specialfolder.isOfKind"
                       value="bom"/>
             	</and>
             	<and>
	               <instanceof
	                     value="org.eclipse.emf.ecore.EObject">
	               </instanceof>
	               <test
	                     property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
	                     value="uml">
	               </test>
            	</and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
              <instanceof
                    value="org.eclipse.gmf.runtime.notation.Diagram">
              </instanceof>
              <instanceof
                    value="com.tibco.xpd.bom.resources.ui.providers.DiagramGroupTransientItemProvider">
              </instanceof>
            </or>
       </possibleChildren>
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
       <actionProvider
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.actions.BOMAddChildActionProvider"
             id="com.tibco.xpd.projectExplorer.action.bom.addChildActionProvider">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.uml2.uml.Package">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Class">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Enumeration">
                </instanceof>
             </or>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.actions.BOMConvertActionProvider"
             id="com.tibco.xpd.projectExplorer.action.bom.classConvertActionProvider">
          <enablement>
             <or>
                <instanceof
                      value="org.eclipse.uml2.uml.Class">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Property">
                </instanceof>
             </or>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.actions.BOMEditActionProvider"
             id="com.tibco.xpd.projectExplorer.action.bom.editActionProvider">
          <enablement>
           <or>
              <and>
                 <instanceof
                       value="org.eclipse.emf.ecore.EObject">
                 </instanceof>
                 <test
                       property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                       value="uml">
                 </test>
              </and>
              <instanceof
                    value="org.eclipse.gmf.runtime.notation.Diagram">
              </instanceof></or>
          </enablement>
       </actionProvider>
       <actionProvider
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.actions.UndoRedoActionProvider"
             id="com.tibco.xpd.projectExplorer.action.bom.undoRedoActionProvider"
             overrides="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
          <enablement>
           <or>
              <and>
                 <instanceof
                       value="org.eclipse.emf.ecore.EObject">
                 </instanceof>
                 <test
                       property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                       value="uml">
                 </test>
              </and>
              <instanceof
                    value="org.eclipse.gmf.runtime.notation.Diagram">
              </instanceof>
              <instanceof
                    value="com.tibco.xpd.bom.resources.ui.providers.DiagramGroupTransientItemProvider">
              </instanceof></or>
          </enablement>
       </actionProvider>
       <dropAssistant
             class="com.tibco.xpd.ui.projectexplorer.dropassist.SpecialFolderDropAssist"
             id="com.tibco.xpd.bom.resources.ui.specialFolder.dropAssistant">
          <possibleDropTargets>
             <or>
                <and>
                   <instanceof
                         value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                   </instanceof>
                   <test
                         property="com.tibco.xpd.resources.specialfolder.isOfKind"
                         value="bom">
                   </test>
                </and>
                <and>
                   <instanceof
                         value="org.eclipse.core.resources.IFolder">
                   </instanceof>
                   <test
                         property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                         value="bom">
                   </test>
                </and>
             </or>
          </possibleDropTargets>
       </dropAssistant>
       <dropAssistant
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.BOMDropAdapterAssistant"
             id="com.tibco.xpd.bom.resources.ui.BOMDropAssistant">
          <possibleDropTargets>
             <or>
                <instanceof
                      value="org.eclipse.uml2.uml.Package">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Class">
                </instanceof>
             </or>
          </possibleDropTargets>
       </dropAssistant>
       <commonSorter
             class="com.tibco.xpd.bom.resources.ui.internal.navigator.sorter.BOMContentSorter"
             id="com.tibco.xpd.projectExplorer.bomContent.sorter">
          <parentExpression>
             <or>
                <and>
                   <instanceof
                         value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                   </instanceof>
                   <test
                         property="com.tibco.xpd.resources.specialfolder.isOfKind"
                         value="bom">
                   </test>
                </and>
                <instanceof
                      value="org.eclipse.core.resources.IFile">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Model">
                </instanceof>
                <instanceof
                      value="org.eclipse.uml2.uml.Class">
                </instanceof>
             </or>
          </parentExpression>
       </commonSorter>
    </navigatorContent>
    <commonWizard
          associatedExtensionId="com.tibco.xpd.projectExplorer.bomContent"
          type="export"
          wizardId="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard">
       <enablement>
          <or>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IFile">
                </instanceof>
                <test
                      property="org.eclipse.core.resources.extension"
                      value="bom">
                </test>
             </and>
          </or>
       </enablement>
    </commonWizard>
 </extension>

 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.uml2.uml.Element"
          class="org.eclipse.gmf.runtime.common.ui.services.properties.PropertiesServiceAdapterFactory">
       <adapter
             type="org.eclipse.ui.views.properties.IPropertySource">
       </adapter>
    </factory>
 </extension>
 <extension
       point="com.tibco.xpd.resources.specialFolderFileBinding">
    <binding
          kind="bom">
       <filePatterns
             match=".*\.[bB][oO][mM]">
       </filePatterns>
    </binding>
 </extension>
  <extension
       point="org.eclipse.emf.ecore.generated_package">
    <package
          class="com.tibco.xpd.bom.resources.ui.bomnotation.BomNotationPackage"
          uri="http://www.tibco.com/models/bomnotation">
    </package>
 </extension> 
 <extension
       point="com.tibco.xpd.resources.itemProviderAdapterOverride">
    <factory
          factory="com.tibco.xpd.bom.resources.ui.providers.BOMItemProviderAdapterFactory">
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.tibco.xpd.bom.resources.ui.prefs.BOMPreferencePage"
          id="com.tibco.xpd.bom.pref"
          name="%bomPrefPage_title">
    </page>
    <page
          category="com.tibco.xpd.bom.pref"
          class="com.tibco.xpd.bom.resources.ui.prefs.BOMPickerPreferencePage"
          id="com.tibco.xpd.bom.pref.picker"
          name="%pickerPreferencePage_title">
    </page>
 </extension>
 <extension
       point="com.tibco.xpd.validation.provider">
    <issue
          id="bom.duplicateResourceIssue"
          message="%bom_duplicateResource_longdesc"
          severity="ERROR">
    </issue>
 </extension>
 
    <extension
          point="com.tibco.xpd.resources.workingCopyIndexer">
       <indexer
             filePattern="bom"
             indexID="com.tibco.xpd.bom.resources.indexing.bomIndexer"
             indexerClass="com.tibco.xpd.bom.resources.ui.internal.indexing.BOMResourceIndexProvider">
          <additionalAttributes>
             <attribute
                   maxLength="2098"
                   name="CaseOrGlobalType">
             </attribute>
             <attribute
                   maxLength="4096"
                   name="image_uri">
             </attribute>
             <attribute
                   maxLength="4096"
                   name="cds_factory">
             </attribute>
             <attribute
                   maxLength="4096"
                   name="namespace_uri">
             </attribute>
             <attribute
                   maxLength="4096"
                   name="displayLabel">
             </attribute>
              <attribute
                   maxLength="4096"
                   name="packageLowerCase">
             </attribute>
          </additionalAttributes>
       </indexer>
    </extension>
    <extension
          point="com.tibco.xpd.resources.workingCopyIndexer">
       <indexer
             filePattern="uml"
             indexID="com.tibco.xpd.bom.resources.indexing.umlProfileIndexer"
             indexerClass="com.tibco.xpd.bom.resources.ui.internal.indexing.UMLProfileIndexProvider">
          <additionalAttributes>
             <attribute
                   maxLength="4096"
                   name="image_uri">
             </attribute>
            <attribute
                   maxLength="4096"
                   name="eclipse_project">
             </attribute>
          </additionalAttributes>
       </indexer>
       <indexer
             filePattern="uml"
             indexID="com.tibco.xpd.bom.resources.indexing.umlStereotypeIndexer"
             indexerClass="com.tibco.xpd.bom.resources.ui.internal.indexing.UMLStereotypeIndexProvider">
          <additionalAttributes>
            <attribute
                   maxLength="4096"
                   name="image_uri">
             </attribute>
            <attribute
                   maxLength="4096"
                   name="eclipse_project">
             </attribute>
            <attribute
                  maxLength="1"
                  name="model">
            </attribute>
            <attribute
                  maxLength="1"
                  name="package">
            </attribute>
            <attribute
                  maxLength="1"
                  name="class">
            </attribute>
            <attribute
                  maxLength="1"
                  name="property">
            </attribute>
            <attribute
                  maxLength="1"
                  name="primtype">
            </attribute>
            <attribute
                  maxLength="1"
                  name="generalization">
            </attribute>
            <attribute
                  maxLength="1"
                  name="association">
            </attribute>
            <attribute
                  maxLength="1"
                  name="operation">
            </attribute>
            <attribute
                  maxLength="1"
                  name="enumeration">
            </attribute>
            <attribute
                  maxLength="1"
                  name="enumLit">
            </attribute>
            <attribute
                  maxLength="1"
                  name="assocClass">
            </attribute>
          </additionalAttributes>
       </indexer>
    </extension>
 
  <extension
       point="org.eclipse.ui.exportWizards">
    <category
          id="com.tibco.xpd.bom.resources.ui.exportWizard.concept.category"
          name="%category.exportWizard.name"/>
 </extension>
  <extension
        point="org.eclipse.ui.activities">
     <activity
           id="com.tibco.xpd.bom.analysis"
           name="%bom.activity.name">
     </activity>
     <categoryActivityBinding
           activityId="com.tibco.xpd.bom.analysis"
           categoryId="com.tibco.xpd.analysis">
     </categoryActivityBinding>
     <defaultEnablement
           id="com.tibco.xpd.bom.analysis"/>
     <activity
           id="com.tibco.xpd.bom.solutiondesign"
           name="Business Object Solution">
     </activity>
     <categoryActivityBinding
           activityId="com.tibco.xpd.bom.solutiondesign"
           categoryId="com.tibco.xpd.solutiondesign">
     </categoryActivityBinding>
     <activityPatternBinding
           activityId="com.tibco.xpd.bom.solutiondesign"
           pattern="com\.tibco\.xpd\.bom\.validator/.*">
     </activityPatternBinding>
     <activityPatternBinding
           activityId="com.tibco.xpd.bom.solutiondesign"
           pattern="com\.tibco\.xpd\.bom\.resources\.ui/developer.*">
     </activityPatternBinding>
  </extension>
  <extension
        id="stereotypeprovider"
        name="Stereotype Provider"
        point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
     <PropertiesProvider
           class="com.tibco.xpd.bom.resources.ui.providers.StereotypePropertyProvider">
        <Priority
              name="Lowest">
        </Priority>
     </PropertiesProvider>
  </extension>
  <extension
        id="classprovider"
        name="Class Properties Provider"
        point="org.eclipse.gmf.runtime.common.ui.services.properties.propertiesProviders">
     <PropertiesProvider
           class="com.tibco.xpd.bom.resources.ui.providers.ClassifierPropertiesProvider">
        <Priority
              name="Low">
        </Priority>
     </PropertiesProvider>
  </extension>
  <extension
        point="com.tibco.xpd.resources.ui.typesProvider">
     <typesProvider
           id="com.tibco.xpd.bom.resources.ui.typesProvider">
        <types>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Package">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Class">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.PrimitiveType">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.BasePrimitiveType">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Stereotype">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Profile">
           </type>
           <type
                 groupId="org.eclipse.emf.ecore.EObject"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Enumeration">
           </type>
        </types>
        <filters>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Class">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.PrimitiveType">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Package">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.BasePrimitiveType">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Stereotype">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Profile">
           </filter>
           <filter
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Filter"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Enumeration">
           </filter>
        </filters>
        <resolvers>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Package">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Class">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.PrimitiveType">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.BasePrimitiveType">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Profile">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Stereotype">
           </resolver>
           <resolver
                 class="com.tibco.xpd.bom.resources.ui.types.internal.Resolver"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Enumeration">
           </resolver>
        </resolvers>
        <labelProviders>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Package">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Class">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.PrimitiveType">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.BasePrimitiveType">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Profile">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Stereotype">
           </labelProvider>
           <labelProvider
                 class="com.tibco.xpd.bom.resources.ui.types.internal.LabelProvider"
                 typeId="com.tibco.xpd.bom.resources.ui.types.Enumeration">
           </labelProvider>
        </labelProviders>
     </typesProvider>
  </extension>
  <extension
         point="com.tibco.xpd.resources.ui.complexDataType">
      <complexDataType
            id="com.tibco.xpd.xpdl2.complexDataType.bom"
            referenceResolver="com.tibco.xpd.bom.resources.ui.util.BomComplexDataTypeRefResolver">
         <browseFilters>
            <specialFolderInclusionFilter
                  kind="bom">
            </specialFolderInclusionFilter>
            <fileTypeInclusionFilter
                  fileNameExtension="bom">
            </fileTypeInclusionFilter>
            <eObjectInclusionFilter
                  class="org.eclipse.uml2.uml.Class">
            </eObjectInclusionFilter>
            <eObjectInclusionFilter
                  class="org.eclipse.uml2.uml.PrimitiveType">
            </eObjectInclusionFilter>
         </browseFilters>
      </complexDataType>
   </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="com.tibco.xpd.bom.resources.ui.prefs.BOMPreferencePage"
           id="com.tibco.xpd.bom.propertiesPage"
           name="%bomPrefPage_title">
        <enabledWhen>
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.open">
              </test>
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="com.tibco.xpd.resources.xpdNature">
              </test>
           </and>
        </enabledWhen>
     </page>
     <page
           category="com.tibco.xpd.resources.ui.xpdProject.detailsPropertyPage"
           class="com.tibco.xpd.bom.resources.ui.prefs.BuildInformationPropertiesPage"
           id="com.tibco.xpd.bom.resources.ui.businessdata.propertiespage"
           name="Build Information"
           selectionFilter="single">
        <enabledWhen>
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.open">
              </test>
              <test
                    property="com.tibco.xpd.resources.projectAsset.hasAssets"
                    value="com.tibco.xpd.asset.businessdata.bom">
              </test>
           </and>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="com.tibco.xpd.resources.ui.documentViewerContribution">
     <documentViewerContribution
           documentGenerator="com.tibco.xpd.bom.resources.ui.wizards.conceptdoc.BOMDocXsltGen"
           fileExtensions="bom"
           specialFolders="bom">
     </documentViewerContribution>
  </extension>
  <extension
        point="com.tibco.xpd.resources.ui.pickerContent">
     <pickerContentProvider
           id="com.tibco.xpd.bom.bomPickerContentProvider"
           itemProvider="com.tibco.xpd.bom.resources.ui.commonpicker.BOMPickerItemProvider"
           labelProvider="com.tibco.xpd.bom.resources.ui.commonpicker.BOMPickerLabelProvider">
     </pickerContentProvider>
  </extension>
  <extension
        point="org.eclipse.ltk.core.refactoring.renameParticipants">
     <renameParticipant
           class="com.tibco.xpd.bom.resources.ui.refactoring.BOMElementRefactorParticipant"
           id="com.tibco.xpd.bom.resources.ui.bomElementRenameParticipant"
           name="%renameBomElement">
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.uml2.uml.Class">
              </instanceof>
              <instanceof
                    value="org.eclipse.uml2.uml.Package">
              </instanceof>
              <instanceof
                    value="org.eclipse.uml2.uml.Model">
              </instanceof>
              <instanceof
                    value="org.eclipse.uml2.uml.Property">
              </instanceof>
              <instanceof
                    value="org.eclipse.uml2.uml.Enumeration">
              </instanceof>
              <instanceof
                    value="org.eclipse.uml2.uml.EnumerationLiteral">
              </instanceof>
           </or>
        </enablement>
     </renameParticipant>
  </extension>
  <extension
        point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
     <changePreviewViewer
           class="com.tibco.xpd.resources.ui.internal.ProjectVersionChangePreviewViewer"
           id="com.tibco.xpd.bom.resources.ui.scriptBOMRefactorPreviewViewer">
        <enablement>
           <instanceof
                 value="com.tibco.xpd.resources.refactoring.IProjectRefactorChange">
           </instanceof>
        </enablement>
     </changePreviewViewer>
  </extension>
   <!--
  <extension
        point="com.tibco.xpd.resources.ui.quickSearchContribution">
     <viewContribution
           class="com.tibco.xpd.bom.resource.ui.quicksearch.BomProjectExplorerQuickSearchContribution"
           viewId="org.eclipse.ui.navigator.ProjectExplorer">
     </viewContribution>
  </extension>
  -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%tibcoBpmDebug_label"
            class="com.tibco.xpd.bom.resources.ui.internal.preferences.BpmDebugPreferencePage"
            id="com.tibco.xpd.bpm.TibcoBpmDebug">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.bom.resources.ui.internal.preferences.BpmPreferenceUtil">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.bom.resources.ui.bom.convert"
            nameFilter="*.bom"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="convertBomMenu"
               label="%convertBom.label"
               path="additions">
         </menu>
         <action
               class="com.tibco.xpd.bom.resources.ui.actions.ConvertBomToNoXSDNotationProfileAction"
               id="com.tibco.xpd.bom.resources.ui.convertBom.noXSDProfile"
               label="%convertBom.noXSDProfile.label"
               menubarPath="convertBomMenu/group1">
         </action>
         <visibility>
            <systemProperty
                  name="tbs.mode.advanced"
                  value="true">
            </systemProperty>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.quickSearchContribution">
      <viewContribution
            class="com.tibco.xpd.bom.resource.ui.quicksearch.BomProjectExplorerQuickSearchContribution"
            viewId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewContribution>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.quickSearchContribution">
      <viewContribution
         class="com.tibco.xpd.bom.resource.ui.quicksearch.BomEditorQuickSearchContribution"
         viewId="com.tibco.xpd.bom.modeler.diagram.part.UMLDiagramEditorID">
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/BsProject.png"
            id="com.tibco.xpd.newProject.BusinessData"
            name="%businessData_project_title"
            project="true">
         <class class="com.tibco.xpd.ui.wizards.newproject.XpdProjectWizardFactory">
            <parameter name="hideAssetSelection" value="true"/>
            <parameter name="title" value="%businessData_project_wizard_title" />
         </class>                   
         <description>
            %businessData_project_description
         </description>
      </wizard>
      <primaryWizard
            id="com.tibco.xpd.newProject.BusinessData">
      </primaryWizard>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAssetBinding">
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.bom"
            mandatory="true"
            newProjectWizardId="com.tibco.xpd.newProject.BusinessData">
      </projectAssetBinding>
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.businessdata.bom"
            mandatory="true"
            newProjectWizardId="com.tibco.xpd.newProject.BusinessData">
      </projectAssetBinding>
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.wsdl"
            mandatory="true"
            newProjectWizardId="com.tibco.xpd.newProject.BusinessData">
      </projectAssetBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.newProject.BusinessData">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpdproject"
            type="new"
            wizardId="com.tibco.xpd.newProject.BusinessData">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:xpd.refactor">
         <command
               commandId="com.tibco.xpd.bom.resources.ui.refactortobusinessdataprojectcmd"
               icon="icons/BsProject.png"
               label="%convertToBusinessDataProject_label"
               style="push"
               tooltip="%convertToBusinessDataProject_tooltip">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="com.tibco.xpd.projectNatureTester.hasNature"
                           value="com.tibco.xpd.resources.xpdNature">
                  </test>
                     <not>
                        <test
                              forcePluginActivation="true"
                              property="com.tibco.xpd.projectNatureTester.hasNature"
                              value="com.tibco.xpd.bom.resources.businessDataProjectNature">
                        </test>
                     </not>
                     <test
                           forcePluginActivation="true"
                           property="com.tibco.xpd.resources.projectAsset.hasAssets"
                           value="com.tibco.xpd.asset.bom">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.tibco.xpd.bom.resources.ui.actions.RefactorToBusinessDataProjectAction"
            id="com.tibco.xpd.bom.resources.ui.refactortobusinessdataprojectcmd"
            name="%convertToBusinessDataProject_label">
      </command>
   </extension>
</plugin>
