<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.ByteComparator">        
         <fileInformation
               fileName="*.form">
         </fileInformation>
         <fileInformation
               fileName="*.wp">
         </fileInformation>
         <fileInformation
               fileName="*.brm">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.DEFileComparator">
         <fileInformation
               fileName="*.de">
         </fileInformation>         
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.NewCompositeFileComparator">
         <fileInformation
               fileName="*.composite">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.NewRequirementsFileComparator">
         <fileInformation
               fileName="*.requirements">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.NewXMIFileComparator">
         <fileInformation
               fileName="*.xmi">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.XmlBasedComparator">
         <fileInformation
               fileName="*.bk1">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.ManifestFileComparator">
         <fileInformation
               fileName="*.MF">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.HttpClientFileComparator">
         <fileInformation
               fileName="*.httpClient">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.WorkModelFileComparator">
         <fileInformation
               fileName="wm.xml">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.WorkTypeFileComparator">
         <fileInformation
               fileName="wt.xml">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.SADFileComparator">
         <fileInformation
               fileName="Service-Archive-Descriptor.xml">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
              point="com.tibco.amf.tools.componenttype.propertyType">
           <propertyTypeToITBinding
                 implementationTypeID="implementation.bx"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/httpclient}HttpClientConfiguration">
           </propertyTypeToITBinding>
           <propertyTypeToITBinding
                 implementationTypeID="implementation.bx"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/jdbc}JdbcDataSource">
           </propertyTypeToITBinding>
           <propertyTypeToITBinding
                 implementationTypeID="implementation.bx"
                 supportedPropertyType="{http://xsd.tns.tibco.com/amf/models/sharedresource/smtp}SmtpConfiguration">
           </propertyTypeToITBinding>
        </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.NewBpelFileComparator">
         <fileInformation
               fileName="*.bpel">
         </fileInformation>
      </fileComparator>
   </extension>
   <extension
         point="com.tibco.xpd.core.testutil.fileComparator">
      <fileComparator
            class="com.tibco.xpd.n2.daa.test.comparator.ScriptsFileComparator">
         <fileInformation
               fileName="*.scripts">
         </fileInformation>
      </fileComparator>
   </extension>
</plugin>
