<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GlobalSignalDefinition -->
      <package
            uri="http://www.tibco.com/XPD/GlobalSignalDefinition1.0.0"
            class="com.tibco.xpd.globalSignalDefinition.GlobalSignalDefinitionPackage"
            genModel="model/GlobalSignalDefinition.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated GlobalSignalDefinition -->
      <parser
            type="gsd"
            class="com.tibco.xpd.globalSignalDefinition.util.GlobalSignalDefinitionResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated GlobalSignalDefinition -->
      <factory
            uri="http://www.tibco.com/XPD/GlobalSignalDefinition1.0.0"
            class="com.tibco.xpd.globalSignalDefinition.provider.GlobalSignalDefinitionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
      <!--GSD Working Copy Factory -->
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.globalSignalDefinition.workingcopy.GsdWorkingCopyFactory"
            filePattern=".*\.[gG][sS][dD]">
      </factory>
   </extension>
   <!--GSD Indexer -->
  <extension
         point= "com.tibco.xpd.resources.workingCopyIndexer" >
      <indexer
            filePattern= "gsd"
            indexID= "com.tibco.xpd.n2.globalsignal.resource.indexer.gsdindexer"
            indexerClass= "com.tibco.xpd.globalSignalDefinition.indexer.GsdResourceIndexProvider" >
            <additionalAttributes>
             <attribute
                   maxLength="4096"
                   name="gsdSpecialFolderRelPath">
             </attribute>        
          </additionalAttributes>
      </indexer>
   </extension>
   <!-- GSD to BOM Working copy dependency provider. -->
  <extension
        point="com.tibco.xpd.resources.workingCopyDependencyProvider">
     <dependency
           provider="com.tibco.xpd.globalSignalDefinition.workingcopy.GsdToBomWorkingCopyDependencyProvider">
     </dependency>
  </extension>

</plugin>
