<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://GLOBALDATA_PROFILES/"
            target="platform:/plugin/com.tibco.xpd.bom.globaldata/profiles/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">      
      <propertyTester
            class="com.tibco.xpd.bom.globaldata.resources.GlobalDataBOMTester"
            id="com.tibco.xpd.bom.globaldata.resources.globalDataBOMTester"
            namespace="com.tibco.xpd.bom.globaldata.resources.bomFolder"
            properties="bomHasGlobalData"
            type="org.eclipse.core.resources.IResource">                     
       </propertyTester>
   </extension>
   <!-- <extension
         point="com.tibco.xpd.bom.resources.firstClassProfile">
      <profile
            diagramImage="icons/32x32/concept.png"
            icon="icons/16x16/wizard.png"
            id="com.tibco.xpd.bom.globaldata.profile.globaldata"
            label="%firstClassProfile_GData_BOM_label"
            uri="pathmap://GLOBALDATA_PROFILES/BOMGlobalData.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.bom.modeler.diagram.categoryBOM"
            class="com.tibco.xpd.bom.modeler.diagram.part.UMLCreationWizard:com.tibco.xpd.bom.globaldata.profile.globaldata"
            icon="icons/16x16/wizard.png"
            id="com.tibco.xpd.bom.globaldata.newWizard"
            name="%globalDataBOM_wizard_name">
         <description>
            %globalDataBOM_wizard_shortdesc
         </description>
      </wizard>
   </extension> -->
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.xpd.bom.globaldata.resources.refactor.AddBizDataCapabilityOnBOMMoveParticipant"
            id="com.tibco.xpd.bom.globaldata.resources.refactor.GlobalBOMMoveParticipant"
            name="%enableDisableBizDataProfile_label">
         <enablement>
            <and>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bom">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
               <test
                     property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                     value="bom">
               </test>
            </and>
         </enablement>
      </moveParticipant>
   </extension>
</plugin>
