<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
	     point="org.eclipse.ui.navigator.navigatorContent">
	  <commonWizard
	        menuGroupId="additions.xpdproject"
	        type="new"
	        wizardId="com.tibco.xpd.newProject.BPMSOADeveloper">
	     <enablement>
	        <or>
	           <instanceof
	                 value="org.eclipse.core.resources.IWorkspaceRoot">
	           </instanceof>
	           <and>
	              <instanceof
	                    value="java.util.Collection">
	              </instanceof>
	              <count
	                    value="0">
	              </count>
	           </and>
	        </or>
	     </enablement>
	  </commonWizard>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">      
      <primaryWizard
            id="com.tibco.xpd.newProject.BPMSOADeveloper">
      </primaryWizard>  
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"          
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/BPMDevProject.png"
            id="com.tibco.xpd.newProject.BPMSOADeveloper"
            name="%developer_project_title"
            project="true">
         <class class="com.tibco.xpd.ui.wizards.newproject.XpdProjectWizardFactory">
            <parameter name="title" value="%developer_project_wizard_title" />
            <parameter name="presetDestinationEnv" value="CE" />
         </class>                
         <description>
            %developer_project_description
         </description>
      </wizard>
   </extension>
   

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.newProject.BPMSOADeveloper">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
