
    .fbb0200c3-ad65-4516-b10d-090a351a04cf .pane_messages > .label {
        display:none !important;
    }
    .fbb0200c3-ad65-4516-b10d-090a351a04cf .pane_root > .label {
        
display:block !important;    }
    .fbb0200c3-ad65-4516-b10d-090a351a04cf .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fbb0200c3-ad65-4516-b10d-090a351a04cf > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
