<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.destinations.globalDestinationEnvironment">
      <globalDestination
            id="com.tibco.xpd.workforce.globalDestination"
            name="%com.tibco.xpd.workforce.globalDestination">
      </globalDestination>
      <defaultGlobalDestination
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            name="%com.tibco.xpd.workforce.globalDestination.default">
      </defaultGlobalDestination>
      <defaultGlobalDestinationComponent
            globalDestinationComponentId="com.tibco.xpd.workforce.globalDestination.modeller"
            name="%com.tibco.xpd.workforce.globalDestination.default"
            validationDestinationId="com.tibco.xpd.ipm.validation.na">
      </defaultGlobalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.iprocess.globalDestination.modeller"
            name="%com.tibco.xpd.workforce.globalDestination.modeller.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.iprocess.globalDestination.engine"
            name="%com.tibco.xpd.workforce.globalDestination.engine.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.iprocess.globalDestination.techplugins"
            name="%com.tibco.xpd.workforce.globalDestination.techplugins.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.iprocess.globalDestination.webservices"
            name="%com.tibco.xpd.workforce.globalDestination.webservices.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.iprocess.globalDestination.workspace"
            name="%com.tibco.xpd.workforce.globalDestination.workspace.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.n2.core.n2GlobalDestination.de"
            name="%com.tibco.xpd.workforce.globalDestination.directoryEngine.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.wm.validator.wp.globalDestinationComponent"
            name="%com.tibco.xpd.workforce.globalDestination.workPresentation.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.n2.ut.resources.globalDestinationComponent"
            name="%com.tibco.xpd.workforce.globalDestination.n2ut.name_notrans">
      </globalDestinationComponent>
      <globalDestinationComponent
            globalDestinationId="com.tibco.xpd.workforce.globalDestination"
            id="com.tibco.xpd.pageflow.globalDestinationComponent"
            name="%com.tibco.xpd.workforce.globalDestination.pageflow.name_notrans">
      </globalDestinationComponent>
   </extension>

</plugin>
