<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <!--<wizard
      id = "com.tibco.xpd.simulation.empiricaldata.ui.EmpiricalDataWizardID"
      name = "%_UI_EmpiricalDataModelWizard_label"
      class = "com.tibco.xpd.simulation.empiricaldata.ui.wizard.EmpiricalDataWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/EmpiricalDataModelFile.gif">
      <description>%_UI_EmpiricalDataModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "com.tibco.xpd.simulation.realdata.ui.RealDataDataWizardID"
      name = "%_UI_RealDataModelWizard_label"
      class = "com.tibco.xpd.simulation.realdata.ui.wizard.RealDataWizard"
      category = "com.tibco.xpd.wizard.category.ID"
      icon = "icons/full/obj16/RealDataModelFile.gif">
      <description>%_UI_RealDataModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>-->
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
    <wizard
          category="com.tibco.xpd.resources.ui.importWizard.bpm.category"
          class="com.tibco.xpd.simulation.statisticaldata.ui.wizard.ActivityStatisticalDataWizard"
          icon="icons/full/obj16/StatisticalData.gif"
          id="com.tibco.xpd.simulation.statisticaldata.ui.StatisticalDataWizardID"
          name="%_UI_StatisticalDataWizard_label">
      <description>%_UI_StatisticalDataWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <!--
  <extension point = "org.eclipse.ui.editors">
  	<editor
        id = "com.tibco.xpd.simulation.empiricaldata.ui.EmpiricalDataEditorID"
        name = "%_UI_EmpiricalDataEditor_label"
        icon = "icons/full/obj16/EmpiricalDataModelFile.gif"
        extensions = "empiricaldata"
        class = "com.tibco.xpd.simulation.empiricaldata.ui.EmpiricalDataEditor" 
        contributorClass="com.tibco.xpd.simulation.empiricaldata.ui.EmpiricalDataActionBarContributor" >
    </editor>
    <editor
        id = "com.tibco.xpd.simulation.empiricaldata.ui.EmpiricalDataEditorID"
        name = "%_UI_RealDataEditor_label"
        icon = "icons/full/obj16/RealDataModelFile.gif"
        extensions = "realdata"
        class = "com.tibco.xpd.simulation.realdata.ui.RealDataEditor" 
        contributorClass="com.tibco.xpd.simulation.realdata.ui.RealDataActionBarContributor" >
    </editor>
  </extension>    
  -->
</plugin>
