<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="xpdHelpContent" name="%xpdhelpContent" schema="schema/xpdHelpContent.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.help.ui"
            class="com.tibco.xpd.core.help.views.XpdHelpView"
            icon="icons/obj16/tibco16.png"
            id="com.tibco.xpd.core.help.views.XpdHelpView"
            name="%helpViewName">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <view
               id="com.tibco.xpd.core.help.views.XpdHelpView"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet" visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.tibco.xpd.core.help.views.XpdHelpView"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet" visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=additions">
         <menu
               id="com.tibco.xpd.core.help.mainHelp.menu"
               label="TIBCO Help (externalize)"
               mnemonic="t">
            <dynamic
                  class="com.tibco.xpd.core.help.internal.HelpMenuContributon"
                  id="com.tibco.xpd.core.help.mainHelp.menu.items">
            </dynamic>
         </menu>
      </menuContribution>
      -->
      <menuContribution
            class="com.tibco.xpd.core.help.internal.DefineHelpCommands"
            locationURI="menu:help?after=intro">
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">

	<!-- Sid XPD-8237: TIBCO Help - Content page promoted up to top level because we're ditching choices made on main page (In a View ans Oppopsed to In a Browser is no longer required) -->
      <page
            class="com.tibco.xpd.core.help.internal.preferences.XpdHelpContentPreferencePage"
            id="com.tibco.xpd.core.help.internal.preferences.XpdHelpContentPreferencePage"
            name="%helpPreferencePageName">            
      </page>
     <!-- Old config
     	 <page
            class="com.tibco.xpd.core.help.internal.preferences.XpdHelpPreferencePage"
            id="com.tibco.xpd.core.help.internal.preferences.XpdHelpPreferencePage"
            name="%helpPreferencePageName">
      </page>
      <page
            category="com.tibco.xpd.core.help.internal.preferences.XpdHelpPreferencePage"
            class="com.tibco.xpd.core.help.internal.preferences.XpdHelpContentPreferencePage"
            id="com.tibco.xpd.core.help.internal.preferences.XpdHelpContentPreferencePage"
            name="%helpContentPreferencePageName">            
      </page>
      -->
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.core.help.internal.preferences.XpdHelpPreferences">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.tibco.xpd.core.help.default.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tibco.xpd.core.help.command.category"
            name="%tibcoCommandsHelpCategory_name"
            description="%tibcoCommandsHelpCategory_desc">
      </category>
      <command
            id="com.tibco.xpd.core.help.default.command"
            name="%tibcoCommandsHelpOpenDefaultContent_name"
            categoryId="com.tibco.xpd.core.help.command.category"
            defaultHandler="com.tibco.xpd.core.help.internal.DefaultXpdHelpHandler">
      </command>
      <command
            id="com.tibco.xpd.core.help.helpDownload"
            name="%tibcoHelpDownloadCommand_label"
            categoryId="com.tibco.xpd.core.help.command.category"
            defaultHandler="com.tibco.xpd.core.help.internal.preferences.ShowPreferencePageHandlerEx">
         <commandParameter
               id="preferencePageId"
               name="preferencePageId"
               optional="true">
         </commandParameter>
         <commandParameter
               id="displayedIds"
               name="displayedIds"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   
</plugin>
