<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="com.tibco.xpd.sce.rasc.ui.export.RascExportWizard"
            id="com.tibco.xpd.sce.rasc.export"
            name="Export RASC">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions"
            type="export"
            wizardId="com.tibco.xpd.sce.rasc.export">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count></and>
            </or>
         </enablement>
      </commonWizard>
   </extension>

</plugin>
