<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="com.tibco.xpd.validation.pageflow.destination"
            name="%pageflow.validation.name"
            selectable="false"
            version="">
         <filter
               class="com.tibco.xpd.validation.xpdl2.provider.Xpdl2FileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.validation.pageflow.validationProvider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.pageflowValidationMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         id="com.tibco.xpd.validation.pageflowValidationMarker"
         name="%pageflow.problems.label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.xpd.validation.ValidationMarker">
      </super>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.validation.pageflow.validationProvider"
            markerType="com.tibco.xpd.validation.pageflowValidationMarker"
            name="Pageflow Validation Provider"
            scopeProvider="com.tibco.xpd.validation.pageflow.PageflowXpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowUserTaskInPageflowRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowEventTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowTaskTypeRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowDataTypesRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowUserTaskParticipantRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowSubProcessRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowResourcePatternRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowFlowRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowInterfaceRules">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.PageflowCallSubProcessRule">
         </rule>
         <rule
               class="com.tibco.xpd.validation.pageflow.rules.AdhocActivityConfigurationRule"
               validateOnSaveOnly="false">
         </rule>
      </provider>
      <issue
            id="pageflow.pageflowTaskInPageflowProcess"
            message="%pageflow.pageflowTaskInPageflowProcess2"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setUserTaskFormToNoForm">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectUserTaskForm">
         </resolution>
      </issue>
      <issue
            id="pageflow.startTypeNotSupported"
            message="%pageflow.startTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeNone">
         </resolution>
      </issue>
      <issue
            id="pageflow.inflowIntermediateTypeNotSupported"
            message="%pageflow.inflowIntermediateTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMsg">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowCompensation">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMultiple">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchMultiple">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeConditional">
         </resolution>
      </issue>
      <issue
            id="pageflow.taskBoundaryIntermediateTypeNotSupported"
            message="%pageflow.taskBoundaryIntermediateTypeNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchError">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchCompensation">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeTimer">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeConditional">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchMultiple">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchCancel">
         </resolution>
      </issue>
      <issue
            id="pageflow.receiveTaskNotSupported"
            message="%pageflow.receiveTaskNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeNone">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeUser">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeManual">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeService">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeSend">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeScript">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeSubProcess">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTaskTypeReference">
         </resolution>
      </issue>
      <issue
            id="pageflow.inFlowTimersNotMakeSense"
            message="%pageflow.inFlowTimersNotMakeSense"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMsg">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchSignal">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowCompensation">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeThrowMultiple">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeCatchMultiple">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.setToTriggerTypeConditional">
         </resolution>
      </issue>
      <issue
            id="pageflow.correlationDataNotSupported"
            message="%pageflow.correlationDataNotSupported"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.convertCorrelationDataToField">
         </resolution>
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.convertCorrelationDataToParam">
         </resolution>
      </issue>
      <issue
            id="pageflow.userTaskHasParticipant"
            message="%pageflow.userTaskHasParticipant"
            severity="ERROR">
         <resolution
               canApplyToMultiple="true"
               id="resolution.bpmn.removeTaskParticipants">
         </resolution>
      </issue>
      <issue
            id="pageflow.chainedExecutionMeaningless"
            message="%pageflow.chainedExecutionMeaningless"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.changeToUnchainedExecution">
         </resolution>
      </issue>
      <issue
            id="pageflow.startWithEventOrTaskOnly"
            message="%pageflow.startWithEventOrTaskOnly"
            severity="ERROR">
      </issue>
      <issue
            id="pageflow.cannotInvokeInterfaceWithMessageEvents"
            message="%pageflow.cannotInvokeInterfaceWithMessageEvents"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectPageflowSubProcess">
         </resolution>
      </issue>
      <issue
            id="pageflow.cannotImplementMessageInterface"
            message="%pageflow.cannotImplementMessageInterface"
            severity="ERROR">
      </issue>
      <issue
            id="pageflow.syncPfCanCallSpWithPFE"
            message="%pageflow.syncPfCanCallSpWithPFE"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectPageflowSubProcess">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.configureCallSubProcessToAsyncDetachedToCallSpInPEResolution">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="bx.resolution.setPageflowRuntimeDeploymentTargetInSubProc">
         </resolution>
      </issue>
      <issue
            id="pageflow.pfCanCallBpOnlyInAsyncDetached"
            message="%pageflow.pfCanCallBpOnlyInAsyncDetached"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectPageflowSubProcess">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="resolution.configureTaskForAsyncDetachedInvocationResolution">
         </resolution>
      </issue>
      <issue
            id="pageflow.asyncDetachedPfCanCallSpWithPE"
            message="%pageflow.asyncDetachedPfCanCallSpWithPE"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectPageflowSubProcess">
         </resolution>
         <resolution
               canApplyToMultiple="false"
               id="bx.resolution.setProcessRuntimeDeploymentTargetInSubProc">
         </resolution>
      </issue>
      <issue
            id="pageflow.pfCannotCallInAsyncAttached"
            message="%pageflow.pfCannotCallInAsyncAttached"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.setCallSubProcessToSyncToCallProcessLocallyResolution">
         </resolution>
      </issue>
      <issue
            id="pageflow.pfCannotCallPageflowAsynch"
            message="%pageflow.pfCannotCallPageflowAsynch"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.setCallSubProcessToSyncToCallProcessLocallyResolution">
         </resolution>
      </issue>
      <issue
            id="pageflow.adhocActivitiesOnlySupportedForBusinessProcess"
            message="%pageflow.adhocActivitiesOnlySupportedForBusinessProcess"
            severity="ERROR">
      </issue>
   </extension>

</plugin>
