<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            allowDuplicateResources="false"
            icon="icons/RESTSpecialFolder.png"
            kind="rest"
            name="%com.tibco.xpd.rest.schema.ui.asset.name"
            navigatorContentId="com.tibco.xpd.projectExplorer.restContent">
      </folder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolderFileBinding">
      <binding
            kind="rest">
         <filePatterns
               match=".*\.[rR][sS][dD]">
         </filePatterns>
         <filePatterns
               match=".*\.[jJ][sS][dD]">
         </filePatterns>
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.xpd.rest.ui.internal.navigator.RestServicesContentProvider"
            icon="icons/RESTSpecialFolder.png"
            id="com.tibco.xpd.projectExplorer.restContent"
            labelProvider="com.tibco.xpd.rest.ui.internal.navigator.RestServicesLabelProvider"
            name="%com.tibco.xpd.rest.schema.navigator.content.name"
            priority="high"
            providesSaveables="true">
       <triggerPoints>
       		<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
						<test
							property="org.eclipse.core.resources.projectNature"
	                        value="com.tibco.xpd.resources.xpdNature"/>
	                    <test
	                        property="org.eclipse.core.resources.open"
	                        value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
						value="rest"/>
				</and>
				<and>
					<instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.isOfKind"
						value="rest"/>
				</and>
			<and>
	               <instanceof
	                     value="org.eclipse.core.resources.IFile">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.extension"
	                     value="jsd">
	               </test>
                <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="rest">
                </test>
            	</and>
			</or>
       </triggerPoints>
       <possibleChildren>
            <or>
            	<and>
                	 <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                 	<test
                       property="com.tibco.xpd.resources.specialfolder.isOfKind"
                       value="rest"/>
             	</and>             	
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>             
            </or>
       </possibleChildren>
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
      </navigatorContent>
      <commonWizard
            menuGroupId="additions.xpdproject"
            type="new"
            wizardId="com.tibco.xpd.rest.wizard.project.new">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            category="com.tibco.xpd.wsdl.ui.servicesCategory"
            configuration="com.tibco.xpd.rest.ui.internal.asset.RestAssetConfiguration"
            configurator="com.tibco.xpd.rest.ui.internal.asset.RestAssetConfigurator"
            icon="icons/RESTSpecialFolder.png"
            id="com.tibco.xpd.rest.asset"
            name="%com.tibco.xpd.rest.schema.ui.asset.name"
            visible="true">
            <description>
               %restAsset_description
            </description>
            <wizardpage
                  page="com.tibco.xpd.rest.ui.internal.asset.RestAssetWizardPage">
            </wizardpage>
            <!-- Consider custom migration factory to support multiple file extensions. -->
		    <assetMigration 
		          class="com.tibco.xpd.resources.projectconfig.projectassets.util.AssetWorkingCopyMigrationFactory: -kind rest -fileExt rsd">
		    </assetMigration>
		    <dynamicVersion
		          versionProvider="com.tibco.xpd.rest.ui.internal.asset.RestAssetConfigurator">
		    </dynamicVersion>    
      </asset>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="com.tibco.xpd.rest.wizard.project.new">
      </primaryWizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/RESTSpecialFolder.png"
            id="com.tibco.xpd.rest.wizard.project.new"
            name="%developer_project_title"
            project="true">
         <class class="com.tibco.xpd.ui.wizards.newproject.XpdProjectWizardFactory">
            <parameter name="title" value="%developer_project_wizard_title" />
         </class>                
         <description>
            %developer_project_description
         </description>
      </wizard>
      <category
           id="com.tibco.xpd.rest.ui.new.category"
           name="%rest_ui_new_category"
           parentCategory="com.tibco.xpd.newWizard.modeling.category">
       </category>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAssetBinding">
      <projectAssetBinding
            assetId="com.tibco.xpd.rest.asset"
            newProjectWizardId="com.tibco.xpd.rest.wizard.project.new">
      </projectAssetBinding>
   </extension>
   <extension
         id="com.tibco.xpd.rest.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.rest.ui.internal.asset.RestServicesProjectNature">
         </run>
      </runtime>
   </extension>
</plugin>
