<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configuration="com.tibco.xpd.processscriptlibrary.resource.project.ProcessScriptLibraryAssetConfiguration"
            configurator="com.tibco.xpd.processscriptlibrary.resource.project.ProcessScriptLibraryAssetConfigurator"
            icon="icons/obj16/processScriptsFolder.png"
            id="com.tibco.xpd.asset.processScriptLibrary"
            name="%asset.name"
            visible="true">
         <customParam
               name="notAppliedByDefault"
               value="true">
         </customParam>
         <description>
            %asset.description
         </description>
         <wizardpage
               page="com.tibco.xpd.processscriptlibrary.resource.wizards.ProcessScriptLibraryAssetWizardPage">
         </wizardpage>
         <assetMigration
               class="com.tibco.xpd.processscriptlibrary.resource.contributor.ProcessScriptLibraryAssetMigration">
         </assetMigration>
         <dynamicVersion
               versionProvider="com.tibco.xpd.processscriptlibrary.resource.contributor.ProcessScriptLibraryAssetMigration">
         </dynamicVersion>
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            allowDuplicateResources="false"
            icon="icons/obj16/processScriptsFolder.png"
            issueId="processPackage.duplicateResourceIssue"
            kind="psl"
            multiple="false"
            name="Process Script Library"
            navigatorContentId="com.tibco.xpd.projectExplorer.pslContent"
            projectAssetId="com.tibco.xpd.asset.processScriptLibrary"
            unsettable="true">
      </folder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.processscriptlibrary.resource.workingcopy.ProcessScriptLibraryWorkingCopyFactory"
            filePattern=".*\.[pP][sS][lL]">
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="psl"
            indexID="com.tibco.xpd.processscriptlibrary.resource.indexer.ProcessScriptLibraryIndexProvider"
            indexerClass="com.tibco.xpd.processscriptlibrary.resource.indexer.ProcessScriptLibraryIndexProvider">
         <additionalAttributes>
            <attribute
                  maxLength="100"
                  name="project_name">
            </attribute>
            <attribute
                  maxLength="100"
                  name="library_name">
            </attribute>
            <attribute
                  maxLength="100"
                  name="function_name">
            </attribute>
            <attribute
                  maxLength="1024"
                  name="function_description">
            </attribute>
            <attribute
                  maxLength="100"
                  name="param_name">
            </attribute>
            <attribute
                  maxLength="1024"
                  name="param_description">
            </attribute>
            <attribute
                  maxLength="10"
                  name="param_index">
            </attribute>
            <attribute
                  maxLength="5"
                  name="param_is_array">
            </attribute>
            <attribute
                  maxLength="5"
                  name="param_length">
            </attribute>
            <attribute
                  maxLength="5"
                  name="param_decimals">
            </attribute>
            <attribute
                  maxLength="1024"
                  name="param_type_id">
            </attribute>
            <attribute
                  maxLength="30"
                  name="param_type_category">
            </attribute>
         </additionalAttributes>
      </indexer>
   </extension>      
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="com.tibco.xpd.newProject.ProcessScriptsDeveloper">
      </primaryWizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            icon="icons/obj16/processScriptsFolder.png"
            id="com.tibco.xpd.newProject.ProcessScriptsDeveloper"
            name="%developer_project_title"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            project="true">
            
 			<class class="com.tibco.xpd.ui.wizards.newproject.XpdProjectWizardFactory">
	            <parameter name="hideAssetSelection" value="true"/>
	            <parameter name="title" value="%developer_project_wizard_title" />
	            <parameter name="presetDestinationEnv" value="CE" />
	            <parameter name="hideProjectVersion" value="true" />
            	<parameter name="bannerIcon" value="icons/obj16/processScriptsFileWizard.png" />
           </class>
    <description>
       %developer_project_description
    </description>
      </wizard>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAssetBinding">
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.processScriptLibrary"
            mandatory="true"
            newProjectWizardId="com.tibco.xpd.newProject.ProcessScriptsDeveloper">
      </projectAssetBinding>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.tibco.xpd.xpdl2.util.Xpdl2ResourceFactoryImpl"
            type="psl">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.processscriptlibrary.resource.propertytesters.PslFileContentPropertyTester"
            id="com.tibco.xpd.processscriptlibrary.resource.pslFileContentPropertyTester"
            namespace="com.tibco.xpd.processscriptlibrary.resource"
            properties="isPslFileContent,isPslEditorInput"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         <navigatorContent
               activeByDefault="true"
               contentProvider="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLContentProvider"
               icon="icons/obj16/processScriptsFolder.png"
               id="com.tibco.xpd.projectExplorer.pslContent"
               labelProvider="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLLabelProvider"
               name="Project Script Library Content"
               priority="high"
               providesSaveables="true">
	         <triggerPoints>
	            <or>
	               <and>
	                        <instanceof value="org.eclipse.core.resources.IProject"/>
	                            <test
	                                property="org.eclipse.core.resources.projectNature"
	                                value="com.tibco.xpd.resources.xpdNature"/>
	                            <test
	                                property="org.eclipse.core.resources.open"
	                                value="true"/>
	                    </and>
	                    <and>
	                        <instanceof value="org.eclipse.core.resources.IFolder"/>
	                        <test
	                            property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
	                            value="psl"/>
	                    </and>
	                    <and>
	                        <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
	                        <test
	                            property="com.tibco.xpd.resources.specialfolder.isOfKind"
	                            value="psl"/>
	                    </and>
	                    <and>
	                       <instanceof
	                             value="org.eclipse.core.resources.IFile">
	                       </instanceof>
	                       <test
	                             property="org.eclipse.core.resources.extension"
	                             value="psl">
	                       </test>
	                       <test
	                              property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
	                              value="psl">
	                       </test>
	                    </and>
	            </or>
	         </triggerPoints>
         <possibleChildren>
            <or>
               <and>
                   <!-- Sid ONLY look at NavigatorGroup's in XPDL content - 
                   		otherwise we'll be used as content provider for NavigatorGroups in EVERY file 
                   		and our content provider's get parent/getchildren won't always necessarily return
                   		the correct content -->
	               <instanceof
	                     value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.INavigatorGroup">
	               </instanceof>
                  <test
                        property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                  </test>
   	           </and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="psl">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                        value="xpdl2">
                  </test>
                  <test
                        property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                        value="xpdExtension">
                  </test>
                  <test
                        property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                  </test>
               </and>
            </or>
         </possibleChildren>
         <override
	             policy="InvokeAlwaysRegardlessOfSuppressedExt"
	             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
	       </override>
	       
	       <actionProvider
	       	   class="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLEditActionsProvider"
	           id="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLEditActionsProvider">
	        <enablement>
	        	<or>
                  <and>
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                     </and>
                     <test
                           property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.INavigatorGroup">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                     </test>
                  </and>
               </or>
		    </enablement>
	     </actionProvider>
        <actionProvider
              class="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLUndoRedoActionProvider"
              id="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLUndoRedoActions"
              overrides="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
           <enablement>
              <or>
                 <and>
                    <instanceof
                          value="org.eclipse.emf.ecore.EObject">
                    </instanceof>
                    <test
                          property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                    </test>
                 </and>
                 <and>
                    <instanceof
                          value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.INavigatorGroup">
                    </instanceof>
                    <test
                          property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                    </test>
                 </and>
              </or>
           </enablement>
        </actionProvider>
        <actionProvider
              class="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLAddChildActionProvider"
              id="com.tibco.xpd.projectExplorer.action.psl.addChildActionProvider"
              priority="high">
           <enablement>
              <or>
                 <instanceof
                       value="com.tibco.xpd.processscriptlibrary.resource.ui.ScriptFunctionGroup">
                 </instanceof>
                 <and>
                    <instanceof
                          value="com.tibco.xpd.xpdl2.Activity">
                    </instanceof>
                    <test
                          property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
                    </test></and>
              </or>
           </enablement>
        </actionProvider>

           <commonSorter
             class="com.tibco.xpd.ui.projectexplorer.sorter.ResourceSorterWithIgnoredDirtyMarker">
	          <parentExpression>
	             <or>
	                <and>
	                   <instanceof
	                         value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
	                   </instanceof>
	                   <test
	                         property="com.tibco.xpd.resources.specialfolder.isOfKind"
	                         value="psl">
	                   </test>
	                </and>             
	                <instanceof
	                      value="org.eclipse.core.resources.IFolder">
	                </instanceof>
	                <instanceof
	                      value="org.eclipse.core.resources.IFile">
	                </instanceof>
	             </or>
	          </parentExpression>
	       </commonSorter>       
	     
	      </navigatorContent>
       <!--Add new Project wizard menu to New menu -->      
      <commonWizard
            menuGroupId="additions.xpdproject"
            type="new"
            wizardId="com.tibco.xpd.newProject.ProcessScriptsDeveloper">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or></enablement>
      </commonWizard>
      
         
      <!-- TODO : Check the enablement Conditions, currently kept Similar to Global Signal Definition Project -->  
      <commonWizard
            menuGroupId="group.psl"
            type="new"
            wizardId="com.tibco.xpd.psl.PSLWizardID">
         <enablement>
            <and>
               <not>
                  <test
                        forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                        value="com.tibco.xpd.resources.lockedForProductionNature">
                  </test>
               </not>
               <or>
                  <and>
                     <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="psl">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="psl">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="psl">
                     </test>
                  </and>
               </or>
            </and></enablement>
      </commonWizard>
   </extension>
   <!--Add new wizard  to the perspective's "New" submenu of the "File" menu-->    
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.newProject.ProcessScriptsDeveloper">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <!-- New PSL File Creation Wizard -->
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.processScriptLibraryDefinition.categoryPSL"
            class="com.tibco.xpd.processscriptlibrary.resource.wizards.ProcessScriptLibraryCreationWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            icon="icons/obj16/processScriptsFileNew.png"
            id="com.tibco.xpd.psl.PSLWizardID"
            name="%newFileWizardName"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment">
         <description>
            %newFileWizardDesc
         </description>
      </wizard>
      <category
            id="com.tibco.xpd.processScriptLibraryDefinition.categoryPSL"
            name="%psl.category.name"
            parentCategory="com.tibco.xpd.newWizard.modeling.category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.xpd.processscriptlibrary.resource.propertyContributor"
            labelProvider="com.tibco.xpd.processscriptlibrary.resource.ui.navigator.PSLPropertySheetLabelProvider"
            typeMapper="com.tibco.xpd.processscriptlibrary.resource.editor.PropertyTypeMapper">
         <propertyCategory
               category="general">
         </propertyCategory>
         <propertyCategory
               category="core">
         </propertyCategory>
         <propertyCategory
               category="appearance">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   
   <!-- General tab when PROJECT EXPLORER is the selection provider -->
   <extension
        name="Tabs contributed for when PROJECT EXPLORER is the selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="top"
               category="general"
               id="com.tibco.xpd.processscriptlibrary.propertyTabs.general"
               image="icons/tabGeneral.png"
               indented="false"
               label="%property_tab_general">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processscriptlibrary.propertyTabs.general"
               category="general"
               id="com.tibco.xpd.processscriptlibrary.propertyTabs.description"
               image="icons/tabDescription.png"
               indented="false"
               label="%property_tab_description">
         </propertyTab>
        </propertyTabs>
  </extension>
   
   <!-- General tab when PSL Editor is the selection provider -->
   <extension
        name="Tabs contributed for when PSL Editor is the selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="com.tibco.xpd.processscriptlibrary.resource.propertyContributor">
         <propertyTab
               afterTab="top"
               category="general"
               id="com.tibco.xpd.processscriptlibrary.propertyTabs.general"
               image="icons/tabGeneral.png"
               indented="false"
               label="%property_tab_general">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processscriptlibrary.propertyTabs.general"
               category="general"
               id="com.tibco.xpd.processscriptlibrary.propertyTabs.description"
               image="icons/tabDescription.png"
               indented="false"
               label="%property_tab_description">
         </propertyTab>
        </propertyTabs>
  </extension>
     
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
         
       <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.processscriptlibrary.resource.properties.general.PslFunctionGeneralPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processscriptlibrary.resource.properties.general.PslFunctionGeneralPropertySection"
               id="ProcessScriptLibraryProperty"
               tab="com.tibco.xpd.processscriptlibrary.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
      </propertySection>
      </propertySections>   
   </extension>
   
   <!-- Property sections when PSL Form editor is selection provider-->
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
         
       <propertySections
            contributorId="com.tibco.xpd.processscriptlibrary.resource.propertyContributor">
         <propertySection
               class="com.tibco.xpd.processscriptlibrary.resource.properties.general.PslFunctionGeneralPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processscriptlibrary.resource.properties.general.PslFunctionGeneralPropertySection"
               id="ProcessScriptLibraryProperty"
               tab="com.tibco.xpd.processscriptlibrary.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
      </propertySection>
      <propertySection
               class="com.tibco.xpd.analyst.resources.xpdl2.properties.description.DescriptionSection"
               enablesFor="1"
               filter="com.tibco.xpd.analyst.resources.xpdl2.properties.description.DescriptionSection"
               id="DescriptionSection"
               tab="com.tibco.xpd.processscriptlibrary.propertyTabs.description">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
       </propertySection>
      </propertySections>   
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.processscriptlibrary.resource.editor.ProcessScriptLibraryEditor"
            contributorClass="com.tibco.xpd.processscriptlibrary.resource.editor.ProcessScriptLibraryEditorContributor"
            default="false"
            icon="icons/obj16/processScriptFunction.png"
            id="com.tibco.xpd.processscriptlibrary.editor"
            name="Script Library Editor">
      </editor>
      <editor
            class="com.tibco.xpd.processscriptlibrary.resource.editor.ProcessScriptLibraryPackageEditor"
            default="false"
            extensions="psl"
            icon="icons/obj16/processScriptsFile.png"
            id="com.tibco.xpd.processscriptlibrary.resource.package.editor"
            name="Script Library Package Editor">
      </editor>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.objectEditor">
      <editorInputFactory
            editorID="com.tibco.xpd.processscriptlibrary.editor"
            factory="com.tibco.xpd.processscriptlibrary.resource.editor.input.ProcessScriptLibraryEditorInputFactory"
            objectClass="com.tibco.xpd.xpdl2.Activity"
            objectFilter="com.tibco.xpd.processscriptlibrary.resource.editor.ProcessScriptLibraryEditor$ProcessScriptEditorFilter">
      </editorInputFactory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.tibco.xpd.processscriptlibrary.resource.editor.ProcessScriptLibraryEditorProjectExplorerLinkHelper"
            id="com.tibco.xpd.processscriptlibrary.editor.linkHelper">
         <editorInputEnablement>
            <test
                  property="com.tibco.xpd.processscriptlibrary.resource.isPslEditorInput">
            </test></editorInputEnablement>
         <selectionEnablement>
            <test
                  property="com.tibco.xpd.processscriptlibrary.resource.isPslFileContent">
            </test>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.tibco.xpd.processscriptlibrary.resource.editor.input.ProcessScriptLibraryEditorPersist"
            id="com.tibco.xpd.processscriptlibraryeditor.psleditorelementfactory">
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <destination
            id="bpmn1.psl"
            name="BPM"
            version=""
            selectable="false">
         <filter
               class="com.tibco.xpd.processscriptlibrary.resource.rules.PslFileFilter">
         </filter>
         <validationProvider
               id="com.tibco.xpd.validation.psl.provider">
         </validationProvider>
      </destination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.validation.psl.provider"
            markerType="com.tibco.xpd.validation.bpmnValidationMarker"
            name="PSL Validation Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.processscriptlibrary.resource.rules.PSLFunctionValidationRule">
         </rule>
         <rule
               class="com.tibco.xpd.processscriptlibrary.resource.rules.DuplicateProcessIdsInPslRule">
         </rule>
         <rule
               class="com.tibco.xpd.processscriptlibrary.resource.rules.BasicTypeLengthScaleRule">
         </rule>
         <rule
               class="com.tibco.xpd.processscriptlibrary.resource.rules.UnresolvedDataExternalRefRule">
         </rule>
         <rule
               class="com.tibco.xpd.processscriptlibrary.resource.rules.PSLFunctionParamValidationRule">
         </rule>
      </provider>
      <issue
            id="bpmn.functionName.length"
            message="%bpmn.functionName.length"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionName.validJSIdentifier"
            message="%bpmn.functionName.validJSIdentifier"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionName.duplicate"
            message="%bpmn.functionName.duplicate"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionDescription.length"
            message="%bpmn.functionDescription.length"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.psl.duplicateIDs"
            message="%bpmn.psl.duplicateIDs"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.psl.duplicateIDsInTheFile"
            message="%bpmn.psl.duplicateIDsInTheFile"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionParam.invalidName"
            message="%bpmn.functionParam.invalidName"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionParam.name.length"
            message="%bpmn.functionParam.name.length"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionParam.description.length"
            message="%bpmn.functionParam.description.length"
            severity="ERROR">
      </issue>
      <issue
            id="bpmn.functionParam.duplicate"
            message="%bpmn.functionParam.duplicate"
            severity="ERROR">
      </issue>
   </extension>
      <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            class="com.tibco.xpd.validation.xpdl2.resolutions.RecreateObjectIDs"
            id="bpmn.psl.duplicateIDs"
            label="%resolution.label.recreateobjectids.message">
      </resolution>
   </extension>
      <extension
            point="com.tibco.xpd.resources.workingCopyDependencyProvider">
         <dependency
               provider="com.tibco.xpd.processscriptlibrary.resource.indexer.PslReferencesToPslDependencyProvider">
         </dependency>
      </extension>
</plugin>
