<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="com.tibco.xpd.destinations.ui.processDestinationEnvironments">
      <processDestinationEnvironment
            id="emulation1.0"
            name="%emulation.destination.name"
            userSelectable="true"
            validationDestinationId="emulation1.0"
            version="1.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.bx.emulation.bpm.ui.editor.TestpointsEditor"
            contributorClass="com.tibco.bx.emulation.bpm.ui.editor.TestpointsEditorActionBarContributor"
            default="false"
            icon="icons/processnode.gif"
            id="com.tibco.bx.emulation.bpm.ui.TestpointsEditor"
            name="%TestpointEditor.name"/>
   </extension>
   <extension
         point="com.tibco.xpd.processwidget.diagramAnnotation">
        <annotationSource factory="com.tibco.bx.emulation.bpm.ui.annotations.EMAnnotationFactoryProvider4Editing"/>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
	   <propertyTester
		   namespace="com.tibco.bx.emulation.bpm.ui.actions.popup"
		   properties="addTestpoint,removeTestpoint,addTestpoint,removeAssertion,addAssertion,addInput,removeInput,addIntermediateInput,removeIntermediateInput"
		   type="java.lang.Object"
		   class="com.tibco.bx.emulation.bpm.ui.actions.VisiblePropertyTester"
		   id="com.tibco.bx.emulation.bpm.ui.popup.propertyTesters.visible">  
	   </propertyTester>      
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
            id="com.tibco.bx.emulation.bpm.ui.taskContribution0"
            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
           <menu
            	id="com.tibco.xpd.processwidget.testpointMarkersMenu"
            	label="%Testpoint.label"
            	path="testpoint">
            	 <groupMarker
	                  	  name="Add">
		         </groupMarker>
         	     <groupMarker
	                  	  name="Remove">
		         </groupMarker>
      	 	</menu>
		</objectContribution>
		<objectContribution
            id="com.tibco.bx.emulation.bpm.ui.taskContribution1"
            objectClass="com.tibco.xpd.processwidget.parts.SequenceFlowEditPart">
           <menu
            	id="com.tibco.xpd.processwidget.assertionMarkersMenu"
            	label="%Assertion.label"
            	path="assertion">
            	 <groupMarker
	                  	  name="Add">
		         </groupMarker>
         	     <groupMarker
	                  	  name="Remove">
		         </groupMarker>
      	 	</menu>
		</objectContribution>
		<objectContribution
            id="com.tibco.bx.emulation.bpm.ui.taskContribution2"
            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
           <menu
            	id="com.tibco.xpd.processwidget.inputMarkersMenu"
            	label="%Input.label"
            	path="input">
            	 <groupMarker
	                  	  name="Add">
		         </groupMarker>
         	     <groupMarker
	                  	  name="Remove">
		         </groupMarker>
      	 	</menu>
		</objectContribution>
  <objectContribution
        id="com.tibco.bx.emulation.bpm.ui.taskContribution3"
        objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
     <menu
           id="com.tibco.xpd.processwidget.intermediateInputMarkersMenu"
           label="%intermediateInput.label"
           path="intermediateInput">
        <groupMarker
              name="Add">
        </groupMarker>
        <groupMarker
              name="Remove">
        </groupMarker>
     </menu>
  </objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution4"
	            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">     
	          <action
                 class="com.tibco.bx.emulation.bpm.ui.actions.AddTestpointAction"
                 enablesFor="1"
                 icon="icons/add_en.gif"
                 id="com.tibco.bx.emulation.bpm.testpoint.addTestpoint"
                 label="%AddTestpointAction.label"
                 menubarPath="com.tibco.xpd.processwidget.testpointMarkersMenu/Add">
           </action>
           <enablement>
              <test
                    property="com.tibco.bx.emulation.bpm.ui.actions.popup.addTestpoint">
              </test>
           </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution5"
	            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.DeleteTestpointAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.deleteTestpoint"
	               label="%RemoveTestpointsAction.label"
	               icon="icons/remove_en.gif"
	               menubarPath="com.tibco.xpd.processwidget.testpointMarkersMenu/Remove"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.removeTestpoint"/>
       		  </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution6"
	            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.AddInputAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.addInput"
	               label="%AddInputAction.label"
	               icon="icons/add_en.gif"
	               menubarPath="com.tibco.xpd.processwidget.inputMarkersMenu/Add"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.addInput"/>
       		  </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution7"
	            objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.DeleteInputAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.deleteInput"
	               label="%RemoveInputAction.label"
	               icon="icons/remove_en.gif"
	               menubarPath="com.tibco.xpd.processwidget.inputMarkersMenu/Remove"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.removeInput"/>
       		  </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution8"
	            objectClass="com.tibco.xpd.processwidget.parts.SequenceFlowEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.AddUnaccessibleAssertionAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.addUnaccessibleAssertion"
	               label="%AddUnaccessibleAssertionAction.label"
	               icon="icons/assertion_dis.png"
	               menubarPath="com.tibco.xpd.processwidget.assertionMarkersMenu/Add"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.addAssertion"/>
       		  </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution9"
	            objectClass="com.tibco.xpd.processwidget.parts.SequenceFlowEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.AddAccessibleAssertionAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.addAccessibleAssertion"
	               label="%AddAccessibleAssertionAction.label"
	               icon="icons/assertion_en.png"
	               menubarPath="com.tibco.xpd.processwidget.assertionMarkersMenu/Add"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.addAssertion"/>
       		  </enablement>
		</objectContribution>
		<objectContribution
	            id="com.tibco.bx.emulation.bpm.ui.taskContribution10"
	            objectClass="com.tibco.xpd.processwidget.parts.SequenceFlowEditPart">     
	          <action
	               class="com.tibco.bx.emulation.bpm.ui.actions.DeleteAssertionAction"
	               id="com.tibco.bx.emulation.bpm.testpoint.deleteAssertion"
	               label="%RemoveAssertionsAction.label"
	               icon="icons/remove_en.gif"
	               menubarPath="com.tibco.xpd.processwidget.assertionMarkersMenu/Remove"
				   enablesFor ="1"/>
			  <enablement>
          		<test property="com.tibco.bx.emulation.bpm.ui.actions.popup.removeAssertion"/>
       		  </enablement>
		</objectContribution>
  <objectContribution
        id="com.tibco.bx.emulation.bpm.ui.taskContribution13"
        objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
     <action
           class="com.tibco.bx.emulation.bpm.ui.actions.AddIntermediateInputAction"
           enablesFor="1"
           icon="icons/add_en.gif"
           id="com.tibco.bx.emulation.bpm.testpoint.addIntermediateInput"
           label="%AddInputAction.label"
           menubarPath="com.tibco.xpd.processwidget.intermediateInputMarkersMenu/Add">
     </action>
     <enablement>
        <test
              property="com.tibco.bx.emulation.bpm.ui.actions.popup.addIntermediateInput">
        </test>
     </enablement>
  </objectContribution>
  <objectContribution
        id="com.tibco.bx.emulation.bpm.ui.taskContribution14"
        objectClass="com.tibco.xpd.processwidget.parts.BaseFlowNodeEditPart">
     <action
           class="com.tibco.bx.emulation.bpm.ui.actions.DeleteIntermediateInputAction"
           enablesFor="1"
           icon="icons/remove_en.gif"
           id="com.tibco.bx.emulation.bpm.testpoint.IntermediateInput"
           label="%RemoveIntermediateInputAction.label"
           menubarPath="com.tibco.xpd.processwidget.intermediateInputMarkersMenu/Remove">
     </action>
     <enablement>
        <test
           property="com.tibco.bx.emulation.bpm.ui.actions.popup.removeIntermediateInput">
        </test>
     </enablement>
  </objectContribution>
	</extension>
	     <extension
        name="Tab contributed for when PROCESS EDITOR  is the selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
        <propertyTab
              afterTab="advanced"
              category="general"
              id="com.tibco.bx.emulation.bpm.ui.propertyTab"
              indented="false"
              label="%emulation.bpm.ui.propertyTab.label">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        name="PropertySections Contributed to tabs when PROCESS EDITOR is selection provider."
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
     	<propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationActivityPropertySection"
               id="emulation.bpm.activity"
               tab="com.tibco.bx.emulation.bpm.ui.propertyTab">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationAssertionPropertySection"
               id="emulation.vassertion"
               tab="com.tibco.bx.emulation.bpm.ui.propertyTab">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationInputPropertySection"
               id="emulation.bpm.input"
               tab="com.tibco.bx.emulation.bpm.ui.propertyTab">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationOutputPropertySection"
               id="emulation.bpm.output"
               tab="com.tibco.bx.emulation.bpm.ui.propertyTab">
         </propertySection>
         <propertySection
               class="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               enablesFor="1"
               filter="com.tibco.bx.emulation.ui.properties.EmulationProcessNodePropertySection"
               id="emulation.bpm.processnode"
               tab="com.tibco.bx.emulation.bpm.ui.propertyTab">
         </propertySection>
      </propertySections>
  </extension>
  <extension
        point="com.tibco.bx.emulation.ui.emulationDiagramEditors">
     <emulationDiagramEditor
           editorHandlerClass="com.tibco.bx.emulation.bpm.ui.editor.BPMDiagramEditorHandler"
           emulationDiagramEditorId="com.tibco.bx.emulation.bpm.ui.TestpointsEditor"
           originalEditorId="com.tibco.xpd.processeditor.xpdl2.editor"
           id="bpm">
     </emulationDiagramEditor>
     <emulationDiagramEditor
           editorHandlerClass="com.tibco.bx.emulation.bpm.ui.editor.BPMDiagramEditorHandler"
           emulationDiagramEditorId="com.tibco.bx.emulation.bpm.ui.TestpointsEditor"
           id="Pageflow"
           originalEditorId="com.tibco.xpd.processeditor.xpdl2.editor">
     </emulationDiagramEditor>
  </extension>
</plugin>
