<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ribbon" name="Ribbon" schema="schema/ribbon.exsd"/>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="launcher/icons/tibco16-32.png">
         <run
               class="com.tibco.xpd.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tibco.xpd.rcp.Perspective"
            id="com.tibco.xpd.rcp.perspective"
            name="%perspective_name">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.tibco.xpd.rcp.application"
            name="%product_title">
         <property
               name="windowImages"
               value="launcher/branding/tibco16-8.gif,launcher/branding/tibco32-8.gif,launcher/branding/tibco48-8.gif,launcher/branding/tibco64-8.gif,launcher/branding/tibco128-8.gif">
         </property>
         <property
               name="appName"
               value="TIBCO Business Studio">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupMessageRect"
               value="7,390,668,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,410,682,15">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/about_image.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.tibco.xpd.rcp.splashHandlers.ExtensibleSplashHandler"
            id="com.tibco.xpd.rcp.splashHandlers.extensible">
      </splashHandler>
      <splashHandler
            class="com.tibco.xpd.rcp.splashHandlers.InteractiveSplashHandler"
            id="com.tibco.xpd.rcp.splashHandlers.interactive">
      </splashHandler>
      <splashHandler
            class="com.tibco.xpd.rcp.splashHandlers.BrowserSplashHandler"
            id="com.tibco.xpd.rcp.splashHandlers.browser">
      </splashHandler>
   </extension>
   <extension
         point="com.tibco.xpd.rcp.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
   <extension
         point="com.tibco.xpd.rcp.ribbon">
      <tab
            id="com.tibco.xpd.rcp.tab.home"
            label="%home_tab_label">
      </tab>
      <tab
            afterTab="com.tibco.xpd.rcp.tab.home"
            id="com.tibco.xpd.rcp.tab.help"
            label="%help_tab_label">
      </tab>
      <group
            afterGroup="com.tibco.xpd.rcp.tabgroup.edit"
            class="com.tibco.xpd.rcp.internal.ribbon.groups.ModelRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.model"
            label="%modelArchive_group_label"
            tab="com.tibco.xpd.rcp.tab.home">
      </group>
      <group
            afterGroup="com.tibco.xpd.rcp.tabgroup.model"
            class="com.tibco.xpd.rcp.internal.ribbon.groups.SimulationRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.simulation"
            label="%simulationArchive_group_label"
            tab="com.tibco.xpd.rcp.tab.home">
      </group>
      <group
            class="com.tibco.xpd.rcp.internal.ribbon.groups.FileRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.file"
            label="%FileDiagram_group_label"
            tab="com.tibco.xpd.rcp.tab.home">
      </group>
      <group
            afterGroup="com.tibco.xpd.rcp.tabgroup.simulation"
            class="com.tibco.xpd.rcp.internal.ribbon.groups.DiagramRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.diagram"
            label="%viewerZoom_group_label"
            tab="com.tibco.xpd.rcp.tab.home">
      </group>
      <group
            afterGroup="com.tibco.xpd.rcp.tabgroup.file"
            class="com.tibco.xpd.rcp.internal.ribbon.groups.EditRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.edit"
            label="%edit_group_label"
            tab="com.tibco.xpd.rcp.tab.home">
      </group>
      <group
            class="com.tibco.xpd.rcp.internal.ribbon.groups.HelpRibbonGroup"
            id="com.tibco.xpd.rcp.tabgroup.help"
            label="%help_group_label"
            tab="com.tibco.xpd.rcp.tab.help">
      </group>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.rcp.internal.overview.OverviewEditor"
            default="false"
            icon="icons/16x16/tibco.png"
            id="com.tibco.xpd.rcp.overviewEditor"
            name="%overview_editor_title">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="com.tibco.xpd.rcp.bindings.scheme"
            name="%bindingSchema_label">
      </scheme>
      <key
            commandId="com.tibco.xpd.rcp.command.newProject"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+N">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.openFile"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+O">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.openFolder"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.openSVNURL"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.saveAll"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+S">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.overview"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M3+M2+O">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.exit"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+W">
      </key>
      <key
            commandId="com.tibco.xpd.rcp.command.refreshWorkspace"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="F5">
      </key>
      <key
            commandId="org.eclipse.ui.edit.cut"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+X">
      </key>
      <key
            commandId="org.eclipse.ui.edit.copy"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+C">
      </key>
      <key
            commandId="org.eclipse.ui.edit.paste"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+V">
      </key>
      <key
            commandId="org.eclipse.ui.edit.delete"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="DEL">
      </key>
      <key
            commandId="org.eclipse.ui.edit.undo"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+Z">
      </key>
      <key
            commandId="org.eclipse.ui.edit.redo"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+Y">
      </key>
      <key
            commandId="org.eclipse.ui.edit.rename"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="F2">
      </key>
      <key
            commandId="org.eclipse.ui.file.print"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+P">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+F">
      </key>
      <key
            commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="M1+1">
      </key>
      <key
            commandId="com.tibco.xpd.core.help.default.command"
            schemeId="com.tibco.xpd.rcp.bindings.scheme"
            sequence="F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%newProject_command_shortdesc"
            id="com.tibco.xpd.rcp.command.newProject"
            name="%newProject_command_label">
      </command>
      <command
            description="%openProject_command_shortdesc"
            id="com.tibco.xpd.rcp.command.openFile"
            name="%openProject_command_label">
      </command>
      <command
            description="%save_command_shortdesc"
            id="com.tibco.xpd.rcp.command.saveAll"
            name="%save_command_label">
      </command>
      <command
            description="%openFolderLocation_command_shortdesc"
            id="com.tibco.xpd.rcp.command.openFolder"
            name="%openFolder_command_label">
      </command>
      <command
            description="%overview_command_shortdesc"
            id="com.tibco.xpd.rcp.command.overview"
            name="%overview_command_label">
      </command>
      <command
            description="%exit_command_shortdesc"
            id="com.tibco.xpd.rcp.command.exit"
            name="%exit_command_label">
      </command>
      <command
            description="%openSVNURL_command_shortdesc"
            id="com.tibco.xpd.rcp.command.openSVNURL"
            name="%openSVNURL_command_label">
      </command>
      <command
            description="%refreshProjects_command_shortdesc"
            id="com.tibco.xpd.rcp.command.refreshWorkspace"
            name="%refreshProjects_command_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.tibco.xpd.rcp.IProjectIWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.tibco.xpd.rcp.properties"
            labelProvider="com.tibco.xpd.rcp.internal.properties.PropertiesLabelProvider"
            typeMapper="com.tibco.xpd.ui.properties.descriptor.PropertyTypeMapper">
         <propertyCategory
               category="general">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.rcp.properties">
         <propertyTab
               category="general"
               id="com.tibco.xpd.rcp.properties.tab.general"
               label="%propertiesTab_general_label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Contribute our own special advanced properties refresher section to proj explorer (forces adv.props refresh on model change)"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.rcp.properties">
         <propertySection
               class="com.tibco.xpd.rcp.internal.properties.ProjectResourcePropertiesSection"
               enablesFor="1"
               id="com.tibco.xpd.rcp.properties.projectResource"
               tab="com.tibco.xpd.rcp.properties.tab.general">
            <input
                  type="org.eclipse.core.resources.IProject">
            </input>
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.tibco.xpd.rcp.ribbon.category"
            name="Ribbon category">
      </category>
      <view
            allowMultiple="false"
            category="com.tibco.xpd.rcp.ribbon.category"
            class="com.tibco.xpd.rcp.RibbonViewPart"
            id="com.tibco.xpd.rcp.ribbon.view"
            inject="false"
            name="Ribbon"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.tibco.xpd.rcp.ribbon.view"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               ratio="0.65"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.tibco.xpd.fragments.view"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
