
    .fe6e4791e-690a-4b2b-880c-9162a58514c6 .pane_messages > .label {
        display:none !important;
    }
    .fe6e4791e-690a-4b2b-880c-9162a58514c6 .pane_root > .label {
        
display:block !important;    }
    .fe6e4791e-690a-4b2b-880c-9162a58514c6 .pane_toolbar > .label {
        display:none !important;
    }
/** 
 * The child label properties set at the form level apply only to the labels of the root panes. 
 */
.TibcoForms.fe6e4791e-690a-4b2b-880c-9162a58514c6 > .container > .component > .pane-label {
	font-family: verdana;
 	font-size: 12px;
 	color: #000000;
 	text-align: left;

    display:table-cell;
}
