<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.registry.ui.wsdlImportProvider">
      <provider
            id="com.tibco.xpd.bw.eai.livelink53"
            label="%livelink53ImportLabel"
            wizard="com.tibco.xpd.bw.eai.wizards.WsdlLiveLink53ImportWizard"/>
   </extension>
</plugin>
