<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="BxBpelExtensionActivity"
         name="BxBpelExtensionActivity"
         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">
      <builder
            class="com.tibco.bx.bpelExtension.converter.ConvertScript"
            targetModel="com.tibco.xpd.xpdl2.TaskScript"/>
      <builder
            class="com.tibco.bx.bpelExtension.converter.ConvertGlobalData"
            targetModel="com.tibco.xpd.xpdExtension.GlobalDataOperation"/>
   </extension>

</plugin>
