<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="firstClassProfile" name="BOM First Class Profile" schema="schema/firstClassProfile.exsd"/>
   <extension-point id="migration" name="Migrate BOM" schema="schema/migration.exsd"/>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.bom.resources.wc.BOMWorkingCopyFactory"
            filePattern=".*\.[bB][oO][mM]">
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyDependencyProvider">
      <dependency
            provider="com.tibco.xpd.bom.resources.wc.BOMWorkingCopyDependencyProvider">
      </dependency>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.bom.resources.wc.UMLWorkingCopyFactory"
            filePattern=".*\.[uU][mM][lL]">
      </factory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyDependencyProvider">
      <dependency
            provider="com.tibco.xpd.bom.resources.wc.UMLWorkingCopyDependencyProvider">
      </dependency>
   </extension>
   
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="com.tibco.xpd.bom.resources.internal.refactor.BOMRenameParticipant"
            id="com.tibco.xpd.bom.resources.bomRenameParticipant"
            name="%bomFileRename_participant_label">
         <enablement>
            <and>
            <or>
            	<and>
            	<instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="bom">
               </test>
            	</and>
            	<instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </or>
               <test
                     property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                     value="bom">
               </test>
            </and>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="com.tibco.xpd.bom.resources.internal.refactor.BOMMoveParticipant"
            id="com.tibco.xpd.bom.resources.bomMoveParticipant"
            name="%bomFileMove_participant_label">
         <enablement>
            <and>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bom">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
               </or>
               <test
                     property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                     value="bom">
               </test>
            </and>
         </enablement>
      </moveParticipant>
   </extension>
   <extension
         id="businessDataProjectNature"
         name="%businessData_nature_label"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.bom.resources.internal.businessdata.BusinessDataProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.bom.resources.businessDataVersionBuilder">
      </builder>
      <requires-nature
            id="com.tibco.xpd.resources.xpdNature">
      </requires-nature>
   </extension>
   <extension
         id="businessDataVersionBuilder"
         name="%businessDataVersion_builder_label"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.tibco.xpd.bom.resources.internal.businessdata.BusinessDataVersionBuilder">
         </run>
      </builder>
   </extension>
</plugin>
