<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "file:/E:/XPD/EmpiricalData.xsd" 
       class = "com.tibco.xpd.simulation.empiricaldata.EmpiricalDataPackage"
       genModel = "model/com.tibco.xpd.simulation.empiricaldata.genmodel" /> 
    <package 
       uri = "file:/E:/XPD/RealData.xsd" 
       class = "com.tibco.xpd.simulation.realdata.RealDataPackage"
       genModel = "model/com.tibco.xpd.simulation.realdata.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="empiricaldata" 
       class="com.tibco.xpd.simulation.empiricaldata.util.EmpiricalDataResourceFactoryImpl" />
    <parser 
       type="realdata" 
       class="com.tibco.xpd.simulation.realdata.util.RealDataResourceFactoryImpl" />
  </extension>

</plugin>

