<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BOM_TYPES/"
            target="platform:/plugin/com.tibco.xpd.bom.types/model/">
      </mapping>
   </extension>
   <extension
         point="com.tibco.xpd.resources.resourcePreLoader">
      <preload
            uri="pathmap://BOM_TYPES/BomPrimitiveTypes.library.uml">
      </preload>
   </extension>
   <extension
         point="com.tibco.xpd.bom.resources.migration">
      <migrate
            class="com.tibco.xpd.bom.types.internal.BOMMigration1Types"
            id="com.tibco.xpd.bom.types.migrate1"
            name="com.tibco.xpd.bom.types.migrate1"
            version="1">
      </migrate>
      <migrate
            class="com.tibco.xpd.bom.types.internal.AddAggregationCompositeMigration"
            id="com.tibco.xpd.bom.types.addAggregationComposite"
            name="com.tibco.xpd.bom.types.addAggregationComposite"
            version="2">
      </migrate>
   </extension>

</plugin>
