<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="addContribution" name="Add Element Contribution" schema="schema/addContribution.exsd"/>
   <extension-point id="setContribution" name="Set Command Contribution" schema="schema/setContribution.exsd"/>
   <extension-point id="deleteContribution" name="Delete Contribution" schema="schema/deleteContribution.exsd"/>
   <extension-point id="fieldOrParamReferenceResolver" name="Data Field Or Formal Parameter Reference Resolver" schema="schema/fieldOrParamReferenceResolver.exsd"/>
   <extension-point id="fixReassignedIdReferencesContribution" name="Fix Reassigned Id References Contribution" schema="schema/fixReassignedIdReferencesContribution.exsd"/>
      
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.wfmc.org/2008/XPDL2.1" 
       class = "com.tibco.xpd.xpdl2.provider.Xpdl2ItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated XpdExtension -->
      <factory
            uri="http://www.tibco.com/XPD/xpdExtension1.0.0"
            class="com.tibco.xpd.xpdExtension.provider.XpdExtensionItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>

