<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="tbs-product-tp" sequenceNumber="132">
<locations>
<location id="com.tibco.xpd.product.feature" path="${project_loc}\resources\product-assembly\assembly_tibco_com_tibco_xpd_product_feature_5.0.0.006\source" type="Feature"/>
<location path="C:\src\p2\eclipse\eclipse-SDK-4.7.1a-win32-x86_64\eclipse" type="Profile"/>
<location path="${project_loc}\resources\eclipse-471a-20171211-174020-delta-pack\eclipse" type="Directory"/>
</locations>
</target>
