<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description>&lt;b&gt;Compiles all features that have been committed to and builds the target platform.&lt;/b&gt;&#xd;
&lt;p&gt;&#xd;
&lt;i&gt;Polls for changes every 10 minutes between 4am and 7pm.&lt;/i&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>SVN_BRANCH</name>
          <description>Defines the svn branch from which the source will be downloaded.
Also determines the sub-folder within c:/builder/ to features will be compiled.</description>
          <defaultValue>trunk</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SVN_REPO</name>
          <description>Identifies the SVN repository from which source will be downloaded.</description>
          <defaultValue>https://emea-swi-svn.emea.tibco.com/svn/technical/xpd/sce</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FORCE_BUILD</name>
          <description>When checked all features will be compiled.
When not checked only those features that have changed will be compiled.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>*/10 4-19 * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.68">
    <script>node {
  try {
    // create a sub-directory for branch and work within that
    dir(&quot;${SVN_BRANCH}&quot;) {
      stage(&apos;Delete Candidates Folder&apos;) {
        updateSandbox(&quot;${SVN_REPO}/${SVN_BRANCH}/tbs-ci-tests/Scripts/jenkins/extras&quot;);
        withAnt(installation: &apos;Ant 1.10.5&apos;) {
          if(isUnix()) {
            sh  &quot;ant -buildfile extras/clean-candidates.xml -Dautobuild.branch=${SVN_BRANCH} -Duser.home=/Users/Administrator&quot;
          } else {
            bat &quot;ant -buildfile extras/clean-candidates.xml -Dautobuild.branch=${SVN_BRANCH} -Duser.home=/Users/Administrator&quot;
          }
        }
      }

      // feature URL - in dependency order
      String[] SVN_URL = [
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/com.tibco.xpd.installer.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/product/com.tibco.xpd.core.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/product/com.tibco.xpd.deploy.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/product/com.tibco.xpd.product.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/product/com.tibco.xpd.scf.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-core/product/com.tibco.xpd.core.help.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.script.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.bom.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.om.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.process.editor.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.process.editor.developer.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.process.analyst.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.process.developer.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.rest.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/bx-product/com.tibco.bx.design.model.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/bx-product/com.tibco.bx.designtime.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.bpm.edition.doc.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.bds.designtime.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.n2.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/product/com.tibco.xpd.wm.feature&quot;,
        &quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/bx-product/com.tibco.bx.extension.designtime.feature&quot; ]

      // for all features above
      for (int i = 0; i &lt; SVN_URL.size(); i++) {
        def url = SVN_URL[i]
        def feature = url.substring(url.lastIndexOf(&apos;/&apos;) + 1)

        // build the next feature in the list
        stage(feature.substring(0, feature.lastIndexOf(&apos;.&apos;))) {
          // see if folder already exists
          def alwaysCompile = (params.FORCE_BUILD) || (! fileExists(feature))

          // perform SVN update
          def changesDetected = updateSandbox(url);

          // if clean check out OR changes detected
          if ((alwaysCompile) || (changesDetected)) {
            // perform build
            withAnt(installation: &apos;Ant 1.10.5&apos;) {
              if(isUnix()) {
                sh  &quot;ant -buildfile ${feature}/build.xml -Dautobuild.branch=${SVN_BRANCH} -Dofficial-release-build=true -Dautobuild.release.substitutions-bypass=true -Duser.home=/Users/Administrator clean conf-clean build&quot;
              } else {
                bat &quot;ant -buildfile ${feature}/build.xml -Dautobuild.branch=${SVN_BRANCH} -Dofficial-release-build=true -Dautobuild.release.substitutions-bypass=true -Duser.home=/Users/Administrator clean conf-clean build&quot;
              }
            }
          }
        }
      }

      // build the target platform
      stage(&apos;Create Target Platform&apos;) {
        updateSandbox(&quot;${SVN_REPO}/${SVN_BRANCH}/tbs-bpm/TargetPlatform-tbs-bpm&quot;)

        withAnt(installation: &apos;Ant 1.10.5&apos;) {
          if(isUnix()) {
            sh  &quot;ant -buildfile TargetPlatform-tbs-bpm/build.xml -Dautobuild.branch=${SVN_BRANCH} -DzipFileLocation=\&quot;${WORKSPACE}/${SVN_BRANCH}\&quot; -DzipFilePrefix=tp-sce- -Dautobuild.release.substitutions-bypass=true -Duser.home=/Users/administrator clean-install&quot;
          } else {
            bat &quot;ant -buildfile TargetPlatform-tbs-bpm/build.xml -Dautobuild.branch=${SVN_BRANCH} -DzipFileLocation=\&quot;${WORKSPACE}/${SVN_BRANCH}\&quot; -DzipFilePrefix=tp-sce- -Dautobuild.release.substitutions-bypass=true -Duser.home=/Users/administrator clean-install&quot;
          }
        }
      }

      stage(&quot;Archive Artifacts&quot;) {
        archiveArtifacts allowEmptyArchive: false, artifacts: &apos;tp-sce-*.zip,TargetPlatform-tbs-bpm/installedReleaseUnits.xml&apos;,
                         caseSensitive: true, defaultExcludes: true, fingerprint: false, onlyIfSuccessful: false
      }
    }
    currentBuild.result = &quot;SUCCESS&quot;
  } catch (e) {
  	currentBuild.result = &quot;FAILED&quot;
  	throw e;
  } finally {
    // if build failed or previous failure resolved
    def prevResult = (currentBuild.previousBuild == null) ? &quot;SUCCESS&quot; : currentBuild.previousBuild.result
    if ((currentBuild.result != &quot;SUCCESS&quot;) || (prevResult != &quot;SUCCESS&quot;)) {
      notifyStatus(currentBuild.result)
    }
  }
}

// sends build notification - success or failure
def notifyStatus(aStatus) {
  emailext(
      recipientProviders: [culprits(), developers()],
      replyTo: &apos;$DEFAULT_REPLYTO&apos;,
      subject: &apos;$DEFAULT_SUBJECT&apos;,
      to: &apos;$DEFAULT_RECIPIENTS&apos;,
      body: &apos;$DEFAULT_CONTENT&apos;,
      postsendScript: &apos;$DEFAULT_POSTSEND_SCRIPT&apos;,
      presendScript: &apos;$DEFAULT_PRESEND_SCRIPT&apos;
  )
}

// performs a checkout (updates only) and returns true if any files were changed; false otherwise.
def updateSandbox(url) {
  def currentSize = getChangeSetSize()
  echo &quot;current size: ${currentSize}&quot;

  def scmVars = checkout([
      $class: &apos;SubversionSCM&apos;,
      additionalCredentials: [],
      excludedCommitMessages: &apos;&apos;,
      excludedRegions: &apos;&apos;,
      excludedRevprop: &apos;&apos;,
      excludedUsers: &apos;&apos;,
      filterChangelog: false,
      ignoreDirPropChanges: true,
      includedRegions: &apos;&apos;,
      quietOperation: false,
      locations: [[
        cancelProcessOnExternalsFail: true,
        credentialsId: &apos;c77ef2cf-d36f-4e2b-9015-a114fe2183c0&apos;,
        depthOption: &apos;infinity&apos;,
        ignoreExternalsOption: true,
        remote: url
      ]],
      workspaceUpdater: [$class: &apos;UpdateUpdater&apos;]
  ])
  echo &quot;${scmVars}&quot;

  def updatedSize = getChangeSetSize()
  echo &quot;updated size: ${updatedSize}&quot;
  return currentSize &lt; updatedSize
}

def getChangeSetSize() {
  def changeSets = currentBuild.changeSets
  // for (int i = 0; i &lt; changeSets.size(); i++) {
  //   def entries = changeSets[i].items
  //   echo &quot;Change set ${i}&quot;
  //   for (int j = 0; j &lt; entries.length; j++) {
  //     def entry = entries[j]
  //     echo &quot;${entry.commitId} by ${entry.author} on ${new Date(entry.timestamp)}: ${entry.msg}&quot;
  //     def files = new ArrayList(entry.affectedFiles)
  //     for (int k = 0; k &lt; files.size(); k++) {
  //       def file = files[k]
  //       echo &quot;  ${file.editType.name} ${file.path}&quot;
  //     }
  //   }
  // }
  return changeSets.size();
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <quietPeriod>300</quietPeriod>
  <disabled>true</disabled>
</flow-definition>