<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform"
               image="images/FormalParamInOut.png"
               indented="false"
               label="%property_tab_script_mapping_transform">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform"
               image="images/FormalParamInOut.png"
               indented="false"
               label="%property_tab_script_mapping_transform">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.script.transform.properties.ScriptMappingTransformSection"
               enablesFor="1"
               filter="com.tibco.xpd.script.transform.properties.ScriptMappingTransformSection"
               id="developer.scriptMapperTransform"
               tab="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.script.transform.properties.ScriptMappingTransformSection"
               enablesFor="1"
               filter="com.tibco.xpd.script.transform.properties.ScriptMappingTransformSection"
               id="developer.scriptMapperTransform"
               tab="com.tibco.xpd.implementer.propertyTabs.scriptMapperTransform">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptMappingCompositor">
      <ScriptMappingCompositorFactory
            context="ScriptTask"
            direction="IN"
            factory="com.tibco.xpd.script.transform.properties.ScriptMappingTransformFactory"
            grammar="XPath">
      </ScriptMappingCompositorFactory>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.mappingGrammarConvertor">
      <convertor
            class="com.tibco.xpd.script.transform.mapping.XPathToXsltTransformMappingGrammarConvertor"
            from="XPath"
            to="XSLT_Transform">
      </convertor>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="Transform"
            grammarName="%Transform">
         <editorSection
               editorSectionClass="com.tibco.xpd.script.transform.properties.TransformScriptEditorSection"
               mappable="false">
         </editorSection>
      </scriptGrammar>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="XSLT_Transform"
            grammarName="%XSLT">
         <editorSection
               editorSectionClass="com.tibco.xpd.script.transform.properties.XSLTTransformEditorSection"
               mappable="false">
         </editorSection>
      </scriptGrammar>
   </extension>

</plugin>
