<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.wsdl.ui.WsdlWorkingCopyFactory"
            filePattern=".*\.[wW][sS][dD][lL]"/>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            allowDuplicateResources="false"
            icon="icons/wsdlfolder.gif"
            issueId="com.tibco.xpd.wsdl.ui.duplicatewsdl"
            kind="wsdl"
            name="%specialfolder_name"
            navigatorContentId="com.tibco.xpd.projectExplorer.wsdlContent"
            projectAssetId="com.tibco.xpd.asset.wsdl"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.xpd.wsdl.ui.WsdlContentProvider"
            icon="/icons/wsdl_file_obj.gif"
            id="com.tibco.xpd.projectExplorer.wsdlContent"
            labelProvider="com.tibco.xpd.wsdl.ui.WsdlLabelProvider"
            name="%navigatorContent_name_wsdl_content_label"
            priority="high">
		<triggerPoints>
			<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
						<test
							property="org.eclipse.core.resources.projectNature"
	                        value="com.tibco.xpd.resources.xpdNature"/>
	                    <test
	                        property="org.eclipse.core.resources.open"
	                        value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
						value="wsdl"/>
				</and>
	            <and>
	               <instanceof value="org.eclipse.core.resources.IFile"/>
	               <!--test
						property="org.eclipse.core.resources.extension"
						value="wsdl"/-->
	               <test
	                    property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
	                    value="wsdl"/>
	            </and>
	            <and>
					<instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.isOfKind"
						value="wsdl"/>
				</and>
			</or>
		</triggerPoints>
		<possibleChildren>
			<or>
				<instanceof
          value="com.tibco.xpd.wsdl.ui.IWsdlObjectWrapper">
				</instanceof>
                <instanceof value="org.eclipse.core.resources.IFolder"/>
                <instanceof value="org.eclipse.core.resources.IFile"/>
               	<and>
                     <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="wsdl"/>
                 </and>
                <instanceof
                      value="org.uddi4j.response.ServiceInfo">
                </instanceof>
			</or>
		</possibleChildren>
		<dropAssistant
                  class="com.tibco.xpd.ui.projectexplorer.dropassist.SpecialFolderDropAssist"
                  id="com.tibco.xpd.analyst.resources.xpdl2.processesPackageDropAssistant">
               <possibleDropTargets>
                  <or>
                     <and>
                        <instanceof
                              value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                        </instanceof>
                        <test
                              property="com.tibco.xpd.resources.specialfolder.isOfKind"
                              value="wsdl">
                        </test>
                     </and>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IContainer">
                        </instanceof>
                        <test
                              property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                              value="wsdl">
                        </test>
                     </and>
                  </or>
               </possibleDropTargets>
            </dropAssistant> 
  		<override
        	policy="InvokeAlwaysRegardlessOfSuppressedExt"
        	suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
    <commonWizard
          menuGroupId="additions.wsdl"
          type="import"
          wizardId="com.tibco.xpd.registry.ui.wsdlImport">
       <enablement>
       			<or>
                  	<and>
                        <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                        <test
                              property="com.tibco.xpd.resources.specialfolder.isOfKind"
                              value="wsdl"/>
                     </and>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IResource">
                        </instanceof>
                        <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="wsdl"/>
                     </and>
               </or>
       </enablement>
    </commonWizard>
    <commonWizard
          menuGroupId="additions.service"
          type="new"
          wizardId="org.eclipse.wst.wsdl.ui">
       <enablement>
       	<or>
          <and>
            <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
            <test
              property="com.tibco.xpd.resources.specialfolder.isOfKind"
              value="wsdl"/>
          </and>
          <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <test
              property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
              value="wsdl"/>
          </and>
         </or>
       </enablement>
    </commonWizard>
    <commonSorter
          class="com.tibco.xpd.wsdl.ui.WsdlElementSorter"
          id="com.tibco.xpd.wsdl.ui.wsdlElementSorter">
       <parentExpression>
       <or>
          <and>
          	<instanceof
                value="org.eclipse.core.resources.IFile">
          	</instanceof>
          	<test
                           property="org.eclipse.core.resources.extension"
                           value="wsdl"/>
             <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="wsdl"/>
          </and>
          <and>
            <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
            <test
              property="com.tibco.xpd.resources.specialfolder.isOfKind"
              value="wsdl"/>
          </and>
          </or>
       </parentExpression>
    </commonSorter>
    <commonWizard
          menuGroupId="additions.service"
          type="new"
          wizardId="com.tibco.xpd.wsdl.ui.concretewsdl.wizard">
       <enablement>
          <or>
             <and>
                <instanceof
                      value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                </instanceof>
                <test
                      property="com.tibco.xpd.resources.specialfolder.isOfKind"
                      value="wsdl">
                </test>
             </and>
             <and>
                <instanceof
                      value="org.eclipse.core.resources.IResource">
                </instanceof>
                <test
                      property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                      value="wsdl">
                </test>
             </and>
          </or>
       </enablement>
    </commonWizard>
      </navigatorContent>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            category="com.tibco.xpd.wsdl.ui.servicesCategory"
            configuration="com.tibco.xpd.resources.projectconfig.projectassets.SpecialFolderAssetConfiguration"
            icon="icons/wsdlfolder.gif"
            id="com.tibco.xpd.asset.wsdl"
            name="%projectAsset_services_name">
         <configurator class="com.tibco.xpd.resources.projectconfig.projectassets.SpecialFolderAssetConfigurator">
         	<parameter name="kind" value="wsdl"/>
       	 	<parameter name="defaultFolder" value="%projectAsset_services_defaultFolder" />
         </configurator>   
         <description>
            %projectAsset_services_description
         </description>
      </asset>
      <category
            id="com.tibco.xpd.wsdl.ui.servicesCategory"
            name="%servicesCategory_label">
         <description>
            %serviceCategory_longdesc
         </description>
      </category>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
      <issue
            id="com.tibco.xpd.wsdl.ui.duplicatewsdl"
            message="%com.tibco.xpd.wsdl.ui.duplicatewsdl"
            severity="ERROR">
      </issue>
   </extension>
<extension
      point="com.tibco.xpd.resources.workingCopyFactory">
   <factory
         class="com.tibco.xpd.xsd.XSDWorkingCopyFactory"
         filePattern=".*\.[xX][sS][dD]">
   </factory>
</extension>
<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.xpd.registry.ui.services"
            class="com.tibco.xpd.wsdl.ui.concrete.NewConcreteWsdlWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/wsdl_file_obj.gif"
            id="com.tibco.xpd.wsdl.ui.concretewsdl.wizard"
            name="%com.tibco.xpd.wsdl.ui.concretewsdl.wizard">
      </wizard>
      <category
            id="com.tibco.xpd.registry.ui.services"
            name="%ImportWizardCategory_title">
      </category>
   </extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         category="com.tibco.xpd.wsdl.ui.serviceCategory"
         class="com.tibco.xpd.wsdl.ui.internal.preferences.WSDLSchemaValidationPreferencePage"
         id="com.tibco.xpd.wsdl.ui.validation.wsdlNamespace"
         name="%wsdlValidation_preferencePage_label">
      <keywordReference
            id="com.tibco.xpd.wsdl.ui.wsdlValidation.keyword">
      </keywordReference>
   </page>
   <page
         class="com.tibco.xpd.wsdl.ui.internal.preferences.ServiceCategoryPreferencePage"
         id="com.tibco.xpd.wsdl.ui.serviceCategory"
         name="%servicesCategory_preferencePage_label">
   </page>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="com.tibco.xpd.wsdl.ui.internal.preferences.WSDLSchemaValidationPreferenceInitializer">
   </initializer>
</extension>
<extension
      point="org.eclipse.ui.keywords">
   <keyword
         id="com.tibco.xpd.wsdl.ui.wsdlValidation.keyword"
         label="%wsdlValidation_preferencePage_keyword_labels">
   </keyword>
</extension>
<extension
      point="com.tibco.xpd.resources.workingCopyDependencyProvider">
   <dependency
         provider="com.tibco.xpd.wsdl.ui.internal.dependencies.WSDLImportDependencyProvider">
   </dependency>
   <dependency
         provider="com.tibco.xpd.wsdl.ui.internal.dependencies.WSDLTypeDependencyProvider">
   </dependency>
   <dependency
         provider="com.tibco.xpd.wsdl.ui.internal.dependencies.XSDDependencyProvider">
   </dependency>
</extension>   
</plugin>
