<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.n2.daa.N2PEN2NatureAssetConfigurator"
            extends="com.tibco.xpd.asset.wm"
            id="com.tibco.xpd.asset.n2pe.n2"
            name="%n2peN2Asset_name"
            visible="false">
         <description>
            %wmN2Asset_description
         </description>
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            icon="icons/obj16/ModuleOutFolder.gif"
            kind="compositeModulesOutput"
            multiple="false"
            name=".bpm"
            unsettable="true">
      </folder>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.tibco.xpd.resources.ui.exportWizard.bpm.category"
            class="com.tibco.xpd.n2.daa.internal.wizards.DAAFromProjectExportWizard"
            icon="icons/obj16/daa_16x16.png"
            id="com.tibco.xpd.n2.daa.daaExportWizard"
            name="%daaExportWizard_name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.n2.daa.daaExportWizard">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.n2.daa.hasDeployableBPMAssets">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         id="cleanBpmFolderBuilder"
         name="%cleanBpmFolder.builderTitle"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.tibco.xpd.n2.daa.builder.CleanBpmFolderBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="cleanBpmFolderNature"
         name="%cleanBpm.natureTitle"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.n2.daa.CleanBpmFolderNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.n2.daa.cleanBpmFolderBuilder">
      </builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.n2.daa.CleanBpmFolderAssetConfigurator"
            extends="com.tibco.xpd.asset.businessProcess"
            id="com.tibco.xpd.n2.daa.pp.cleanBpmFolderAsset"
            name="Clean Bpm Folder Asset on Process Package"
            visible="false">
         <description>
            Clean Bpm Folder Asset when Process Package special folder is added to project
         </description>
         <bindings>
            <nature
                  id="com.tibco.xpd.n2.daa.cleanBpmFolderNature">
            </nature>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
         </bindings>
      </asset>
      <asset
            configurator="com.tibco.xpd.n2.daa.CleanBpmFolderAssetConfigurator"
            extends="com.tibco.xpd.asset.om"
            id="com.tibco.xpd.n2.daa.om.cleanBpmFolderAsset"
            name="Clean Bpm Folder Asset on OM Asset"
            visible="false">
         <description>
            Clean Bpm Folder Asset when OM special folder is added to project
         </description>
         <bindings>
            <nature
                  id="com.tibco.xpd.n2.daa.cleanBpmFolderNature">
            </nature>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
         </bindings>
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.deploy.ui.dragAndDropDeployment">
      <delegateServerDropAssistant
            dropAssistant="com.tibco.xpd.n2.daa.internal.deploy.AdminDropAssistantDelegate"
            id="com.tibco.xpd.n2.daa.delegateServerDropAssistant"
            mustBeConnected="true"
            serverTypeId="com.tibco.amf.tools.admincligen.adminserver">
      </delegateServerDropAssistant>
   </extension>
    <extension
       point="com.tibco.xpd.deploy.ui.deployWizards">
    <deployWizard
          class="com.tibco.xpd.n2.daa.internal.deploy.BPMProjectDeployWizard"
          icon="icons/obj16/Project16np.gif"
          id="com.tibco.xpd.n2.daa.deployBPMProject"
          name="%deployBPMProject_label"
          serverTypeId="com.tibco.amf.tools.admincligen.adminserver">
    </deployWizard>
 </extension>
  <extension
         point="org.eclipse.ui.commands">
   	  <command
            defaultHandler="com.tibco.xpd.n2.daa.internal.deploy.OpenWorkspaceInBrowserHandler"
            id="com.tibco.xpd.n2.daa.openWorkspaceInBrowser"
            name="%openWorkpsaceInBrowser_label">
      </command>
   	  <command
            defaultHandler="com.tibco.xpd.n2.daa.internal.deploy.OpenOpenspaceInBrowserHandler"
            id="com.tibco.xpd.n2.daa.openOpenspaceInBrowser"
            name="%openOpenspaceInBrowser_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="popup:com.tibco.xpd.deploy.open.menu?after=bottom">
         <command
               commandId="com.tibco.xpd.n2.daa.openWorkspaceInBrowser"
               id="openWorkpspaceInBrowser"
               label="%openWorkpsaceInBrowser_label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
	                  <and>
	                 	<instanceof
			                     value="com.tibco.xpd.deploy.Server">
			            </instanceof>
		                <test
	                       args="com.tibco.amf.tools.admincligen.adminserver"
	                       forcePluginActivation="true"
	                       property="com.tibco.xpd.deploy.server.tester.serverTypeId">
		                </test>
	               		</and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
       <menuContribution
            locationURI="popup:com.tibco.xpd.deploy.open.menu?after=bottom">
         <command
               commandId="com.tibco.xpd.n2.daa.openOpenspaceInBrowser"
               id="openOpenspaceInBrowser"
               label="%openOpenspaceInBrowser_label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
	                  <and>
	                 	<instanceof
			                     value="com.tibco.xpd.deploy.Server">
			            </instanceof>
		                <test
	                       args="com.tibco.amf.tools.admincligen.adminserver"
	                       forcePluginActivation="true"
	                       property="com.tibco.xpd.deploy.server.tester.serverTypeId">
		                </test>
	               		</and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
 </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern=".bpm">
      </ignore>
      <ignore
            enabled="true"
            pattern=".bomjars">
      </ignore>
   </extension>
   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributionContext
            id="com.tibco.xpd.amx.bpm"
            name="%amxBPMContributionContext">
      </contributionContext>
   </extension>
   <extension
         point="com.tibco.amf.tools.packager.packagerParticipant">
      <participant
            class="com.tibco.xpd.n2.daa.internal.packager.CustomFeaturePackagerParticipant"
            type="implementation.bx">
      </participant>
      <participant
            class="com.tibco.xpd.n2.daa.internal.packager.CustomFeaturePackagerParticipant"
            type="implementation.pageflow">
      </participant>
      <participant
            class="com.tibco.xpd.n2.daa.internal.packager.CustomFeaturePackagerParticipant"
            type="implementation.bds">
      </participant>
   </extension>
   <extension
         point="com.tibco.amf.deployproject.deployProjectProvider">
      <DeployProjectProvider
            providerClass="com.tibco.xpd.n2.deployprojectcontributor.BPMDeployProjectContributor"
            providerId="BPM">
      </DeployProjectProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.n2.daa.propertytester.DeployableBPMAssetsTester"
            id="com.tibco.xpd.n2.daa.deployableBPMAssetsTester"
            namespace="com.tibco.xpd.n2.daa"
            properties="hasDeployableBPMAssets"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
      <extension
         point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
      <DestinationEnvironments
            DestinationEnvCategoryLabel="%advanced.properties.deploy.config.label">
         <DestinationEnvironment
               DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
         </DestinationEnvironment>
      </DestinationEnvironments>
      <AdvancedProperties>
         <AdvancedProperty
               ContributedAdvancedPropertyClass="com.tibco.xpd.n2.daa.ThreadingPolicyInvocationTimeOutProperty"
               DisplayName="%advanced.properties.deploy.bpmDeployConfiguration.label">
         </AdvancedProperty></AdvancedProperties>
   </extension>   
</plugin>
