<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.n2.daa.N2PEN2NatureAssetConfigurator"
            extends="com.tibco.xpd.asset.wm"
            id="com.tibco.xpd.asset.n2pe.n2"
            name="%n2peN2Asset_name"
            visible="false">
         <description>
            %wmN2Asset_description
         </description>
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            icon="icons/obj16/ModuleOutFolder.gif"
            kind="compositeModulesOutput"
            multiple="false"
            name=".bpm"
            unsettable="true">
      </folder>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="additions.xpd"
            type="export"
            wizardId="com.tibco.xpd.n2.daa.daaExportWizard">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="com.tibco.xpd.n2.daa.hasDeployableBPMAssets">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>



  <extension
         point="org.eclipse.ui.commands">
   	  <command
            defaultHandler="com.tibco.xpd.n2.daa.internal.deploy.OpenWorkspaceInBrowserHandler"
            id="com.tibco.xpd.n2.daa.openWorkspaceInBrowser"
            name="%openWorkpsaceInBrowser_label">
      </command>
   	  <command
            defaultHandler="com.tibco.xpd.n2.daa.internal.deploy.OpenOpenspaceInBrowserHandler"
            id="com.tibco.xpd.n2.daa.openOpenspaceInBrowser"
            name="%openOpenspaceInBrowser_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
       <menuContribution
            locationURI="popup:com.tibco.xpd.deploy.open.menu?after=bottom">
         <command
               commandId="com.tibco.xpd.n2.daa.openWorkspaceInBrowser"
               id="openWorkpspaceInBrowser"
               label="%openWorkpsaceInBrowser_label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
	                  <and>
	                 	<instanceof
			                     value="com.tibco.xpd.deploy.Server">
			            </instanceof>
		                <test
	                       args="com.tibco.amf.tools.admincligen.adminserver"
	                       forcePluginActivation="true"
	                       property="com.tibco.xpd.deploy.server.tester.serverTypeId">
		                </test>
	               		</and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
       <menuContribution
            locationURI="popup:com.tibco.xpd.deploy.open.menu?after=bottom">
         <command
               commandId="com.tibco.xpd.n2.daa.openOpenspaceInBrowser"
               id="openOpenspaceInBrowser"
               label="%openOpenspaceInBrowser_label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
	                  <and>
	                 	<instanceof
			                     value="com.tibco.xpd.deploy.Server">
			            </instanceof>
		                <test
	                       args="com.tibco.amf.tools.admincligen.adminserver"
	                       forcePluginActivation="true"
	                       property="com.tibco.xpd.deploy.server.tester.serverTypeId">
		                </test>
	               		</and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
 </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern=".bpm">
      </ignore>
      <ignore
            enabled="true"
            pattern=".bomjars">
      </ignore>
   </extension>
   <extension
         point="com.tibco.xpd.daa.compositeContributors">
      <contributionContext
            id="com.tibco.xpd.amx.bpm"
            name="%amxBPMContributionContext">
      </contributionContext>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.n2.daa.propertytester.DeployableBPMAssetsTester"
            id="com.tibco.xpd.n2.daa.deployableBPMAssetsTester"
            namespace="com.tibco.xpd.n2.daa"
            properties="hasDeployableBPMAssets"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
      <extension
         point="com.tibco.xpd.processeditor.xpdl2.advancedProperties">
      <DestinationEnvironments
            DestinationEnvCategoryLabel="%advanced.properties.deploy.config.label">
         <DestinationEnvironment
               DestinationEnvironmentId="com.tibco.xpd.n2.core.n2GlobalDestination">
         </DestinationEnvironment>
      </DestinationEnvironments>
      <AdvancedProperties>
         <AdvancedProperty
               ContributedAdvancedPropertyClass="com.tibco.xpd.n2.daa.ThreadingPolicyInvocationTimeOutProperty"
               DisplayName="%advanced.properties.deploy.bpmDeployConfiguration.label">
         </AdvancedProperty></AdvancedProperties>
   </extension>   
</plugin>
