<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            allowDuplicateResources="false"
            icon="icons/packagefolder.PNG"
            issueId="processPackage.duplicateResourceIssue"
            kind="processes"
            name="%folder.name.processPackages"
            navigatorContentId="com.tibco.xpd.projectExplorer.bpmContent"
            projectAssetId="com.tibco.xpd.asset.businessProcess">
      </folder>
   </extension>
   
   <extension
         point="com.tibco.xpd.resources.specialFolderFileBinding">
      <binding
            kind="processes">
         <filePatterns
               match=".*\.[xX][pP][dD][lL]">
         </filePatterns>
      </binding>
   </extension>
   
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <category
            id="com.tibco.xpd.analyst.resources.xpdl2.bpmCategory"
            name="%bpmProjectAssetCategory_label">
         <description>
            %bpmProjectAssetCategory_longdesc
         </description>
      </category>
   </extension>
   
      <extension
         point="com.tibco.xpd.resources.projectAssetBinding">
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.businessProcess"
            newProjectWizardId="com.tibco.xpd.analysisProject">
      </projectAssetBinding>
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.businessProcess"
            newProjectWizardId="com.tibco.xpd.newProject.BPMSOADeveloper">
      </projectAssetBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.analysisProject">
         </newWizardShortcut>
         <newWizardShortcut
               id="com.tibco.xpd.analyst.resources.xpdl2.newpackage.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.xpd.resources.ui.newWizard.bpm.category"
            name="%businessProcessModelling_label"
            parentCategory="com.tibco.xpd.newWizard.modeling.category">
      </category>
      <category
            id="com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            name="%processContentCategory.label"
            parentCategory="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category">
      </category>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.newparticipant.NewBPMParticipantWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewParticipant.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newparticipant.wizard"
            name="%newWizard.participant">
         <description>
            %newWizard.participant.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.newdatafield.NewDataFieldWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewDataField.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newdatafield.wizard"
            name="%newWizard.dataField">
         <description>
            %newWizard.dataField.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.newtypedeclaration.NewTypeDeclarationWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewTypeDeclaration.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newtypedeclaration.wizard"
            name="%newWizard.typeDeclaration">
         <description>
            %newWizard.typeDeclaration.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.newparameter.NewParameterWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewFormalParameter.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newfp.wizard"
            name="%newWizard.parameter">
         <description>
            %newWizard.parameter.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.processinterfaces.NewStartMethodWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewInterfaceStartEvent.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.pi.startmethod"
            name="%newWizard.interface.startEvent">
         <description>
            %newWizard.interface.startmethod.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.processinterfaces.NewIntermediateMethodWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewInterfaceIntermediateEvent.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.pi.intermediatemethod"
            name="%newWizard.interface.intermediateEvent">
         <description>
            %newWizard.interface.intermediatemethod.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.processinterfaces.NewProcessInterfaceWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewProcessInterface.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newprocessinterface.wizard"
            name="%newWizard.processInterface">
         <description>
            %newWizard.processInterface.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.newdatafield.NewCorrelationDataWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewCorrelationDataField.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.newcorrelationdata.wizard"
            name="%newWizard.correlationData">
         <description>
            %newWizard.correlationData.description
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category/com.tibco.xpd.analyst.resources.xpdl2.newWizard.processcontent.category"
            class="com.tibco.xpd.analyst.resources.xpdl2.wizards.processinterfaces.NewEndErrorMethodWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/NewErrorMethod.png"
            id="com.tibco.xpd.analyst.resources.xpdl2.pi.error"
            name="%newWizard.interface.endError">
         <description>
            %newWizard.interface.endError.description
         </description>
      </wizard>
      
      <wizard
               category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category"
               class="com.tibco.xpd.processeditor.xpdl2.wizards.NewPackageWizard"
               finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
               preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
               icon="icons/NewPackageFile.png"
               id="com.tibco.xpd.analyst.resources.xpdl2.newpackage.wizard"
               name="%newWizard.processPackage">
            <description>
               %newWizard.processPackage.description
            </description>
         </wizard>
         <wizard
               category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category"
               class="com.tibco.xpd.processeditor.xpdl2.wizards.NewBusinessProcessWizard"
               finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
               preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
               icon="icons/NewProcessBusiness.png"
               id="com.tibco.xpd.analyst.resources.xpdl2.newprocess.wizard"
               name="%newWizard.process">
            <description>
               %newWizard.process.description
            </description>
         </wizard>
         <wizard
               category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.resources.ui.newWizard.bpm.category"
               class="com.tibco.xpd.analyst.resources.xpdl2.wizards.processinterfaces.NewServiceProcessInterfaceWizard"
               finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
               preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
               icon="icons/NewServiceProcessInterface.png"
               id="com.tibco.xpd.analyst.resources.xpdl2.newserviceprocessinterface.wizard"
               name="%newWizard.serviceprocessInterface">
            <description>
               %newWizard.serviceProcessInterface.description
            </description>
         </wizard>
      
   </extension> 
   
   <extension
         point="com.tibco.xpd.resources.migrateProject">
      <migrate
            class="com.tibco.xpd.analyst.resources.xpdl2.migrate.ProcessSpecialFolder"
            id="com.tibco.xpd.analyst.resources.xpdl2.process_special_folder">
      </migrate>
   </extension>

   <extension
        point="com.tibco.xpd.resources.projectAsset">
     <asset
           category="com.tibco.xpd.analyst.resources.xpdl2.bpmCategory"
           configuration="com.tibco.xpd.analyst.resources.xpdl2.newproject.BusinessProcessAssetConfig"
           configurator="com.tibco.xpd.analyst.resources.xpdl2.newproject.BusinessProcessAssetConfigurator: -kind processes"
           icon="icons/packagefolder.PNG"
           id="com.tibco.xpd.asset.businessProcess"
           name="%projectAsset.businessProcesses.name">
        <description>
           %projectAsset.businessProcesses.description
        </description>
        <wizardpage
              page="com.tibco.xpd.processeditor.xpdl2.wizards.BusinessProcessAssetWizardPage">
        </wizardpage>
         <wizardpage
              page="com.tibco.xpd.processeditor.xpdl2.wizards.PackageInformationPage">
        </wizardpage>
        <wizardpage
              page="com.tibco.xpd.processeditor.xpdl2.wizards.PackageTemplateSelectionPage">
        </wizardpage>
        <assetMigration
              class="com.tibco.xpd.processeditor.xpdl2.contributors.BusinessProcessesAssetMigration">
           <migrateAfter
                 assetId="com.tibco.xpd.asset.bom"></migrateAfter>
        </assetMigration>
        <dynamicVersion
              versionProvider="com.tibco.xpd.processeditor.xpdl2.contributors.BusinessProcessesAssetMigration">
        </dynamicVersion>
     </asset>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.bpm.om.BPMParticipantPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantPropertySection"
               id="ParticipantProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.bpm.om.BPMParticipantNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantNameSection"
               id="bpmParticipantNameSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               afterSection="bpmParticipantNameSection"
               class="com.tibco.xpd.bpm.om.BPMParticipantSection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantSection$ParticipantSectionFilter"
               id="participantsSection"
               tab="com.tibco.xpd.processeditor.xpdl2.participantsTab">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertySection"
               id="ProcessProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.PageflowPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.PageflowPropertySection"
               id="PageflowProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.BusinessServicePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.BusinessServicePropertySection"
               id="BusinessServiceProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.CaseServicePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.CaseServicePropertySection"
               id="CaseServiceProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ServiceProcessPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ServiceProcessPropertySection"
               id="ServiceProcessProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertyNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertyNameSection"
               id="processNameSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.bpm.om.BPMParticipantPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantPropertySection"
               id="ParticipantProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.bpm.om.BPMParticipantNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantNameSection"
               id="bpmParticipantNameSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Participant">
            </input>
         </propertySection>
         <propertySection
               afterSection="bpmParticipantNameSection"
               class="com.tibco.xpd.bpm.om.BPMParticipantSection"
               enablesFor="1"
               filter="com.tibco.xpd.bpm.om.BPMParticipantSection$ParticipantSectionFilter"
               id="participantsSection"
               tab="com.tibco.xpd.processeditor.xpdl2.participantsTab">
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertySection"
               id="ProcessProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.PageflowPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.PageflowPropertySection"
               id="PageflowProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.BusinessServicePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.BusinessServicePropertySection"
               id="BusinessServiceProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.CaseServicePropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.CaseServicePropertySection"
               id="CaseServiceProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ServiceProcessPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ServiceProcessPropertySection"
               id="ServiceProcessProperty"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertyNameSection"
               enablesFor="1"
               filter="com.tibco.xpd.processeditor.xpdl2.properties.process.ProcessPropertyNameSection"
               id="processNameSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
            <input
                  type="com.tibco.xpd.xpdl2.Process">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinationExtension">
      <destinationExtension
            destinationId="bpmn1">
         <provider
               providerId="com.tibco.xpd.bpm.process.analyst.bpmnValidationProvider">
         </provider>
      </destinationExtension>
   </extension>
   <extension
         name="BPMN Validation Provider for Ananylst Feature rules excluded from process editor feature"
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.bpm.process.analyst.bpmnValidationProvider"
            markerType="com.tibco.xpd.validation.bpmnValidationMarker"
            name="BPMN Validation Provider for Ananylst Feature rules excluded from process editor feature"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.Xpdl2ScopeProvider">
         <rule
               class="com.tibco.xpd.bpm.om.validation.bpmn.rules.UnresolvedParticipantExternalReferenceRule">
         </rule>
      </provider>
      <issue
            id="bpmn.unresolvedParticipantExternalReference"
            message="%bpmn.unresolvedParticipantExternalReference"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectExternalParticipant">
         </resolution>
      </issue>
      <issue
            id="bpmn.unsetParticipantExternalReference"
            message="%bpmn.unsetParticipantExternalReference"
            severity="ERROR">
         <resolution
               canApplyToMultiple="false"
               id="resolution.bpmn.selectExternalParticipant">
         </resolution>
      </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.bpm.om.validation.bpmn.resolutions.SelectParticipantExternalReferenceResolution"
            description="%resolution.bpmn.selectExternalParticipant"
            id="resolution.bpmn.selectExternalParticipant"
            image="icons/Participant.gif"
            label="%resolution.bpmn.selectExternalParticipant">
      </resolution>
   </extension>
   
</plugin>
