<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="DataMapperContentContribution" name="Data Mapper Content Contribution" schema="schema/dataMapperContentContribution.exsd"/>
   <extension-point id="scriptGeneratorInfoProviderContribution" name="Script Generator Info Provider Contribution" schema="schema/scriptGeneratorInfoProviderContribution.exsd"/>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptGrammarConverter">
      <scriptGrammarConverter
            class="com.tibco.xpd.datamapper.scripts.DataMapperMappingScriptsToJavaScriptContribution"
            priority="100"
            sourceGrammar="DataMapper"
            targetGrammar="JavaScript">
      </scriptGrammarConverter>
   </extension>
   <extension
         point="com.tibco.xpd.validation.provider">
       <issue
             id="datamapper.likeMapping.noMatchingContent"
             message="%datamapper.likeMapping.noMatchingContent"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="datamapper.likeMapping.setAsStandard">
          </resolution>
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="datamapper.likeMapping.sameType"
             message="%datamapper.likeMapping.sameType"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="datamapper.likeMapping.setAsStandard">
          </resolution>
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="datamapper.likeMapping.notCompatible"
             message="%datamapper.likeMapping.notCompatible"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="resolution.datamapper.addTargetToLikeMappingExclusions">
          </resolution>
       </issue>
       <issue
             id="datamapper.likeMapping.notCompatibleMultiplicity"
             message="%datamapper.likeMapping.notCompatibleMultiplicity"
             severity="ERROR">
          <resolution
                canApplyToMultiple="false"
                id="resolution.datamapper.addTargetToLikeMappingExclusions">
          </resolution>
       </issue>
       <issue
             id="datamapper.arrayMapping.levelMismatch"
             message="%datamapper.arrayMapping.levelMismatch2"
             severity="ERROR">
       </issue>
       <issue
             id="datamapper.arrayMapping.parentMismatch"
             message="%datamapper.arrayMapping.parentMismatch1"
             severity="ERROR">
       </issue>
       <issue
             id="datamapper.configuration.invalidReference"
             message="%datamapper.configuration.invalidReference"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="datamapper.configuration.invalidReference.remove">
          </resolution>
       </issue>
       <issue
             id="datamapper.arrayMapping.sameSourceAndTarget"
             message="%datamapper.arrayMapping.sameSourceAndTarget"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="datamapper.arrayMapping.scriptSource"
             message="%datamapper.arrayMapping.scriptSource"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="datamapper.likeMapping.scriptType"
             message="%datamapper.likeMapping.scriptType"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="datamapper.likeMapping.setAsStandard">
          </resolution>
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="datamapper.likeMapping.notForSimple"
             message="%datamapper.likeMapping.notForSimple"
             severity="ERROR">
          <resolution
                canApplyToMultiple="true"
                id="datamapper.likeMapping.setAsStandard">
          </resolution>
          <resolution
                canApplyToMultiple="true"
                id="resolution.bpmn.removeDataMapping">
          </resolution>
       </issue>
       <issue
             id="js.error.dataMapperScriptInformation"
             message="%js.error.dataMapperScriptInformation"
             severity="ERROR">
       </issue>
       <issue
             id="js.warning.dataMapperScriptInformation"
             message="%js.warning.dataMapperScriptInformation"
             severity="WARNING">
       </issue>
       <issue
             id="dataMapper.unmappedScriptUnsupported"
             message="%dataMapper.unmappedScriptUnsupported"
             severity="ERROR">
       </issue>
       <issue
             id="dataMapper.emptyUserDefinedScript"
             message="%dataMapper.emptyUserDefinedScript"
             severity="ERROR">
       </issue>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.datamapper.resolutions.RemoveDataMapperConfigurationResolution"
            description="%datamapper.configuration.invalidReference.remove"
            id="datamapper.configuration.invalidReference.remove"
            image="icons/delete.gif"
            label="%datamapper.configuration.invalidReference.remove">
      </resolution>
      <resolution
            class="com.tibco.xpd.datamapper.resolutions.SetAsStandardMappingResolution"
            description="%datamapper.likeMapping.setAsStandard"
            id="datamapper.likeMapping.setAsStandard"
            image="icons/excludeFromLikeMapping.png"
            label="%datamapper.likeMapping.setAsStandard">
      </resolution>
      <resolution
            class="com.tibco.xpd.datamapper.resolutions.ExcludeLikeMappedChildResolution"
            description="%resolution.datamapper.addTargetToLikeMappingExclusions"
            id="resolution.datamapper.addTargetToLikeMappingExclusions"
            image="icons/excludeFromLikeMapping.png"
            label="%resolution.datamapper.addTargetToLikeMappingExclusions">
      </resolution>
      <resolution
            class="com.tibco.xpd.datamapper.resolutions.SetTargetArrayMappingAppendResolution"
            description="%datamapper.arrayMapping.setAsAppend"
            id="datamapper.arrayMapping.setAsAppend"
            image="icons/appendArray2.png"
            label="%datamapper.arrayMapping.setAsAppend">
      </resolution>      
   </extension>

</plugin>
