<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="target-scf-5.0.0" sequenceNumber="7">
<locations>
<location path="C:\apps\Tibco\studio-scf-5.0.0-008\studio\5.0\eclipse" type="Profile"/>
<location path="C:\src\p2\p2Repos\eclipse-test-framework-4.7.2" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.feature.feature.group" version="1.9.5.201502101155"/>
<repository location="http://studiobuild.emea.tibco.com/view/All/job/LocalUpdateSite/ws/org.mockito.site/"/>
</location>
<location path="C:\src\repos\studio\trunk\tpcl\com.tibco.xpd.tpcl.oxygen.dependencies.feature\plugins" type="Directory"/>
</locations>
</target>
