<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="provider" name="ValidationProvider" schema="schema/provider.exsd"/>
   <extension-point id="providerExtension" name="ValidationProviderExtension" schema="schema/providerExtension.exsd"/>
   <extension-point id="preProcessor" name="PreProcessor" schema="schema/preProcessor.exsd"/>
   <extension-point id="resolution" name="ValidationResolution" schema="schema/resolution.exsd"/>
   <extension-point id="destinations" name="Destination Environment" schema="schema/destinations.exsd"/>
   <extension-point id="workspaceResourceValidationProvider" name="Workspace Resource Validation Provider" schema="schema/workspaceResourceValidationProvider.exsd"/>
   <extension-point id="reusableResolutions" name="Reusable Resolution" schema="schema/reusableResolutions.exsd"/>
   <extension-point id="destinationExtension" name="Destination Environment Extension" schema="schema/destinationExtension.exsd"/>
   <extension
         id="com.tibco.xpd.validation.ValidationMarker"
         name="%validationMarker.title"
         point="org.eclipse.core.resources.markers">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <attribute name="additionalInfo"/>
   </extension>
   <extension
         id="validationBuilder"
         name="%validationBuilder.title"
         point="org.eclipse.core.resources.builders">
      <builder >
         <run class="com.tibco.xpd.validation.internal.builder.ValidationBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.tibco.xpd.validation.ValidationActivator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.ValidationMarker"/>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.workspaceResourceValidationMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.emfMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.lifecycleMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.projectMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.projectFromNewerStudioMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.tibco.xpd.validation.resolutions.GenericResolutionGenerator"
            markerType="com.tibco.xpd.validation.migrateProjectMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.tibco.xpd.validation.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         id="com.tibco.xpd.validation.duplicateResource"
         name="%duplicateResourceMarker.title"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="kind">
      </attribute>
   </extension>

   <extension
         id="com.tibco.xpd.validation.projectMarker"
         name="%projectMarker.title"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="refProject">
      </attribute>
   </extension>
   
   <extension
         point="com.tibco.xpd.validation.provider">
         <issue
            id="cycledProject.issue"
            message="%cycledProject.issue.message"
            severity="ERROR"/>
         <issue
               id="duplicate.lifecycleId.issue"
               message="%duplicate.lifecycleId.issue.message"
               severity="ERROR">
         </issue>
         <issue
               id="referencedProject.notfound.issue"
               message="%referencedProject.notfound.issue.message"
               severity="ERROR">
         </issue>
         <issue
               id="referencedProject.closed.issue"
               message="%referencedProject.closed.issue.message"
               severity="ERROR">
         </issue>
         <issue
               id="migrateProject.issue"
               message="%projectNeedsMigrating_issue_label"
               severity="ERROR">
            <resolution
                  canApplyToMultiple="true"
                  id="com.tibco.xpd.validation.migrateProjectResolution">
            </resolution>
         </issue>
         <issue
               id="notAceDestinationProject.issue"
               message="%notAceDestinationProject_issue_label"
               severity="ERROR">
         </issue>
         <issue
               id="projectFromNewerVersion.issue"
               message="%projectFromNewerVersion_issue_label"
               severity="ERROR">
         </issue>
         <issue
               id="specialFolderMissing.issue"
               message="%missingSpecialFolders_issue_shortdesc"
               severity="ERROR">
         </issue>
   </extension>
   <extension
         id="com.tibco.xpd.validation.workspaceResourceValidationMarker"
         name="%workspaceResourceMarker.title"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="com.tibco.xpd.validation.emfMarker"
         name="%emfMarker.title"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="lifecycleMarker"
         name="%projectLifecycle_problemMarker_label"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="duplicateProject">
      </attribute>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.validation.internal.validation.resolution.ChangeProjectIdResolution"
            id="duplicate.lifecycleId.issue"
            label="%changeProjectId.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="false"
            class="com.tibco.xpd.validation.internal.validation.resolution.ChangeOtherProjectIdResolution"
            id="duplicate.lifecycleId.issue"
            label="%changeOtherProjectId.resolution_label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.internal.validation.resolution.RemoveProjectReferenceResolution"
            id="referencedProject.notfound.issue"
            label="%removeReference.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.internal.validation.resolution.RemoveProjectReferenceResolution"
            id="referencedProject.closed.issue"
            label="%removeReference.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.internal.validation.resolution.OpenReferencedProjectResolution"
            id="referencedProject.closed.issue"
            label="%openProject.resolution.label">
      </resolution>
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.validation.internal.validation.resolution.CreateMissingSpecialFolderResolution"
            id="specialFolderMissing.issue"
            label="%createMissingSpecialFolder_resolution_label">
      </resolution>
   </extension>
   <extension
         id="migrateProjectMarker"
         name="%projectMigration_problemMarker_label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.xpd.validation.ValidationMarker">
      </super>
   </extension>
   <extension
         id="projectFromNewerStudioMarker"
         name="%projectFromNewerStudio_problemMarker_label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.xpd.validation.ValidationMarker">
      </super>
   </extension>
   <extension
         id="notAceDestinationProjectMarker"
         name="%projectMigration_problemMarker_label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.tibco.xpd.validation.ValidationMarker">
      </super>
   </extension>
   <extension
         point="com.tibco.xpd.validation.reusableResolutions">
      <resolution
            class="com.tibco.xpd.validation.internal.validation.resolution.MigrateProjectResolution"
            id="com.tibco.xpd.validation.migrateProjectResolution"
            label="%migrateProject_resolution_label">
      </resolution>
   </extension>

</plugin>
