<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.xpd.bizassets.resources.prince2Wizards"
            name="%projectManagement.name"
            parentCategory="com.tibco.xpd.newWizard.modeling.category"/>
      <primaryWizard
            id="com.tibco.xpd.bizassets.resources.QualityArchiveProjectWizard">
      </primaryWizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.bizassets.resources.prince2Wizards"
            class="com.tibco.xpd.bizassets.resources.wizard.QualityProcessWizard"
            finalPerspective="com.tibco.xpd.branding.perspective"
            icon="icons/FolderIcon.png"
            id="com.tibco.xpd.bizassets.resources.QualityProcessWizard"
            name="%qualityProcess.name">
            <description>
               %qualityProcess.description
            </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category"
            class="com.tibco.xpd.bizassets.resources.wizard.QualityArchiveProjectWizard"
            finalPerspective="com.tibco.xpd.branding.perspective"
            icon="icons/FolderIcon.png"
            id="com.tibco.xpd.bizassets.resources.QualityArchiveProjectWizard"
            name="%qualityArchiveProjectWizardMenu.name"
            project="true">
            <description>
               %qualityArchiveProjectWizardMenu.description
            </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.xpd.bizassets.resources.projectexplorer.BizAssetsContentProvider"
            icon="/icons/FolderIcon.png"
            id="com.tibco.xpd.projectExplorer.bizAssets"
            labelProvider="com.tibco.xpd.ui.projectexplorer.providers.ProjectExplorerLabelProvider"
            name="%bizAssets.navigatorContent.name.label"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <and>
                  <instanceof value="org.eclipse.core.resources.IProject"/>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature"/>
                  <test
                        property="org.eclipse.core.resources.open"
                        value="true"/>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
                        value="bizassets">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="bizassets">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.core.resources.IFolder"/>
               <instanceof value="org.eclipse.core.resources.IFile"/>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bizassets">
                  </test>
               </and>
            </or>
         </possibleChildren>
         <dropAssistant
               class="com.tibco.xpd.ui.projectexplorer.dropassist.SpecialFolderDropAssist"
               id="com.tibco.xpd.analyst.resources.xpdl2.processesPackageDropAssistant">
            <possibleDropTargets>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="bizassets">
                  </test>
               </and>
            </possibleDropTargets>
         </dropAssistant>

         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>
         <commonWizard
               type="new"
               wizardId="com.tibco.xpd.bizassets.resources.QualityProcessWizard">
            <enablement>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="bizassets">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           value="bizassets">
                     </test>
                  </and>
               </or>
            </enablement>
         </commonWizard>
         <actionProvider
               class="com.tibco.xpd.bizassets.resources.projectexplorer.actions.providers.SetActiveQualityProjectActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.bizassets.resources.qualityArchiveNature">
                  </test>
                  <test
                        property="org.eclipse.core.resources.open"
                        value="true">
                  </test>
               </and>
            </enablement>
         </actionProvider>


      </navigatorContent>
      <commonWizard
            menuGroupId="additions.xpdproject"
            type="new"
            wizardId="com.tibco.xpd.bizassets.resources.QualityArchiveProjectWizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="java.util.Collection">
                  </instanceof>
                  <count
                        value="0">
                  </count>
               </and>
            </or>
         </enablement>
      </commonWizard>
      <commonFilter
            activeByDefault="false"
            description="%qualityArchiveCommonFilter.description"
            id="com.tibco.xpd.projectExplorer.qualityArchiveCommonFilter"
            name="%qualityArchiveCommonFilter.name">
         <filterExpression>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.tibco.xpd.bizassets.resources.qualityArchiveNature">
               </test>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            category="com.tibco.xpd.analyst.resources.xpdl2.bpmCategory"
            configuration="com.tibco.xpd.bizassets.resources.wizard.QualityProcessAssetConfiguration"
            configurator="com.tibco.xpd.bizassets.resources.wizard.QualityProcessAssetConfigurator: -kind bizassets"
            icon="icons/FolderIcon.png"
            id="com.tibco.xpd.asset.businessAssets"
            name="%businessAsset.name"
            visible="true">

         <description>
            %businessAsset.description
         </description>
         <wizardpage>
            <page
                  class="com.tibco.xpd.resources.projectconfig.projectassets.SpecialFolderAssetWizardPageFactory">
               <parameter
                     name="defaultFolder"
                     value="%projectAsset_bizassets_defaultFolder">
               </parameter>
            </page>
         </wizardpage>
         <wizardpage
               page="com.tibco.xpd.bizassets.resources.wizard.QualityArchiveWizardPage">
         </wizardpage>
      </asset>
      <asset
            configurator="com.tibco.xpd.bizassets.resources.wizard.QualityProcessAssetConfiguratorV3"
            extends="com.tibco.xpd.asset.businessProcess"
            id="com.tibco.xpd.asset.businessAssetsV3"
            name="%businessAsset.name">
      </asset>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAssetBinding">
      <projectAssetBinding
            assetId="com.tibco.xpd.asset.businessAssets"
            newProjectWizardId="com.tibco.xpd.analysisProject"/>
   </extension>
   <extension
         point="com.tibco.xpd.resources.migrateProject">
         <migrate
               class="com.tibco.xpd.bizassets.resources.migrate.BusinessAssets"
               id="com.tibco.xpd.bizassets.resources.migrate.bassets"/>
         <migrate
               class="com.tibco.xpd.bizassets.resources.migrate.Prince2Files"
               id="com.tibco.xpd.bizassets.resources.migrate.prince2">
            <dependsOn id="com.tibco.xpd.bizassets.resources.migrate.bassets"/>
         </migrate>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            icon="icons/FolderIcon.png"
            kind="bizassets"
            multiple="true"
            name="%bizAssets.folder.name.label"
            navigatorContentId="com.tibco.xpd.projectExplorer.bizAssets"
            projectAssetId="com.tibco.xpd.asset.businessAssets">
      </folder>
   </extension>
   <extension
         id="qualityArchiveNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.bizassets.resources.quality.QualityArchiveNature">
         </run>
      </runtime>
      <requires-nature
            id="com.tibco.xpd.processeditor.xpdl2.templateNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/FolderIcon.png"
            id="com.tibco.xpd.bizassets.resources.qualityArchiveNature"
            natureId="com.tibco.xpd.bizassets.resources.qualityArchiveNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.xpd.bizassets.resources.quality.QualityProcessPreferencePage"
            id="com.tibco.xpd.bizassets.resources.quality.qualityProcess"
            name="%qualityProcess.name">
      </page>
      <page
            category="com.tibco.xpd.bizassets.resources.quality.qualityProcess"
            class="com.tibco.xpd.bizassets.resources.quality.ActiveQualityProjectPreferencePage"
            id="com.tibco.xpd.bizassets.resources.quality.activeQualityProject"
            name="%activeQualityProject">
      </page>
   </extension>
   <extension
         point="com.tibco.xpd.validation.destinations">
      <workspaceResourceDestination
            id="bizassetsMigration"
            name="%bizassetsMigration">
         <validationProvider
               id="com.tibco.xpd.bizassets.resources.bizassetsMigrationProvider">
         </validationProvider>
      </workspaceResourceDestination>
   </extension>
   <extension
         point="com.tibco.xpd.validation.workspaceResourceValidationProvider">
      <provider
            id="com.tibco.xpd.bizassets.resources.bizassetsMigrationProvider">
         <validator
               class="com.tibco.xpd.bizassets.resources.migrate.BusinessAssetsResourceValidatorV2ToV3"
               id="com.tibco.xpd.bizassets.resources.bizassetsMigrationV2ToV3"
               validateType="PROJECT">
         </validator>
      </provider>
      <issues>
         <issue
               id="bizassets.migrateFolderV2ToV3"
               message="%bizassets.migrateFolderV2ToV3"
               severity="ERROR">
         </issue>
      </issues>
   </extension>
   <extension
         point="com.tibco.xpd.validation.resolution">
      <resolution
            canApplyToMultiple="true"
            class="com.tibco.xpd.bizassets.resources.migrate.MigrateFolderV2ToV3Resolution"
            description="%bizassets.migrateFolderV2ToV3.resolution.description"
            id="bizassets.migrateFolderV2ToV3"
            label="%bizassets.migrateFolderV2ToV3.resolution.label">
      </resolution>
      <resolution
            class="com.tibco.xpd.bizassets.resources.migrate.DoNotMigrateFolderV2ToV3Resolution"
            description="%bizassets.doNotMigrateFolderV2ToV3.resolution.description"
            id="bizassets.migrateFolderV2ToV3"
            label="%bizassets.doNotMigrateFolderV2ToV3.resolution.label">
      </resolution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.bizassets.resources.QualityArchiveProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
