<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.taskImplementation">
      <implementation
            class="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.DecisionServiceSection"
            default="false"
            id="DecisionService"
            implementationType="Other"
            name="%decisionServiceName"
            showForPageflow="true"
            taskType="Service">
      </implementation>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.taskBinding">
      <destination
            destinationId="n2pe1.x">
         <taskImplementation
               taskImplementationId="DecisionService">
            <taskTypeContext
                  type="Service">
            </taskTypeContext>
         </taskImplementation>
      </destination>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.script"
               category="core"
               id="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.DecFlowParameterMapperIn"
               image="icons/tabMappingIn.png"
               indented="false"
               label="%decisionServiceMappingIn">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.DecFlowParameterMapperIn"
               category="core"
               id="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.DecFlowParameterMapperOut"
               image="icons/tabMappingOut.png"
               indented="false"
               label="%decisionServiceMappingOut">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.DecFlowMappingInSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.DecFlowMappingInSection$Filter"
               id="developer.decFlowMapperIn"
               tab="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.DecFlowParameterMapperIn">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.DecFlowMappingOutSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.DecFlowMappingOutSection$Filter"
               id="developer.decFlowMapperOut"
               tab="com.tibco.xpd.implementer.nativeservices.decisions.propertyTabs.DecFlowParameterMapperOut">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.scriptMappingCompositor">
      <ScriptMappingCompositorFactory
            context="DecisionFlow"
            direction="IN"
            factory="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.JavaScriptProcessToDecFlowMappingFactory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
      <ScriptMappingCompositorFactory
            context="DecisionFlow"
            direction="OUT"
            factory="com.tibco.xpd.implementer.nativeservices.decisions.internal.properties.JavaScriptDecFlowToProcessMappingFactory"
            grammar="JavaScript">
      </ScriptMappingCompositorFactory>
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptContexts">
      <scriptContext
            type="DecFlowServiceTask">
      </scriptContext>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyDependencyProvider">
      <dependency
            provider="com.tibco.xpd.implementer.nativeservices.decisions.Xpdl2DecisionFlowDependencyProvider">
      </dependency>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.implementer.nativeservices.decisions.decisionServiceTaskPopupMenu"
            objectClass="com.tibco.xpd.processwidget.parts.TaskEditPart">
         <menu
               id="com.tibco.xpd.implementer.nativeservices.decisions.decisionServiceTaskPopupMenu"
               label="%decisionServiceTaskPopupMenu"
               path="object">
            <groupMarker
                  name="opengroup">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
            <groupMarker
                  name="selectorcreategroup">
            </groupMarker>
         </menu>
         <action
               class="com.tibco.xpd.implementer.nativeservices.decisions.actions.OpenDecisionFlowAction"
               enablesFor="1"
               icon="icons/DecisionFlow.png"
               id="com.tibco.xpd.implementer.nativeservices.decisions.openaction"
               label="%decisionServiceTaskPopupMenu.open"
               menubarPath="com.tibco.xpd.implementer.nativeservices.decisions.decisionServiceTaskPopupMenu/opengroup">
         </action>
         <action
               class="com.tibco.xpd.implementer.nativeservices.decisions.actions.SelectDecisionFlowAction"
               icon="icons/DecisionFlow.png"
               id="com.tibco.xpd.implementer.nativeservices.decisions.selectaction"
               label="%decisionServiceTaskPopupMenu.select"
               menubarPath="com.tibco.xpd.implementer.nativeservices.decisions.decisionServiceTaskPopupMenu/selectorcreategroup">
         </action>
         <visibility>
           <objectState
                 name="com.tibco.xpd.processwidget.SERVICE_TASK_IMPLEMENTATION_TYPE"
                 value="DecisionService">
           </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="com.tibco.xpd.processwidget.activityHyperlinkHandler">
      <activityHyperlinkHandler
            class="com.tibco.xpd.implementer.nativeservices.decisions.actions.DecisionServiceTaskHyperlinkHandler">
      </activityHyperlinkHandler>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.dropObjectContribution">
      <dropObject
            class="com.tibco.xpd.implementer.nativeservices.decisions.DecisionFlowToBpmProcessDropContribution"
            name="Drop decision flow onto bpm process">
      </dropObject>
   </extension>
   
</plugin>
