<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="bomGenerator2" name="Business Object Modeler Generator" schema="schema/bomGenerator2.exsd"/>
   <extension
         id="bomGenNature"
         name="BOM Generator Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tibco.xpd.bom.gen.internal.BOMGenProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tibco.xpd.bom.gen.bomGenBuilder">
      </builder>
      <requires-nature
            id="com.tibco.xpd.resources.xpdNature">
      </requires-nature>
      <requires-nature
            id="com.tibco.xpd.bom.xsdtransform.xsdNature">
      </requires-nature>
   </extension>
   <extension
         id="bomGenBuilder"
         name="BOM Generator Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="com.tibco.xpd.bom.gen.internal.BOMGenProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.projectAsset">
      <asset
            configurator="com.tibco.xpd.bom.gen.internal.BOMGenAssetConfigurator"
            extends="com.tibco.xpd.asset.bom"
            id="com.tibco.xpd.bom.gen.asset"
            name="%bomGen_asset_label">
         <bindings>
            <globalDestination
                  id="com.tibco.xpd.n2.core.n2GlobalDestination">
            </globalDestination>
            <nature
                  id="com.tibco.xpd.bom.gen.bomGenNature">
            </nature>
         </bindings>
      </asset>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="com.tibco.xpd.bom.gen.internal.BOMGenDeleteParticipant"
            id="com.tibco.xpd.bom.gen.deleteParticipant"
            name="%deleteParticipant_label">
         <enablement>
            <with
                  variable="affectedNatures">
               <iterate
                     operator="or">
                  <equals
                        value="com.tibco.xpd.bom.gen.bomGenNature">
                  </equals>
               </iterate>
            </with>
            <with
                  variable="element">
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="bom">
                     </test>
                     <test
                           property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           value="bom">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IContainer">
                  </instanceof>
               </or>
            </with>
         </enablement>
      </deleteParticipant>
   </extension>
   <extension
         id="bomgenMarker"
         name="%bomgenMarker_label"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
</plugin>
