<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.tibco.xpd.validation.provider">
      <provider
            id="com.tibco.xpd.simulation.js.validation.provider"
            name="Simulation Validation Provider"
            scopeProvider="com.tibco.xpd.validation.xpdl2.provider.ExpressionScopeProvider">
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationUserTaskOpenScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationScriptTaskRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationUserTaskCloseScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationUserTaskSubmitScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationConditionalTransitionScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationTimerEventScriptRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationStdLoopExprRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationMILoopExprRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationMIComplexExitExprRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationMIAdditionalInstancesExprRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationJavaServiceUnmappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationSubProcessUnmappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationJavaServiceMappedScriptOutputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationSubProcessMappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationSubProcessMappedScriptOutputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationJavaServiceMappedScriptInputRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationJavaServiceUnmappedScriptOutpuRule">
         </rule>
         <rule
               class="com.tibco.xpd.simulation.js.validation.rules.SimulationSubProcessUnmappedScriptOutputRule">
         </rule>
      </provider>
      <issue
            id="simulation.error.userTaskOpenScript"
            message="%simulation.error.userTaskOpenScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.userTaskOpenScript"
            message="%simulation.warning.userTaskOpenScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.warning.validateScriptTask"
            message="%simulation.warning.validateScriptTask"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.error.validateScriptTask"
            message="%simulation.error.validateScriptTask"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.error.userTaskCloseScript"
            message="%simulation.error.userTaskCloseScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.userTaskCloseScript"
            message="%simulation.warning.userTaskCloseScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.error.userTaskSubmitScript"
            message="%simulation.error.userTaskSubmitScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.userTaskSubmitScript"
            message="%simulation.warning.userTaskSubmitScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.error.validateConditionalTransitionScript"
            message="%simulation.error.validateConditionalTransitionScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.validateConditionalTransitionScript"
            message="%simulation.warning.userTaskSubmitScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.error.validateTimerEventScript"
            message="%simulation.error.validateTimerEventScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.validateTimerEventScript"
            message="%simulation.warning.validateTimerEventScript"
            severity="WARNING">
      </issue>      
      <issue
            id="simulation.stdLoopExprScript"
            message="%simulation.stdLoopExprScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.stdLoopExprScript"
            message="%simulation.warning.stdLoopExprScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.miLoopExprScript"
            message="%simulation.miLoopExprScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.miLoopExprScript"
            message="%simulation.warning.miLoopExprScript"
            severity="WARNING">
      </issue>
      
      <issue
            id="simulation.miComplexExitExprScript"
            message="%simulation.miComplexExitExprScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.miComplexExitExprScript"
            message="%simulation.warning.miComplexExitExprScript"
            severity="WARNING">
      </issue>
      
      <issue
            id="simulation.miAdditionalInstancesExprScript"
            message="%simulation.miAdditionalInstancesExprScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.miAdditionalInstancesExprScript"
            message="%simulation.warning.miAdditionalInstancesExprScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.webServiceTaskScript"
            message="%simulation.webServiceTaskScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.webServiceTaskScript"
            message="%simulation.warning.webServiceTaskScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.javaServiceTaskScript"
            message="%simulation.javaServiceTaskScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.javaServiceTaskScript"
            message="%simulation.warning.javaServiceTaskScript"
            severity="WARNING">
      </issue>
      <issue
            id="simulation.subProcessTaskScript"
            message="%simulation.subProcessTaskScript"
            severity="ERROR">
      </issue>
      <issue
            id="simulation.warning.subProcessTaskScript"
            message="%simulation.warning.subProcessTaskScript"
            severity="WARNING">
      </issue>
      
      
   </extension>
   <extension
         point="com.tibco.xpd.script.ui.scriptGrammarDestinationBinding">
      <destination
            destinationId="simulation1.2">
         <scriptContribution
               scriptContext="JavaServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider"
                  name="com.tibco.xpd.implementer.nativeservices.java.javaservice.script.JavaServiceScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIAdditionalInstancesExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="MIComplexExitExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="StdLoopExpr">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScriptTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="PerformerDataField">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CloseUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="OpenUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubmitUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="TimerEvent">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.TimeEventScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="SubProcessTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.SubProcessScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="CatchSignalEventMapping">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.CatchSignalScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="ScheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="RescheduleUserTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DefaultJavaScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
         <scriptContribution
               scriptContext="DecFlowServiceTask">
            <scriptRelevantDataContributor
                  class="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider"
                  grammarId="JavaScript"
                  id="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider"
                  name="com.tibco.xpd.process.js.model.DecFlowScriptRelevantDataProvider">
            </scriptRelevantDataContributor>
         </scriptContribution>
      </destination>
   </extension>
</plugin>
