<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="devTargetPlatform" sequenceNumber="0">
<locations>
<location path="%%TP_BASE_LOCATION%%" type="Profile"/>
</locations>
</target>
