<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- ACE-2011: Remove Unsupported features.(Task library)
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tibco.xpd.wm.tasklibrary.editor.newWizards.category"
            name="%taskModellingCategory_label"
            parentCategory="com.tibco.xpd.newWizard.modeling.category">
      </category>
      <category
            id="com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category"
            name="%taskLibraryContentCategory.label"
            parentCategory="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category">
      </category>
      <category
            id="com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            name="%taskLibraryTaskTypesCategory.label"
            parentCategory="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category">
      </category>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.NewTaskLibraryWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskLibraryFile.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newtasklibrary.wizard"
            name="%newTaskLibraryWizard_title">
         <description>
            %newTaskLibraryWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.NewParticipantWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/Participant.gif"
            id="com.tibco.xpd.wm.tasklibrary.editor.newparticipant.wizard"
            name="%newParticipantWizard_title">
         <description>
            %newParticipantWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.NewDataFieldWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/DataField.gif"
            id="com.tibco.xpd.wm.tasklibrary.editor.newdatafield.wizard"
            name="%newDataFieldWizard_title">
         <description>
            %newDataFieldWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.NewTypeDeclarationWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TypeDeclaration.gif"
            id="com.tibco.xpd.wm.tasklibrary.editor.newtypedeclaration.wizard"
            name="%newTypeDeclarationWizard_title">
         <description>
            %newTypeDeclarationWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeNoneWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/taskPlain.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newtask.wizard"
            name="%newTaskWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeUserWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskUser.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newusertask.wizard"
            name="%newTaskUserWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeManualWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskManual.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newmanualtask.wizard"
            name="%newTaskManualWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeServiceWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskService.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newservicetask.wizard"
            name="%newTaskServiceWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeSendWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskSend.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newsendtask.wizard"
            name="%newTaskSendWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeScriptWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/TaskScript.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newscripttask.wizard"
            name="%newTaskScriptWizard_title">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
      <wizard
            category="com.tibco.xpd.newWizard.modeling.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.content.category/com.tibco.xpd.wm.tasklibrary.editor.newWizards.taskTypes.category"
            class="com.tibco.xpd.wm.tasklibrary.editor.wizards.task.NewTaskTypeSubProcWizard"
            finalPerspective="com.tibco.xpd.bpm.modeling.perspective"
            preferredPerspectives="com.tibco.xpd.bpm.modeling.perspective,com.tibco.modeling.perspective,com.tibco.xpd.n2.LiveDevelopment"
            icon="icons/SubFlow.png"
            id="com.tibco.xpd.wm.tasklibrary.editor.newsubproctask.wizard"
            name="%newTaskSubProcWizard_title2">
         <description>
            %newTaskWizard_longdesc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.tibco.modeling.perspective">
         <newWizardShortcut
               id="com.tibco.xpd.wm.tasklibrary.editor.newtasklibrary.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryEditor"
            contributorClass="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryEditorContributor"
            default="true"
            extensions="tasks"
            icon="icons/TaskLibraryFile.png"
            id="com.tibco.xpd.wm.tasklibrary.editor"
            matchingStrategy="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryEditorInputMatchingStrategy"
            name="%taskLibraryEditorName">
      </editor>
   </extension>
   <extension
         name="This is for opening the task library editor when user double-click&apos;s a taskLibrary process (as opposed to the file)"
         point="com.tibco.xpd.resources.ui.objectEditor">
     <editorInputFactory
           editorID="com.tibco.xpd.wm.tasklibrary.editor"
           factory="com.tibco.xpd.processeditor.xpdl2.ProcessEditorInputFactory"
           objectClass="com.tibco.xpd.xpdl2.Process"
           objectFilter="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryEditor$TaskLibraryProcessOrActivityFilter"/>
     </extension>
   <extension
         name="This is for opening the task library editor when user double-click&apos;s a taskLibrary activity (as opposed to the file)"
         point="com.tibco.xpd.resources.ui.objectEditor">
      <editorInputFactory
            editorID="com.tibco.xpd.wm.tasklibrary.editor"
            factory="com.tibco.xpd.processeditor.xpdl2.ProcessEditorInputFactory"
            objectClass="com.tibco.xpd.xpdl2.Activity"
            objectFilter="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryEditor$TaskLibraryProcessOrActivityFilter">
      </editorInputFactory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyFactory">
      <factory
            class="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryWorkingCopyFactory"
            filePattern=".*\.tasks">
      </factory>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.tibco.xpd.xpdl2.util.Xpdl2ResourceFactoryImpl"
            type="tasks">
      </parser>
   </extension>
     <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="com.tibco.xpd.wm.tasklibrary.editor.editorActions"
           targetID="com.tibco.xpd.wm.tasklibrary.editor">
        <action
              class="com.tibco.xpd.processeditor.xpdl2.actions.SaveAsImageAction"
              icon="icons/saveAsImage.gif"
              id="com.tibco.xpd.processeditor.saveAsImage"
              label="%action.label.saveAsImage"
              menubarPath="file/export"
              style="push"
              tooltip="%action.tooltip.saveAsImage"/>
        <menu
              id="com.tibco.xpd.wm.tasklibrary.editor.viewMenu"
              label="%menu.label.view"
              path="edit">
           <groupMarker name="com.tibco.xpd.wm.tasklibrary.editor.viewMenuGroup"/>
           <groupMarker name="align"/>
        </menu>
        <action
              class="com.tibco.xpd.processeditor.xpdl2.actions.ShowPrintPagesAction"
              icon="icons/pagination.gif"
              id="com.tibco.xpd.processeditor.showPagination"
              label="%action.label.showPrintMargins"
              menubarPath="com.tibco.xpd.wm.tasklibrary.editor.viewMenu/com.tibco.xpd.wm.tasklibrary.editor.viewMenuGroup"
              style="toggle"
              tooltip="%action.tooltip.1"/>
        <action
              class="com.tibco.xpd.processeditor.xpdl2.actions.PrintSetupAction"
              icon="icons/print_setup.gif"
              id="com.tibco.xpd.processeditor.diagramPrintSetup"
              label="%action.label.2"
              menubarPath="file/print"
              style="push"
              />
       </editorContribution>
  	 </extension>
     <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryProjectExplorerContentProvider"
            icon="icons/TaskLibraryFile.png"
            id="com.tibco.xpd.projectExplorer.taskLibraryContent"
            labelProvider="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryProjectExplorerLabelProvider"
            name="%taskLibraryNavigatorContentName"
            priority="high"
            providesSaveables="true">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature">
                  </test>
                  <test
                        property="org.eclipse.core.resources.open"
                        value="true">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
                        value="wm">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="tasks">
                  </test>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="wm">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <and>
                   <!-- Sid ONLY look at NavigatorGroup's in XPDL content - 
                   		otherwise we'll be used as content provider for NavigatorGroups in EVERY file 
                   		and our content provider's get parent/getchildren won't always necessarily return
                   		the correct content -->
	               <instanceof
	                     value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.INavigatorGroup">
	               </instanceof>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
   	           </and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="wm">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.eobjecttest.isFromPackage"
                        value="xpdl2">
                  </test>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
               </and>
            </or>
         </possibleChildren>
         <commonSorter
               class="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryProjectExplorerContentSorter"
               id="com.tibco.xpd.wm.tasklibrary.editor.taskLibrarySorter">
            <parentExpression>
               <instanceof
                     value="com.tibco.xpd.xpdl2.Process">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <commonWizard
               menuGroupId="additions.taskLibrary"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newtasklibrary.wizard">
            <enablement>
            	<and>
            		<not>
                		<test
                    		forcePluginActivation="true"
                        	property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     		value="com.tibco.xpd.resources.lockedForProductionNature">
                  		</test>
               		</not>
               	
               		<or>
                  		<and>
                     		<instanceof
                           		value="org.eclipse.core.resources.IFolder">
                     		</instanceof>
                     		<test
                           		property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           		value="wm">
                     		</test>
                  		</and>
                  		<and>
                     		<instanceof
                           		value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                     		</instanceof>
                     		<test
                           		property="com.tibco.xpd.resources.specialfolder.isOfKind"
                           		value="wm">
                     		</test>
                  		</and>
                  		<and>
                     		<instanceof
                           		value="org.eclipse.core.resources.IFile">
                     		</instanceof>
                     		<test
                           		property="org.eclipse.core.resources.extension"
                           		value="tasks">
                     		</test>
                     		<test
                           		property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                           		value="wm">
                     		</test>
                     		<test
                           		property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                     		</test>
                  		</and>
               		</or>
            	</and>   		
       		</enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newtypedeclaration.wizard">
            <enablement>
            	<and>
            		<not>
                		<test
                    		forcePluginActivation="true"
                        	property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     		value="com.tibco.xpd.resources.lockedForProductionNature">
                  		</test>
               		</not>
               		<or>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                  		</test>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibrary">
                  		</test>
                  		<and>
                     		<test
                           		property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                     		</test>
                     		<or>
                        		<instanceof
                              		value="com.tibco.xpd.xpdl2.TypeDeclaration">
                        		</instanceof>
                        		<instanceof
                              		value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.TypeDeclarationGroup">
                        		</instanceof>
                     		</or>
                  		</and>
                  	</or>
            	</and>      	
        	</enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newdatafield.wizard">
            <enablement>
            	<and>
            		<not>
                		<test
                    		forcePluginActivation="true"
                        	property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     		value="com.tibco.xpd.resources.lockedForProductionNature">
                  		</test>
               		</not>
               		<or>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                  		</test>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibrary">
                  		</test>
                  		<and>
                     		<test
                           		property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                     		</test>
                     		<or>
                        		<instanceof
                              		value="com.tibco.xpd.xpdl2.DataField">
                        		</instanceof>
                        		<instanceof
                              		value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.DataFieldGroup">
                        		</instanceof>
                     		</or>
                  		</and>
               		</or>
             	</and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newparticipant.wizard">
            <enablement>
            	<and>
            		<not>
                		<test
                    		forcePluginActivation="true"
                        	property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     		value="com.tibco.xpd.resources.lockedForProductionNature">
                  		</test>
               		</not>
               		<or>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                  		</test>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibrary">
                  		</test>
                  		<and>
                     		<test
                           		property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                     		</test>
                     		<or>
                        		<instanceof
                              		value="com.tibco.xpd.xpdl2.Participant">
                        		</instanceof>
                        		<instanceof
                              		value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.ParticipantGroup">
                        		</instanceof>
                     		</or>
                  		</and>
               		</or>
            	</and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newtask.wizard">
            <enablement>
               	<and>
               		<not>
                		<test
                    		forcePluginActivation="true"
                        	property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     		value="com.tibco.xpd.resources.lockedForProductionNature">
                  		</test>
               		</not>
               	
               		<or>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                  		</test>
                  		<test
                        	property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibrary">
                  		</test>
                  		<and>
                     		<test
                           		property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                     		</test>
                     		<or>
                        		<instanceof
                              		value="com.tibco.xpd.xpdl2.Activity">
                        		</instanceof>
                        		<instanceof
                              		value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                        		</instanceof>
                     		</or>
                  		</and>
               		</or>
            	</and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newusertask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                     <and>
                        <instanceof
                              value="com.tibco.xpd.xpdl2.Participant">
                        </instanceof>
                        <not>
                           <test
                                 property="com.tibco.xpd.wm.tasklibrary.editor.isSystemParticipant">
                           </test>
                        </not>
                     </and>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newmanualtask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                     <and>
                        <instanceof
                              value="com.tibco.xpd.xpdl2.Participant">
                        </instanceof>
                        <not>
                           <test
                                 property="com.tibco.xpd.wm.tasklibrary.editor.isSystemParticipant">
                           </test>
                        </not>
                     </and>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newservicetask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                     <and>
                        <instanceof
                              value="com.tibco.xpd.xpdl2.Participant">
                        </instanceof>
                        <test
                              property="com.tibco.xpd.wm.tasklibrary.editor.isSystemParticipant">
                        </test>
                     </and>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newsendtask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                     <and>
                        <instanceof
                              value="com.tibco.xpd.xpdl2.Participant">
                        </instanceof>
                        <test
                              property="com.tibco.xpd.wm.tasklibrary.editor.isSystemParticipant">
                        </test>
                     </and>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newscripttask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="additions.taskLibraryContent.othertasks"
               type="new"
               wizardId="com.tibco.xpd.wm.tasklibrary.editor.newsubproctask.wizard">
            <enablement>
               <and>
               	  <not>
                	<test
                    	forcePluginActivation="true"
                        property="com.tibco.xpd.projectNatureTester.containingProjectHasNature"
                     	value="com.tibco.xpd.resources.lockedForProductionNature">
                  	</test>
               	  </not>
                  <test
                        property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                  </test>
                  <or>
                     <instanceof
                           value="com.tibco.xpd.xpdl2.Activity">
                     </instanceof>
                     <instanceof
                           value="com.tibco.xpd.wm.tasklibrary.editor.resources.TasksGroup">
                     </instanceof>
                  </or>
               </and>
            </enablement>
         </commonWizard>
         <actionProvider
               class="com.tibco.xpd.wm.tasklibrary.editor.actions.TaskLibraryEditActionProvider"
               id="com.tibco.xpd.wm.tasklibrary.editor.editActions">
            <enablement>
               <or>
                  <and>
                     <or>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                        <instanceof
                              value="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.groups.INavigatorGroup">
                        </instanceof>
                     </or>
                     <test
                           property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
                     </test>
                  </and>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
                     </test>
                  </and>
               </or>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryProjectExplorerLinkHelper"
            id="com.tibco.xpd.projectExplorer.linkHelper">
         <selectionEnablement>
            <or>
               <test
                     property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryFile">
               </test>
               <test
                     property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibrary">
               </test>
               <test
                     property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryContent">
               </test>
            </or>
         </selectionEnablement>
         <editorInputEnablement>
            <test
                  property="com.tibco.xpd.wm.tasklibrary.editor.isTaskLibraryEditorInput">
            </test>
         </editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.tibco.xpd.wm.tasklibrary.editor.resources.TaskLibraryPropertyTester"
            id="com.tibco.xpd.wm.tasklibrary.editor.propertyTester"
            namespace="com.tibco.xpd.wm.tasklibrary.editor"
            properties="isTaskLibraryFile, isTaskLibrary, isTaskLibraryContent, isTaskLibraryEditorInput"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.tibco.xpd.wm.tasklibrary.editor.resources.ParticpantPropertyTester"
            id="com.tibco.xpd.wm.tasklibrary.editor.participantTypeTester"
            namespace="com.tibco.xpd.wm.tasklibrary.editor"
            properties="isSystemParticipant"
            type="com.tibco.xpd.xpdl2.Participant">
      </propertyTester>
   </extension>
   <extension
         name="NOTE that the public static constants associated with this index are defined in process analyst plugin class Xpdl2ResourcesPlugin"
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="tasks"
            indexID="com.tibco.xpd.wm.tasklibrary.editor.taskLibraryIndexer"
            indexerClass="com.tibco.xpd.wm.tasklibrary.editor.indexing.TaskLibraryResourceIndexProvider">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="image_uri">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="item_id">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="display_name">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="category">
            </attribute>
         </additionalAttributes>
      </indexer>
   </extension>
   <extension
         name="Task Library Quick Search popup contributions for task library editor and project explorer views."
         point="com.tibco.xpd.resources.ui.quickSearchContribution">
      <viewContribution
            class="com.tibco.xpd.wm.tasklibrary.editor.quicksearch.TaskLibraryEditorQuickSearchContribution"
            viewId="com.tibco.xpd.wm.tasklibrary.editor">
      </viewContribution>
      <viewContribution
            class="com.tibco.xpd.wm.tasklibrary.editor.quicksearch.TaskLibraryProjectExplorerQuickSearchContribution"
            viewId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewContribution>
   </extension>
   <extension
         name="Tabs contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               category="core"
               id="com.tibco.xpd.wm.tasklibrary.editor.tasksTab"
               image="icons/TaskGroup.gif"
               label="%tasksPropertyTab_label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Sections contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.wm.tasklibrary.editor.properties.TasksPropertiesInputFilter"
               id="tasksSection"
               tab="com.tibco.xpd.wm.tasklibrary.editor.tasksTab">
         </propertySection>
         <propertySection
               afterSection="namedElementSection"
               class="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskLibraryPackageInformationSection"
               enablesFor="1"
               filter="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskLibraryPackageInformationSection"
               id="com.tibco.xpd.wm.tasklibrary.editor.taskLibPackageInformationSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         name="Tabs contributed for when TASK LIBRARY EDITOR is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               category="core"
               id="com.tibco.xpd.wm.tasklibrary.editor.tasksTab"
               image="icons/TaskGroup.gif"
               label="%tasksPropertyTab_label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Sections contributed for when PROJECT EXPLORER is the selection provider."
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               afterSection="laneGeneral"
               class="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskPropertySection"
               enablesFor="1"
               filter="com.tibco.xpd.wm.tasklibrary.editor.properties.TasksPropertiesInputFilter"
               id="tasksSection"
               tab="com.tibco.xpd.wm.tasklibrary.editor.tasksTab">
         </propertySection>
         <propertySection
               afterSection="namedElementSection"
               class="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskLibraryPackageInformationSection"
               enablesFor="1"
               filter="com.tibco.xpd.wm.tasklibrary.editor.properties.TaskLibraryPackageInformationSection"
               id="com.tibco.xpd.wm.tasklibrary.editor.taskLibPackageInformationSection"
               tab="com.tibco.xpd.processeditor.propertyTabs.general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.tibco.xpd.wm.tasklibrary.editor.pasteTaskFromTextContribution"
            objectClass="com.tibco.xpd.processwidget.parts.BaseGraphicalEditPart">
         <action
               class="com.tibco.xpd.wm.tasklibrary.editor.actions.PasteTasksFromClipTextAction"
               enablesFor="1"
               id="com.tibco.xpd.wm.taskLibrary.editor.PasteTasksFromClipTextAction"
               label="Paste Tasks From Text"
               menubarPath="edit">
         </action>
         <visibility>
            <objectState
                  name="com.tibco.xpd.processwidget.IS_TASK_LIBRARY_EDITOR"
                  value="TRUE">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>

   <extension
         name="Task Library Compare diff viewer (top window of task library compare editor)"
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.tibco.xpd.wm.tasklibrary.editor.compare.TaskLibraryCompareDiffViewerFactory"
            extensions="tasks"
            id="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryCompareDiffViewer">
      </viewer>
   </extension>
   <extension
         name="Task Library Compare merge viewer left, right and ancestor window of task library compare editor)"
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.tibco.xpd.wm.tasklibrary.editor.compare.TaskLibraryCompareMergeViewerFactory"
            extensions="tasks,tasksContent"
            id="com.tibco.xpd.wm.tasklibrary.editor.TaskLibraryCompareMergeViewer">
      </viewer>
   </extension>

</plugin>
