<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.bx.emulation.core.activityElementFactories">
      <activityElementFactory
            class="com.tibco.bx.emulation.bpm.core.common.BPMActivityElementFactory"
            id="bpm">
      </activityElementFactory>
      <activityElementFactory
            class="com.tibco.bx.emulation.bpm.core.common.BPMActivityElementFactory"
            id="Pageflow">
      </activityElementFactory>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyDependencyProvider">
      <dependency
            provider="com.tibco.bx.emulation.bpm.core.BPMEMWorkingCopyDependencyProvider">
      </dependency>
   </extension>

</plugin>
