<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="export"
            wizardId="com.tibco.xpd.ui.importexport.exportwizard.documentation.DocExportWizard">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="om">
               </test>
            </and>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.tibco.xpd.resources.ui.documentViewerContribution">
      <documentViewerContribution
            defaultTemplate="reports/orgModelReportFlattened.rptdesign"
            documentGenerator="com.tibco.xpd.om.omdoc.engine.OMDocGen"
            fileExtensions="om"
            specialFolders="om">
      </documentViewerContribution>
   </extension>

</plugin>
