<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="channelTypes" name="Channel Types" schema="schema/channelTypes.exsd"/>
 <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            allowDuplicateResources="false"
            icon="icons/obj16/PresentationFolder.gif"
            issueId="presentation.duplicateResourceIssue"
            kind="presentation"
            name="%presentationSpecialFolder_name"
            navigatorContentId="com.tibco.xpd.projectExplorer.presentationContent"
            projectAssetId="com.tibco.xpd.asset.presentation">
      </folder>
   </extension>
    <extension
       point="com.tibco.xpd.resources.projectAsset">
    <asset
          configuration="com.tibco.xpd.resources.projectconfig.projectassets.SpecialFolderAssetConfiguration"
          configurator="com.tibco.xpd.presentation.resources.ui.PresentationAssetConfigurator"
          extends="com.tibco.xpd.asset.businessProcess"
          icon="icons/obj16/PresentationFolder.gif"
          id="com.tibco.xpd.asset.presentation"
          name="%presentationAsset_name"
          visible="false">
       <description>
          %presentationAsset_description
       </description>
    </asset>
 </extension>
 
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          id="com.tibco.xpd.projectExplorer.presentationContent"
          activeByDefault="true"
          contentProvider="com.tibco.xpd.presentation.resources.ui.internal.navigator.PresentationNavigatorContentProvider"
          icon="icons/obj16/PresentationFolder.gif"
          labelProvider="com.tibco.xpd.presentation.resources.ui.internal.navigator.PresentationNavigatorLabelProvider"
          name="%presentationNavigatorContent_name"
          priority="high"
          providesSaveables="true">
       <triggerPoints>
       		<or>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>
					<test
						property="org.eclipse.core.resources.projectNature"
                        value="com.tibco.xpd.resources.xpdNature"/>
                    <test
                        property="org.eclipse.core.resources.open"
                        value="true"/>
				</and>
				<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.containsSpecialFolder"
						value="presentation"/>
				</and>
				<and>
					<instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
					<test
						property="com.tibco.xpd.resources.specialfolder.isOfKind"
						value="presentation"/>
				</and>
			</or>
       </triggerPoints>
       <possibleChildren>
            <or>
              <and>
                	 <instanceof value="com.tibco.xpd.resources.projectconfig.SpecialFolder"/>
                 	<test
                       property="com.tibco.xpd.resources.specialfolder.isOfKind"
                       value="presentation"/>
              </and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <instanceof
                    value="org.eclipse.core.resources.IFolder">
              </instanceof>
            </or>
       </possibleChildren>       
       <override
             policy="InvokeAlwaysRegardlessOfSuppressedExt"
             suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
       </override>
       <commonSorter
             class="com.tibco.xpd.analyst.resources.xpdl2.projectexplorer.sorters.ResourceSorter"
             id="com.tibco.xpd.presentation.resources.ui.resourceSorter">
          <parentExpression>
             <and>
                <instanceof
                      value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                </instanceof>
                <test
                      property="com.tibco.xpd.resources.specialfolder.isOfKind"
                      value="presentation">
                </test>
             </and>
          </parentExpression>
       </commonSorter>
       <dropAssistant
             class="com.tibco.xpd.ui.projectexplorer.dropassist.SpecialFolderDropAssist"
             id="com.tibco.xpd.presentation.resources.ui.dropAssistant">
          <possibleDropTargets>
             <or>
                <and>
                   <instanceof
                         value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                   </instanceof>
                   <test
                         property="com.tibco.xpd.resources.specialfolder.isOfKind"
                         value="presentation">
                   </test>
                </and>
                <and>
                   <instanceof
                         value="org.eclipse.core.resources.IFolder">
                   </instanceof>
                   <test
                         property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                         value="presentation">
                   </test>
                </and>
             </or>
          </possibleDropTargets>
       </dropAssistant>
    </navigatorContent>
 </extension>
 <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="com.tibco.xpd.presentation.resources.ui.internal.util.ChannelTypesResourceFactoryImpl"
            protocolName="xpdextension">
      </parser>
   </extension>
 <extension
       point="com.tibco.xpd.presentation.resources.ui.channelTypes">
    <target
          id="EmailChannel"
          name="%emailTarget_name">
       <description>
          %emailTarget_desc
       </description>
    </target>
    <target
          id="JSPChannel"
          name="%jspTarget_name">
    </target>
    <target
          id="GIChannel"
          name="%giTarget_name">
    </target>
    <target
          id="openspaceChannel"
          name="%openspaceTarget_name">
    </target>
    <target
          id="MobileChannel"
          name="%iphoneTarget_name">
    </target>
    <presentation
          id="JSP"
          name="%jspPresentation_name">
    </presentation>
    <presentation
          id="GI"
          name="%giPresentation_name">          
    </presentation>
    <presentation
          id="GWT"
          name="%gwtPresentation_name">
    </presentation>
    <implementation
          id="Push"
          name="%pushImplemantation_name">
    </implementation>
    <implementation
          id="Pull"
          name="%pullImplementation_name">
    </implementation>
    <channelType
          id="EmailGIPush"
          implementationId="Push"
          name="%workspaceEmailChannelType_name"
          presentationId="GI"
          runtimeVersion="[1.0, 2.0)"
          targetId="EmailChannel">
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egimailTemplateLocation"
             name="mailTemplateLocation"
             required="true"
             type="Resource">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egimailSubject"
             name="mailSubject"
             required="true"
             type="Text">
       </attribute>
       <attribute
             defaultValue="3"
             id="com.tibco.xpd.presentation.resources.ui.egimailPriority"
             name="mailPriority"
             required="true"
             type="Integer">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egiFromAddress"
             name="fromAddress"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egiCCAddress"
             name="ccAddress"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egimailHeaders"
             name="mailHeaders"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egiattachments"
             name="attachments"
             required="true"
             type="Text">
       </attribute>
       <attribute
             defaultValue="GIGWTPull_DefaultChannel"
             id="com.tibco.xpd.presentation.resources.ui.presentationChannelId"
             name="presentationChannelId"
             required="true"
             type="Text">
       </attribute>
    </channelType>
    <channelType
          id="GIGIPull"
          implementationId="Pull"
          name="%workspaceWebChannelType_name"
          presentationId="GI"
          targetId="GIChannel">
    </channelType>    
    <channelType
          id="GIGWTPull"
          implementationId="Pull"
          name="%workspaceGWTChannelType_name"
          presentationId="GWT"
          targetId="GIChannel">
    </channelType>
    <channelType
          id="openspaceGWTPull"
          implementationId="Pull"
          name="%openspaceWebChannelType_name"
          presentationId="GWT"
          targetId="openspaceChannel">
    </channelType>
    <channelType
          id="MobileGWTPull"
          implementationId="Pull"
          name="%mobileChannelType_name"
          presentationId="GWT"
          targetId="MobileChannel">
    </channelType>
    <channelType
          id="openspaceEmailPush"
          implementationId="Push"
          name="%openspaceEmail_channelType_name"
          presentationId="GWT"
          targetId="EmailChannel">
          <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtmailTemplateLocation"
             name="mailTemplateLocation"
             required="true"
             type="Resource">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtmailSubject"
             name="mailSubject"
             required="true"
             type="Text">
       </attribute>
       <attribute
             defaultValue="3"
             id="com.tibco.xpd.presentation.resources.ui.egwtmailPriority"
             name="mailPriority"
             required="true"
             type="Integer">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtFromAddress"
             name="fromAddress"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtCCAddress"
             name="ccAddress"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtmailHeaders"
             name="mailHeaders"
             required="true"
             type="Text">
       </attribute>
       <attribute
             id="com.tibco.xpd.presentation.resources.ui.egwtattachments"
             name="attachments"
             required="true"
             type="Text">
       </attribute>
       <attribute
             defaultValue="openspaceGWTPull_DefaultChannel"
             id="com.tibco.xpd.presentation.resources.ui.egwtmailpresentationChannelId"
             name="presentationChannelId"
             required="true"
             type="Text">
       </attribute>
    </channelType>
    <channelDestination
          id="amxbpm"
          name="AMX-BPM Runtime">
    </channelDestination>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="com.tibco.xpd.presentation.resources.ui.internal.properties.ChannelsPreferencePage"
          id="com.tibco.xpd.presentation.resources.ui.channelsPropertyPage"
          name="%channelsPropertyPage_name">
       <enabledWhen>
          <and>
             <instanceof
                   value="org.eclipse.core.resources.IProject">
             </instanceof>
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="com.tibco.xpd.resources.xpdNature">
             </test>
             <test
                   property="com.tibco.xpd.resources.platform.isBundleInstalled" args="com.tibco.xpd.wm.resources.ui">
             </test>
          </and>
          </enabledWhen>
       <keywordReference
             id="com.tibco.xpd.presentation.resources.ui.channels">
       </keywordReference>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.keywords">
    <keyword
          id="com.tibco.xpd.presentation.resources.ui.channels"
          label="%channelsPreferencePage_keywords">
    </keyword>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="com.tibco.xpd.presentation.resources.ui.internal.properties.ChannelsPreferencePage"
          id="com.tibco.xpd.presentation.resources.ui.channelsPreferencePage"
          name="%channelsPreferencePage_name">
       <keywordReference
             id="com.tibco.xpd.presentation.resources.ui.channels">
       </keywordReference>
    </page>
 </extension>
 <extension
       point="com.tibco.xpd.validation.provider">
    <issue
          id="presentation.duplicateResourceIssue"
          message="%presentation_duplicateResource_longdesc"
          severity="ERROR">
    </issue>
 </extension>
</plugin>
