<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="com.tibco.xpd.wsdl.problem"
         name="%wsdlProblem_shortdesc"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="wsdl"
            indexID="com.tibco.xpd.wsdl.wsdlIndexer"
            indexerClass="com.tibco.xpd.wsdl.internal.indexer.WsdlIndexerProvider">
         <additionalAttributes>
            <attribute
                  maxLength="4096"
                  name="qualification">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="container">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="referedPortType">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="transportUri">
            </attribute>
            <attribute
                  maxLength="1"
                  name="inSpecialFolder">
            </attribute>
            <attribute
                  maxLength="1"
                  name="isDerived">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="srcUri">
            </attribute>
            <attribute
                  maxLength="4096"
                  name="targetNamespace">
            </attribute>
         </additionalAttributes>
      </indexer>
   </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution>
          <uri
                name="http://www.tibco.com/bs3.2/extensions"
                uri="schema/bstibex.xsd">
          </uri>
          <uri
                name="http://schemas.xmlsoap.org/wsdl/soap12/"
                uri="schema/wsdl11soap12.xsd">
          </uri>
       </catalogContribution>
    </extension>
    <extension
          point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution>
          <!-- WSI profile validation Test Assertion Descriptors -->
          <uri
                name="http://www.ws-i.org/Testing/Tools/2004/12/AP10_BP11_SSBP10_TAD.xml"
                uri="schema/AP10_BP11_SSBP10_TAD.xml">
          </uri>
          <uri
                name="http://www.ws-i.org/Testing/Tools/2005/01/SSBP10_BP11_TAD_1-0.xml"
                uri="schema/SSBP10_BP11_TAD_1-0.xml">
          </uri>
       </catalogContribution>
    </extension>
    <extension
          point="org.eclipse.emf.ecore.uri_mapping">
       <mapping
             source="http://www.tibco.com/bs3.2/extensions"
             target="platform:/plugin/com.tibco.xpd.wsdl/schema/bstibex.xsd">
       </mapping>
    </extension>
</plugin>
