<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.xpd.rasc.core.rascContributors">
      <contributor
            class="com.tibco.xpd.n2.cdm.rasc.CdmRascContributor"
            id="com.tibco.xpd.n2.cdm.rasc.contributor">
      </contributor>
   </extension>

</plugin>
