<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="coreTestBuilder"
         name="Core Test Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.tibco.xpd.core.builder.test.builder.TestProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="com.tibco.xpd.resources.specialFolders">
      <folder
            kind="testbuilderfolder"
            name="TestBuilderFolder">
      </folder>
   </extension>

</plugin>
