<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         name="Tabs contributed when PROCESS EDITOR is selection provider"
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.nativeservices.propertyTabs.email"
               image="icons/email.png"
               indented="false"
               label="%property_tab_email">
         </propertyTab>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.nativeservices.propertyTabs.database"
               image="icons/database.gif"
               indented="false"
               label="%property_tab_database">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         name="Tabs contributed when PROJECT EXPLORER is selection provider"
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.nativeservices.propertyTabs.email"
               image="icons/email.png"
               indented="false"
               label="%property_tab_email"/>
         <propertyTab
               afterTab="com.tibco.xpd.processeditor.propertyTabs.lastImplementationTab"
               category="core"
               id="com.tibco.xpd.nativeservices.propertyTabs.database"
               image="icons/database.gif"
               indented="false"
               label="%property_tab_database"/>
      </propertyTabs>
   </extension>
   <extension
         name="Sections contributed when PROCESS EDITOR is selection provider"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.xpd.processeditor.xpdl2.propertyContributor">
         <propertySection
               class="com.tibco.xpd.implementer.nativeservices.emailservice.properties.EmailTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.nativeservices.emailservice.properties.EmailTabSection"
               id="EmailSection"
               tab="com.tibco.xpd.nativeservices.propertyTabs.email">
            <input
                  type="com.tibco.xpd.xpdl2.Activity">
            </input>
         </propertySection>
          <propertySection
               class="com.tibco.xpd.implementer.nativeservices.globaldataservice.GlobalDataErrorMappingSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.nativeservices.globaldataservice.GlobalDataErrorMappingSection"
               id="GlobalDataTaskCatchErrorMapperOut"
               tab="com.tibco.xpd.processeditor.propertyTabs.CatchErrorEventMapperOut">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         name="Sections contributed when PROJECT EXPLORER is selection provider"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               class="com.tibco.xpd.implementer.nativeservices.emailservice.properties.EmailTabSection"
               enablesFor="1"
               filter="com.tibco.xpd.implementer.nativeservices.emailservice.properties.EmailTabSection"
               id="EmailSection"
               tab="com.tibco.xpd.nativeservices.propertyTabs.email">
            <input type="com.tibco.xpd.xpdl2.Activity"/>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.xpd.processeditor.xpdl2.taskImplementation">
      <implementation
            class="com.tibco.xpd.implementer.nativeservices.emailservice.properties.EmailServiceSection"
            id="E-Mail"
            implementationType="Other"
            name="%emailServiceName"
            showForPageflow="true"
            taskType="Service"/>
      <implementation
            class="com.tibco.xpd.implementer.nativeservices.globaldataservice.GlobalDataTaskServiceSection"
            default="false"
            id="GlobalData"
            implementationType="Other"
            name="%globalDataServiceName"
            showForPageflow="true"
            taskType="Service"/>
            
<!-- Sid ACE-484: Case Document Operations are no longer supported in ACE 
	  <implementation
            class="com.tibco.xpd.implementer.nativeservices.documentoperationsservice.DocumentOperationsTaskServiceSection"
            default="false"
            id="DocumentOperations"
            implementationType="Other"
            name="%DocumentServiceName"
            showForPageflow="true"
            taskType="Service"/>
-->   
         
	   <implementation
	         class="com.tibco.xpd.implementer.resources.xpdl2.properties.RestServiceTaskSection"
	         id="RESTService"
	         implementationType="Other"
	         name="%RESTServiceName"
	         showForPageflow="true"
	         taskType="Service">
	   </implementation>
	   <implementation
	         class="com.tibco.xpd.implementer.resources.xpdl2.properties.RestServiceTaskSection"
	         id="RESTService"
	         implementationType="Other"
	         name="%RESTServiceName"
	         showForPageflow="true"
	         taskType="Send">
	   </implementation>            
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.tibco.xpd.implementer.nativeservices.emailservice.email.EmailPackage"
            uri="http://www.tibco.com/XPD/email1.0.0"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="com.tibco.xpd.implementer.nativeservices.emailservice.email.util.EmailResourceFactoryImpl"
            type="email"/>
   </extension>
   <extension
         point="com.tibco.xpd.xpdl2.edit.fieldOrParamReferenceResolver">
      <FieldOrParamReferenceResolver class="com.tibco.xpd.implementer.nativeservices.emailservice.utilities.EMailDataFieldResolver"/>
      <FieldOrParamReferenceResolver class="com.tibco.xpd.implementer.nativeservices.script.TimerEventScriptFieldResolver"/>
      <FieldOrParamReferenceResolver class="com.tibco.xpd.implementer.nativeservices.script.RescheduleTimerEventScriptFieldResolver"/>
      <FieldOrParamReferenceResolver class="com.tibco.xpd.implementer.nativeservices.globaldataservice.utils.GlobalDataServiceTaskDataFieldResolver"/>
      <FieldOrParamReferenceResolver class="com.tibco.xpd.implementer.nativeservices.documentoperationsservice.DocumentOperationsServiceTaskDataFieldResolver"/>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.ScriptTaskAndSeqFlowFieldResolver"/>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.UserTaskOpenScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.UserTaskScheduleScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.UserTaskRescheduleScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.UserTaskCloseScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.UserTaskSubmitScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.PerfomerScriptDataResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.StdLoopScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.MILoopScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.MIComplexExitScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.MIAdditionalLoopScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.InitiateScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.CancelledScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.CompletedScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.TimeoutScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
            class="com.tibco.xpd.implementer.nativeservices.script.AdhocPreconditionScriptReferenceResolver">
      </FieldOrParamReferenceResolver>
      
      <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.script.SubProcessTaskJavaScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.script.CatchSignalMappingScriptFieldResolver">
      </FieldOrParamReferenceResolver>
      <FieldOrParamReferenceResolver
           class="com.tibco.xpd.implementer.nativeservices.script.BpmnCatchErrorEventMappingFieldResolver">
      </FieldOrParamReferenceResolver>
 
      
   </extension>
    <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.bpmnCatchableErrorProviders">
      <ErrorBrowser
            class="com.tibco.xpd.implementer.nativeservices.globaldataservice.GlobalDataTaskErrorsProvider">
      </ErrorBrowser>
   </extension>
</plugin>
