<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="BxBpelExtensionActivity"
         name="BxBpelExtensionActivity"
         point="com.tibco.bx.xpdl2bpel.activityConfigurationModelBuilder">
      <builder
            class="com.tibco.bx.extension.email.converter.ConvertEmail"
            targetModel="com.tibco.xpd.implementer.nativeservices.emailservice.email.EmailType"/>
   </extension>
   
   <extension
         point="com.tibco.xpd.analyst.resources.xpdl2.bpmnCatchableErrorProviders">
      <ErrorBrowser
            class="com.tibco.bx.extension.email.error.EmailCatchableErrorProvider">
      </ErrorBrowser>
   </extension>

</plugin>
