<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="JavaScript"
            grammarName="%JavaScript">
         <editorSection
               editorSectionClass="com.tibco.xpd.scripteditors.internal.javascript.JavaScriptEditorSection"
               mappable="true">
         </editorSection>
         <contentAssistProcessor
               className="com.tibco.xpd.scripteditors.internal.javascript.JavaScriptContentAssistProcessor"
               id="javaScriptContentAssistProcessor"
               name="%javascript.contentAssistProcessor.name"
               preferencesClassName="com.tibco.xpd.scripteditors.internal.javascript.preferences.ui.JSCommonUIPreferenceNames">
         </contentAssistProcessor>
         <editorStyleProcessor
               id="com.tibco.xpd.scripteditors.javascript.styles.JSLineStyleListenerProvider"
               lineStyleListenerProvider="com.tibco.xpd.scripteditors.internal.javascript.styles.JSLineStyleListenerProvider"
               name="com.tibco.xpd.scripteditors.javascript.styles.JSLineStyleListenerProvider"></editorStyleProcessor>
      </scriptGrammar>
   </extension>
   <extension
          point="com.tibco.xpd.script.ui.scriptGrammar">
       <scriptGrammar
             grammarId="Text"
             grammarName="%FreeText">
          <editorSection
                editorSectionClass="com.tibco.xpd.scripteditors.internal.text.PlainTextScriptEditor"
                mappable="false">
          </editorSection>
       </scriptGrammar>
    </extension>
    <extension
          point="com.tibco.xpd.script.ui.scriptGrammar">
       <scriptGrammar
             grammarId="Unspecified"
             grammarName="%Unspecified">
          <editorSection
                editorSectionClass="com.tibco.xpd.scripteditors.internal.unspecified.UnspecifiedScriptEditorSection"
                mappable="false">
          </editorSection>
       </scriptGrammar>
    </extension>
    <extension
         point="com.tibco.xpd.script.ui.scriptGrammar">
      <scriptGrammar
            grammarId="XPath"
            grammarName="%XPath">
         <editorSection
               editorSectionClass="com.tibco.xpd.scripteditors.internal.xpath.XPathEditorSection"
               mappable="true">
         </editorSection>
         <contentAssistProcessor
               className="com.tibco.xpd.scripteditors.internal.xpath.XPathContentAssistProcessor"
               id="xpathScriptContentAssistProcessor"
               name="%xpath.contentAssistProcessor.name"
               preferencesClassName="com.tibco.xpd.scripteditors.internal.xpath.preferences.ui.XPathCommonUIPreferenceNames">
         </contentAssistProcessor>
         <editorStyleProcessor
               id="com.tibco.xpd.scripteditors.xpath.styles.XPathLineStyleListenerProvider"
               lineStyleListenerProvider="com.tibco.xpd.scripteditors.internal.xpath.styles.XPathLineStyleListenerProvider"
               name="com.tibco.xpd.scripteditors.xpath.styles.XPathLineStyleListenerProvider"></editorStyleProcessor>
      </scriptGrammar>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="com.tibco.xpd.script.sourceviewer.javascript.preferences"
            class="com.tibco.xpd.scripteditors.internal.javascript.contentassist.JSTemplatePreferencePage"
            id="com.tibco.xpd.scripteditors.javascript.contentassist.JSTemplatePreferencePage"
            name="%page.name.javascript">
      </page>
      <page
            category="com.tibco.xpd.script.sourceviewer.xpath.preferences"
            class="com.tibco.xpd.scripteditors.internal.xpath.contentassist.XPathTemplatePreferencePage"
            id="com.tibco.xpd.scripteditors.xpath.contentassist.XPathTemplatePreferencePage"
            name="%page.name.xpath">
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.tibco.xpd.scripteditors.internal.javascript.contentassist.JSTemplateContextType"
            id="com.tibco.xpd.script.javascript.template.context"
            name="%js.context.name">
      </contextType>
      <include
            file="template/javascript/templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.tibco.xpd.scripteditors.internal.xpath.contentassist.XPathTemplateContextType"
            id="com.tibco.xpd.script.xpath.template.context"
            name="%xpath.context.name">
      </contextType>
      <include
            file="template/xpath/templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tibco.xpd.scripteditors.internal.javascript.preferences.ui.JSCommonUIPreferenceInitializer">
      </initializer>
      <initializer
            class="com.tibco.xpd.scripteditors.internal.xpath.preferences.ui.XPathCommonUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tibco.xpd.scripteditors.internal.javascript.preferences.ui.JavaScriptSourcePreferencePage"
            id="com.tibco.xpd.script.sourceviewer.javascript.preferences"
            name="%JavaScript_Source.name">
      </page>
      <page
            category="com.tibco.xpd.script.sourceviewer.javascript.preferences"
            class="com.tibco.xpd.scripteditors.internal.javascript.preferences.ui.JavaScriptColorPage"
            id="com.tibco.xpd.script.sourceviewer.preferences.styles"
            name="%JavaScript_Styles.name">
      </page>
      <page
            class="com.tibco.xpd.scripteditors.internal.xpath.preferences.ui.XPathSourcePreferencePage"
            id="com.tibco.xpd.script.sourceviewer.xpath.preferences"
            name="%XpathScript_Source.name">
      </page>
      <page
            category="com.tibco.xpd.script.sourceviewer.xpath.preferences"
            class="com.tibco.xpd.scripteditors.internal.xpath.preferences.ui.XPathColorPage"
            id="com.tibco.xpd.script.sourceviewer.xpath.preferences.styles"
            name="%XpathScript_Styles.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activityPatternBinding
            activityId="com.tibco.xpd.capabilities.developer"
            pattern="com\.tibco\.xpd\.scripteditors/.*">
      </activityPatternBinding>
   </extension>
</plugin>
